input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
  
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	top: 633px;
	left: 160px;
	width: 19px;
	bottom: 149373996px;
	height: 20px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	top: 633px;
	left: 160px;
	width: 19px;
	bottom: 149373996px;
	height: 20px;
}

select{
	height:26px;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1315px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 598px;
	top: 4px;
	width: 256px;
}
#field_name {
padding-left:70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:60px;
	left: 158px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 83px;
}
#field_traction_level_2 {
	left: 259px;
	top: 82px;
}
#field_traction_level_3 {
	left: 347px;
	top: 82px;
}
#field_track_type_1 {
	left: 428px;
	top: 84px;
}
#field_track_type_2 {
	left: 492px;
	top: 83px;
}
#field_track_type_3 {
	left: 577px;
	top: 83px;
}
#field_track_size_1 {
	left: 674px;
	top: 84px;
}
#field_track_size_2 {
	left: 747px;
	top: 84px;
}
#field_track_size_3 {
	left: 833px;
	top: 85px;
}
#field_track_condition_1 {
	left: 194px;
	top: 133px;
}
#field_track_condition_2 {
	left: 278px;
	top: 133px;
}
#field_track_condition_3 {
	left: 391px;
	top: 131px;
}
#field_track_condition_4 {
	left: 194px;
	top: 161px;
}
#field_track_condition_5 {
	left: 278px;
	top: 161px;
}
#field_track_condition_6 {
	left: 391px;
	top: 160px;
}
#field_track_surface_1 {
	left: 552px;
	top: 130px;
}
#field_track_surface_2 {
	left: 689px;
	top: 130px;
}
#field_track_surface_3 {
	left: 804px;
	top: 130px;
}
#field_track_surface_4 {
	left: 552px;
	top: 152px;
}
#field_track_surface_5 {
	left: 690px;
	top: 153px;
}
#field_track_surface_6 {
	left: 806px;
	top: 152px;
}

#password, #password-1{
	background:#fff; 	
	width:200px; 

}

#field_engine{
	top: 193px;
	left: 128px;
	width:125px;
}
#field_gasket{
	top: 191px;
	left: 353px;
	width:62px;
}
#field_plug{
	top: 192px;
	left: 520px;
	width:75px;
}
#field_muffler{
	top: 192px;
	left: 687px;
	width:80px;
}
#field_fuel{
	top: 191px;
	left: 832px;
	width:77px;
}
#field_tower_clutchbell_1{
	top: 218px;
	left: 112px;
}
#field_tower_clutchbell_2{
	top: 220px;
	left: 209px;
}
#field_tower_clutchbell_3{
	top: 219px;
	left: 305px;
}
#field_tower_clutchbell_4{
	top: 219px;
	left: 402px;
}
#field_clutch_t{
	top: 217px;
	left: 474px;
	width:35px;
}
#field_tower_shoes_1{
	top: 219px;
	left: 672px;
}
#field_tower_shoes_2{
	top: 219px;
	left: 718px;
}
#field_clutch_spring{
	top: 219px;
	left: 833px;
	width:40px;
}
#field_front_type{
	top: 244px;
	left: 135px;
	width:56px;
}
#field_front_diff_oil{
	top: 245px;
	left: 244px;
	width:60px;
}
#field_front_ring_t{
	top: 271px;
	left: 46px;
	width:64px;
}
#field_front_pinion{
	top: 271px;
	left: 178px;
	width:63px;
}
#field_center_type{
	top: 246px;
	left: 397px;
	width:80px;
}
#field_center_diff_oil{
	top: 244px;
	left: 529px;
	width:61px;
}
#field_center_spur{
	top: 272px;
	left: 461px;
	width:63px;
}
#field_rear_type{
	top: 243px;
	left: 697px;
	width:87px;
}
#field_rear_diff_oil{
	top: 245px;
	left: 837px;
	width:75px;
}
#field_rear_ring_t{
	top: 271px;
	left: 656px;
	width:70px;
}
#field_rear_pinion{
	top: 272px;
	left: 789px;
	width:64px;
}
#field_front_tower_1{
	top: 341px;
	left: 81px;
}
#field_front_tower_2{
	top: 341px;
	left: 95px;
}
#field_front_tower_3{
	top: 341px;
	left: 109px;
}
#field_front_tower_4{
	top: 341px;
	left: 124px;
}
#field_front_tower_5{
	top: 341px;
	left: 137px;
}
#field_front_cambermount_1{
	top: 372px;
	left: 81px;
}
#field_front_cambermount_2{
	top: 386px;
	left: 81px;
}
#field_front_cambermount_3{
	top: 402px;
	left: 81px;
}
#field_front_arm_mount_1{
	top: 424px;
	left: 96px;
}
#field_front_arm_mount_2{
	top: 423px;
	left: 111px;
}
#field_front_rideheight{
	top: 544px;
	left: 23px;
	width:33px;
}
#field_front_tire_1{
	top: 338px;
	left: 186px;
	width:46px;
}
#field_front_tire_2{
	top: 358px;
	left: 179px;
	width:52px;
}
#field_front_hub_mount_1{
	top: 404px;
	left: 158px;
}
#field_front_hub_mount_2{
	top: 404px;
	left: 172px;
}
#field_front_camber{
	top: 340px;
	left: 252px;
	width:36px;
}
#field_front_offset{
	top: 459px;
	left: 323px;
	width:30px;
}
#field_front_inner_1{
	top: 512px;
	left: 322px;
	width:44px;
}
#field_front_inner_2{
	top: 533px;
	left: 315px;
	width:52px;
}
#field_front_toe{
	top: 349px;
	left: 589px;
	width:26px;
}
#field_caster_1{
	top: 522px;
	left: 540px;
}
#field_caster_2{
	top: 522px;
	left: 583px;
}
#field_caster_3{
	top: 521px;
	left: 626px;
}
#field_front_oil{
	top: 380px;
	left: 688px;
	width:40px;
}
#field_front_piston{
	top: 449px;
	left: 688px;
	width:40px;
}
#field_front_holes{
	top: 470px;
	left: 677px;
	width:40px;
}
#field_front_spring_1{
	top: 523px;
	left: 688px;
	width:43px;
}
#field_front_spring_2{
	top: 540px;
	left: 678px;
	width:52px;
}
#field_front_spacer{
	top: 429px;
	left: 850px;
	width:31px;
}
#field_front_length{
	top: 519px;
	left: 815px;
	width:34px;
}
#field_ff_1{
	top: 670px;
	left: 15px;
}
#field_ff_2{
	top: 670px;
	left: 48px;
}
#field_ff_3{
	top: 670px;
	left: 80px;
}
#field_ff_4{
	top: 670px;
	left: 112px;
}
#field_ff_5{
	top: 670px;
	left: 143px;
}
#field_fr_1{
	top: 669px;
	left: 201px;
}
#field_fr_2{
	top: 669px;
	left: 233px;
}
#field_fr_3{
	top: 669px;
	left: 265px;
}
#field_fr_4{
	top: 669px;
	left: 297px;
}
#field_fr_5{
	top: 669px;
	left: 329px;
}
#field_front_rollbar_1{
	top: 590px;
	left: 392px;
}
#field_front_rollbar_2{
	top: 613px;
	left: 392px;
}
#field_front_rollbar_3{
	top: 636px;
	left: 392px;
}
#field_front_rollbar_4{
	top: 659px;
	left: 392px;
}
#field_rollbar_other{
	top: 658px;
	left: 413px;
}
#field_rollbar_space{
	top: 558px;
	left: 590px;
	width:30px;
}
#field_rf_1{
	top: 784px;
	left: 15px;
}
#field_rf_2{
	top: 783px;
	left: 47px;
}
#field_rf_3{
	top: 784px;
	left: 80px;
}
#field_rf_4{
	top: 784px;
	left: 112px;
}
#field_rf_5{
	top: 785px;
	left: 142px;
}
#field_rr_1{
	top: 784px;
	left: 192px;
}
#field_rr_2{
	top: 784px;
	left: 228px;
}
#field_rr_3{
	top: 784px;
	left: 263px;
}
#field_rr_4{
	top: 785px;
	left: 299px;
}
#field_rr_5{
	top: 786px;
	left: 334px;
}
#field_front_washer_mm{
	top: 784px;
	left: 400px;
	width:30px;
}
#field_front_washer_pcs{
	top: 804px;
	left: 397px;
	width:30px;
}
#field_rear_washer_mm{
	top: 784px;
	left: 594px;
	width:30px;
}
#field_rear_washer_pcs{
	top: 806px;
	left: 586px;
	width:30px;
}
#field_rear_oil{
	top: 777px;
	left: 687px;
	width:41px;
}
#field_rear_piston{
	top: 845px;
	left: 689px;
	width:38px;
}
#field_rear_holes{
	top: 867px;
	left: 677px;
	width:30px;
}
#field_rear_spring_1{
	top: 917px;
	left: 688px;
	width:30px;
}
#field_rear_spring_2{
	top: 936px;
	left: 687px;
	width:50px;
}
#field_rear_spacer{
	top: 788px;
	left: 852px;
	width:37px;
}
#field_rear_length{
	top: 901px;
	left: 816px;
	width:30px;
}
#field_rear_tower_1{
	top: 857px;
	left: 96px;
}
#field_rear_tower_2{
	top: 857px;
	left: 110px;
}
#field_rear_tower_3{
	top: 857px;
	left: 124px;
}
#field_rear_tower_4{
	top: 857px;
	left: 138px;
}
#field_rear_tower_5{
	top: 857px;
	left: 153px;
}
#field_rear_cambermount_1{
	top: 887px;
	left: 96px;
}
#field_rear_cambermount_2{
	top: 902px;
	left: 96px;
}
#field_rear_cambermount_3{
	top: 917px;
	left: 96px;
}
#field_rear_arm_mount_1{
	top: 950px;
	left: 96px;
}
#field_rear_arm_mount_2{
	top: 950px;
	left: 111px;
}
#field_rear_rideheight{
	top: 1086px;
	left: 29px;
	width:28px;
}
#field_rear_tire_1{
	top: 877px;
	left: 193px;
	width:40px;
}
#field_rear_tire_2{
	top: 897px;
	left: 186px;
	width:48px;
}
#field_rear_hub_mount_1{
	top: 927px;
	left: 143px;
}
#field_rear_hub_mount_2{
	top: 927px;
	left: 157px;
}
#field_rear_hub_mount_3{
	top: 927px;
	left: 172px;
}
#field_rear_camber{
	top: 876px;
	left: 254px;
	width:40px;
}
#field_rear_offset{
	top: 993px;
	left: 325px;
	width:39px;
}
#field_rear_inner_1{
	top: 1045px;
	left: 323px;
	width:45px;
}
#field_rear_inner_2{
	top: 1069px;
	left: 319px;
	width:49px;
}
#field_wing_1{
	top: 946px;
	left: 448px;
}
#field_wing_2{
	top: 981px;
	left: 449px;
}
#field_rear_rollbar_1{
	top: 1043px;
	left: 388px;
}
#field_rear_rollbar_2{
	top: 1065px;
	left: 389px;
}
#field_rear_rollbar_3{
	top: 1089px;
	left: 389px;
}
#field_rear_rollbar_4{
	top: 1113px;
	left: 389px;
}
#field_rear_rollbar_other{
	top: 1101px;
	left: 412px;
}
#field_rear_rollbar_space{
	top: 1016px;
	left: 588px;
	width:30px;
}
#field_throttle_servo_1{
	top: 1057px;
	left: 719px;
}
#field_throttle_servo_2{
	top: 1058px;
	left: 832px;
}
#field_ackerman_1{
	top: 1178px;
	left: 15px;
}
#field_ackerman_2{
	top: 1201px;
	left: 15px;
}
#field_bumpsteer_1{
	top: 1278px;
	left: 15px;
}
#field_bumpsteer_2{
	top: 1275px;
	left: 58px;
}
#field_battery_1{
	top: 1167px;
	left: 333px;
}
#field_battery_2{
	top: 1167px;
	left: 550px;
}