input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}

select{
	height:26px;	
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: left;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: left;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1315px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
    padding-left:70px;
	left: 588px;
	top: 4px;
	width: 265px;
}
#field_name {
    padding-left:70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
    padding-left:60px;
    left: 252px;
    top: 37px;
    width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 38px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
    padding-left:70px;
	left: 581px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 193px;
	top: 84px;
}
#field_traction_level_2 {
	left: 259px;
	top: 84px;
}
#field_traction_level_3 {
	left: 348px;
	top: 84px;
}
#field_track_type_1 {
	left: 428px;
	top: 83px;
}
#field_track_type_2 {
	left: 492px;
	top: 84px;
}
#field_track_type_3 {
	left: 576px;
	top: 83px;
}
#field_track_size_1 {
	left: 673px;
	top: 85px;
}
#field_track_size_2 {
	left: 743px;
	top: 86px;
}
#field_track_size_3 {
	left: 830px;
	top: 86px;
}
#field_track_condition_1 {
	left: 194px;
	top: 131px;
}
#field_track_condition_2 {
	left: 279px;
	top: 130px;
}
#field_track_condition_3 {
	left: 391px;
	top: 128px;
}
#field_track_condition_4 {
	left: 194px;
	top: 159px;
}
#field_track_condition_5 {
	left: 279px;
	top: 158px;
}
#field_track_condition_6 {
	left: 391px;
	top: 156px;
}
#field_track_surface_1 {
	left: 550px;
	top: 132px;
}
#field_track_surface_2 {
	left: 690px;
	top: 131px;
}
#field_track_surface_3 {
	left: 802px;
	top: 133px;
}
#field_track_surface_4 {
	left: 550px;
	top: 156px;
}
#field_track_surface_5 {
	left: 691px;
	top: 156px;
}
#field_track_surface_6 {
	left: 803px;
	top: 158px;
}

#field_front_suspension_toe{
	padding-left:60px;
	left: 10px;
	top: 446px;
	width: 157px;
	text-align: left;
}

#field_front_suspension_camber{
    padding-left:80px;
	left: 10px;
	top: 410px;
	width: 124px;
	text-align: left;
}
#field_front_suspension_washer{
    padding-left:80px;
	left: 10px;
	top: 372px;
	width: 121px;
	text-align: left;
}
#field_front_suspension_ride_height{
    padding-left:120px;
	left: 10px;
	top: 483px;
	width: 90px;
	text-align: left;
}

#field_front_suspension_notes{
    padding-left:80px;
	left: 0px;
	top: 733px;
	width: 210px;
	height: 82px;
	text-align: left;
}

#field_rear_suspension_notes{
    padding-left:60px;
	left: 472px;
	top: 735px;
	width: 210px;
	height: 82px;
	text-align: left;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}

#field_track_camber_1{
	left: 355px;
	top: 242px;
}



#field_track_camber_2{
	left: 338px;
	top: 233px;
}
#field_track_camber_3{
	left: 322px;
	top: 223px;
}

#field_track_toe_1{
	left: 243px;
    top: 282px;
}
#field_track_toe_2{
	left: 243px;
    top: 296px;
}
#field_track_toe_3{
	left: 243px;
    top: 309px;
}
#field_track_toe_4{
	left: 243px;
    top: 322px;
}


#field_track_washer_1{
	left: 192px;
	top: 268px;
}

#field_track_washer_2{
	left: 209px;
	top: 268px;
}


#field_ride_height_alpha_1{
	left: 376px;
	top: 377px;
}

#field_ride_height_alpha_2{
	left: 391px;
	top: 377px;
}
#field_ride_height_alpha_3{
	left: 407px;
	top: 376px;
}

#field_ride_height_io_1{
	left: 66px;
	top: 685px;
}
#field_ride_height_io_2{
	left: 82px;
	top: 684px;
}

#field_ride_steering_1{
	left: 116px;
	top: 583px;
}

#field_ride_steering_2{
	left: 117px;
	top: 600px;
}

#field_front_suspension_caster_1{
	left: 127px;
	top: 255px;
}
#field_front_suspension_caster_2{
	left: 127px;
	top: 273px;
}

#field_front_suspension_caster_3{
	left: 127px;
	top: 294px;
}


#field_front_suspension_caster_block_1{
	left: 331px;
	top: 590px;
}

#field_front_suspension_caster_block_2{
	left: 316px;
	top: 604px;
}


#field_rear_suspension_track_camber_1{
	left: 760px;
	top: 244px;
}
#field_rear_suspension_track_camber_2{
	left: 743px;
	top: 234px;
}
#field_rear_suspension_track_camber_3{
	left: 724px;
	top: 224px;
}

#field_track_susension_toe_1{
	left: 715px;
    top: 282px;
}
#field_track_susension_toe_2{
	left: 715px;
    top: 296px;
}
#field_track_susension_toe_3{
	left: 715px;
    top: 309px;
}
#field_track_susension_toe_4{
	left: 715px;
    top: 322px;
}
#field_rear_suspension_camber{
    padding-left:60px;
	left: 487px;
	top: 332px;
	width: 132px;
	text-align: left;
}
#field_rear_suspension_toe{
    padding-left:40px;
	left: 476px;
	top: 368px;
	width: 153px;
	text-align: left;
}

#field_rear_suspension_anti_squat{
    padding-left: 100px;
	left: 474px;
	top: 443px;
	width: 101px;
	text-align: left;
}


#field_front_suspension_washers{
    padding-left: 40px;
	left: 225px;
	top: 539px;
	width: 101px;
	text-align: left;
}

#field_rear_suspension_washer{
    padding-left:20px;
	left: 677px;
	top: 581px;
	width: 74px;
	text-align: left;
}

#field_track_rear_washer_1{
	left: 597px;
	top: 681px;
}
#field_track_rear_washer_2{
	left: 618px;
	top: 682px;
}
#field_rear_chassis_brace{
	left: 723px;
	top: 454px;
}

#field_track_rear_abc_1{
	left: 703px;
	top: 384px;
}


#field_track_rear_abc_2{
	left: 725px;
	top: 385px;
}

#field_track_rear_abc_3{
	left: 747px;
	top: 386px;
}

#field_track_rear_abc_4{
	left: 770px;
	top: 385px;
}

#field_track_rear_io_1{
	left: 801px;
	top: 604px;
}

#field_track_rear_io_2{
	left: 787px;
	top: 629px;
}

#field_rear_suspension_wheelbase_1{
	top: 599px;
	left: 551px;
}

#field_rear_suspension_wheelbase_2{
	top: 616px;
	left: 551px;
}

#field_rear_suspension_wheelbase_3{
	top: 637px;
	left: 552px;
}
#field_rear_suspension_right_height{
    padding-left:110px;
	top: 403px;
	left: 478px;
	text-align: left;
	width: 94px;
}

#field_rear_hub_carrier_1{
	top: 254px;
	left: 587px;
}

#field_rear_hub_carrier_2{
	top: 274px;
	left: 587px;
}


#field_rear_hub_carrier_3{
	top: 293px;
	left: 587px;
}

#field_rear_hub_carrier_4{
	top: 782px;
	left:533px; 
}
#field_rear_aluminum_1{
	top: 511px;
	left: 548px;
}

#field_rear_aluminum_2{
	top: 532px;
	left: 548px;
}

#field_rear_aluminum_3{
	top: 550px;
	left: 549px;
}

#field_rear_anti_rollbar_1{
	top: 723px;
	left: 894px;
}


#field_rear_anti_rollbar_2{
	top: 741px;
	left: 895px;
}


#field_rear_anti_rollbar_3{
	top: 759px;
	left: 894px;
}

#field_rear_anti_rollbar_4{
	top: 780px;
	left: 894px;
}

#field_front_shock_spring{
    padding-left:80px;
	left: 0px;
	top: 839px;
	width: 200px;
	text-align: left;
}

#field_front_shock_piston{
    padding-left:25px;
	left: 335px;
	top: 839px;
	width: 100px;
	text-align: left;
}
#field_front_shock_oil{
    padding-left:100px;
	left: 0px;
	top: 859px;
	width: 80px;
	text-align: left;
}
#field_front_shock_limiter{
    padding-left:70px;
	left: 300px;
	top: 860px;
	width: 60px;
	text-align: left;
}


#field_rear_shock_spring{
    padding-left:90px;
	left: 463px;
	top: 839px;
	width: 200px;
	text-align: left;
}

#field_rear_shock_piston{
    padding-left: 30px;
	left: 801px;
	top: 838px;
	width: 100px;
	text-align: left;
}
#field_rear_shock_oil{
    padding-left:100px;
	left: 470px;
	top: 859px;
	width: 180px;
	text-align: left;
}
#field_rear_shock_limiter{
    padding-left:30px;
	left: 796px;
	top: 858px;
	width: 100px;
	text-align: left;
}

#field_electronics_motor{
    padding-left:140px;
	top: 900px;
	left: 0px;
	width: 330px;
	text-align: left;
}
#field_electronics_pinion{
    padding-left:85px;
	top: 921px;
	left: 0px;
	width: 160px;
	text-align: left;
}

#field_electronics_spur_gear{
    padding-left:110px;
	top: 921px;
	left: 230px;
	width: 130px;
	text-align: left;
}

#field_electronics_batteries{
    padding-left:100px;
	top: 940px;
	left: 0px;
	width: 360px;
	text-align: left;
}

#battery_placement1{
	top: 959px;
	left: 248px;
}

#battery_placement2{
	top: 959px;
	left: 396px;
}



#field_electronics_battery{
    padding-left:170px;
	top: 947px;
	left: 0px;
	width: 290px;
	text-align: left;
}
#field_electronics_ballast{
    padding-left:150px;
	top: 976px;
	left: 0px;
	width: 290px;
	text-align: left;
}
#field_electronics_chassis{
    padding-left:150px;
	top: 996px;
	left: 0px;
	width: 310px;
	text-align: left;
}

#field_electronics_radio{
    padding-left:70px;
	top: 903px;
	left: 457px;
	width: 392px;
	text-align: left;
}
#field_electronics_throttle{
    padding-left:210px;
	top: 921px;
	left: 455px;
	width: 251px;
	text-align: left;
}
#field_electronics_throttle2{
    padding-left:210px;
	top: 939px;
	left: 455px;
	width: 254px;
	text-align: left;
}

#field_electronics_servo{
    padding-left:70px;
	top: 959px;
	left: 455px;
	width: 175px;
	text-align: left;
}

#field_electronics_steering_expo{
    padding-left:140px;
	top: 960px;
	left: 690px;
	width: 100px;
	text-align: left;
}
#field_electronics_esc{
    padding-left:60px;
	top: 977px;
	left: 456px;
	width: 380px;
	text-align: left;
}
#field_electronics_esc_setting{
    padding-left:120px;
	top: 996px;
	left: 460px;
	width: 340px;
	text-align: left;	
}
#field_electronics_front_tires{
    padding-left:60px;
	top: 1039px;
	left: 0px;
	width: 390px;
	text-align: left;
}

#field_electronics_front_compound{
    padding-left:120px;
	top: 1057px;
	left: 0px;
	width: 340px;
	text-align: left;
}
#field_electronics_front_insert{
    padding-left:90px;
	top: 1078px;
	left: 0px;
	width: 239px;
	text-align: left;
}
#field_electronics_front_wheel{
    padding-left:90px;
	top: 1096px;
	left: 0px;
	width: 216px;
	text-align: left;
}

#field_electronics_rear_tires{
    padding-left:60px;
	top: 1039px;
	left: 455px;
	width: 390px;
	text-align: left;
}

#field_electronics_rear_compound{
    padding-left:120px;
	top: 1058px;
	left: 448px;
	width: 340px;
	text-align: left;
}
#field_electronics_rear_insert{
    padding-left:60px;
	top: 1074px;
	left: 472px;
	width: 383px;
	text-align: left;
}
#field_electronics_rear_wheel{
    padding-left:60px;
	top: 1095px;
	left: 475px;
	width: 379px;
	text-align: left;
}

#field_electronics_drivetrain_slipper{
    padding-left:90px;
	top: 1135px;
	left: 0px;
	width: 200px;
	text-align: left;
}

#field_drivetrain_pads_1{
	top: 1157px;
	left: 69px;
}
#field_drivetrain_pads_2{
	top: 1157px;
	left: 174px;
}
#field_drivetrain_pads_3{
	top: 1158px;
	left: 279px;
}
#field_electronics_drivetrain_notes{
    padding-left:80px;
	top: 1172px;
	left: 0px;
	width: 220px;
	text-align: left;
}


#field_electronics_drivetrain_diff_rear{
	top: 1174px;
	left: 364px;
	width: 96px;
	text-align: left;
}


#field_electronics_drivetrain_diff_notes{
    padding-left:25px;
	top: 1174px;
	left: 344px;
	width: 96px;
	text-align: left;
}

#field_drivetrain_diff_1{
	top:1110px;
	left:365px;
	
}

#field_drivetrain_diff_2{
	top:1130px;
	left:365px;
	
}
#field_electronics_drivetrain_other_body{
    padding-left:110px;
	top: 1137px;
	left: 457px;
	width: 350px;
	text-align: left;
}

#field_electronics_drivetrain_other_wing{
    padding-left:110px;
	top: 1159px;
	left: 456px;
	width: 116px;
	text-align: left;
}
#field_electronics_drivetrain_other_wing_angle{
    padding-left:110px;
	top: 1157px;
	left: 700px;
	width: 99px;
	text-align: left;
}

#field_electronics_drivetrain_race_qualify{
    padding-left:90px;
	top: 1218px;
	left: 0px;
	width: 90px;
	text-align: left;
}


#field_electronics_drivetrain_race_main2{
    padding-left:20px;
	top: 1219px;
	left: 228px;
	width: 69px;
	text-align: left;
}

#field_drivetrain_tq{
	top: 1218px;
	left: 436px;
}

#field_electronics_drivetrain_race_finish2{
    paddding-left:30px;
	top: 1221px;
	left: 346px;
	width: 63px;
	text-align: left;
}

#field_electronics_drivetrain_race_main{
	top: 1092px;
	left: 311px;
	width: 60px;
	text-align: left;
}

#field_electronics_drivetrain_race_finish{
	top: 1137px;
	left: 365px;
	width: 84px;
	text-align: left;
}

#field_electronics_drivetrain_diff_rear{
	top: 1156px;
	left: 364px;
	width: 89px;
	text-align: left;	 
}

#field_drivetrain_tq_1{
	top:1190px;
	left:435px;
}

#field_electronics_drivetrain_comment{
    padding-left:100px;
	top: 1240px;
	left: 10px;
	font-family: arial,tahoma,sans-serif;
	height: 67px;
	width: 780px;
}

#password-1,#password{
	width:200px; 	
}
