input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align:left;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
	padding: 2px 0;
	position: absolute;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}

textarea {
    line-height: 20px;
}
select {
    border: medium none;
	height:26px;
}
.center {
    text-align:left;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align:left;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1315px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
    padding-left:80px;
	left: 578px;
	top: 4px;
	width: 265px;
}
#field_name {
    padding-left:90px;
    left: 138px;
    top: 6px;
    width: 200px;
}
#field_city {
    padding-left:50px;
    left: 162px;
    top: 38px;
    width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 38px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
    padding-left:80px;
	left: 571px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
    left: 193px;
    top: 87px;
}
#field_traction_level_2 {
    left: 260px;
    top: 87px;
}
#field_traction_level_3 {
    left: 348px;
    top: 87px;
}
#field_track_type_1 {
	left: 428px;
	top: 88px;
}
#field_track_type_2 {
    left: 492px;
    top: 88px;
}
#field_track_type_3 {
    left: 577px;
    top: 88px;
}
#field_track_size_1 {
	left: 673px;
	top: 85px;
}
#field_track_size_2 {
	left: 743px;
	top: 86px;
}
#field_track_size_3 {
	left: 825px;
	top: 87px;
}
#field_track_condition_1 {
    left: 195px;
    top: 134px;
}
#field_track_condition_2 {
    left: 279px;
    top: 134px;
}
#field_track_condition_3 {
    left: 393px;
    top: 134px;
}
#field_track_condition_4 {
    left: 195px;
    top: 162px;
}
#field_track_condition_5 {
    left: 280px;
    top: 162px;
}
#field_track_condition_6 {
    left: 393px;
    top: 162px;
}
#field_track_surface_1 {
	left: 550px;
	top: 132px;
}
#field_track_surface_2 {
	left: 690px;
	top: 131px;
}
#field_track_surface_3 {
	left: 802px;
	top: 133px;
}
#field_track_surface_4 {
	left: 550px;
	top: 156px;
}
#field_track_surface_5 {
	left: 691px;
	top: 156px;
}
#field_track_surface_6 {
	left: 803px;
	top: 158px;
}

#field_front_suspension_toe{
	left: 291px;
	top: 251px;
	width: 122px;
	text-align:left;
}

#field_front_suspension_camber{
    padding-left:60px;
	left: 272px;
	top: 213px;
	width: 100px;
	text-align:left;
}
#field_front_suspension_washer{
	left: 143px;
	top: 408px;
	width: 90px;
	text-align:left;
}
#field_front_suspension_ride_height{
	left: 267px;
	top: 478px;
	width: 90px;
	text-align:left;
}

#field_front_suspension_washer2{
	left: 92px;
	top: 721px;
	width: 90px;
	text-align:left;    
}

#field_track_camber_1{
	left: 126px;
	top: 229px;
}



#field_track_camber_2{
	left: 141px;
	top: 224px;
}
#field_track_camber_3{
	left: 156px;
	top: 219px;
}

#field_track_toe_1{
	left: 243px;
    top: 282px;
}
#field_track_toe_2{
	left: 243px;
    top: 296px;
}
#field_track_toe_3{
	left: 243px;
    top: 309px;
}
#field_track_toe_4{
	left: 243px;
    top: 322px;
}


#field_track_washer_1{
	left: 89px;
	top: 416px;
}

#field_track_washer_2{
	left: 106px;
	top: 415px;
}


#field_ride_height_alpha_1{
	left: 381px;
	top: 444px;
}

#field_ride_height_alpha_2{
	left: 396px;
	top: 445px;
}
#field_ride_height_alpha_3{
	left: 410px;
	top: 444px;
}

#field_ride_height_io_1{
	left: 213px;
	top: 551px;
}
#field_ride_height_io_2{
	left: 228px;
	top: 546px;
}

#field_ride_steering_1{
	left: 101px;
	top: 628px;
}

#field_ride_steering_2{
	left: 100px;
	top: 651px;
}

#field_front_suspension_caster_1{
	left: 425px;
	top: 723px;
}
#field_front_suspension_caster_2{
	left: 426px;
	top: 743px;
}

#field_front_suspension_caster_3{
	left: 426px;
	top: 764px;
}


#field_front_suspension_caster_block_1{
	left: 421px;
	top: 620px;
}

#field_front_suspension_caster_block_2{
	left: 422px;
	top: 640px;
}


#field_rear_suspension_track_camber_1{
	left: 601px;
	top: 228px;
}
#field_rear_suspension_track_camber_2{
	left: 614px;
	top: 221px;
}
#field_rear_suspension_track_camber_3{
	left: 626px;
	top: 214px;
}

#field_track_susension_toe_1{
	left: 715px;
    top: 282px;
}
#field_track_susension_toe_2{
	left: 715px;
    top: 296px;
}
#field_track_susension_toe_3{
	left: 715px;
    top: 309px;
}
#field_track_susension_toe_4{
	left: 715px;
    top: 322px;
}
#field_rear_suspension_camber{
    padding-left:50px;
	left: 739px;
	top: 215px;
	width: 100px;
	text-align:left;
}
#field_rear_suspension_toe{
    padding-left:60px;
	left: 740px;
	top: 252px;
	width: 82px;
	text-align:left;
}

#field_rear_suspension_anti_squat{
    padding-left:90px;
	left: 720px;
	top: 290px;
	width: 82px;
	text-align:left;
}

#field_rear_suspension_washer{
	left: 571px;
	top: 368px;
	width: 102px;
	text-align:left;
}

#field_track_rear_washer_1{
	left: 663px;
	top: 401px;
}
#field_track_rear_washer_2{
	left: 682px;
	top: 401px;
}
#field_rear_chassis_brace{
	left: 712px;
	top: 457px;
}

#field_track_rear_abc_1{
	left: 822px;
	top: 468px;
}


#field_track_rear_abc_2{
	left: 838px;
	top: 467px;
}

#field_track_rear_abc_3{
	left: 853px;
	top: 468px;
}

#field_track_rear_abc_4{
	left: 868px;
	top: 467px;
}

#field_track_rear_io_1{
	left: 779px;
	top: 559px;
}

#field_track_rear_io_2{
	left: 798px;
	top: 559px;
}

#field_rear_suspension_wheelbase_1{
	top: 605px;
	left: 551px;
}

#field_rear_suspension_wheelbase_2{
	top: 625px;
	left: 551px;
}

#field_rear_suspension_wheelbase_3{
	top: 642px;
	left: 551px;
}
#field_rear_suspension_right_height{
    padding-left:140px;
	top: 624px;
	left: 603px;
	text-align:left;
	width: 92px;
}

#field_rear_hub_carrier_1{
	top: 725px;
	left:533px; 
}

#field_rear_hub_carrier_2{
	top: 745px;
	left:533px; 
}


#field_rear_hub_carrier_3{
	top: 765px;
	left:533px; 
}

#field_rear_hub_carrier_4{
	top: 782px;
	left:533px; 
}
#field_rear_aluminum_1{
	top: 726px;
	left:706px; 
}

#field_rear_aluminum_2{
	top: 746px;
	left:706px; 
}

#field_rear_aluminum_3{
	top: 764px;
	left: 707px;
}

#field_rear_anti_rollbar_1{
	top: 723px;
	left: 893px;
}


#field_rear_anti_rollbar_2{
	top: 745px;
	left: 893px;
}


#field_rear_anti_rollbar_3{
	top: 763px;
	left: 893px;
}

#field_rear_anti_rollbar_4{
	top: 781px;
	left: 894px;
}

#field_front_shock_spring{
    padding-left:80px;
	left:0px;
	top:825px;
	width:200px;
	text-align:left;
	
}

#field_front_shock_piston{
    padding-left:20px;
	left:335px;
	top:825px;
	width:100px;
	text-align:left;
	
}
#field_front_shock_oil{
    padding-left:100px;
	left:0px;
	top:845px;
	width:180px;
	text-align:left;
	
}
#field_front_shock_limiter{
    padding-left:40px;
	left:335px;
	top:845px;
	width:100px;
	text-align:left;
	
}


#field_rear_shock_spring{
    padding-left:90px;
	left:460px;
	top:825px;
	width:200px;
	text-align:left;
	
}

#field_rear_shock_piston{
	right:10px;
	
	top:825px;
	width:100px;
	text-align:left;
	
}
#field_rear_shock_oil{
    padding-left:100px;
	left:460px;
	top:845px;
	width:180px;
	text-align:left;
	
	
}
#field_rear_shock_limiter{
    padding-left:20px;
	right:0px;
	top:845px;
	width:100px;
	text-align:left;
	
}

#field_electronics_motor{
    padding-left:140px;
	top:888px;
	left:0px;
	width:330px;
	text-align:left;
}
#field_electronics_pinion{
    padding-left:80px;
	top:907px;
	left:0px;
	width:160px;
	text-align:left;
	
}

#field_electronics_spur_gear{
    padding-left:105px;
	top:907px;
	left:230px;
	width:130px;
	text-align:left;
	
}

#field_electronics_batteries{
    padding-left:100px;
	top:926px;
	left:0px;
	width:360px;
	text-align:left;
	
}
#field_electronics_battery{
    padding-left:170px;
	top:945px;
	left:0px;
	width:290px;
	text-align:left;
	
}
#field_electronics_ballast{
    padding-left:150px;
	top:965px;
	left:0px;
	width:290px;
	text-align:left;
	
}
#field_electronics_chassis{
    padding-left:150px;
	top:981px;
	left:0px;
	width:310px;
	text-align:left;
	
}

#field_electronics_radio{
    padding-left:70px;
	top:887px;
	left:468px;
	width:392px;
	text-align:left;
	
}
#field_electronics_throttle{
    padding-left:210px;
	top:906px;
	left:450px;
	width:260px;
	text-align:left;
	
}
#field_electronics_throttle2{
    padding-left:210px;
	top:926px;
	left:450px;
	width:260px;
	text-align:left;
	
}

#field_electronics_servo{
    padding-left:70px;
	top:943px;
	left:460px;
	width:175px;
	text-align:left;
	

}

#field_electronics_steering_expo{
    padding-left:110px;
	top:946px;
	left:710px;
	width:100px;
	text-align:left;
	
}
#field_electronics_esc{
    padding-left:60px;
	top:961px;
	left:460px;
	width:380px;
	text-align:left;
	
}
#field_electronics_esc_setting{
    padding-left:120px;
	top:981px;
	left:460px;
	width:340px;
	text-align:left;
	
}
#field_electronics_front_tires{
    padding-left:60px;
	top:1026px;
	left:0px;
	width:390px;
	text-align:left;
	
}

#field_electronics_front_compound{
    padding-left:120px;
	top:1044px;
	left:0px;
	width:340px;
	text-align:left;
	
}
#field_electronics_front_insert{
    padding-left:80px;
	top:1063px;
	left:0px;
	width:130px;
	text-align:left;
	
	
}
#field_electronics_front_wheel{
    padding-left:60px;
	top:1063px;
	left:250px;
	width:90px;
	text-align:left;
	
}

#field_electronics_rear_tires{
    padding-left:60px;
	top:1025px;
	left:450px;
	width:390px;
	text-align:left;
	
}

#field_electronics_rear_compound{
    padding-left:120px;
	top:1044px;
	left:450px;
	width:340px;
	text-align:left;
	
}
#field_electronics_rear_insert{
    padding-left:60px;
	top:1063px;
	left:470px;
	width:140px;
	text-align:left;
	
	
}
#field_electronics_rear_wheel{
    padding-left:60px;
	top:1063px;
	left:700px;
	width:140px;
	text-align:left;
	
}

#field_electronics_drivetrain_slipper{
    padding-left:90px;
	top:1105px;
	left:0px;
	width:200px;
	text-align:left;
	
}

#field_drivetrain_pads_1{
	top:1128px;
	left:70px;
}
#field_drivetrain_pads_2{
	top:1128px;
	left:176px;
}
#field_drivetrain_pads_3{
	top:1128px;
	left:280px;
}
#field_electronics_drivetrain_notes{
    padding-left:80px;
	top:1144px;
	left:0px;
	width:220px;
	text-align:left;
	
}


#field_electronics_drivetrain_diff_notes{
    padding-left:20px;
	top:1144px;
	left:355px;
	width:100px;
	text-align:left;
	
}

#field_drivetrain_diff_1{
	top:1110px;
	left:365px;
	
}

#field_drivetrain_diff_2{
	top:1130px;
	left:365px;
	
}
#field_electronics_drivetrain_other_body{
    padding-left:110px;
	top:1105px;
	left:460px;
	width:360px;
	text-align:left;
	
}

#field_electronics_drivetrain_other_wing{
    padding-left:110px;
	top:1126px;
	left:460px;
	width:200px;
	text-align:left;
}
#field_electronics_drivetrain_other_wing_angle{
    padding-left:100px;
	top:1126px;
	right:0px;
	width:50px;
	text-align:left;
}

#field_electronics_drivetrain_race_qualify{
    padding-left:90px;
	top:1189px;
	left:00px;
	width:90px;
	text-align:left;
	
}

#field_electronics_drivetrain_race_main{
    padding-left:20px;
	top:1189px;
	left:220px;
	width:60px;
	text-align:left;
	
}

#field_electronics_drivetrain_race_finish{
    padding-left:20px;
	top:1189px;
	left:340px;
	width:60px;
	text-align:left;
   
}

#field_drivetrain_tq_1{
	top:1190px;
	left:435px;
}

#field_electronics_drivetrain_comment{
    padding-left:20px;
	top:1225px;
	left:0px;
	font-family: arial,tahoma,sans-serif;
    height: 85px;
    width:900px;
	
}

#password-1,#password{
	width:200px; 	
	background:#fff;
}
