input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 0 auto;
    width: 920px;
    position: relative;
}
#content {
    height: 1346px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#password, #password-1{
	width:220px;
	background:#fff;	
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 591px;
	top: 4px;
	width: 260px;
}
#field_name {
padding-left:90px;
    left: 138px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:90px;
	left: 122px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
    padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 86px;
}
#field_traction_level_2 {
	left: 258px;
	top: 86px;
}
#field_traction_level_3 {
	left: 349px;
	top: 86px;
}
#field_track_type_1 {
	left: 428px;
	top: 86px;
}
#field_track_type_2 {
	left: 492px;
	top: 86px;
}
#field_track_type_3 {
	left: 577px;
	top: 86px;
}
#field_track_size_1 {
	left: 674px;
	top: 86px;
}
#field_track_size_2 {
	left: 747px;
	top: 86px;
}
#field_track_size_3 {
	left: 832px;
	top: 86px;
}
#field_track_condition_1 {
	left: 200px;
	top: 132px;
}
#field_track_condition_2 {
	left: 285px;
	top: 132px;
}
#field_track_condition_3 {
	left: 397px;
	top: 132px;
}
#field_track_condition_4 {
	left: 200px;
	top: 156px;
}
#field_track_condition_5 {
	left: 285px;
	top: 156px;
}
#field_track_condition_6 {
	left: 397px;
	top: 156px;
}
#field_track_surface_1 {
	left: 555px;
	top: 130px;
}
#field_track_surface_2 {
	left: 698px;
	top: 130px;
	position: absolute;
}
#field_track_surface_3 {
	left: 808px;
	top: 130px;
	position: absolute;
}
#field_track_surface_4 {
	left: 555px;
	top: 155px;
	position: absolute;
}
#field_track_surface_5 {
	left: 698px;
	top: 155px;
	position: absolute;
}
#field_track_surface_6 {
	left: 808px;
	top: 155px;
	position: absolute;
}
#field_front_camber {
padding-left:87px;
    left: 0px;
    top: 206px;
    width: 200px;
   position: absolute;
}
#field_front_toe {
padding-left:97px;
    left: 0px;
    top: 226px;
    width: 190px;
   position: absolute;
}
#field_front_height {
padding-left:124px;
    left: 0px;
    top: 244px;
    width: 170px;
    position: absolute
}
#field_front_armtype {
padding-left:103px;
    left: 0px;
    top: 262px;
    width: 190px;
    position: absolute
}
#field_front_towertype {
padding-left:115px;
    left: 0px;
    top: 281px;
    width: 180px;
    position: absolute
}
#field_caster_insert{
padding-left:172px;
    left: 0px;
    top: 301px;
    width: 120px
    position: absolute;
}
#field_kickup {
padding-left:137px;
    left: 0px;
    top: 319px;
    width: 150px;
    position: absolute;
}
#field_front_notes {
padding-left:68px;
    left: 0px;
    top: 356px;
    width: 230px;
    height: 130px;
}
#field_front_bump {
    padding-top:50px;
    left: 354px;
    top: 243px;
    width: 60px
    position: absolute;
}
#field_front_trail_1 {
    left: 452px;
    top: 373px;
    position: absolute;
}
#field_front_trail_2 {
    left: 508px;
    top: 373px;
    position: absolute;
}
#field_front_trail_3 {
    left: 563px;
    top: 373px;
    position: absolute;
}
#field_steering_stop {
    padding-top:60px;
    left: 308px;
    top: 356px;
    width: 60px
    position: absolute;
}
#field_cbs1 {
    left: 316px;
    top: 521px;
    width: 60px;
    position: absolute;
}
#field_cbs2 {
    left: 460px;
    top: 521px;
    width: 60px;
   position: absolute;
}
#field_front_axle_1 {
    left: 666px;
    top: 235px;
    position: absolute;
}
#field_front_axle_2 {
    left: 666px;
    top: 253px;
    position: absolute;
}
#field_front_axle_3 { 
    left: 666px;
    top: 271px;
    position: absolute;
}
#field_front_ackstud {
    padding-top: 30px;
    left: 758px;
    top: 234px;
    width: 60px;
    position: absolute;
}
#field_front_tower_1 {
    left: 862px;
    top: 326px;
    position: absolute;
}
#field_front_tower_2 {
    left: 850px;
    top: 318px;
    position: absolute;
}
#field_front_tower_3 {
    left: 838px;
    top: 309px;
    position: absolute;
}
#field_front_instud_spacer {
    padding-left: 100px;
    left: 630px;
    top: 369px;
    width: 60px
    position: absolute;
}
#field_front_instud_1 {
    left: 833px;
    top: 449px;
   position: absolute;
}
#field_front_instud_2 {
    left: 819px;
    top: 449px;
    position: absolute;
}
#field_front_armmount_1 {
    left: 735px;
    top: 497px;
    position: absolute;
}
#field_front_armmount_2 {
    left: 723px;
    top: 497px;
    position: absolute;
}
#field_front_outstud_1 {
    left: 627px;
    top: 423px;
    position: absolute;
}
#field_front_outstud_2 {
    left: 615px;
    top: 423px;
    position: absolute;
}
#field_rear_camber {
    padding-left:90px;
    left: 0px;
    top: 580px;
    width: 200px;
    position: absolute;
}
#field_rear_height {
    padding-left:122px;
    left: 0px;
    top: 600px;
   width: 180px;
   position: absolute;
}
#field_hub_spacing_1 {
    left: 82px;
    top: 650px;
position: absolute;
}
#field_hub_spacing_2 {
    left: 189px;
    top: 650px;
   position: absolute;
}
#field_hub_spacing_3 {
    left: 282px;
    top: 650px;
	position: absolute;
	}
#field_rear_notes {
    padding-left:71px;
    left: 0px;
    top: 672px;
    width: 230px;
    height: 150px;
}
#field_rollbar_1 {
    left: 417px;
    top: 604px;
	position: absolute;
}
#field_rollbar_2 {
    left: 417px;
    top: 623px;
	position: absolute;
}
#field_rollbar_3 {
    left: 417px;
    top: 643px;
	position: absolute;
}
#field_rollbar_4 {
    left: 417px;
    top: 662px;
	position: absolute;
}
#field_rear_toe {
padding-left:110px;
    left: 310px;
    top: 792px;
    width: 80px;
	position: absolute;
}
#field_antisquat {
padding-left:100px;
    left: 309px;
    top: 810px;
    width: 90px;
   position: absolute;
}
#field_a_hub_1 {
    left: 535px;
    top: 624px;
   	position: absolute;
}
#field_a_hub_2 {
    left: 516px;
    top: 624px;
  	position: absolute;
}
#field_a_hub_3 {
    left: 496px;
    top: 624px;
  	position: absolute;
}
#field_a_up_1 { 
    left: 624px;
    top: 610px;
   position: absolute;
}
#field_a_up_2 {
    left: 624px;
    top: 630px;
   position: absolute;
}
#field_b_hub_1 {
    left: 525px;
    top: 681px;
   position: absolute;
}
#field_b_hub_2 {
    left: 506px;
    top: 681px;
   position: absolute;
}
#field_b_up_1 {
    left: 624px;
    top: 665px;
   position: absolute;;
}
#field_b_up_2 {
    left: 624px;
    top: 685px;
   position: absolute;
}
#field_hub_insert_1 {
    left: 537px;
    top: 814px;
   position: absolute;
}
#field_hub_insert_2 {
    left: 603px;
    top: 814px;
   position: absolute;
}
#field_hub_insert_3 {
    left: 655px;
    top: 814px;
  position: absolute;
}
#field_rear_tower_1 {
    left: 822px;
    top: 595px;
   position: absolute;
}
#field_rear_tower_2 {
    left: 811px;
    top: 589px;
   position: absolute;
}
#field_rear_tower_3 {
    left: 797px;
    top: 584px;
   position: absolute;
}
#field_rear_instud_spacer {
    left: 754px;
    top: 656px;
    width: 60px;
  position: absolute;
}
#field_rear_instud_1 {
    left: 858px;
    top: 735px;
   position: absolute;
}
#field_rear_instud_2 {
    left: 843px;
    top: 735px;
   position: absolute;
}
#field_rear_armmount_1 {
    left: 729px;
    top: 794px;
   position: absolute;
}
#field_rear_armmount_2 {
    left: 716px;
    top: 791px;
   position: absolute;
}
#field_radio{
    padding-left:67px;
    left: 0px;
    top: 859px;
    width: 110px;
   position: absolute;
}
#field_servo {
    left: 232px;
    top: 859px;
    width: 65px;
   position: absolute;
}
#field_throttle_epa {
    padding-left:124px;
    left: 0px;
    top: 879px;
    width: 50px;
   position: absolute;
}
#field_brake_epa {
    left: 239px;
    top: 879px;
    width: 50px;
   position: absolute;
}
#field_esc {
    padding-left:50px;
    left: 0px;
    top: 897px;
    width: 220px;
   position: absolute;
}
#field_esc_settings {
    padding-left:119px;
    left: 0px;
    top: 916px;
    width: 180px;
   position: absolute;
}
#field_motor {
padding-left:68px;
    left: 0px;
    top: 936px;
    width: 230px;
   position: absolute;
}
#field_wind {
padding-left:61px;
    left: 0px;
    top: 955px;
    width: 110px;
   position: absolute;
}
#field_timing {
    left: 234px;
    top: 954px;
    width: 69px;
   position: absolute;
}
#field_pinion {
padding-left:71px;
    left: 0px;
    top: 973px;
    width: 90px;
   position: absolute;
}
#field_spur {
    left: 218px;
    top: 973px;
    width: 80px;
   position: absolute;
}
#field_battery {
padding-left:80px;
    left: 0px;
    top: 991px;
    width: 180px;
   position: absolute;
}
#field_battery_position {
padding-left:150px;
    left: 0px;
    top: 1009px;
    width: 140px;
   position: absolute;
}
#field_difftype_1 {
    left: 343px;
    top: 880px;
   position: absolute;
}
#field_setting {
padding-left:60px;
    left: 296px;
    top: 892px;
    width: 160px;
   position: absolute;
}
#field_difftype_2 {
    left: 343px;
    top: 918px;
   position: absolute;
}
#field_diffoil {
    left: 338px;
    top: 932px;
    width: 170px;
   position: absolute;
}
#field_clutch_type {
padding-left:30px;
    left: 332px;
    top: 978px;
    width: 155px;
   position: absolute;
}
#field_clutch_pads {
padding-left:70px;
    left: 335px;
    top: 998px;
    width: 115px;
   position: absolute;
}
#field_clutch_notes {
    padding-left:60px;
    left: 312px;
    top: 1017px;
    width: 155px;
   position: absolute;
}

#field_front_piston {
    padding-left:110px;
    left: 532px;
    top: 880px;
   
    width: 85px;
    position: absolute;
}
#field_rear_piston {
    left: 728px;
    top: 880px;
   
    width: 83px;
    position: absolute;
}
#field_front_oil {
    padding-left:100px;
    left: 542px;
    top: 900px;
   position: absolute;
    width: 85px;
}
#field_rear_oil {
    left: 727px;
    top: 900px;
   position: absolute;
    width: 83px;
}
#field_front_spring {
    padding-left:100px;
    left: 542px;
    top: 918px;
   position: absolute;
    width: 85px;
}
#field_rear_spring {
    left: 728px;
    top: 918px;
   
    width: 83px;
    postion: absolute;
}
#field_front_limiters {
    padding-left:100px;
    left: 542px;
    top: 938px;
   position: absolute;
    width: 85px;
}
#field_rear_limiters {
    left: 728px;
    top: 938px;
   position: absolute;
    width: 85px;
}
#field_front_cup{
    padding-left:100px;
    left: 542px;
    top: 956px;
   position: absolute;
    width: 85px;
}
#field_rear_cup {
    left: 728px;
    top: 956px;
   position: absolute;
    width: 85px;
}
#field_front_stroke {
    padding-left:100px;
    left: 542px;
    top: 975px;
   position: absolute;
    width: 85px;
}
#field_rear_stroke {
    left: 727px;
    top: 975px;
   position: absolute;
    width: 83px;
}
#field_front_free {
    padding-left:100px;
    left: 542px;
    top: 993px;
   position: absolute;
    width: 85px;
}
#field_rear_free {
    left: 729px;
    top: 993px;
   
    width: 85px;
}
#field_shock_note {
    padding-left:110px;
    left: 532px;
    top: 1012px;
   
    width: 168px;
    position: absolute;
}
#field_size_1 {
    left: 137px;
    top: 1063px;
   position: absolute;
}
#field_size_2 {
    left: 207px;
    top: 1063px;
   position: absolute;
}
#field_size_3 {
    left: 284px;
    top: 1063px;
   position: absolute;
}
#field_size_4 {
    left: 375px;
    top: 1063px;
   position: absolute;
}
#field_surface_1 {
    left: 137px;
    top: 1082px;
   position: absolute;
}
#field_surface_2 {
    left: 207px;
    top: 1082px;
   position: absolute;
}
#field_surface_3 {
    left: 284px;
    top: 1082px;
   position: absolute;
}
#field_surface_4 {
    left: 375px;
    top: 1082px;
   position: absolute;
}
#field_traction_1 {
    left: 137px;
    top: 1100px;
   position: absolute;
}
#field_traction_2 {
    left: 207px;
    top: 1100px;
   position: absolute;
}
#field_traction_3 {
    left: 284px;
    top: 1100px;
   position: absolute;
}
#field_traction_4 {
    left: 375px;
    top: 1100px;
   position: absolute;
}
#field_moisture_1{
    left: 137px;
    top: 1120px;
   position: absolute;
}
#field_moisture_2 {
    left: 207px;
    top: 1120px;
   position: absolute;
}
#field_moisture_3 {
    left: 284px;
    top: 1120px;
   position: absolute;
}
#field_condition_1 {
    left: 137px;
    top: 1139px;
   position: absolute;
}
#field_condition_2 {
    left: 207px;
    top: 1139px;
   position: absolute;
}
#field_condition_3 {
    left: 284px;
    top: 1139px;
   position: absolute;
}
#field_condition_4 {
    left: 375px;
    top: 1139px;
   position: absolute;
}
#field_condition_5 {
    left: 137px;
    top: 1158px;
   position: absolute;
}
#field_condition_6 {
    left: 207px;
    top: 1158px;
   position: absolute;
}
#field_condition_7 {
    left: 284px;
    top: 1158px;
   position: absolute;
}
#field_condition_8 {
    left: 375px;
    top: 1158px;
   position: absolute;
}
#field_ambient {
padding-left:168px;
    left: 0px;
    top: 1191px;
   position: absolute;
    width: 96px;
}
#field_track_temp {
    left: 296px;
    top: 1191px;
   position: absolute;
    width: 85px;
}
#field_track_note {
padding-left:68px;
    left: 0px;
    top: 1210px;
   position: absolute;
    width: 310px;
}
#field_tires_front {
padding-left:110px;
    left: 400px;
    top: 1059px;
   position: absolute;
    width: 220px;
}
#field_tires_rear{
    left: 733px;
    top: 1059px;
   position: absolute;
    width: 180px;
}
#field_compound_front {
padding-left:130px;
    left: 418px;
    top: 1077px;
   position: absolute;
    width: 180px;
}
#field_compound_rear {
    left: 733px;
    top: 1078px;
   position: absolute;
    width: 180px;
}
#field_insert_front {
padding-left:110px;
	left: 400px;
	top: 1098px;
	width: 215px;
	position: absolute;
}
#field_insert_rear {
	left: 734px;
	top: 1097px;
	position: absolute;
	width: 178px;
}
#field_wheel_front {
padding-left:110px;
    left: 400px;
    top: 1117px;
   position: absolute;
    width: 213px;
}
#field_wheel_rear {
    left: 733px;
    top: 1116px;
   position: absolute;
    width: 180px;
}
#field_tire_note {
padding-left:60px;
    left: 402px;
    top: 1134px;
   position: absolute;
    width: 449px;
}
#field_body{
padding-left:60px;
    left: 395px;
    top: 1178px;
   position: absolute;
    width: 457px;
}
#field_wing {
padding-left:60px;
    left: 398px;
    top: 1197px;
    width: 454px;
    position: absolute;
}
#field_wing_angle_1 {
    left: 534px;
    top: 1220px;
   position: absolute;
}
#field_wing_angle_2 {
    left: 586px;
    top: 1220px;
   position: absolute;
}
#field_wing_angle_3 {
    left: 637px;
    top: 1220px;
   position: absolute;
}
#field_wing_notes {
    left: 661px;
    top: 1215px;
   position: absolute;
    width: 251px;
}
#field_body_notes {
padding-left:60px;
    left: 400px;
    top: 1235px;
   position: absolute;
    width: 453px;
}
#field_qualify {
    left: 81px;
    top: 1277px;
   position: absolute;
    width: 75px;
}
#field_main {
    left: 231px;
    top: 1277px;
   position: absolute;
    width: 70px;
}
#field_finish {
    left: 73px;
    top: 1296px;
   position: absolute;
    width: 90px;
}
#field_tq_1 {
    left: 211px;
    top: 1302px;
    position: absolute;
}
#field_lap {
padding-left:144px;
    left: 0px;
    top: 1315px;
    position: absolute;
    width: 163px;
}
#field_general_notes {
padding-left:20px;
    left: 307px;
    top: 1273px;
    width: 585px;
    height: 40px;
}
#field_weight {
padding-left:70px;
    left: 432px;
    top: 1313px;
    width: 410px;
    position: absolute;
}
#password {
    background: none repeat scroll 0 0 #FFFFFF;
}
