input:disabled
{
background-color: none transparent;
opacity: 1;
}

body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align:center;
   
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	top: 518px;
	left: 648px;
	width: 18px;
	bottom: 184731343px;
	height: 16px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	top: 518px;
	left: 648px;
	width: 18px;
	bottom: 184731343px;
	height: 16px;
}

textarea {
    line-height: 20px;
}
select {
    border: medium none;
	height:25px;
}
.center {
    
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1315px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
	padding-left:70px;
	left: 588px;
	top: 4px;
	width: 265px;
}
#field_name {
    padding-left:70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
    padding-left:130px;
    left: 90px;
    top: 40px;
    width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 38px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
	padding-left:70px;
	left: 581px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
    left: 193px;
    top: 87px;
}
#field_traction_level_2 {
    left: 260px;
    top: 87px;
}
#field_traction_level_3 {
    left: 348px;
    top: 87px;
}
#field_track_type_1 {
	left: 428px;
	top: 88px;
}
#field_track_type_2 {
    left: 492px;
    top: 88px;
}
#field_track_type_3 {
    left: 577px;
    top: 88px;
}
#field_track_size_1 {
	left: 673px;
	top: 85px;
}
#field_track_size_2 {
	left: 743px;
	top: 86px;
}
#field_track_size_3 {
	left: 825px;
	top: 87px;
}
#field_track_condition_1 {
	left: 201px;
	top: 132px;
}
#field_track_condition_2 {
	left: 284px;
	top: 133px;
}
#field_track_condition_3 {
	left: 393px;
	top: 130px;
}
#field_track_condition_4 {
	left: 201px;
	top: 156px;
}
#field_track_condition_5 {
	left: 284px;
	top: 157px;
}
#field_track_condition_6 {
	left: 393px;
	top: 157px;
}
#field_track_surface_1 {
	left: 550px;
	top: 132px;
}
#field_track_surface_2 {
	left: 690px;
	top: 131px;
}
#field_track_surface_3 {
	left: 802px;
	top: 133px;
}
#field_track_surface_4 {
	left: 550px;
	top: 156px;
}
#field_track_surface_5 {
	left: 691px;
	top: 156px;
}
#field_track_surface_6 {
	left: 803px;
	top: 158px;
}

#field_front_suspension_toe{
	left: 289px;
	top: 250px;
	width: 157px;
	
}

#field_front_suspension_camber{
    padding-left:80px;
	left: 243px;
	top: 213px;
	width: 124px;
	
}
#field_front_suspension_washer{
    padding-left:80px;
	left: 54px;
	top: 377px;
	width: 90px;
}
#field_front_suspension_ride_height{
    padding-left:120px;
	left: 153px;
	top: 504px;
	width: 90px;
}

#field_front_suspension_washer2{
    padding-left:80px;
	left: 12px;
	top: 700px;
	width: 90px;
}

#field_track_camber_1{
	left: 51px;
	top: 259px;
}



#field_track_camber_2{
	left: 70px;
	top: 249px;
}
#field_track_camber_3{
	left: 87px;
	top: 240px;
}

#field_track_toe_1{
	left: 243px;
    top: 282px;
}
#field_track_toe_2{
	left: 243px;
    top: 296px;
}
#field_track_toe_3{
	left: 243px;
    top: 309px;
}
#field_track_toe_4{
	left: 243px;
    top: 322px;
}


#field_track_washer_1{
	left: 75px;
	top: 406px;
}

#field_track_washer_2{
	left: 95px;
	top: 407px;
}


#field_ride_height_alpha_1{
	left: 377px;
	top: 378px;
}

#field_ride_height_alpha_2{
	left: 391px;
	top: 377px;
}
#field_ride_height_alpha_3{
	left: 406px;
	top: 378px;
}

#field_ride_height_io_1{
	left: 256px;
	top: 449px;
}
#field_ride_height_io_2{
	left: 271px;
	top: 448px;
}

#field_ride_steering_1{
	left: 102px;
	top: 585px;
}

#field_ride_steering_2{
	left: 102px;
	top: 607px;
}

#field_front_suspension_caster_1{
	left: 428px;
	top: 725px;
}
#field_front_suspension_caster_2{
	left: 428px;
	top: 743px;
}

#field_front_suspension_caster_3{
	left: 428px;
	top: 764px;
}


#field_front_suspension_caster_block_1{
	left: 322px;
	top: 599px;
}

#field_front_suspension_caster_block_2{
	left: 323px;
	top: 618px;
}


#field_rear_suspension_track_camber_1{
	left: 581px;
	top: 241px;
}
#field_rear_suspension_track_camber_2{
	left: 597px;
	top: 233px;
}
#field_rear_suspension_track_camber_3{
	left: 612px;
	top: 227px;
}

#field_track_susension_toe_1{
	left: 715px;
    top: 282px;
}
#field_track_susension_toe_2{
	left: 715px;
    top: 296px;
}
#field_track_susension_toe_3{
	left: 715px;
    top: 309px;
}
#field_track_susension_toe_4{
	left: 715px;
    top: 322px;
}
#field_rear_suspension_camber{
    padding-left:60px;
	left: 729px;
	top: 212px;
	width: 100px;
}
#field_rear_suspension_toe{
    padding-left:40px;
	left: 762px;
	top: 248px;
	width: 82px;
}

#field_rear_suspension_anti_squat{
    padding-left:100px;
	left: 712px;
	top: 287px;
	width: 82px;
}

#field_rear_suspension_washer{
    padding-left:20px;
	left: 569px;
	top: 365px;
	width: 93px;
}

#field_track_rear_washer_1{
	left: 547px;
	top: 387px;
}
#field_track_rear_washer_2{
	left: 547px;
	top: 397px;
}
#field_track_rear_washer_3{
	left: 547px;
	top: 407px;
}
#field_track_rear_washer_4{
	left: 547px;
	top: 417px;
}
#field_track_rear_washer_5{
	left: 547px;
	top: 427px;
}
#field_track_rear_washer_6{
	left: 547px;
	top: 437px;
}
#field_track_rear_washer_7{
	left: 580px;
	top: 397px;
}
#field_track_rear_washer_8{
	left: 580px;
	top: 410px;
}
#field_track_rear_washer_9{
	left: 580px;
	top: 422px;
}
#field_track_rear_washer_10{
	left: 580px;
	top: 434px;
}
#field_rear_chassis_brace{
	left: 723px;
	top: 454px;
}

#field_track_rear_abc_1{
	left: 827px;
	top: 451px;
}


#field_track_rear_abc_2{
	left: 840px;
	top: 451px;
}

#field_track_rear_abc_3{
	left: 855px;
	top: 452px;
}

#field_track_rear_abc_4{
	left: 868px;
	top: 451px;
}

#field_track_rear_io_1{
	left: 779px;
	top: 562px;
}

#field_track_rear_io_2{
	left: 799px;
	top: 565px;
}

#field_rear_suspension_wheelbase_1{
	top: 599px;
	left: 551px;
}

#field_rear_suspension_wheelbase_2{
	top: 619px;
	left: 550px;
}

#field_rear_suspension_wheelbase_3{
	top: 642px;
	left: 550px;
}
#field_rear_suspension_right_height{
    padding-left:110px;
	top: 608px;
	left: 627px;
	width: 79px;
}

#field_rear_hub_carrier_1{
	top: 725px;
	left:533px; 
}

#field_rear_hub_carrier_2{
	top: 745px;
	left:533px; 
}


#field_rear_hub_carrier_3{
	top: 765px;
	left:533px; 
}

#field_rear_hub_carrier_4{
	top: 782px;
	left:533px; 
}
#field_rear_aluminum_1{
	top: 726px;
	left:706px; 
}

#field_rear_aluminum_2{
	top: 746px;
	left:706px; 
}

#field_rear_aluminum_3{
	top: 763px;
	left:706px; 
}

#field_rear_anti_rollbar_1{
	top: 723px;
	left: 894px;
}


#field_rear_anti_rollbar_2{
	top: 741px;
	left: 895px;
}


#field_rear_anti_rollbar_3{
	top: 759px;
	left: 894px;
}

#field_rear_anti_rollbar_4{
	top: 780px;
	left: 894px;
}

#field_front_shock_spring{
    padding-left:80px;
	left:0px;
	top:822px;
	width:200px;
	
	
}

#field_front_shock_piston{
    padding-left:25px;
	left:331px;
	top:823px;
	width:100px;	
}
#field_front_shock_oil{
    padding-left:100px;
	left:0px;
	top:842px;
	width:180px;
	
	
}
#field_front_shock_limiter{
    padding-left:70px;
	left:291px;
	top:842px;
	width:98px;
}


#field_rear_shock_spring{
    padding-left:90px;
	left:441px;
	top:822px;
	width:200px;
		
}

#field_rear_shock_piston{
    padding-left:30px;
	left: 792px;
	top: 823px;
	width: 100px;
}
#field_rear_shock_oil{
    padding-left:100px;
	left:460px;
	top:842px;
	width:180px;	
	
}
#field_rear_shock_limiter{
    padding-left:30px;
	left: 792px;
	top: 843px;
	width: 100px;
}

#field_electronics_motor{
    padding-left:140px;
	top:886px;
	left:0px;
	width:317px;
}
#field_electronics_pinion{
    padding-left:85px;
	top:905px;
	left:0px;
	width:160px;
}

#field_electronics_spur_gear{
    padding-left:110px;
	top:906px;
	left:220px;
	width:130px;
}

#field_electronics_batteries{
    padding-left:100px;
	top:925px;
	left:0px;
	width:360px;	
}
#field_electronics_battery{
    padding-left:170px;
	top:942px;
	left:0px;
	width:290px;
	
	
}
#field_electronics_ballast{
    padding-left:150px;
	top:961px;
	left:0px;
	width:290px;	
	
}
#field_electronics_chassis{
    padding-left:150px;
	top:978px;
	left:0px;
	width:310px;
	
	
}

#field_electronics_radio{
    padding-left:70px;
	top:884px;
	left:455px;
	width:392px;
	
	
}
#field_electronics_throttle{
    padding-left:210px;
	top:903px;
	left:453px;
	width:258px;	
}
#field_electronics_throttle2{
    padding-left:210px;
	top:923px;
	left:453px;
	width:260px;
	
}

#field_electronics_servo{
    padding-left:70px;
	top:940px;
	left:453px;
	width:175px;
	
}

#field_electronics_steering_expo{
    padding-left:140px;
	top:942px;
	left:687px;
	width:91px;
}
#field_electronics_esc{
    padding-left:60px;
	top:961px;
	left:452px;
	width:380px;
	
}
#field_electronics_esc_setting{
    padding-left:120px;
	top:978px;
	left:462px;
	width:337px;	
}
#field_electronics_front_tires{
    padding-left:60px;
	top:1023px;
	left:0px;
	width:390px;
	
	
}

#field_electronics_front_compound{
    padding-left:120px;
	top:1041px;
	left:0px;
	width:340px;
}
#field_electronics_front_insert{
    padding-left:90px;
	top:1060px;
	left:0px;
	width:130px;
	
	
	
}
#field_electronics_front_wheel{
    padding-left:90px;
	top:1060px;
	left:210px;
	width:50px;
	
	
}

#field_electronics_rear_tires{
    padding-left:60px;
	top:1023px;
	left:454px;
	width:390px;
	
}

#field_electronics_rear_compound{
    padding-left:120px;
	top:1041px;
	left:449px;
	width:340px;
	
}
#field_electronics_rear_insert{
    padding-left:60px;
	top:1060px;
	left:470px;
	width:140px;
	
	
	
}
#field_electronics_rear_wheel{
    padding-left:60px;
	top:1060px;
	left:702px;
	width:140px;	
}

#field_electronics_drivetrain_slipper{
    padding-left:90px;
	top:1102px;
	left:0px;
	width:200px;
	
	
}

#field_drivetrain_pads_1{
	top:1128px;
	left:70px;
}
#field_drivetrain_pads_2{
	top:1128px;
	left:176px;
}
#field_drivetrain_pads_3{
	top:1128px;
	left:280px;
}
#field_electronics_drivetrain_notes{
    padding-left:80px;
	top:1143px;
	left:0px;
	width:220px;
}


#field_electronics_drivetrain_diff_notes{
    padding-left:25px;
	top:1144px;
	left:341px;
	width:100px;	
}

#field_drivetrain_diff_1{
	top:1110px;
	left:365px;
	
}

#field_drivetrain_diff_2{
	top:1130px;
	left:365px;

}
#field_electronics_drivetrain_other_body{
    padding-left:120px;
	top:1102px;
	left:446px;
	width:353px;
}

#field_electronics_drivetrain_other_wing{
    padding-left:110px;
	top:1136px;
	left:455px;
	width:200px;
	
}
#field_electronics_drivetrain_other_wing_angle{
    padding-left:110px;
	top: 1136px;
	left: 765px;
	width: 44px;
}

#field_electronics_drivetrain_race_qualify{
    padding-left:90px;
	top:1187px;
	left:0px;
	width:90px;	
	
}

#field_electronics_drivetrain_race_main{
	top:1187px;
	left:229px;
	width:60px;
}

#field_electronics_drivetrain_race_finish{
	top:1187px;
	left:347px;
	width:60px;
}

#field_drivetrain_tq_1{
	top:1190px;
	left:435px;
}

#field_electronics_drivetrain_comment{
    padding-left:20px;
	top:1223px;
	left:0px;
	font-family: arial,tahoma,sans-serif;
    height: 85px;
    width:900px;
	
}

#password-1,#password{
	width:200px; 
	background:#fff;	
}
