input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
  
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
    top: 633px;
	left: 160px;
	width: 19px;
	bottom: 149373996px;
	height: 20px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	top: 633px;
	left: 160px;
	width: 19px;
	bottom: 149373996px;
	height: 20px;
}

select{
	height:26px;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1345px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:70px;
	left: 588px;
	top: 4px;
	width: 256px;
}
#field_name {
padding-left:100px;
    left: 128px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:20px;
	left: 192px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
padding-left:70px;
	left: 581px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 183px;
	top: 85px;
}
#field_traction_level_2 {
	left: 251px;
	top: 85px;
}
#field_traction_level_3 {
	left: 336px;
	top: 85px;
}
#field_track_type_1 {
	left: 418px;
	top: 85px;
}
#field_track_type_2 {
	left: 482px;
	top: 86px;
}
#field_track_type_3 {
	left: 570px;
	top: 85px;
}
#field_track_size_1 {
	left: 664px;
	top: 85px;
}
#field_track_size_2 {
	left: 738px;
	top: 85px;
}
#field_track_size_3 {
	left: 822px;
	top: 86px;
}
#field_track_condition_1 {
	left: 186px;
	top: 133px;
}
#field_track_condition_2 {
	left: 273px;
	top: 133px;
}
#field_track_condition_3 {
	left: 381px;
	top: 131px;
}
#field_track_condition_4 {
	left: 187px;
	top: 161px;
}
#field_track_condition_5 {
	left: 272px;
	top: 161px;
}
#field_track_condition_6 {
	left: 381px;
	top: 160px;
}
#field_track_surface_1 {
	left: 543px;
	top: 130px;
}
#field_track_surface_2 {
	left: 676px;
	top: 130px;
}
#field_track_surface_3 {
	left: 792px;
	top: 130px;
}
#field_track_surface_4 {
	left: 542px;
	top: 152px;
}
#field_track_surface_5 {
	left: 677px;
	top: 153px;
}
#field_track_surface_6 {
	left: 793px;
	top: 152px;
}

#password, #password-1{
	background:#fff; 	
	width:200px; 

}

#field_front_rollbar_1{
	top: 247px;
	left: 130px;
}
#field_front_rollbar_2{
	top: 266px;
	left: 130px;
}
#field_front_rollbar_3{
	top: 286px;
	left: 130px;
}
#field_front_rollbar_4{
	top: 306px;
	left: 130px;
}
#field_steering_rack_1{
	top: 245px;
	left: 294px;
}
#field_steering_rack_2{
	top: 265px;
	left: 294px;
}
#field_steering_position_1{
	top: 258px;
	left: 375px;
}
#field_steering_position_2{
	top: 246px;
	left: 357px;
}
#field_steering_position_3{
	top: 233px;
	left: 339px;
}
#field_tower_position_1{
	top: 294px;
	left: 237px;
}
#field_tower_position_2{
	top: 310px;
	left: 237px;
}
#field_tower_position_3{
	top: 326px;
	left: 237px;
}
#field_bumpsteer{
padding-left:70px;
	top: 362px;
	left: 31px;
	width:100px;
}
#field_front_camber{
padding-left:60px;
	top: 399px;
	left: 30px;
	width:111px;
}
#field_caster{
padding-left:50px;
	top: 437px;
	left: 30px;
	width:121px;
}
#field_toe{
padding-left:30px;
	top: 473px;
	left: 30px;
	width:145px;
}
#field_front_hub_1{
	top: 520px;
	left: 108px;
}
#field_front_hub_2{
	top: 519px;
	left: 92px;
}
#field_front_arm_mount_1{
	top: 650px;
	left: 182px;
}
#field_front_arm_mount_2{
	top: 652px;
	left: 161px;
}
#field_front_ride{
padding-left:120px;
	top: 715px;
	left: 0px;
	width:113px;
}
#field_pin_bushing_front{
	top: 459px;
	left: 370px;
	width:64px;
}
#field_pin_bushing_front_position_1{
	top: 483px;
	left: 346px;
}
#field_pin_bushing_front_position_2{
	top: 483px;
	left: 429px;
}
#field_pin_bushing_rear{
	top: 515px;
	left: 368px;
	width:66px;
}
#field_pin_bushing_rear_position_1{
	top: 539px;
	left: 346px;
}
#field_pin_bushing_rear_position_2{
	top: 539px;
	left: 428px;
}
#field_b_plate_1{
	top: 610px;
	left: 334px;
}
#field_b_plate_2{
	top: 610px;
	left: 431px;
}
#field_kickup{
padding-top:20px;
	top: 675px;
	left: 319px;
	width:94px;
}
#field_a_plate_1{
	top: 720px;
	left: 344px;
}
#field_a_plate_2{
	top: 719px;
	left: 427px;
}
#field_rear_rollbar_1{
	top: 246px;
	left: 589px;
}
#field_rear_rollbar_2{
	top: 266px;
	left: 588px;
}
#field_rear_rollbar_3{
	top: 285px;
	left: 588px;
}
#field_rear_rollbar_4{
	top: 305px;
	left: 588px;
}
#field_rear_tower_position_1{
	top: 249px;
	left: 771px;
}
#field_rear_tower_position_2{
	top: 239px;
	left: 755px;
}
#field_rear_tower_position_3{
	top: 231px;
	left: 739px;
}
#field_wheelbase_1{
	top: 376px;
	left: 546px;
}
#field_wheelbase_2{
	top: 394px;
	left: 546px;
}
#field_wheelbase_3{
	top: 414px;
	left: 545px;
}
#field_rear_camber{
padding-left:50px;
	top: 473px;
	left: 496px;
	width:112px;
}
#field_camber_position_1{
	top: 475px;
	left: 809px;
}
#field_camber_position_2{
	top: 459px;
	left: 809px;
}
#field_camber_position_3{
	top: 444px;
	left: 808px;
}
#field_camber_position_4{
	top: 474px;
	left: 787px;
}
#field_camber_position_5{
	top: 459px;
	left: 787px;
}
#field_camber_position_6{
	top: 444px;
	left: 787px;
}
#field_rear_hub_mount_1{
	top: 528px;
	left: 558px;
}
#field_rear_hub_mount_2{
	top: 527px;
	left: 544px;
}
#field_rear_hub_mount_3{
	top: 526px;
	left: 580px;
}
#field_hub_position_1{
	top: 654px;
	left: 527px;
}
#field_hub_position_2{
	top: 670px;
	left: 527px;
}

#field_hub_position_io_1{
	top: 654px;
	left: 664px;
}
#field_hub_position_io_2{
	top: 655px;
	left: 647px;
}
#field_rear_ride{
padding-left:110px;
	top: 714px;
	left: 467px;
	width:125px;
}
#field_toe_bushing{
	top: 577px;
	left: 796px;
	width:99px;
}
#field_d_plate_1{
	top: 602px;
	left: 793px;
}
#field_d_plate_2{
	top: 602px;
	left: 883px;
}
#field_squat_bushing{
padding-top:20px;
	top: 674px;
	left: 791px;
	width:99px;
}
#field_c_plate_1{
	top: 719px;
	left: 797px;
}
#field_c_plate_2{
	top: 718px;
	left: 883px;
}
#field_front_spring{
padding-left:80px;
	top: 769px;
	left: 0px;
	width:200px;
}
#field_front_cap{
padding-left:30px;
	top: 770px;
	left: 357px;
	width:59px;
}
#field_front_oil{
padding-left:110px;
	top: 787px;
	left: 0px;
	width:167px;
}
#field_front_length{
padding-left:10px;
	top: 789px;
	left: 351px;
	width:85px;
}

#field_front_piston{
padding-left:80px;
	top: 807px;
	left: 0px;
	width:202px;
}
#field_front_rebound{
padding-left:20px;
	top: 807px;
	left: 355px;
	width:72px;
}
#field_rear_spring{
padding-left:70px;
	top: 768px;
	left: 464px;
	width:210px;
}
#field_rear_cap{
	top: 769px;
	left: 848px;
	width:59px;
}
#field_rear_oil{
padding-left:110px;
	top: 788px;
	left: 466px;
	width:167px;
}
#field_rear_length{
	top: 788px;
	left: 818px;
	width:89px;
}
#field_rear_piston{
padding-left:70px;
	top: 807px;
	left: 467px;
	width:207px;
}
#field_rear_rebound{
	top: 807px;
	left: 840px;
	width:68px;
}
#field_chassis_brace_1{
	top: 876px;
	left: 121px;
}
#field_chassis_brace_2{
	top: 895px;
	left: 121px;
}
#field_chassis_brace_3{
	top: 914px;
	left: 120px;
}
#field_wheel_hex_1{
	top: 898px;
	left: 264px;
}
#field_wheel_hex_2{
	top: 916px;
	left: 265px;
}
#field_caster_blocks_1{
	top: 897px;
	left: 423px;
}
#field_caster_blocks_2{
	top: 916px;
	left: 423px;
}
#field_weight{
	top: 875px;
	left: 480px;
	width:113px;
	height:43px;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}
#field_rear_hubs_1{
	top: 896px;
	left: 734px;
}
#field_rear_hubs_2{
	top: 916px;
	left: 733px;
}
#field_front_diff{
	top: 852px;
	left: 860px;
	width:52px;
}
#field_center_diff{
	top: 871px;
	left: 867px;
	width:43px;
}
#field_rear_diff{
	top: 890px;
	left: 853px;
	width:57px;
}
#field_diff_notes{
	top: 910px;
	left: 825px;
	width:81px;
}
#field_body_type{
padding-left:115px;
	top: 957px;
	left: 0px;
	width:181px;
}
#field_wing_type{
padding-left:115px;
	top: 976px;
	left: 0px;
	width:190px;
	height:34px;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}
#field_gap{
padding-left:190px;
	top: 1015px;
	left: 0px;
	width:118px;
}
#field_spur{
padding-left:115px;
	top: 957px;
	left: 300px;
	width:197px;
}
#field_bell{
padding-left:115px;
	top: 976px;
	left: 303px;
	width:194px;
}
#field_shoes{
padding-left:120px;
	top: 995px;
	left: 311px;
	width:181px;
}
#field_springs{
padding-left:125px;
	top: 1013px;
	left: 310px;
	width:178px;
}
#field_engine{
padding-left:80px;
	top: 958px;
	left: 623px;
	width:211px;
}
#field_restrictor{
padding-left:40px;
	top: 976px;
	left: 675px;
	width:81px;
}
#field_temp{
	top: 976px;
	left: 856px;
	width:49px;
}
#field_muffler{
padding-left:80px;
	top: 996px;
	left: 620px;
	width:196px;
}
#field_plug{
padding-left:50px;
	top: 1014px;
	left: 674px;
	width:70px;
}
#field_fuel{
	top: 1014px;
	left: 851px;
	width:50px;
}
#field_front_tires{
padding-left:110px;
	top: 1057px;
	left: 0px;
	width:155px;
}
#field_front_compound{
padding-left:160px;
	top: 1076px;
	left: 0px;
	width:123px;
}
#field_front_insert{
padding-left:130px;
	top: 1095px;
	left: 0px;
	width:144px;
}
#field_front_wheel{
padding-left:125px;
	top: 1114px;
	left: 0px;
	width:154px;
}
#field_rear_tires{
	top: 1056px;
	left: 314px;
	width:130px;
}
#field_rear_compound{
	top: 1076px;
	left: 306px;
	width:135px;
}
#field_rear_insert{
	top: 1094px;
	left: 308px;
	width:133px;
}
#field_rear_wheel{
	top: 1113px;
	left: 305px;
	width:135px;
}
#field_tire_notes{
padding-left:70px;
	top: 1131px;
	left:0px;
	width:327px;
}
#field_radio{
padding-left:60px;
	top: 1055px;
	left: 472px;
	width:147px;
}
#field_brake_bias{
padding-left:80px;
	top: 1056px;
	left: 717px;
	width:99px;
}
#field_t_servo{
padding-left:135px;
	top: 1075px;
	left: 550px;
	width:77px;
}
#field_s_servo{
padding-left:50px;
	top: 1076px;
	left: 758px;
	width:89px;
}
#field_t_expo{
padding-left:115px;
	top: 1095px;
	left: 550px;
	width:108px;
}
#field_b_expo{
	top: 1096px;
	left: 808px;
	width:85px;
}
#field_s_expo{
padding-left:150px;
	top: 1113px;
	left: 455px;
	width:289px;
}
#field_dualrate{
padding-left:100px;
	top: 1132px;
	left: 461px;
	width:315px;
}
#field_qualify{
padding-left:90px;
	top: 1176px;
	left: 0px;
	width:70px;
}
#field_main{
	top: 1176px;
	left: 231px;
	width:55px;
}
#field_finish{
	top: 1176px;
	left: 351px;
	width:39px;
}
#field_tq_1{
	top: 1176px;
	left: 437px;
}
#field_comments{
padding-left:110px;
	top: 1198px;
	left: 0px;
	width:862px;
	height:97px;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}