
<body>
    <div id="container" style="background: none;">
        
        <!--
         Background image of setup sheet: change the URL in "src" attribute
         Example: the background image is "RCT_33.png", change "TLR_22.png" in "src" to "RCT_33.png"
         -->
        <img src="file://%@" width="920px" height="1310px" class="image-bg" />
        <form id="testForm">
            <div id="content">
                
                
                
                <input type="text" maxlength="28" name="sheets.name" id="field_name" value="%@" />
                
                <input type="text" maxlength="5" name="sheets.date" disabled="" id="field_date" value="%@" />
                
                <input type="text" maxlength="30" name="sheets.track" id="field_track" value="%@" />
                
                <input type="text" maxlength="20" name="sheets.city" id="field_city" value="%@" />
                
                <select name="sheets.country" class="countrySelector">
                    
                    <option value=" Argentina"> Argentina</option>
                    
                    <option value=" Australia"> Australia</option>
                    
                    <option value=" Austria"> Austria</option>
                    
                    <option value=" Belarus"> Belarus</option>
                    
                    <option value=" Belgium"> Belgium</option>
                    
                    <option value=" Brazil"> Brazil</option>
                    
                    <option value=" Brunei"> Brunei</option>
                    
                    <option value=" Bulgaria"> Bulgaria</option>
                    
                    <option value=" Canada"> Canada</option>
                    
                    <option value=" China"> China</option>
                    
                    <option value=" Costa Rica"> Costa Rica</option>
                    
                    <option value=" Croatia"> Croatia</option>
                    
                    <option value=" Cyprus"> Cyprus</option>
                    
                    <option value=" Czech Republic"> Czech Republic</option>
                    
                    <option value=" Denmark"> Denmark</option>
                    
                    <option value=" Egypt"> Egypt</option>
                    
                    <option value=" Estonia"> Estonia</option>
                    
                    <option value=" Finland"> Finland</option>
                    
                    <option value=" France"> France</option>
                    
                    <option value=" Germany"> Germany</option>
                    
                    <option value=" Greece"> Greece</option>
                    
                    <option value=" Hong Kong"> Hong Kong</option>
                    
                    <option value=" Hungary"> Hungary</option>
                    
                    <option value=" Iceland"> Iceland</option>
                    
                    <option value=" India"> India</option>
                    
                    <option value=" Indonesia"> Indonesia</option>
                    
                    <option value=" Ireland"> Ireland</option>
                    
                    <option value=" Israel"> Israel</option>
                    
                    <option value=" Italy"> Italy</option>
                    
                    <option value=" Japan"> Japan</option>
                    
                    <option value=" Korea"> Korea</option>
                    
                    <option value=" Kuwait"> Kuwait</option>
                    
                    <option value=" Latvia"> Latvia</option>
                    
                    <option value=" Lithuania"> Lithuania</option>
                    
                    <option value=" Luxembourg"> Luxembourg</option>
                    
                    <option value=" Malaysia"> Malaysia</option>
                    
                    <option value=" Malta"> Malta</option>
                    
                    <option value=" Mexico"> Mexico</option>
                    
                    <option value=" Netherlands"> Netherlands</option>
                    
                    <option value=" New Zealand"> New Zealand</option>
                    
                    <option value=" Norway"> Norway</option>
                    
                    <option value=" Philippines"> Philippines</option>
                    
                    <option value=" Poland"> Poland</option>
                    
                    <option value=" Portugal"> Portugal</option>
                    
                    <option value=" Romania"> Romania</option>
                    
                    <option value=" Russia"> Russia</option>
                    
                    <option value=" Saudi Arabia"> Saudi Arabia</option>
                    
                    <option value=" Singapore"> Singapore</option>
                    
                    <option value=" Slovakia"> Slovakia</option>
                    
                    <option value=" Slovenia"> Slovenia</option>
                    
                    <option value=" South Africa"> South Africa</option>
                    
                    <option value=" Spain"> Spain</option>
                    
                    <option value=" Sweden"> Sweden</option>
                    
                    <option value=" Switzerland"> Switzerland</option>
                    
                    <option value=" Taiwan"> Taiwan</option>
                    
                    <option value=" Thailand"> Thailand</option>
                    
                    <option value=" Tunisia"> Tunisia</option>
                    
                    <option value=" Turkey"> Turkey</option>
                    
                    <option value=" Ukraine"> Ukraine</option>
                    
                    <option value=" United Arab Emirates"> United Arab Emirates</option>
                    
                    <option value=" UK"> UK</option>
                    
                    <option value=" USA" selected="selected" > USA</option>
                    
                    <option value=" Venezuela"> Venezuela</option>
                    
                    <option value=" Trinidad"> Trinidad</option>
                    
                    <option value=" Tobago"> Tobago</option>
                    
                </select>
                
                
                
                
                
                <input type="text" maxlength="30" name="sheets.race" id="field_event" value="%@" />
                
                
                
                <input type="radio" name="sheets.traction_level" id="field_traction_level_1" value="1" checked="" class="radio" />
                
                <input type="radio" name="sheets.traction_level" id="field_traction_level_2" value="2" class="radio" />
                
                <input type="radio" name="sheets.traction_level" id="field_traction_level_3" value="3" class="radio" />
                
                
                
                <input type="radio" name="sheets.track_type" id="field_track_type_1" value="1" checked="" class="radio" />
                
                <input type="radio" name="sheets.track_type" id="field_track_type_2" value="2" class="radio" />
                
                <input type="radio" name="sheets.track_type" id="field_track_type_3" value="3" class="radio" />
                
                
                
                <input type="radio" name="sheets.track_size" id="field_track_size_1" value="1" checked="" class="radio" />
                
                <input type="radio" name="sheets.track_size" id="field_track_size_2" value="2" class="radio" />
                
                <input type="radio" name="sheets.track_size" id="field_track_size_3" value="3" class="radio" />
                
                
                
                <input type="checkbox" name="sheets.track_condition[]" id="field_track_condition_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.track_condition[]" id="field_track_condition_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.track_condition[]" id="field_track_condition_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.track_condition[]" id="field_track_condition_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.track_condition[]" id="field_track_condition_5" value="5" class="checkbox" />
                
                <input type="checkbox" name="sheets.track_condition[]" id="field_track_condition_6" value="6" class="checkbox" />
                
                
                
                
                
                <input type="radio" name="sheets.track_surface" id="field_track_surface_1" value="1" class="radio surface" checked="" />
                
                <input type="radio" name="sheets.track_surface" id="field_track_surface_2" value="2" class="radio surface" />
                
                <input type="radio" name="sheets.track_surface" id="field_track_surface_3" value="3" class="radio surface" />
                
                <input type="radio" name="sheets.track_surface" id="field_track_surface_4" value="4" class="radio surface" />
                
                <input type="radio" name="sheets.track_surface" id="field_track_surface_5" value="5" class="radio surface" />
                
                <input type="radio" name="sheets.track_surface" id="field_track_surface_6" value="6" class="radio surface" />
                
                <input type="checkbox" name="sheets.st24[]" id="field_st24_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.st24[]" id="field_st24_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.st24[]" id="field_st24_3" value="3" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.am18[]" id="field_am18_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.am18[]" id="field_am18_2" value="2" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.am26[]" id="field_am26_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.am06s[]" id="field_am06s_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.at21s[]" id="field_at21s_1" value="1" class="checkbox" />
                
                
                
                
                
                <input type="checkbox" name="sheets.ff_mount[]" id="field_ff_mount_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.ff_mount[]" id="field_ff_mount_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.ff_mount[]" id="field_ff_mount_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.ff_mount[]" id="field_ff_mount_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.ff_mount[]" id="field_ff_mount_5" value="5" class="checkbox" />
                
                
                
                <input type="text" maxlength="3" name="sheets.front_spacer_1" id="field_front_spacer_1" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.front_spacer_2" id="field_front_spacer_2" value="%@" />
                
                
                
                <input type="checkbox" name="sheets.fr_mount[]" id="field_fr_mount_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.fr_mount[]" id="field_fr_mount_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.fr_mount[]" id="field_fr_mount_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.fr_mount[]" id="field_fr_mount_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.fr_mount[]" id="field_fr_mount_5" value="5" class="checkbox" />
                
                <input type="checkbox" name="sheets.fr_mount[]" id="field_fr_mount_6" value="6" class="checkbox" />
                
                
                
                
                
                <input type="text" maxlength="3" name="sheets.front_spacer_3" id="field_front_spacer_3" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.front_spacer_4" id="field_front_spacer_4" value="%@" />
                
                
                
                <input type="checkbox" name="sheets.front_spindle_mount[]" id="field_front_spindle_mount_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_spindle_mount[]" id="field_front_spindle_mount_2" value="2" class="checkbox" />
                
                
                
                <input type="text" maxlength="3" name="sheets.front_spacer_5" id="field_front_spacer_5" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.front_spacer_6" id="field_front_spacer_6" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.front_spacer_7" id="field_front_spacer_7" value="%@" />
                
                
                
                <input type="text" maxlength="3" name="sheets.front_gfmm" id="field_front_gfmm_1" value="%@" />
                
                
                
                <input type="text" maxlength="3" name="sheets.front_spacer_8" id="field_front_spacer_8" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.front_spacer_9" id="field_front_spacer_9" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.front_camber" id="field_front_camber" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.front_caster" id="field_front_caster" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.front_toe" id="field_front_toe" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.front_ride_height" id="field_front_ride_height" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.front_downstop" id="field_front_downstop" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.front_upstop" id="field_front_upstop" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.front_stabilizer" id="field_front_stabilizer" value="%@" />
                
                
                <input type="text" maxlength="5" name="sheets.front_lower_arm" id="field_front_lower_arm" value="%@" />
                <input type="checkbox" name="sheets.front_low_arm[]" id="field_front_low_arm_1" value="1" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.front_low_arm[]" id="field_front_low_arm_2" value="2" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.front_steeringarm[]" id="field_front_steeringarm_1" value="1" class="checkbox" />
                
                <input type="text" maxlength="5" name="sheets.front_steerarm" id="field_front_steerarm" value="%@" />
                
                <input type="checkbox" name="sheets.front_steeringarm[]" id="field_front_steeringarm_2" value="2" class="checkbox" />
                
                
                
                <input type="text" maxlength="10" name="sheets.front_wheelspacer" id="field_front_wheelspacer" value="%@" />
                
                
                
                <input type="checkbox" name="sheets.front_spring[]" id="field_front_spring_1" value="1" class="checkbox" />
                
                <input type="text" maxlength="5" name="sheets.f_spring" id="field_f_spring" value="%@" />
                
                <input type="checkbox" name="sheets.front_spring[]" id="field_front_spring_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_damper[]" id="field_front_damper_1" value="1" class="checkbox" />
                
                <input type="text" maxlength="5" name="sheets.f_damper" id="field_f_damper" value="%@" />
                
                <input type="checkbox" name="sheets.front_damper[]" id="field_front_damper_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_action[]" id="field_front_action_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_action[]" id="field_front_action_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_srs[]" id="field_front_srs_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_srs[]" id="field_front_srs_2" value="2" class="checkbox" />
                
                
                
                
                
                <input type="checkbox" name="sheets.front_drive[]" id="field_front_drive_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_drive[]" id="field_front_drive_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_drive[]" id="field_front_drive_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_drive[]" id="field_front_drive_4" value="4" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.front_diffset[]" id="field_front_diffset_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_diffset[]" id="field_front_diffset_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_diffset[]" id="field_front_diffset_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_diffset[]" id="field_front_diffset_4" value="4" class="checkbox" />
                
                <input type="text" maxlength="7" name="sheets.front_diffoil" id="field_front_diffoil" value="%@" />
                
                
                
                <input type="checkbox" name="sheets.front_dogbone[]" id="field_front_dogbone_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_dogbone[]" id="field_front_dogbone_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_dogbone[]" id="field_front_dogbone_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_dogbone[]" id="field_front_dogbone_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.st24[]" id="field_st24_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.st24[]" id="field_st24_5" value="5" class="checkbox" />
                
                <input type="checkbox" name="sheets.st24[]" id="field_st24_6" value="6" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.am18[]" id="field_am18_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.am18[]" id="field_am18_4" value="4" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.am26[]" id="field_am26_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.am06s[]" id="field_am06s_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.at21s[]" id="field_at21s_2" value="2" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.rf_mount[]" id="field_rf_mount_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.rf_mount[]" id="field_rf_mount_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.rf_mount[]" id="field_rf_mount_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.rf_mount[]" id="field_rf_mount_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.rf_mount[]" id="field_rf_mount_5" value="5" class="checkbox" />
                
                
                
                <input type="text" maxlength="3" name="sheets.rear_spacer_1" id="field_rear_spacer_1" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.rear_spacer_2" id="field_rear_spacer_2" value="%@" />
                
                
                
                <input type="checkbox" name="sheets.rr_mount[]" id="field_rr_mount_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.rr_mount[]" id="field_rr_mount_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.rr_mount[]" id="field_rr_mount_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.rr_mount[]" id="field_rr_mount_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.rr_mount[]" id="field_rr_mount_5" value="5" class="checkbox" />
                
                <input type="checkbox" name="sheets.rr_mount[]" id="field_rr_mount_6" value="6" class="checkbox" />
                
                
                
                <input type="text" maxlength="3" name="sheets.rear_spacer_3" id="field_rear_spacer_3" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.rear_spacer_4" id="field_rear_spacer_4" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.rear_spacer_5" id="field_rear_spacer_5" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.rear_spacer_6" id="field_rear_spacer_6" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.rear_spacer_7" id="field_rear_spacer_7" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.rear_spacer_8" id="field_rear_spacer_8" value="%@" />
                
                
                
                <input type="text" maxlength="3" name="sheets.rear_gfmm" id="field_rear_gfmm_1" value="%@" />
                
                
                
                <input type="text" maxlength="3" name="sheets.rear_spacer_9" id="field_rear_spacer_9" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.rear_spacer_10" id="field_rear_spacer_10" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.rear_camber" id="field_rear_camber" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.rear_caster" id="field_rear_caster" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.rear_toe" id="field_rear_toe" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.rear_ride_height" id="field_rear_ride_height" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.rear_downstop" id="field_rear_downstop" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.rear_upstop" id="field_rear_upstop" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.rear_stabilizer" id="field_rear_stabilizer" value="%@" />
                
                
                <input type="text" maxlength="4" name="sheets.rear_lower_arm" id="field_rear_lower_arm" value="%@" />
                <input type="checkbox" name="sheets.rear_low_arm[]" id="field_rear_low_arm_1" value="1" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.rear_low_arm[]" id="field_rear_low_arm_2" value="2" class="checkbox" />
                
                <input type="text" maxlength="4" name="sheets.rear_steerarm" id="field_rear_steerarm" value="%@" />
                
                <input type="checkbox" name="sheets.rear_steeringarm[]" id="field_rear_steeringarm_1" value="1" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.rear_steeringarm[]" id="field_rear_steeringarm_2" value="2" class="checkbox" />
                
                
                
                <input type="text" maxlength="10" name="sheets.rear_wheelspacer" id="field_rear_wheelspacer" value="%@" />
                
                
                
                <input type="checkbox" name="sheets.rear_spring[]" id="field_rear_spring_1" value="1" class="checkbox" />
                
                <input type="text" maxlength="5" name="sheets.r_spring" id="field_r_spring" value="%@" />
                
                <input type="checkbox" name="sheets.rear_spring[]" id="field_rear_spring_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_damper[]" id="field_rear_damper_1" value="1" class="checkbox" />
                
                <input type="text" maxlength="5" name="sheets.r_damper" id="field_r_damper" value="%@" />
                
                <input type="checkbox" name="sheets.rear_damper[]" id="field_rear_damper_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_action[]" id="field_rear_action_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_action[]" id="field_rear_action_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_srs[]" id="field_rear_srs_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_srs[]" id="field_rear_srs_2" value="2" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.rear_drive[]" id="field_rear_drive_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_drive[]" id="field_rear_drive_2" value="2" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.rear_diffset[]" id="field_rear_diffset_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_diffset[]" id="field_rear_diffset_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_diffset[]" id="field_rear_diffset_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_diffset[]" id="field_rear_diffset_4" value="4" class="checkbox" />
                
                <input type="text" maxlength="7" name="sheets.rear_diffoil" id="field_rear_diffoil" value="%@" />
                
                
                
                <input type="checkbox" name="sheets.rear_dogbone[]" id="field_rear_dogbone_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_dogbone[]" id="field_rear_dogbone_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_dogbone[]" id="field_rear_dogbone_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_dogbone[]" id="field_rear_dogbone_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.st27[]" id="field_st27_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.st27[]" id="field_st27_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.st27[]" id="field_st27_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.st27[]" id="field_st27_4" value="4" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.front_five[]" id="field_front_five_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_five[]" id="field_front_five_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_five[]" id="field_front_five_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_five[]" id="field_front_five_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_five[]" id="field_front_five_5" value="5" class="checkbox" />
                
                <input type="text" maxlength="3" name="sheets.weight_1" id="field_weight_1" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.weight_2" id="field_weight_2" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.weight_3" id="field_weight_3" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.weight_4" id="field_weight_4" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.weight_5" id="field_weight_5" value="%@" />
                
                <input type="text" maxlength="3" name="sheets.weight_6" id="field_weight_6" value="%@" />
                
                
                
                <input type="checkbox" name="sheets.rear_eleven[]" id="field_rear_eleven_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_eleven[]" id="field_rear_eleven_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_eleven[]" id="field_rear_eleven_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_eleven[]" id="field_rear_eleven_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_eleven[]" id="field_rear_eleven_5" value="5" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_eleven[]" id="field_rear_eleven_6" value="6" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_eleven[]" id="field_rear_eleven_7" value="7" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_eleven[]" id="field_rear_eleven_8" value="8" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_eleven[]" id="field_rear_eleven_9" value="9" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_eleven[]" id="field_rear_eleven_10" value="10" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_eleven[]" id="field_rear_eleven_11" value="11" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.chassis_type[]" id="field_chassis_type_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.chassis_type[]" id="field_chassis_type_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_six[]" id="field_front_six_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_six[]" id="field_front_six_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_six[]" id="field_front_six_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_six[]" id="field_front_six_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_six[]" id="field_front_six_5" value="5" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_six[]" id="field_front_six_6" value="6" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.center_eight[]" id="field_center_eight_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.center_eight[]" id="field_center_eight_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.center_eight[]" id="field_center_eight_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.center_eight[]" id="field_center_eight_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.center_eight[]" id="field_center_eight_5" value="5" class="checkbox" />
                
                <input type="checkbox" name="sheets.center_eight[]" id="field_center_eight_6" value="6" class="checkbox" />
                
                <input type="checkbox" name="sheets.center_eight[]" id="field_center_eight_7" value="7" class="checkbox" />
                
                <input type="checkbox" name="sheets.center_eight[]" id="field_center_eight_8" value="8" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.rear_three[]" id="field_rear_three_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_three[]" id="field_rear_three_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_three[]" id="field_rear_three_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_holes[]" id="field_front_holes_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_holes[]" id="field_front_holes_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_holes[]" id="field_front_holes_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_holes[]" id="field_front_holes_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_holes[]" id="field_front_holes_5" value="5" class="checkbox" />
                
                <input type="checkbox" name="sheets.front_holes[]" id="field_front_holes_6" value="6" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.center_holes[]" id="field_center_holes_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.center_holes[]" id="field_center_holes_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.center_holes[]" id="field_center_holes_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.center_holes[]" id="field_center_holes_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.center_holes[]" id="field_center_holes_5" value="5" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.rear_holes[]" id="field_rear_holes_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_holes[]" id="field_rear_holes_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_holes[]" id="field_rear_holes_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_holes[]" id="field_rear_holes_4" value="4" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_holes[]" id="field_rear_holes_5" value="5" class="checkbox" />
                
                <input type="checkbox" name="sheets.rear_holes[]" id="field_rear_holes_6" value="6" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.topdeck[]" id="field_topdeck_1" value="1" class="checkbox" />
                
                <input type="text" maxlength="4" name="sheets.topdeck_info" id="field_topdeck_info" value="%@" />
                
                <input type="checkbox" name="sheets.topdeck[]" id="field_topdeck_2" value="2" class="checkbox" />
                
                
                <input type="text" maxlength="3" name="sheets.steering_washer" id="field_steering_washer" value="%@" />
                
                <input type="checkbox" name="sheets.ackerman[]" id="field_ackerman_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.ackerman[]" id="field_ackerman_2" value="2" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.ackerman_position[]" id="field_ackerman_position_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.ackerman_position[]" id="field_ackerman_position_2" value="2" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.am24[]" id="field_am24_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.am24[]" id="field_am24_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.am24[]" id="field_am24_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.fl_tire[]" id="field_fl_tire_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.fl_tire[]" id="field_fl_tire_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.fl_tire[]" id="field_fl_tire_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.fl_tire[]" id="field_fl_tire_4" value="4" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.fr_tire[]" id="field_fr_tire_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.fr_tire[]" id="field_fr_tire_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.fr_tire[]" id="field_fr_tire_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.fr_tire[]" id="field_fr_tire_4" value="4" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.rl_tire[]" id="field_rl_tire_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.rl_tire[]" id="field_rl_tire_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.rl_tire[]" id="field_rl_tire_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.rl_tire[]" id="field_rl_tire_4" value="4" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.rr_tire[]" id="field_rr_tire_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.rr_tire[]" id="field_rr_tire_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.rr_tire[]" id="field_rr_tire_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.rr_tire[]" id="field_rr_tire_4" value="4" class="checkbox" />
                
                
                
                <input type="text" maxlength="12" name="sheets.front_brand" id="field_front_brand" value="%@" />
                
                <input type="text" maxlength="12" name="sheets.front_insert" id="field_front_insert" value="%@" />
                
                <input type="text" maxlength="12" name="sheets.front_wheel" id="field_front_wheel" value="%@" />
                
                <input type="text" maxlength="12" name="sheets.front_additive" id="field_front_additive" value="%@" />
                
                
                
                <input type="text" maxlength="12" name="sheets.rear_tire" id="field_rear_tire" value="%@" />
                
                <input type="text" maxlength="12" name="sheets.rear_insert" id="field_rear_insert" value="%@" />
                
                <input type="text" maxlength="12" name="sheets.rear_wheel" id="field_rear_wheel" value="%@" />
                
                <input type="text" maxlength="12" name="sheets.rear_additive" id="field_rear_additive" value="%@" />
                
                
                <input type="checkbox" name="sheets.motor_layout[]" id="field_motor_layout_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.motor_layout[]" id="field_motor_layout_2" value="2" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.servo_layout[]" id="field_servo_layout_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.servo_layout[]" id="field_servo_layout_2" value="2" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.esc_layout[]" id="field_esc_layout_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.esc_layout[]" id="field_esc_layout_2" value="2" class="checkbox" />
                
                
                
                <input type="checkbox" name="sheets.bat_layout[]" id="field_bat_layout_1" value="1" class="checkbox" />
                
                <input type="checkbox" name="sheets.bat_layout[]" id="field_bat_layout_2" value="2" class="checkbox" />
                
                <input type="checkbox" name="sheets.bat_layout[]" id="field_bat_layout_3" value="3" class="checkbox" />
                
                <input type="checkbox" name="sheets.bat_layout[]" id="field_bat_layout_4" value="4" class="checkbox" />
                
                
                
                <input type="text" maxlength="5" name="sheets.spur" id="field_spur" value="%@" />
                
                <input type="text" maxlength="5" name="sheets.pinion" id="field_pinion" value="%@" />
                
                <input type="text" maxlength="10" name="sheets.fdr" id="field_fdr" value="%@" />
                
                <input type="text" maxlength="20" name="sheets.body" id="field_body" value="%@" />
                
                
                
                <input type="text" maxlength="15" name="sheets.motor" id="field_motor" value="%@" />
                
                <input type="text" maxlength="15" name="sheets.servo" id="field_servo" value="%@" />
                
                <input type="text" maxlength="15" name="sheets.esc" id="field_esc" value="%@" />
                
                <input type="text" maxlength="15" name="sheets.battery" id="field_battery" value="%@" />
                
                <input type="text" maxlength="15" name="sheets.reciever" id="field_reciever" value="%@" />
                
                <input type="text" maxlength="4" name="sheets.offset" id="field_offset" value="%@" />
                
                <input type="text" maxlength="15" name="sheets.wing" id="field_wing" value="%@" />
                
                <input type="text" maxlength="8" name="sheets.lap" id="field_lap" value="%@" />
                
                <input type="text" maxlength="4" name="sheets.qual" id="field_qual" value="%@" />
                
                <input type="text" maxlength="4" name="sheets.final" id="field_final" value="%@" />
                
                <input type="text" maxlength="25" name="sheets.esc_setting" id="field_esc_setting" value="%@" />
                
                <textarea name="sheets.comments" id="field_comments"></textarea>
                
                <input type="text" maxlength="25" name="sheets.contact" id="field_contact" value="%@" />
                
            </div>
            <br/><br/>
            <div id="actions">
                &nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="sheets.check_password" id="check_password" value="1" class="checkbox"  /> set as private
                <p class="placeholding-input">
                <input class = "passwordText" id="password-1" type="password" name="sheets.password" value="%@"/>
                <label class="placeholder-re">PASSWORD</label>
                </p>
            </div>
        </form>
        <input id="selector"  style="visibility:hidden" name="selector" value="#testForm">
            </div>
</body>
</html>
