input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	top: 687px;
	left: 157px;
	width: 20px;
	bottom: 301775px;
	height: 20px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	top: 687px;
	left: 157px;
	width: 20px;
	bottom: 301775px;
	height: 20px;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
	height:26px;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1335px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:70px;
	left: 588px;
	top: 4px;
	width: 256px;
}
#field_name {
padding-left:70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:60px;
	left: 152px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 82px;
}
#field_traction_level_2 {
	left: 258px;
	top: 82px;
}
#field_traction_level_3 {
	left: 347px;
	top: 83px;
}
#field_track_type_1 {
	left: 428px;
	top: 81px;
}
#field_track_type_2 {
	left: 492px;
	top: 83px;
}
#field_track_type_3 {
	left: 577px;
	top: 83px;
}
#field_track_size_1 {
	left: 674px;
	top: 83px;
}
#field_track_size_2 {
	left: 747px;
	top: 84px;
}
#field_track_size_3 {
	left: 832px;
	top: 84px;
}
#field_track_condition_1 {
	left: 195px;
	top: 130px;
}
#field_track_condition_2 {
	left: 279px;
	top: 132px;
}
#field_track_condition_3 {
	left: 391px;
	top: 129px;
}
#field_track_condition_4 {
	left: 195px;
	top: 158px;
}
#field_track_condition_5 {
	left: 279px;
	top: 159px;
}
#field_track_condition_6 {
	left: 391px;
	top: 159px;
}
#field_track_surface_1 {
	left: 550px;
	top: 128px;
}
#field_track_surface_2 {
	left: 690px;
	top: 128px;
}
#field_track_surface_3 {
	left: 804px;
	top: 129px;
}
#field_track_surface_4 {
	left: 551px;
	top: 155px;
}
#field_track_surface_5 {
	left: 691px;
	top: 153px;
}
#field_track_surface_6 {
	left: 804px;
	top: 154px;
}

#password, #password-1{
	width:200px;
	background:#fff;
}

#field_st24_1{
	left: 45px;
	top:217px;
}
#field_st24_2{
	left: 47px;
	top:351px;
}
#field_st24_3{
	left: 237px;
	top:341px;
}

#field_am18_1{
	left: 44px;
	top:244px;
}

#field_am18_2{
	left: 46px;
	top:329px;
}

#field_am26_1{
	left: 427px;
	top:195px;
}

#field_am06s_1{
	left: 427px;
	top:220px;
}

#field_at21s_1{
	left: 45px;
	top:422px;
}

#field_ff_mount_1{
	left: 122px;
	top:389px;
}

#field_ff_mount_2{
	left: 143px;
	top:388px;
}

#field_ff_mount_3{
	left: 166px;
	top:387px;
}

#field_ff_mount_4{
	left: 188px;
	top:389px;
}

#field_ff_mount_5{
	left: 210px;
	top:390px;
}

#field_front_spacer_1{
	left: 19px;
	top:265px;
	width:25px;
}

#field_front_spacer_2{
	left: 21px;
	top:293px;
	width:26px;
}
#field_fr_mount_1{
	left: 159px;
	top:192px;
}

#field_fr_mount_2{
	left: 182px;
	top:193px;
}

#field_fr_mount_3{
	left: 204px;
	top:193px;
}

#field_fr_mount_4{
	left: 226px;
	top:193px;
}

#field_fr_mount_5{
	left: 249px;
	top:193px;
}

#field_fr_mount_6{
	left: 269px;
	top:193px;
}


#field_front_spacer_3{
	left: 20px;
	top:377px;
	width:27px;
}

#field_front_spacer_4{
	left: 19px;
	top:460px;
	width:28px;
}

#field_front_spindle_mount_1{
	left: 305px;
	top:193px;
}

#field_front_spindle_mount_2{
	left: 328px;
	top:193px;
}
#field_front_spacer_5{
	left: 402px;
	top:239px;
	width:35px;
}
#field_front_spacer_6{
	left: 402px;
	top:375px;
	width:31px;
}

#field_front_spacer_7{
	left: 401px;
	top:403px;
	width:33px;
}

#field_front_gfmm_1{
	left: 269px;
	top:445px;
	width:33px;
}

#field_front_spacer_8{
	left: 357px;
	top:451px;
	width:31px;
}

#field_front_spacer_9{
	left: 359px;
	top:582px;
	width:31px;
}

#field_front_camber{
padding-left: 128px;
	left: 0px;
	top:506px;
	width:83px;
}

#field_front_caster{
padding-left: 127px;
	left: 0px;
	top:531px;
	width:84px;
}

#field_front_ride_height{
padding-left: 122px;
	left: 0px;
	top:575px;
	width:87px;
}

#field_front_downstop{
padding-left: 122px;
	left: 0px;
	top:599px;
	width:91px;
}
#field_front_upstop{
padding-left: 110px;
	left: 0px;
	top:624px;
	width:104px;
}

#field_front_stabilizer{
padding-left: 132px;
	left: 0px;
	top:644px;
	width:75px;
}

#field_front_low_arm_1{
	left: 127px;
	top:669px;
}

#field_front_toe{
padding-left: 111px;
	left: 0px;
	top:553px;
	width:103px;
}

#field_front_lower_arm{
padding-left: 153px;
	left: 0px;
	top:664px;
	width:35px;
}

#field_front_low_arm_2{
	left: 191px;
	top:664px;
}

#field_front_steeringarm_1{
	left: 127px;
	top:691px;
}

#field_front_steeringarm_2{
	left: 191px;
	top:692px;
}

#field_front_wheelspacer{
padding-left: 148px;
	left: 0px;
	top:715px;
	width:58px;
}

#field_front_spring_1{
	left: 330px;
	top:647px;
}

#field_f_spring{
	left: 365px;
	top:650px;
	width:48px;
}
#field_front_spring_2{
	left: 426px;
	top:647px;
}

#field_front_damper_1{
	left: 330px;
	top:669px;
}

#field_f_damper{
	left: 360px;
	top:673px;
	width:48px;
}

#field_front_damper_2{
	left: 427px;
	top:670px;
}
#field_front_action_1{
	left: 330px;
	top:692px;
}

#field_front_action_2{
	left: 427px;
	top:692px;
}

#field_front_srs_1{
	left: 330px;
	top:716px;
}

#field_front_srs_2{
	left: 429px;
	top:717px;
}

#field_front_drive_1{
	left: 190px;
	top:738px;
}
#field_front_drive_2{
	left: 281px;
	top:738px;
}

#field_front_drive_3{
	left: 347px;
	top:737px;
}
#field_front_drive_4{
	left: 428px;
	top:740px;
}
#field_front_diffset_1{
	left: 128px;
	top:764px;
}
#field_front_diffset_2{
	left: 211px;
	top:764px;
}

#field_front_diffset_3{
	left: 283px;
	top:764px;
}
#field_front_diffset_4{
	left: 347px;
	top:765px;
}


#field_front_diffoil{
	left: 384px;
	top:767px;
	width:54px;
}

#field_front_dogbone_1{
	left: 190px;
	top:793px;
}
#field_front_dogbone_2{
	left: 285px;
	top:793px;
}

#field_front_dogbone_3{
	left: 347px;
	top:793px;
}

#field_front_dogbone_4{
	left: 429px;
	top:793px;
}

#field_st24_4{
	left: 892px;
	top:213px;
}
#field_st24_5{
	left: 640px;
	top:341px;
}
#field_st24_6{
	left: 893px;
	top:332px;
}
#field_am18_3{
	left: 892px;
	top:310px;
}
#field_am18_4{
	left: 892px;
	top:237px;
}
#field_am26_2{
	left: 512px;
	top:185px;
}

#field_am06s_2{
	left: 511px;
	top:207px;
}
#field_at21s_2{
	left: 892px;
	top:436px;
}

#field_rf_mount_1{
	left: 695px;
	top:401px;
}

#field_rf_mount_2{
	left: 717px;
	top:400px;
}

#field_rf_mount_3{
	left: 740px;
	top:400px;
}

#field_rf_mount_4{
	left: 762px;
	top:400px;
}

#field_rf_mount_5{
	left: 783px;
	top:399px;
}

#field_rear_spacer_1{
	left: 484px;
	top:240px;
	width:30px;
}

#field_rear_spacer_2{
	left: 484px;
	top:376px;
	width:30px;
}

#field_rr_mount_1{
	left: 632px;
	top:192px;
}

#field_rr_mount_2{
	left: 654px;
	top:193px;
}

#field_rr_mount_3{
	left: 675px;
	top:193px;
}

#field_rr_mount_4{
	left: 698px;
	top:193px;
}
#field_rr_mount_5{
	left: 720px;
	top:193px;
}

#field_rr_mount_6{
	left: 743px;
	top:193px;
}


#field_rear_spacer_3{
	left: 485px;
	top:403px;
	width:30px;
}

#field_rear_spacer_4{
	left: 867px;
	top:261px;
	width:30px;
}

#field_rear_spacer_5{
	left: 867px;
	top:288px;
	width:30px;
}

#field_rear_spacer_6{
	left: 866px;
	top:394px;
	width:30px;
}

#field_rear_spacer_7{
	left: 866px;
	top:468px;
	width:30px;
}

#field_rear_spacer_8{
	left: 602px;
	top:449px;
	width:30px;
}

#field_rear_gfmm_1{
	left: 688px;
	top:449px;
	width:43px;
}

#field_rear_spacer_9{
	left: 603px;
	top:582px;
	width:30px;
}

#field_rear_spacer_10{
	left: 662px;
	top:604px;
	width:30px;
}

#field_rear_camber{
padding-left:100px;
	left: 727px;
	top:510px;
	width:79px;
}

#field_rear_caster{
padding-left:100px;
	left: 726px;
	top:534px;
	width:79px;
}

#field_rear_toe{
padding-left:100px;
	left:727px;
	top:555px;
	width:79px;
}

#field_rear_ride_height{
padding-left:100px;
	left: 727px;
	top:580px;
	width:79px;
}

#field_rear_downstop{
padding-left:100px;
	left: 726px;
	top:603px;
	width:79px;
}

#field_rear_upstop{
padding-left:100px;
	left: 726px;
	top:623px;
	width:79px;
}

#field_rear_stabilizer{
padding-left:100px;
	left: 729px;
	top:643px;
	width:79px;
}

#field_rear_low_arm_1{
	left: 824px;
	top:666px;
}

#field_rear_lower_arm{
padding-left:130px;
	left: 723px;
	top:667px;
	width:30px;
}

#field_rear_low_arm_2{
	left: 892px;
	top:667px;
}

#field_rear_steeringarm_1{
	left: 823px;
	top:690px;
}

#field_rear_steerarm{
padding-left:120px;
	left: 732px;
	top:694px;
	width:30px;
}

#field_rear_steeringarm_2{
	left: 893px;
	top:691px;
}

#field_rear_wheelspacer{
padding-left:120px;
	left: 727px;
	top:710px;
	width:59px;
}

#field_rear_spring_1{
	left:578px;
	top:645px;
}


#field_r_spring{
	left:608px;
	top:652px;
	width:42px;
}

#field_rear_spring_2{
	left:674px;
	top:645px;
}

#field_rear_damper_1{
	left:578px;
	top:670px;
}

#field_r_damper{
	left:608px;
	top:672px;
	width:37px;
}
#field_rear_damper_2{
	left:674px;
	top:669px;
}

#field_rear_action_1{
	left:578px;
	top:690px;
}
#field_rear_action_2{
	left:674px;
	top:688px;
}

#field_rear_srs_1{
	left:577px;
	top:714px;
}

#field_rear_srs_2{
	left:674px;
	top:710px;
}


#field_rear_drive_1{
	left:752px;
	top:739px;
}

#field_rear_drive_2{
	left:892px;
	top:739px;
}
#field_rear_diffset_1{
	left:578px;
	top:759px;
}

#field_rear_diffset_2{
	left:674px;
	top:762px;
}
#field_rear_diffset_3{
	left:752px;
	top:761px;
}
#field_rear_diffset_4{
	left:824px;
	top:762px;
}

#field_rear_diffoil{
	left:859px;
	top:765px;
	width:46px;
}

#field_rear_dogbone_1{
	left:674px;
	top:790px;
}

#field_rear_dogbone_2{
	left:751px;
	top:790px;
}

#field_rear_dogbone_3{
	left:825px;
	top:789px;
}

#field_rear_dogbone_4{
	left:893px;
	top:788px;
}


#field_st27_1{
	left:64px;
	top:937px;
}


#field_st27_2{
	left:392px;
	top:828px;
}

#field_st27_3{
	left:393px;
	top:929px;
}

#field_st27_4{
	left:63px;
	top:827px;
}



#field_front_five_1{
	left:28px;
	top:858px;
}

#field_front_five_2{
	left:26px;
	top:900px;
}

#field_front_five_3{
	left:49px;
	top:857px;
}

#field_front_five_4{
	left:49px;
	top:901px;
}

#field_front_five_5{
	left:77px;
	top:880px;
}

#field_weight_1{
	top:883px;
	left:109px;
	width:24px;
}
#field_weight_2{
	top:883px;
	left:140px;
	width:24px;
}

#field_weight_3{
	top:883px;
	left:172px;
	width:25px;
}
#field_weight_4{
	top:883px;
	left:204px;
	width:25px;
}
#field_weight_5{
	top:883px;
	left:237px;
	width:25px;
}
#field_weight_6{
	top:882px;
	left:272px;
	width:27px;
}

#field_rear_eleven_1{
	top:879px;
	left:312px;
}

#field_rear_eleven_2{
	top:880px;
	left:330px;
}

#field_rear_eleven_3{
	top:879px;
	left:346px;
}

#field_rear_eleven_4{
	top:880px;
	left:364px;
}

#field_rear_eleven_5{
	top:907px;
	left:346px;
}

#field_rear_eleven_6{
	top:907px;
	left:364px;
}

#field_rear_eleven_7{
	top:878px;
	left:382px;
}


#field_rear_eleven_8{
	top:859px;
	left:402px;
}

#field_rear_eleven_9{
	top:859px;
	left:424px;
}
#field_rear_eleven_10{
	top:902px;
	left:403px;
}

#field_rear_eleven_11{
	top:902px;
	left:426px;
}




#field_chassis_type_1{
	top:932px;
	left:221px;
}

#field_chassis_type_2{
	top:931px;
	left:311px;
}

#field_front_six_1{
	top:961px;
	left:8px;
}

#field_front_six_2{
	top:996px;
	left:9px;
}

#field_front_six_3{
	top:1022px;
	left:9px;
}

#field_front_six_4{
	top:988px;
	left:40px;
}

#field_front_six_5{
	top:988px;
	left:64px;
}

#field_front_six_6{
	top:989px;
	left:87px;
}


#field_center_eight_1{
	top:991px;
	left:183px;
}

#field_center_eight_2{
	top:990px;
	left:207px;
}

#field_center_eight_3{
	top:990px;
	left:231px;
}

#field_center_eight_4{
	top:989px;
	left:255px;
}

#field_center_eight_5{
	top:989px;
	left:278px;
}

#field_center_eight_6{
	top:989px;
	left:301px;
}

#field_center_eight_7{
	top:989px;
	left:323px;
}

#field_center_eight_8{
	top:989px;
	left:348px;
}




#field_rear_three_1{
	top:968px;
	left:428px;
}

#field_rear_three_2{
	top:991px;
	left:428px;
}

#field_rear_three_3{
	top:1018px;
	left:428px;
}



#field_front_holes_1{
	top:1038px;
	left:9px;
}
#field_front_holes_2{
	top:1063px;
	left:9px;
}

#field_front_holes_3{
	top:1090px;
	left:9px;
}

#field_front_holes_4{
	top:1055px;
	left:40px;
}

#field_front_holes_5{
	top:1055px;
	left:62px;
}

#field_front_holes_6{
	top:1057px;
	left:87px;
}

#field_center_holes_1{
	top:1064px;
	left:178px;
}

#field_center_holes_2{
	top:1063px;
	left:202px;
}

#field_center_holes_3{
	top:1063px;
	left:222px;
}

#field_center_holes_4{
	top:1063px;
	left:244px;
}

#field_center_holes_5{
	top:1063px;
	left:269px;
}

#field_center_holes_6{
	 top:1056px;
	left:229px;
}


#field_rear_holes_1{
	top:1065px;
	left:348px;
}

#field_rear_holes_2{
	top:1064px;
	left:373px;
}

#field_rear_holes_3{
	top:1064px;
	left:397px;
}
#field_rear_holes_4{
	top:1043px;
	left:428px;
}

#field_rear_holes_5{
	top:1064px;
	left:428px;
}

#field_rear_holes_6{
	top:1088px;
	left:428px;
}

#field_topdeck_1{
	top:1089px;
	left:192px;
}


#field_topdeck_info{
	top:1085px;
	left:221px;
	width:45px;
}

#field_topdeck_2{
	top:1085px;
	left:281px;
}


#field_steering_washer{
	top:1127px;
	left:121px;
	width:24px;
}

#field_ackerman_1{
	top:1232px;
	left:264px;
}

#field_ackerman_2{
	top:1201px;
	left:263px;
}

#field_ackerman_position_1{
	top:1155px;
	left:336px;
}

#field_ackerman_position_2{
	top:1152px;
	left:427px;
}

#field_am24_1{
	top:1181px;
	left:428px;
}

#field_am24_2{
	top:1208px;
	left:428px;
}

#field_am24_3{
	top:1232px;
	left:428px;
}

#field_fl_tire_1{
	top:865px;
	left:467px;
}

#field_fl_tire_2{
	top:865px;
	left:479px;
}

#field_fl_tire_3{
	top:865px;
	left:490px;
}

#field_fl_tire_4{
	top:865px;
	left:498px;
}


#field_fr_tire_1{
	top:865px;
	left:514px;
}

#field_fr_tire_2{
	top:865px;
	left:526px;
}

#field_fr_tire_3{
	top:865px;
	left:536px;
}

#field_fr_tire_4{
	top:865px;
	left:550px;
}


#field_rl_tire_1{
	top:865px;
	left:564px;
}

#field_rl_tire_2{
	top:865px;
	left:575px;
}

#field_rl_tire_3{
	top:865px;
	left:586px;
}

#field_rl_tire_4{
	top:865px;
	left:596px;
}

#field_rr_tire_1{
	top:865px;
	left:612px;
}

#field_rr_tire_2{
	top:865px;
	left:623px;
}

#field_rr_tire_3{
	top:865px;
	left:635px;
}

#field_rr_tire_4{
	top:865px;
	left:645px;
}

#field_front_brand{
	top:840px;
	left:733px;
	width:83px;
}

#field_front_insert{
	top:867px;
	left:733px;
	width:85px;
}

#field_front_wheel{
	top:887px;
	left:734px;
	width:83px;
}

#field_front_additive{
	top:912px;
	left:732px;
	width:82px;
}

#field_rear_tire{
	top:840px;
	left:830px;
	width:75px;
}

#field_rear_insert{
	top:865px;
	left:830px;
	width:76px;
}

#field_rear_wheel{
	top:889px;
	left:830px;
	width:78px;
}

#field_rear_additive{
	top:910px;
	left:830px;
	width:78px;
}

#field_motor_layout_1{
	top:943px;
	left:615px;
}

#field_motor_layout_2{
	top:940px;
	left:695px;
}



#field_servo_layout_1{
	top:967px;
	left:615px;
}

#field_servo_layout_2{
	top:966px;
	left:694px;
}


#field_esc_layout_1{
	top:995px;
	left:615px;
}

#field_esc_layout_2{
	top:991px;
	left:694px;
}


#field_bat_layout_1{
	top:1018px;
	left:577px;
}

#field_bat_layout_2{
	top:1017px;
	left:615px;
}

#field_bat_layout_3{
	top:1017px;
	left:656px;
}

#field_bat_layout_4{
	top:1015px;
	left:694px;
}

#field_spur{
	top:1043px;
	left:523px;
	width:67px;
}

#field_pinion{
	top:1041px;
	left:648px;
	width:65px;
}

#field_fdr{
padding-left:130px;
	top:1063px;
	left:462px;
	width:116px;
}
#field_body{
padding-left:60px;
	top:1091px;
	left:459px;
	width:190px;
}
#field_motor{
	top:945px;
	left:780px;
	width:137px;
}

#field_servo{
	top:970px;
	left:779px;
	width:138px;
}

#field_esc{
	top:994px;
	left:779px;
	width:139px;
}

#field_battery{
	top:1014px;
	left:796px;
	width:117px;
}

#field_reciever{
	top:1039px;
	left:796px;
	width:114px;
}
#field_offset{
	top:1065px;
	left:862px;
	width:65px;
}

#field_wing{
	top:1091px;
	left:776px;
	width:128px;
}

#field_lap{
padding-left:70px;
	top:1118px;
	left:500px;
	width:65px;
}

#field_qual{
	top:1120px;
	left:800px;
	width:48px;
}

#field_final{
	top:1120px;
	left:858px;
	width:65px;
}

#field_esc_setting{
padding-left:100px;
	top:1143px;
	left:458px;
	width:322px;
}

#field_comments{
	top:1190px;
	left:547px;
	font-family: arial,tahoma,sans-serif;
	height: 67px;
	width: 364px;
}


#field_contact{
padding-left:80px;
	top:1256px;
	left:450px;
	width:322px;
}
