input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 0px;
    position: absolute;
	top: 963px;
	left: 570px;
	width: 18px;
	bottom: -3px;
	height: 21px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
	height:26px;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1345px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
    padding-left:70px;
	left: 578px;
	top: 4px;
	width: 256px;
}
#field_name {
    padding-left: 70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
    padding-left: 60px;
	left: 152px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {

    padding-left: 70px;
	left: 581px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 82px;
}
#field_traction_level_2 {
	left: 258px;
	top: 82px;
}
#field_traction_level_3 {
	left: 347px;
	top: 83px;
}
#field_track_type_1 {
	left: 428px;
	top: 81px;
}
#field_track_type_2 {
	left: 492px;
	top: 83px;
}
#field_track_type_3 {
	left: 577px;
	top: 83px;
}
#field_track_size_1 {
	left: 674px;
	top: 83px;
}
#field_track_size_2 {
	left: 747px;
	top: 84px;
}
#field_track_size_3 {
	left: 832px;
	top: 84px;
}
#field_track_condition_1 {
	left: 195px;
	top: 130px;
}
#field_track_condition_2 {
	left: 279px;
	top: 132px;
}
#field_track_condition_3 {
	left: 391px;
	top: 129px;
}
#field_track_condition_4 {
	left: 195px;
	top: 158px;
}
#field_track_condition_5 {
	left: 279px;
	top: 159px;
}
#field_track_condition_6 {
	left: 391px;
	top: 159px;
}
#field_track_surface_1 {
	left: 550px;
	top: 128px;
}
#field_track_surface_2 {
	left: 690px;
	top: 128px;
}
#field_track_surface_3 {
	left: 804px;
	top: 129px;
}
#field_track_surface_4 {
	left: 551px;
	top: 155px;
}
#field_track_surface_5 {
	left: 691px;
	top: 153px;
}
#field_track_surface_6 {
	left: 804px;
	top: 154px;
}

#password, #password-1{
	width:200px;
	background:#fff;
}

#field_front_ride_height{
	top:222px;
	left:19px;
	width:129px;
}

#field_front_camber{
	top:265px;
	left:24px;
	width:137px;
}
#field_front_toe{
	top:308px;
	left:40px;
	width:116px;
}
#field_front_swaybar{
	top:354px;
	left:24px;
	width:124px;
}

#field_front_swaybar_link{
	top:399px;
	left:21px;
	width:127px;
}

#field_front_droop{
	top:443px;
	left:22px;
	width:127px;
}

#field_front_notes{
	top:498px;
	left:23px;
	width:145px;
	font-family: arial,tahoma,sans-serif;
	height: 50px;
}

#field_front_caster_1{
	top:241px;
	left:251px;
}
#field_front_caster_2{
	top:241px;
	left:291px;
}
#field_front_caster_3{
	top:241px;
	left:331px;
}
#field_front_caster_4{
	top:241px;
	left:371px;
}

#field_front_top_hub_spacer{
	top:266px;
	left:296px;
	width:27px;
}
#field_bump_steer_washers{
	top:295px;
	left:196px;
	width:27px;
}
#field_front_rear_block_spacer{
	top:372px;
	left:197px;
	width:27px;
}

#field_front_bottom_hub_spacer{
	top:353px;
	left:368px;
	width:27px;
}

#field_front_block_spacer{
	top:326px;
	left:367px;
	width:27px;
}

#field_front_steering_insert_1{
	top:267px;
	left:357px;
}

#field_front_steering_insert_2{
	top:285px;
	left:357px;
}


#field_front_steering_insert_3{
	top:302px;
	left:357px;
}
#field_front_steering_insert_4{
	top:268px;
	left:384px;
}
#field_front_steering_insert_5{
	top:288px;
	left:386px;
}

#field_front_caster_hole_1{
	top:419px;
	left:353px;
}

#field_front_caster_hole_2{
	top:439px;
	left:355px;
}



#field_front_tower_mount_1{
	top:257px;
	left:561px;
}

#field_front_tower_mount_2{
	top:258px;
	left:581px;
}

#field_front_tower_mount_3{
	top:258px;
	left:600px;
}
#field_front_camber_mount_1{
	top:420px;
	left:488px;
}

#field_front_camber_mount_2{
	top:401px;
	left:487px;
}
#field_front_camber_spacers{
	top:447px;
	left:456px;
	width:25px;
}
#field_front_arm_mount_1{
	top:506px;
	left:420px;
}

#field_front_arm_mount_2{
	top:505px;
	left:441px;
}

#field_front_spring{
	top:272px;
	left:775px;
	width:124px;
}
#field_front_shock_rebound{
	top:316px;
	left:777px;
	width:107px;
}
#field_front_shock_preload{
	top:359px;
	left:778px;
	width:96px;
}

#field_front_oil{
	top:403px;
	left:776px;
	width:107px;
}

#field_front_piston{
	top:446px;
	left:776px;
	width:120px;
}

#field_front_shock_length{
	top:492px;
	left:776px;
	width:103px;
}
#field_front_shock_notes{
	top:546px;
	left:781px;
	width:117px;
	height:27px;
	font-family: arial,tahoma,sans-serif;
}






#field_rear_shock_notes{
	top:529px;
	left:778px;
	width:117px;
	font-family: arial,tahoma,sans-serif;
	height: 50px;
}

#field_front_shock_size_1{
	top:533px;
	left:656px;
}

#field_front_shock_size_2{
	top:556px;
	left:657px;
}
#field_rear_ride_height{
	top:592px;
	left:23px;
	width:117px;
}
#field_rear_camber{
	top:636px;
	left:23px;
	width:121px;	
}
#field_rear_swaybar{
	top:679px;
	left:22px;
	width:121px;
}

#field_rear_swaybar_link{
	top:723px;
	left:23px;
	width:121px;
}
#field_rear_droop{
	top:771px;
	left:21px;
	width:121px;
}

#field_rear_notes{
	top:832px;
	width:145px;
	font-family: arial,tahoma,sans-serif;
	height: 54px;
	left:18px;
}

#field_rear_wing{
	top:634px;
	width:153px;
	left:198px;
}
#field_rear_toe_1{
	top:721px;
	left:199px;
}
#field_rear_toe_2{
	top:736px;
	left:200px;
}
#field_rear_toe_3{
	top:752px;
	left:200px;
}
#field_rear_toe_4{
	top:769px;
	left:200px;
}
#field_rear_toe_5{
	top:720px;
	left:241px;
}
#field_rear_toe_6{
	top:736px;
	left:241px;
}
#field_rear_toe_7{
	top:753px;
	left:241px;
}
#field_rear_tower_mount_1{
	top:718px;
	left:418px;
}
#field_rear_tower_mount_2{
	top:717px;
	left:439px;
}
#field_rear_tower_mount_3{
	top:717px;
	left:458px;
}

#field_rear_ballstud_spacers{
	top:767px;
	left:417px;
	width:28px;
}

#field_rear_hub_mount_1{
	top:771px;
	left:313px;
}


#field_rear_hub_mount_2{
	top:771px;
	left:333px;
}


#field_rear_hub_mount_3{
	top:772px;
	left:352px;
}

#field_rear_hub_mount_4{
	top:771px;
	left:371px;
}

#field_rear_arm_mount_1{
	top:817px;
	left:401px;
}
#field_rear_arm_mount_2{
	top:817px;
	left:420px;
}
#field_rear_arm_mount_3{
	top:816px;
	left:441px;
}



#field_rear_spring{
	top:661px;
	left:776px;
	width:128px;
}

#field_rear_shock_rebound{
	top:704px;
	left:776px;
	width:104px;
}

#field_rear_shock_preload{
	top:749px;
	left:777px;
	width:98px;
}

#field_rear_oil{
	top:793px;
	left:779px;
	width:101px;
}

#field_rear_piston{
	top:835px;
	left:779px;
	width:100px;
}

#field_rear_shock_length{
	top:880px;
	left:779px;
	width:99px;
}

#field_rear_length{
	top:841px;
	left:779px;
	width:128px;
	background:red;
}

#field_rear_shock_notes{
	top:930px;
	left:779px;
	width:121px;
	font-family: arial,tahoma,sans-serif;
	height: 31px;
}

#field_rear_shock_size_1{
	top:924px;
	left:657px;
}
#field_rear_shock_size_2{
	top:945px;
	left:657px;
}

#field_motor{
	top:932px;
	left:19px;
	width:145px;
}
#field_spur{
	top:975px;
	left:22px;
	width:145px;
}
#field_pinion{
	top:1020px;
	left:23px;
	width:145px;
}

#field_battery{
	top:1066px;
	left:21px;
	width:145px;
}

#field_esc_settings{
	top:1111px;
	left:21px;
	width:145px;
}
#field_diff_typen_1{
	top:1158px;
	left:11px;
}

#field_diff_type_2{
	top:1156px;
	left:84px;
}

#field_diff_oil{
	top:1196px;
	left:17px;
	width:134px;
}
#field_body{
	top:1229px;
	left:17px;
	width:144px;
}


#field_weight_1{
	top:938px;
	left:200px;
}


#field_weight_2{
	top:954px;
	left:200px;
}


#field_weight_3{
	top:971px;
	left:200px;
}

#field_chassis_type_1{
	top:936px;
	left:307px;
}

#field_chassis_type_2{
	top:952px;
	left:307px;
}


#field_chassis_type_3{
	top:969px;
	left:307px;
}

#field_fcb_1{
	top:1224px;
	left:292px;
}

#field_fcb_2{
	top:1224px;
	left:315px;
}


#field_fcb_3{
	top:1225px;
	left:337px;
}

#field_kickup_1{
	top:936px;
	left:447px;
}
#field_kickup_2{
	top:954px;
	left:447px;
}
#field_kickup_3{
	top:968px;
	left:447px;
}
#field_battery_postion_1{
	top:1195px;
	left:384px;
}
#field_battery_postion_2{
	top:1211px;
	left:384px;
}
#field_battery_postion_3{
	top:1227px;
	left:384px;
}

#field_motor_postion_1{
	top:998px;
	left:547px;
}

#field_motor_postion_2{
	top:1014px;
	left:548px;
}
#field_gear_1{
	top:1142px;
	left:551px;
}

#field_gear_2{
	top:1160px;
	left:552px;
}





#field_wheelbase_front_shims{
	top:1228px;
	left:477px;
}

#field_wheelbase_rear_shims{
	top:1227px;
	left:563px;
}

#field_front_brand{
	top:1047px;
	left:662px;
	width:114px;
}
#field_front_tread{
	top:1081px;
	left:662px;
	width:114px;
}

#field_front_compound{
	top:1115px;
	left:665px;
	width:114px;
}

#field_front_insert{
	top:1148px;
	left:664px;
	width:114px;
}
#field_front_wheel{
	top:1182px;
	left:665px;
	width:114px;
}


#field_rear_brand{
	top:1047px;
	left:786px;
	width:114px;
}
#field_rear_tread{
	top:1081px;
	left:788px;
	width:114px;
}

#field_rear_compound{
	top:1114px;
	left:786px;
	width:114px;
}

#field_rear_insert{
	top:1148px;
	left:788px;
	width:114px;
}
#field_rear_wheel{
	top:1181px;
	left:786px;
	width:114px;
}

#field_tyre_notes{
    padding-left:70px;
	top:1223px;
	left:602px;
	width:218px;
	font-family: arial,tahoma,sans-serif;
	height: 31px;
}
#field_qual_position{
	top:1275px;
	left:418px;
	width:47px;
}
#field_final_position{
	top:1276px;
	left:588px;
	width:40px;
}

#field_avg_lap{
	top:1307px;
	left:131px;
	width:83px;
}
#field_best_lap{
	top:1307px;
	left:348px;
	width:86px;
}

#field_race_time{
	top:1308px;
	left:543px;
	width:87px;
}
