input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	top: 963px;
	left: 570px;
	width: 18px;
	bottom: -3px;
	height: 21px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}

select{
	height:26px;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1345px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
	padding-left:70px;
	left: 578px;
	top: 4px;
	width: 256px;
}
#field_name {
    padding-left: 70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
	padding-left: 60px;
	left: 152px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
	padding-left: 70px;
	left: 581px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 82px;
}
#field_traction_level_2 {
	left: 258px;
	top: 84px;
}
#field_traction_level_3 {
	left: 347px;
	top: 83px;
}
#field_track_type_1 {
	left: 428px;
	top: 84px;
}
#field_track_type_2 {
	left: 492px;
	top: 85px;
}
#field_track_type_3 {
	left: 577px;
	top: 84px;
}
#field_track_size_1 {
	left: 674px;
	top: 83px;
}
#field_track_size_2 {
	left: 747px;
	top: 84px;
}
#field_track_size_3 {
	left: 832px;
	top: 84px;
}
#field_track_condition_1 {
	left: 195px;
	top: 130px;
}
#field_track_condition_2 {
	left: 279px;
	top: 132px;
}
#field_track_condition_3 {
	left: 391px;
	top: 129px;
}
#field_track_condition_4 {
	left: 195px;
	top: 158px;
}
#field_track_condition_5 {
	left: 279px;
	top: 159px;
}
#field_track_condition_6 {
	left: 391px;
	top: 159px;
}
#field_track_surface_1 {
	left: 550px;
	top: 128px;
}
#field_track_surface_2 {
	left: 690px;
	top: 128px;
}
#field_track_surface_3 {
	left: 804px;
	top: 129px;
}
#field_track_surface_4 {
	left: 551px;
	top: 155px;
}
#field_track_surface_5 {
	left: 691px;
	top: 153px;
}
#field_track_surface_6 {
	left: 804px;
	top: 154px;
}

#field_front_ride_height{
	top:221px;
	left:27px;
	width:113px;
}

#field_front_camber{
	top:265px;
	left:23px;
	width:137px;
}
#field_front_toe{
	top:309px;
	left:44px;
	width:110px;
}
#field_front_swaybar{
	top:354px;
	left:24px;
	width:124px;
}

#field_front_swaybar_link{
	top:399px;
	left:21px;
	width:127px;
}

#field_front_droop{
	top:443px;
	left:22px;
	width:127px;
}

#field_front_notes{
	top:498px;
	left:23px;
	width:145px;
	font-family: arial,tahoma,sans-serif;
	height: 50px;
}

#field_front_caster_1{
	top:238px;
	left:249px;
}
#field_front_caster_2{
	top:239px;
	left:289px;
}
#field_front_caster_3{
	top:239px;
	left:329px;
}
#field_front_caster_4{
	top:240px;
	left:370px;
}

#field_front_top_hub_spacer{
	top:267px;
	left:294px;
	width:27px;
}
#field_bump_steer_washers{
	top:296px;
	left:194px;
	width:27px;
}
#field_front_rear_block_spacer{
	top:372px;
	left:194px;
	width:27px;
}

#field_front_bottom_hub_spacer{
	top:350px;
	left:366px;
	width:27px;
}

#field_front_block_spacer{
	top:325px;
	left:365px;
	width:27px;
}

#field_front_steering_insert_1{
	top:267px;
	left:357px;
}

#field_front_steering_insert_2{
	top:284px;
	left:357px;
}


#field_front_steering_insert_3{
	top:300px;
	left:357px;
}
#field_front_steering_insert_4{
	top:267px;
	left:384px;
}
#field_front_steering_insert_5{
	top:284px;
	left:384px;
}

#field_front_caster_hole_1{
	top:419px;
	left:351px;
}

#field_front_caster_hole_2{
	top:439px;
	left:352px;
}



#field_front_tower_mount_1{
	top:257px;
	left:561px;
}

#field_front_tower_mount_2{
	top:258px;
	left:581px;
}

#field_front_tower_mount_3{
	top:258px;
	left:600px;
}
#field_front_camber_mount_1{
	top:439px;
	left:475px;
}

#field_front_camber_mount_2{
	top:419px;
	left:475px;
}
#field_front_camber_spacers{
	top:455px;
	left:403px;
	width:25px;
}
#field_front_arm_mount_1{
	top:493px;
	left:407px;
}

#field_front_arm_mount_2{
	top:492px;
	left:427px;
}

#field_front_spring{
	top:274px;
	left:779px;
	width:124px;
}
#field_front_shock_rebound{
	top:317px;
	left:779px;
	width:107px;
}
#field_front_shock_preload{
	top:362px;
	left:780px;
	width:96px;
}

#field_front_oil{
	top:406px;
	left:780px;
	width:104px;
}

#field_front_piston{
	top:449px;
	left:780px;
	width:106px;
}

#field_front_shock_length{
	top:495px;
	left:776px;
	width:103px;
}

#field_front_shock_notes{
	top:544px;
	left:777px;
	font-family: arial,tahoma,sans-serif;
	height: 25px;
	width:123px;
}

#field_rear_shock_notes{
	top:529px;
	left:778px;
	width:117px;
	font-family: arial,tahoma,sans-serif;
	height: 50px;
}

#field_front_shock_size_1{
	top:533px;
	left:656px;
}

#field_front_shock_size_2{
	top:556px;
	left:657px;
}
#field_rear_ride_height{
	top:592px;
	left:23px;
	width:117px;
}
#field_rear_camber{
	top:636px;
	left:23px;
	width:121px;	
}
#field_rear_swaybar{
	top:681px;
	left:22px;
	width:121px;
}

#field_rear_swaybar_link{
	top:727px;
	left:23px;
	width:121px;	
}
#field_rear_droop{
	top:774px;
	left:21px;
	width:121px;
}

#field_rear_notes{
	top:832px;
	width:145px;
	font-family: arial,tahoma,sans-serif;
	height: 54px;
	left:18px;
}

#field_rear_wing{
	top:636px;
	width:153px;
	left:198px;
}
#field_rear_toe_1{
	top:721px;
	left:197px;
}
#field_rear_toe_2{
	top:736px;
	left:197px;
}
#field_rear_toe_3{
	top:752px;
	left:197px;
}
#field_rear_toe_4{
	top:769px;
	left:197px;
}
#field_rear_toe_5{
	top:721px;
	left:240px;
}
#field_rear_toe_6{
	top:738px;
	left:240px;
}
#field_rear_toe_7{
	top:755px;
	left:240px;
}
#field_rear_tower_mount_1{
	top:717px;
	left:418px;
}
#field_rear_tower_mount_2{
	top:717px;
	left:439px;
}
#field_rear_tower_mount_3{
	top:717px;
	left:458px;
}

#field_rear_ballstud_spacers{
	top:772px;
	left:418px;
	width:20px;
}

#field_rear_hub_mount_1{
	top:776px;
	left:313px;
}


#field_rear_hub_mount_2{
	top:776px;
	left:333px;
}


#field_rear_hub_mount_3{
	top:776px;
	left:352px;
}

#field_rear_hub_mount_4{
	top:775px;
	left:371px;
}

#field_rear_arm_mount_1{
	top:820px;
	left:401px;
}
#field_rear_arm_mount_2{
	top:821px;
	left:420px;
}
#field_rear_arm_mount_3{
	top:822px;
	left:440px;
}



#field_rear_spring{
	top:664px;
	left:781px;
	width:120px;
}

#field_rear_shock_rebound{
	top:710px;
	left:781px;
	width:101px;
}

#field_rear_shock_preload{
	top:752px;
	left:780px;
	width:93px;
}

#field_rear_oil{
	top:797px;
	left:781px;
	width:95px;
}

#field_rear_piston{
	top:840px;
	left:780px;
	width:112px;
}
#field_rear_shock_length{
	top:884px;
	left:778px;
	width:102px;
}

#field_rear_length{
	top:841px;
	left:779px;
	width:128px;
}

#field_rear_shock_notes{
	top:933px;
	left:780px;
	width:121px;
	font-family: arial,tahoma,sans-serif;
	height: 31px;
}

#field_rear_shock_size_1{
	top:924px;
	left:657px;
}
#field_rear_shock_size_2{
	top:945px;
	left:657px;
}

#field_motor{
	top:936px;
	left:19px;
	width:145px;
}
#field_spur{
	top:981px;
	left:22px;
	width:145px;
}
#field_pinion{
	top:1025px;
	left:23px;
	width:145px;
}

#field_battery{
	top:1073px;
	left:21px;
	width:145px;
}

#field_esc_settings{
	top:1118px;
	left:21px;
	width:145px;
}
#field_diff_typen_1{
	top:1159px;
	left:8px;
}

#field_diff_type_2{
	top:1160px;
	left:79px;
}

#field_diff_oil{
	top:1202px;
	left:17px;
	width:134px;
}
#field_body{
	top:1236px;
	left:19px;
	width:144px;
}


#field_weight_1{
	top:938px;
	left:196px;
}


#field_weight_2{
	top:955px;
	left:196px;
}


#field_weight_3{
	top:971px;
	left:196px;
}

#field_chassis_type_1{
	top:941px;
	left:265px;
}

#field_chassis_type_2{
	top:957px;
	left:265px;
}


#field_chassis_type_3{
	top:974px;
	left:265px;
}

#field_chassis_length_1{
	top:939px;
	left:379px;
}

#field_chassis_length_2{
	top:957px;
	left:379px;
}



#field_fcb_1{
	top:1230px;
	left:291px;
}

#field_fcb_2{
	top:1230px;
	left:313px;
}


#field_fcb_3{
	top:1229px;
	left:336px;
}

#field_kickup_1{
	top:940px;
	left:495px;
}
#field_kickup_2{
	top:956px;
	left:495px;
}
#field_kickup_3{
	top:973px;
	left:495px;
}
#field_battery_postion_1{
	top:1197px;
	left:380px;
}
#field_battery_postion_2{
	top:1214px;
	left:381px;
}
#field_battery_postion_3{
	top:1231px;
	left:381px;
}

#field_motor_postion_1{
	top:999px;
	left:573px;
}

#field_motor_postion_2{
	top:1015px;
	left:573px;
}
#field_gear_1{
	top:1146px;
	left:579px;
}

#field_gear_2{
	top:1162px;
	left:579px;
}





#field_wheelbase_front_shims{
	top:1236px;
	left:477px;
}

#field_wheelbase_rear_shims{
	top:1235px;
	left:563px;
}

#field_front_brand{
	top:1051px;
	left:662px;
	width:114px;
}
#field_front_tread{
	top:1088px;
	left:662px;
	width:114px;
}

#field_front_compound{
	top:1118px;
	left:665px;
	width:114px;
}

#field_front_insert{
	top:1153px;
	left:664px;
	width:114px;
}
#field_front_wheel{
	top:1186px;
	left:665px;
	width:114px;
}


#field_rear_brand{
	top:1051px;
	left:786px;
	width:114px;
}
#field_rear_tread{
	top:1087px;
	left:788px;
	width:114px;
}

#field_rear_compound{
	top:1119px;
	left:786px;
	width:114px;
}

#field_rear_insert{
	top:1154px;
	left:788px;
	width:114px;
}
#field_rear_wheel{
	top:1187px;
	left:786px;
	width:114px;
}

#field_tyre_notes{
	padding-left:70px;
	top:1223px;
	left:602px;
	width:218px;
	font-family: arial,tahoma,sans-serif;
	height: 31px;
}
#field_qual_position{
	top:1282px;
	left:422px;
	width:34px;
}
#field_final_position{
	top:1281px;
	left:588px;
	width:32px;
}

#field_avg_lap{
	top:1315px;
	left:131px;
	width:83px;
}
#field_best_lap{
	top:1315px;
	left:346px;
	width:86px;
}

#field_race_time{
	top:1314px;
	left:540px;
	width:87px;
}
#password, #password-1{
	background:#fff; 	
	width:200px; 
}
