input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	top: 963px;
	left: 570px;
	width: 18px;
	bottom: -3px;
	height: 21px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
	height:26px; 
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1345px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
	padding-left:70px;
	left: 578px;
	top: 4px;
	width: 256px;
}
#field_name {
    padding-left: 70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
	padding-left: 60px;
	left: 152px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
	padding-left: 70px;
	left: 581px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 82px;
}
#field_traction_level_2 {
	left: 258px;
	top: 82px;
}
#field_traction_level_3 {
	left: 347px;
	top: 83px;
}
#field_track_type_1 {
	left: 428px;
	top: 81px;
}
#field_track_type_2 {
	left: 492px;
	top: 83px;
}
#field_track_type_3 {
	left: 577px;
	top: 83px;
}
#field_track_size_1 {
	left: 674px;
	top: 83px;
}
#field_track_size_2 {
	left: 747px;
	top: 84px;
}
#field_track_size_3 {
	left: 832px;
	top: 84px;
}
#field_track_condition_1 {
	left: 195px;
	top: 130px;
}
#field_track_condition_2 {
	left: 279px;
	top: 132px;
}
#field_track_condition_3 {
	left: 391px;
	top: 129px;
}
#field_track_condition_4 {
	left: 195px;
	top: 158px;
}
#field_track_condition_5 {
	left: 279px;
	top: 159px;
}
#field_track_condition_6 {
	left: 391px;
	top: 159px;
}
#field_track_surface_1 {
	left: 550px;
	top: 128px;
}
#field_track_surface_2 {
	left: 690px;
	top: 128px;
}
#field_track_surface_3 {
	left: 804px;
	top: 129px;
}
#field_track_surface_4 {
	left: 551px;
	top: 155px;
}
#field_track_surface_5 {
	left: 691px;
	top: 153px;
}
#field_track_surface_6 {
	left: 804px;
	top: 154px;
}

#password,#password-1{
	background:#fff;
	width:200px;
}

#field_front_ride_height{
	top:224px;
	left:22px;
	width:113px;
}

#field_front_camber{
	top:267px;
	left:21px;
	width:137px;
}
#field_front_caster{
	top:312px;
	left:21px;
	width:137px;
}

#field_front_toe{
	top:354px;
	left:40px;
	width:110px;
}

#field_front_diff_oil{
	top:399px;
	left:22px;
	width:124px;
}
#field_front_swaybar{
	top:444px;
	left:22px;
	width:124px;
}

#field_front_swaybar_link{
	top:488px;
	left:22px;
	width:127px;
}

#field_front_droop{
	top:448px;
	left:22px;
	width:127px;
}

#field_front_notes{
	top:534px;
	left:22px;
	width:145px;
	font-family: arial,tahoma,sans-serif;
	height: 20px;
}

#field_front_caster_1{
	top:240px;
	left:251px;
}
#field_front_caster_2{
	top:239px;
	left:291px;
}
#field_front_caster_3{
	top:241px;
	left:331px;
}
#field_front_caster_4{
	top:241px;
	left:371px;
}

#field_front_top_hub_spacer{
	top:271px;
	left:296px;
	width:27px;
}
#field_bump_steer_washers{
	top:300px;
	left:196px;
	width:27px;
}
#field_front_rear_block_spacer{
	top:376px;
	left:197px;
	width:27px;
}

#field_front_bottom_hub_mount_1{
	top:252px;
	left:349px;
}

#field_front_bottom_hub_mount_2{
	top:253px;
	left:370px;
}
#field_front_top_spindle_spacer{
	top:364px;
	left:205px;
	width:20px;
}

#field_front_hub_mount_1{
	top:253px;
	left:350px;
}
#field_front_hub_mount_2{
	top:255px;
	left:370px;
}



#field_top_ballstud_washers{
	top:367px;
	left:344px;
	width:22px;
}


#field_front_bottom_hub_spacer{
	top:467px;
	left:341px;
	width:19px;
}

#field_front_block_spacer{
	top:330px;
	left:365px;
	width:27px;
}

#field_front_steering_insert_1{
	top:265px;
	left:357px;
}

#field_front_steering_insert_2{
	top:283px;
	left:357px;
}


#field_front_steering_insert_3{
	top:299px;
	left:357px;
}
#field_front_steering_insert_4{
	top:267px;
	left:384px;
}
#field_front_steering_insert_5{
	top:285px;
	left:386px;
}

#field_front_caster_hole_1{
	top:419px;
	left:353px;
}

#field_front_caster_hole_2{
	top:439px;
	left:355px;
}



#field_front_tower_mount_1{
	top:298px;
	left:446px;
}

#field_front_tower_mount_2{
	top:299px;
	left:466px;
}

#field_front_tower_mount_3{
	top:299px;
	left:485px;
}


#field_front_tower_mount_4{
	top:299px;
	left:506px;
}





#field_front_camber_mount_1{
	top:370px;
	left:567px;
}

#field_front_camber_mount_2{
	top:390px;
	left:567px;
}

#field_front_camber_mount_3{
	top:410px;
	left:568px;
}

#field_front_camber_mount_4{
	top:371px;
	left:494px;
}

#field_front_camber_mount_5{
	top:390px;
	left:494px;
}

#field_front_camber_mount_6{
	top:410px;
	left:494px;
}






#field_front_camber_spacers{
	top:452px;
	left:451px;
	width:25px;
}
#field_front_arm_mount_1{
	top:462px;
	left:402px;
}

#field_front_arm_mount_2{
	top:462px;
	left:422px;
}

#field_front_arm_mount_3{
	top:472px;
	left:440px;
}

#field_front_spring{
	top:274px;
	left:781px;
	width:117px;
}
#field_front_shock_rebound{
	top:318px;
	left:782px;
	width:107px;
}
#field_front_shock_preload{
	top:361px;
	left:783px;
	width:96px;
}


#field_front_oil{
	top:359px;
	left:778px;
	width:96px;
}

#field_front_piston{
	top:359px;
	left:778px;
	width:96px;
}

#field_front_shock_length{
	top:359px;
	left:778px;
	width:96px;
}

#field_front_shock_notes{
	top:545px;
	left:779px;
	width:114px;
	height:27px;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}


#field_front_oil{
	top:404px;
	left:782px;
	width:107px;
}

#field_front_piston{
	top:449px;
	left:781px;
	width:120px;
}

#field_front_shock_length{
	top:494px;
	left:779px;
	width:103px;
}

#field_rear_shock_notes{
	top:529px;
	left:778px;
	width:117px;
	ont-family: arial,tahoma,sans-serif;
	height: 50px;
}

#field_front_shock_size_1{
	top:533px;
	left:656px;
}

#field_front_shock_size_2{
	top:556px;
	left:657px;
}
#field_rear_ride_height{
	top:592px;
	left:21px;
	width:117px;
}
#field_rear_camber{
	top:636px;
	left:23px;
	width:121px;
}

#field_rear_diff_oil{
	top:681px;
	left:22px;
	width:121px;
}
#field_rear_swaybar{
	top:726px;
	left:22px;
	width:121px;
}

#field_rear_swaybar_link{
	top:770px;
	left:21px;
	width:121px;
}
#field_rear_droop{
	top:817px;
	left:21px;
	width:121px;
}

#field_rear_notes{
	top:872px;
	width:145px;
	font-family: arial,tahoma,sans-serif;
	height: 30px;
	left:21px;
}

#field_rear_wing{
	top:634px;
	width:153px;
	left:198px;
}
#field_rear_toe_1{
	top:721px;
	left:199px;
}
#field_rear_toe_2{
	top:736px;
	left:200px;
}
#field_rear_toe_3{
	top:752px;
	left:200px;
}
#field_rear_toe_4{
	top:769px;
	left:200px;
}
#field_rear_toe_5{
	top:720px;
	left:241px;
}
#field_rear_toe_6{
	top:736px;
	left:241px;
}
#field_rear_toe_7{
	top:753px;
	left:241px;
}
#field_rear_tower_mount_1{
	top:696px;
	left:419px;
}
#field_rear_tower_mount_2{
	top:697px;
	left:440px;
}
#field_rear_tower_mount_3{
	top:697px;
	left:459px;
}

#field_rear_tower_mount_4{
	top:697px;
	left:479px;
}


#field_rear_tower_mount_5{
	top:629px;
	left:580px;
}

#field_rear_camber_mount_1{
	top:732px;
	left:561px;
}
#field_rear_camber_mount_2{
	top:753px;
	left:561px;
}
#field_rear_camber_mount_3{
	top:773px;
	left:561px;
}
#field_rear_camber_mount_4{
	top:792px;
	left:561px;
}
#field_rear_camber_mount_5{
	top:733px;
	left:511px;
}
#field_rear_camber_mount_6{
	top:734px;
	left:531px;
}
#field_rear_camber_mount_7{
	top:791px;
	left:510px;
}
#field_rear_camber_mount_8{
	top:794px;
	left:530px;
}

#field_rear_camber_mount_9{
	top:733px;
	left:478px;
}


#field_rear_camber_mount_10{
	top:753px;
	left:478px;
}


#field_rear_camber_mount_11{
	top:772px;
	left:478px;
}
#field_rear_camber_mount_12{
	top:791px;
	left:478px;
}






#field_rear_ballstud_spacers{
	top:774px;
	left:415px;
	width:28px;
}



#field_rear_bottom_hub_mount_1{
	top:849px;
	left:240px;
}

#field_rear_bottom_hub_mount_2{
	top:868px;
	left:241px;
}

#field_rear_hub_toe_1{
	top:742px;
	left:275px;
}

#field_rear_hub_toe_2{
	top:761px;
	left:275px;
}

#field_rear_hub_mount_1{
	top:717px;
	left:274px;
}


#field_rear_hub_mount_2{
	top:718px;
	left:292px;
}


#field_rear_hub_mount_3{
	top:718px;
	left:312px;
}

#field_rear_hub_mount_4{
	top:771px;
	left:371px;
}

#field_rear_arm_mount_1{
	top:862px;
	left:344px;
}
#field_rear_arm_mount_2{
	top:862px;
	left:363px;
}
#field_rear_arm_mount_3{
	top:862px;
	left:383px;
}



#field_rear_spring{
	top:661px;
	left:776px;
	width:121px;
}

#field_rear_shock_rebound{
	top:705px;
	left:776px;
	width:104px;
}

#field_rear_shock_preload{
	top:749px;
	left:777px;
	width:98px;
}

#field_rear_oil{
	top:792px;
	left:779px;
	width:101px;
}

#field_rear_piston{
	top:836px;
	left:780px;
	width:100px;
}

#field_rear_shock_length{
	top:881px;
	left:780px;
	width:98px;
}

#field_rear_shock_notes{
	top:930px;
	left:778px;
	width:121px;
	font-family: arial,tahoma,sans-serif;
	height: 31px;
}

#field_rear_shock_size_1{
	top:924px;
	left:657px;
}
#field_rear_shock_size_2{
	top:945px;
	left:657px;
}

#field_motor{
	top:933px;
	left:22px;
	width:145px;
}
#field_spur{
	top:977px;
	left:22px;
	width:145px;
}
#field_pinion{
	top:1022px;
	left:22px;
	width:145px;
}

#field_battery{
	top:1068px;
	left:21px;
	width:145px;
}

#field_esc_settings{
	top:1113px;
	left:21px;
	width:145px;
}

#field_ballast_position_1{
	top:1161px;
	left:12px;
}


#field_ballast_position_2{
	top:1183px;
	left:12px;
}
#field_diff_typen_1{
	top:1158px;
	left:11px;
}

#field_diff_type_2{
	top:1156px;
	left:84px;
}

#field_diff_oil{
	top:1202px;
	left:17px;
	width:134px;
}
#field_body{
	top:1232px;
	left:22px;
	width:144px;
}



#field_m1{
	top:1157px;
	left:235px;
	width:18px;
}

#field_m2{
	top:985px;
	left:273px;
	width:23px;
}


#field_weight_1{
	top:938px;
	left:200px;
}


#field_weight_2{
	top:954px;
	left:200px;
}


#field_weight_3{
	top:971px;
	left:200px;
}

#field_chassis_type_1{
	top:936px;
	left:307px;
}

#field_chassis_type_2{
	top:952px;
	left:307px;
}


#field_chassis_type_3{
	top:969px;
	left:307px;
}

#field_fcb_1{
	top:1210px;
	left:317px;
}

#field_fcb_2{
	top:1209px;
	left:340px;
}


#field_fcb_3{
	top:1210px;
	left:362px;
}


#field_diff_lock_1{
	top:941px;
	left:378px;
}
#field_slipper{
	top:950px;
	left:428px;
}

#field_m3{
	top:940px;
	left:381px;
}

#field_m4{
	top:941px;
	left:460px;
}



#field_pc1_1{
	top:972px;
	left:377px;
}

#field_pc1_2{
	top:989px;
	left:377px;
}

#field_pc2_1{
	top:973px;
	left:471px;
}

#field_pc2_2{
	top:990px;
	left:472px;
}

#field_2s_1{
	top:1154px;
	left:429px;
}

#field_2s_2{
	top:1155px;
	left:456px;
}


#field_rear_spacer_1{
	top:1135px;
	left:561px;
}
#field_rear_spacer_2{
	top:1136px;
	left:583px;
}

#field_rear_spacer_3{
	top:1136px;
	left:605px;
}

#field_rear_spacer_4{
	top:1167px;
	left:562px;
}
#field_rear_spacer_5{
	top:1167px;
	left:583px;
}
#field_rear_spacer_6{
	top:1167px;
	left:604px;
}


#field_024_1{
	top:1170px;
	left:567px;
}
#field_024_2{
	top:1170px;
	left:589px;
}

#field_024_3{
	top:1170px;
	left:611px;
}

#field_kickup_1{
	top:936px;
	left:447px;
}
#field_kickup_2{
	top:954px;
	left:447px;
}
#field_kickup_3{
	top:968px;
	left:447px;
}
#field_battery_postion_1{
	top:1195px;
	left:384px;
}
#field_battery_postion_2{
	top:1211px;
	left:384px;
}
#field_battery_postion_3{
	top:1227px;
	left:384px;
}

#field_motor_postion_1{
	top:998px;
	left:547px;
}

#field_motor_postion_2{
	top:1014px;
	left:548px;
}
#field_gear_1{
	top:1142px;
	left:551px;
}

#field_gear_2{
	top:1160px;
	left:552px;
}





#field_wheelbase_front_shims{
	top:1219px;
	left:450px;
}

#field_wheelbase_rear_shims{
	top:1219px;
	left:562px;
}

#field_front_brand{
	top:1048px;
	left:664px;
	width:114px;
}
#field_front_tread{
	top:1082px;
	left:663px;
	width:114px;
}

#field_front_compound{
	top:1115px;
	left:664px;
	width:114px;
}

#field_front_insert{
	top:1149px;
	left:665px;
	width:114px;
}
#field_front_wheel{
	top:1182px;
	left:665px;
	width:114px;
}


#field_rear_brand{
	top:1047px;
	left:786px;
	width:114px;
}
#field_rear_tread{
	top:1082px;
	left:788px;
	width:114px;
}

#field_rear_compound{
	top:1116px;
	left:786px;
	width:114px;
}

#field_rear_insert{
	top:1149px;
	left:788px;
	width:111px;
}
#field_rear_wheel{
	top:1182px;
	left:788px;
	width:108px;
}

#field_tyre_notes{
	padding-left:70px;
	top:1223px;
	left:602px;
	width:218px;
	font-family: arial,tahoma,sans-serif;
	height: 34px;
}
#field_qual_position{
	top:1276px;
	left:420px;
	width:23px;
}
#field_final_position{
	top:1275px;
	left:589px;
	width:40px;
}

#field_avg_lap{
	top:1307px;
	left:134px;
	width:83px;
}
#field_best_lap{
	top:1308px;
	left:354px;
	width:81px;
}

#field_race_time{
	top:1309px;
	left:545px;
	width:80px;
}
