input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
  
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
    padding: 2px 0;
	top: 963px;
	left: 570px;
	width: 18px;
	bottom: -3px;
	height: 21px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}select{
	height:26px;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1315px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
	padding-left:70px;
	left: 578px;
	top: 4px;
	width: 256px;
}
#field_name {
    padding-left: 70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
	padding-left: 60px;
	left: 152px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
	padding-left: 70px;
	left: 581px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 83px;
}
#field_traction_level_2 {
	left: 259px;
	top: 82px;
}
#field_traction_level_3 {
	left: 347px;
	top: 82px;
}
#field_track_type_1 {
	left: 428px;
	top: 84px;
}
#field_track_type_2 {
	left: 492px;
	top: 83px;
}
#field_track_type_3 {
	left: 577px;
	top: 83px;
}
#field_track_size_1 {
	left: 674px;
	top: 84px;
}
#field_track_size_2 {
	left: 747px;
	top: 84px;
}
#field_track_size_3 {
	left: 833px;
	top: 85px;
}
#field_track_condition_1 {
	left: 194px;
	top: 133px;
}
#field_track_condition_2 {
	left: 278px;
	top: 133px;
}
#field_track_condition_3 {
	left: 391px;
	top: 131px;
}
#field_track_condition_4 {
	left: 194px;
	top: 161px;
}
#field_track_condition_5 {
	left: 278px;
	top: 161px;
}
#field_track_condition_6 {
	left: 391px;
	top: 160px;
}
#field_track_surface_1 {
	left: 552px;
	top: 130px;
}
#field_track_surface_2 {
	left: 689px;
	top: 130px;
}
#field_track_surface_3 {
	left: 804px;
	top: 130px;
}
#field_track_surface_4 {
	left: 552px;
	top: 152px;
}
#field_track_surface_5 {
	left: 690px;
	top: 153px;
}
#field_track_surface_6 {
	left: 806px;
	top: 152px;
}

#password, #password-1{
	background:#fff; 	
	width:200px; 

}

#field_front_tower_mount_1{
	top:272px;
	left:215px;
}
#field_front_tower_mount_2{
	top:272px;
	left:230px;
}
#field_front_tower_mount_3{
	top:272px;
	left:246px;
}
#field_front_tower_mount_4{
	top:272px;
	left:260px;
}
#field_front_tower_mount_5{
	top:272px;
	left:275px;
}
#field_front_camber_mount_1{
	top:346px;
	left:223px;
}
#field_front_camber_mount_2{
	top:332px;
	left:223px;
}
#field_front_camber_mount_3{
	top:315px;
	left:223px;
}
#field_front_camber_mount_4{
	top:298px;
	left:223px;
}
/*checkbox */
#field_front_block_inserts_1{
	top:480px;
	left:140px;
}
#field_front_block_inserts_2{
	top:481px;
	left:161px;
}
#field_front_block_inserts_3{
	top:481px;
	left:180px;
}
#field_front_block_inserts_4{
	top:481px;
	left:201px;
}
#field_front_block_inserts_5{
	top:482px;
	left:221px;
}
#field_front_block_inserts_6{
	top:481px;
	left:242px;
}
#field_front_arm_mount_1{
	top:388px;
	left:301px;
}
#field_front_arm_mount_2{
	top:388px;
	left:317px;
}
/*checkbox */

#field_steering_position_1{
	top:252px;
	left:402px;
}
#field_steering_position_2{
	top:236px;
	left:402px;
}
#field_steering_position_3{
	top:222px;
	left:402px;
}



#field_steering_type{
	top:228px;
	left:495px;
	width:31px;
}

/*checkbox */
#field_front_hub_mount_1{
	top:287px;
	left:380px;
}
#field_front_hub_mount_2{
	top:287px;
	left:395px;
}

#field_front_hub_mount_3{
	top:287px;
	left:411px;
}

#field_top_hub_spacer{
	top:334px;
	left:460px;
	width:25px;
}

/*checkbox */
#field_steering_block_material_1{
	top:382px;
	left:417px;
}
#field_steering_block_material_2{
	top:382px;
	left:432px;
}



#field_bottom_hub_spacer{
	top:448px;
	left:461px;
	width:22px;
}

#field_front_ride_height{
	top:244px;
	left:582px;
	width:114px;
}
#field_front_camber{
	top:287px;
	left:582px;
	width:113px;
}

#field_front_toe{
	top:335px;
	left:584px;
	width:111px;
}

#field_front_swaybar{
	top:380px;
	left:586px;
	width:110px;
}

#field_front_shock_length{
	top:427px;
	left:582px;
	width:111px;
}


#field_front_oil{
	top:277px;
	left:741px;
	width:111px;
}
#field_front_piston{
	top:323px;
	left:741px;
	width:111px;
}
#field_front_bladder{
	top:368px;
	left:740px;
	width:139px;
}

#field_front_spring{
	top:412px;
	left:740px;
	width:142px;
}

#field_front_shock_notes{
	top:449px;
	left:741px;
	width:140px;
	height:50px;
	font-family: arial,tahoma,sans-serif;
}

/*checkbox */

#field_rear_tower_mount_1{
	top:591px;
	left:181px;
}
#field_rear_tower_mount_2{
	top:591px;
	left:196px;
}
#field_rear_tower_mount_3{
	top:592px;
	left:212px;
}
#field_rear_tower_mount_4{
	top:592px;
	left:225px;
}
#field_rear_tower_mount_5{
	top:592px;
	left:241px;
}

/*checkbox */
#field_rear_camber_mount_1{
	top:689px;
	left:179px;
}
#field_rear_camber_mount_2{
	top:674px;
	left:179px;
}
#field_rear_camber_mount_3{
	top:659px;
	left:180px;
}
#field_rear_camber_mount_4{
	top:644px;
	left:179px;
}


#field_rear_toeplate_1{
	top:793px;
	left:68px;
}
#field_rear_toeplate_2{
	top:793px;
	left:83px;
}
#field_rear_toeplate_3{
	top:793px;
	left:97px;
}

#field_rear_toeplate_4{
	top:793px;
	left:112px;
}


/*checkbox */
#field_rf_inserts_1{
	top:820px;
	left:169px;
}
#field_rf_inserts_2{
	top:820px;
	left:189px;
}
#field_rf_inserts_3{
	top:818px;
	left:210px;
}
#field_rf_inserts_4{
	top:818px;
	left:230px;
}
#field_rf_inserts_5{
	top:819px;
	left:250px;
}
#field_rf_inserts_6{
	top:818px;
	left:271px;
}

/*checkbox */

#field_rr_inserts_1{
	top:818px;
	left:328px;
}
#field_rr_inserts_2{
	top:818px;
	left:348px;
}
#field_rr_inserts_3{
	top:819px;
	left:368px;
}
#field_rr_inserts_4{
	top:818px;
	left:389px;
}
#field_rr_inserts_5{
	top:819px;
	left:409px;
}
#field_rr_inserts_6{
	top:818px;
	left:429px;
}



#field_body{
	top:543px;
	left:256px;
	width:100px;
}
#field_wing{
	top:543px;
	left:378px;
	width:100px;
}


/*checkbox */
#field_rear_hub_mount_1{
	top:638px;
	left:357px;
}
#field_rear_hub_mount_2{
	top:638px;
	left:372px;
}
#field_rear_hub_mount_3{
	top:692px;
	left:364px;
}
#field_rear_hub_mount_4{
	top:692px;
	left:380px;
}
/*checkbox */

#field_rear_arm_mount_1{
	top:741px;
	left:295px;
}
#field_rear_arm_mount_2{
	top:740px;
	left:310px;
}
/*checkbox */

#field_wing_position_1{
	top:577px;
	left:457px;
}
#field_wing_position_2{
	top:576px;
	left:473px;
}
#field_wing_position_3{
	top:629px;
	left:458px;
}
#field_wing_position_4{
	top:628px;
	left:473px;
}

#field_hub_insert_1{
	top:762px;
	left:509px;
}

#field_hub_insert_2{
	top:762px;
	left:487px;
}

#field_hub_insert_3{
	top:762px;
	left:465px;
}

#field_hub_insert_4{
	top:763px;
	left:442px;
}


#field_rear_ride_height{
	top:579px;
	left:580px;
	width:111px;
}
#field_rear_camber{
	top:529px;
	left:643px;
	width:62px;
}
#field_rear_toe{
	top:623px;
	left:580px;
	width:69px;
}
#field_rear_swaybar{
	top:670px;
	left:580px;
	width:73px;
}
#field_rear_shock_length{
	top:716px;
	left:580px;
	width:89px;
}


#field_rear_oil{
	top:612px;
	left:740px;
	width:111px;
}
#field_rear_piston{
	top:658px;
	left:741px;
	width:111px;
}

#field_rear_bladder{
	top:704px;
	left:740px;
	width:111px;
}
#field_rear_spring{
	top:747px;
	left:740px;
	width:111px;
}

#field_rear_shock_notes{
	top:781px;
	left:743px;
	width:111px;
	height:50px;
    font-family: arial,tahoma,sans-serif;
}


#field_front_arm_caps{
	top:880px;
	left:169px;
	width:56px;
}


#field_spacer_1{
	top:904px;
	left:144px;
	width:27px;
}
#field_spacer_2{
	top:929px;
	left:146px;
	width:26px;
}
#field_spacer_3{
	top:1104px;
	left:7px;
	width:24px;
}
#field_spacer_4{
	top:1124px;
	left:145px;
	width:26px;
}
#field_spacer_5{
	top:922px;
	left:309px;
	width:26px;
}

#field_rear_arm_caps{
	top:878px;
	left:252px;
	width:72px;
}
#field_pipe{
	top:1142px;
	left:202px;
	width:90px;
}

#field_chassis_notes{
    padding-left:70px;
	top:1206px;
	left:23px;
	width:388px;
	height:45px;
	font-family: arial,tahoma,sans-serif;
}
#field_spacer_6{
	top:897px;
	left:422px;
	width:24px;
}

#field_engine_brand{
	top:914px;
	left:514px;
	width:132px;
}

#field_spur{
	top:958px;
	left:514px;
	width:113px;
}

#field_pinion{
	top:1004px;
	left:514px;
	width:113px;
}

#field_clutch{
	top:1051px;
	left:513px;
	width:113px;
}

#field_plug{
	top:1096px;
	left:513px;
	width:113px;
}

#field_fuel{
	top:1140px;
	left:514px;
	width:113px;
}


#field_front_brand{
	top:928px;
	left:688px;
	width:113px;
}

#field_front_compound{
	top:973px;
	left:686px;
	width:113px;
}

#field_front_insert{
	top:1019px;
	left:688px;
	width:113px;
}
#field_front_wheel{
	top:1065px;
	left:688px;
	width:113px;
}

#field_front_tire_notes{
	top:1110px;
	left:688px;
	width:113px;
	height:50px;
	font-family: arial,tahoma,sans-serif;
}

#field_rear_tire{
	top:927px;
	left:810px;
	width:80px;
}

#field_rear_compound{
	top:973px;
	left:808px;
	width:79px;
}

#field_rear_insert{
	top:1019px;
	left:809px;
	width:76px;
}

#field_rear_wheel{
	top:1063px;
	left:810px;
	width:74px;
}

#field_rear_tire_notes{
	top:1109px;
	left:811px;
	width:71px;
	height:50px;
	font-family: arial,tahoma,sans-serif;
}


#field_front_oil_brand{
	top:1211px;
	left:610px;
	width:76px;
}

#field_front_oil_weight{
	top:1232px;
	left:610px;
	width:75px;
}

#field_center_oil_brand{
	top:1212px;
	left:709px;
	width:75px;
}

#field_center_oil_weight{
	top:1233px;
	left:709px;
	width:75px;
}

#field_rear_oil_brand{
	top:1212px;
	left:805px;
	width:75px;
}

#field_rear_oil_weight{
	top:1234px;
	left:805px;
	width:75px;
}








	
	
	
	
	
	