input:disabled
{
background-color: none transparent;
opacity: 1;
}
select{
	height:26px;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
select{
	border: none;
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	padding: 2px 0;
	position: absolute;
	top: 963px;
	left: 570px;
	width: 18px;	
	height: 25px;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
    padding: 2px 0;
	top: 963px;
	left: 570px;
	width: 18px;
	bottom: -3px;
	height: 22px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1210px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
	padding-left:70px;
	left: 578px;
	top: 4px;
	width: 256px;
}
#field_name {
    padding-left: 70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
	padding-left: 60px;
	left: 152px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
	padding-left: 70px;
	left: 581px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 82px;
}
#field_traction_level_2 {
	left: 258px;
	top: 82px;
}
#field_traction_level_3 {
	left: 347px;
	top: 83px;
}
#field_track_type_1 {
	left: 428px;
	top: 81px;
}
#field_track_type_2 {
	left: 492px;
	top: 83px;
}
#field_track_type_3 {
	left: 577px;
	top: 83px;
}
#field_track_size_1 {
	left: 674px;
	top: 83px;
}
#field_track_size_2 {
	left: 747px;
	top: 84px;
}
#field_track_size_3 {
	left: 832px;
	top: 84px;
}
#field_track_condition_1 {
	left: 195px;
	top: 130px;
}
#field_track_condition_2 {
	left: 279px;
	top: 132px;
}
#field_track_condition_3 {
	left: 391px;
	top: 129px;
}
#field_track_condition_4 {
	left: 195px;
	top: 158px;
}
#field_track_condition_5 {
	left: 279px;
	top: 159px;
}
#field_track_condition_6 {
	left: 391px;
	top: 159px;
}
#field_track_surface_1 {
	left: 550px;
	top: 128px;
}
#field_track_surface_2 {
	left: 690px;
	top: 128px;
}
#field_track_surface_3 {
	left: 804px;
	top: 129px;
}
#field_track_surface_4 {
	left: 551px;
	top: 155px;
}
#field_track_surface_5 {
	left: 691px;
	top: 153px;
}
#field_track_surface_6 {
	left: 804px;
	top: 154px;
}

#password, #password-1{
	background:#fff; 	
	width:200px; 
}

/*checkbox */
#field_front_tower_mount_1{
	top:227px;
	left:146px;
}
#field_front_tower_mount_2{
	top:227px;
	left:63px;
}
#field_front_tower_mount_3{
	top:227px;
	left:78px;
}
#field_front_tower_mount_4{
	top:227px;
	left:91px;
}
#field_front_tower_mount_5{
	top:227px;
	left:104px;
}
#field_front_tower_mount_6{
	top:227px;
	left:118px;
}
#field_front_tower_mount_7{
	top:227px;
	left:132px;
}




#field_spacer_1{
	top:330px;
	left:91px;
	width:19px;
}
#field_spacer_f{
	top:455px;
	left:25px;
	width:19px;
}
#field_spacer_r{
	top:455px;
	left:67px;
	width:19px;
}

/*checkbox */

#field_front_toe_mount_1{
	top:460px;
	left:131px;
}
#field_front_toe_mount_2{
	top:460px;
	left:145px;
}
#field_front_toe_mount_3{
	top:459px;
	left:159px;
}
#field_front_toe_mount_4{
	top:459px;
	left:172px;
}
#field_front_toe_mount_5{
	top:459px;
	left:185px;
}
#field_front_toe_mount_6{
	top:459px;
	left:199px;
}



#field_spacer_2{
	top:225px;
	left:215px;
	width:23px;
}

/*checkbox */

#field_front_ballstud_postion_1{
	top:250px;
	left:220px;
}

#field_front_ballstud_postion_2{
	top:263px;
	left:220px;
}


#field_front_arm_mount_1{
	top:434px;
	left:266px;
}
#field_front_arm_mount_2{
	top:434px;
	left:281px;
}


#field_front_swaybar_mount_1{
	top:384px;
	left:170px;
}

#field_front_swaybar_mount_2{
	top:384px;
	left:154px;
}

#field_front_ride_height{
	top:251px;
	left:457px;
	width:68px;
}
#field_front_camber{
	top:303px;
	left:469px;
	width:55px;
}

#field_front_droop{
	top:355px;
	left:355px;
	width:45px;
}
#field_front_swaybar{
	top:355px;
	left:494px;
	width:34px;
}
#field_front_toe{
	top:407px;
	left:375px;
	width:46px;
}
#field_caster{
	top:407px;
	left:514px;
	width:39px;
}

#field_front_wheelspacer{
	top:459px;
	left:377px;
	width:26px;
}
#field_front_wheelhub{
	top:459px;
	left:511px;
	width:20px;
}


#field_front_piston{
	top:251px;
	left:634px;
	width:124px;
}
#field_front_oil{
	top:303px;
	left:635px;
	width:124px;
}

#field_front_bladder{
	top:354px;
	left:636px;
	width:124px;
}

#field_front_spring{
	top:409px;
	left:633px;
	width:124px;
}
#field_front_shock_length{
	top:461px;
	left:669px;
	width:71px;
}

#field_rear_piston{
	top:253px;
	left:781px;
	width:124px;
}

#field_rear_oil{
	top:304px;
	left:782px;
	width:124px;
}

#field_rear_bladder{
	top:355px;
	left:783px;
	width:124px;
}

#field_rear_spring{
	top:408px;
	left:785px;
	width:121px;
}

#field_rear_shock_length{
	top:459px;
	left:780px;
	width:99px;
}


/*checkbox */
#field_rear_tower_mount_1{
	top:534px;
	left:58px;
}
#field_rear_tower_mount_2{
	top:534px;
	left:72px;
}
#field_rear_tower_mount_3{
	top:534px;
	left:86px;
}
#field_rear_tower_mount_4{
	top:534px;
	left:99px;
}
#field_rear_tower_mount_5{
	top:534px;
	left:112px;
}
#field_rear_tower_mount_6{
	top:534px;
	left:125px;
}

#field_rear_tower_mount_7{
	top:534px;
	left:139px;
}
#field_rear_tower_mount_8{
	top:534px;
	left:154px;
}



#field_spacer_3{
	top:648px;
	left:82px;
	width:21px;
}

#field_rear_spacer_f{
	top:774px;
	left:16px;
	width:17px;
}

#field_rear_spacer_r{
	top:774px;
	left:62px;
	width:20px;
}

/*checkbox */

#field_rear_toe_mount_1{
	top:776px;
	left:127px;
}

#field_rear_toe_mount_2{
	top:776px;
	left:142px;
}

#field_rear_toe_mount_3{
	top:776px;
	left:155px;
}

#field_rear_toe_mount_4{
	top:776px;
	left:169px;
}

#field_rear_toe_mount_5{
	top:776px;
	left:183px;
}


#field_spacer_4{
	top:540px;
	left:229px;
	width:19px;
}

#field_rear_ballstud_postion_1{
	top:563px;
	left:234px;
}
#field_rear_ballstud_postion_2{
	top:577px;
	left:234px;
}


#field_ballstud_spacer{

}


#field_rear_swaybar_mount_1{
	top:718px;
	left:328px;
}

#field_rear_swaybar_mount_2{
	top:719px;
	left:314px;
}
#field_rear_swaybar_mount_3{
	top:698px;
	left:170px;
}
#field_rear_swaybar_mount_4{
	top:698px;
	left:184px;
}
#field_rear_swaybar_mount_5{
	top:699px;
	left:198px;
}


#field_rear_ride_height{
	top:561px;
	left:456px;
	width:63px;
}

#field_rear_camber{
	top:616px;
	left:468px;
	width:57px;
}

#field_rear_droop{
	top:668px;
	left:431px;
	width:97px;
}

#field_rear_swaybar{
	top:720px;
	left:444px;
	width:82px;
}

#field_rear_wheelspacer{
	top:772px;
	left:387px;
	width:24px;
}

#field_rear_wheelhub{
	top:771px;
	left:510px;
	width:20px;
}


#field_front_brand{
	top:563px;
	left:638px;
	width:124px;
}


#field_front_compound{
	top:616px;
	left:657px;
	width:107px;
}

#field_front_insert{
	top:667px;
	left:632px;
	width:135px;
}
#field_front_wheel{
	top:719px;
	left:633px;
	width:134px;
}
#field_front_treatment{
	top:771px;
	left:677px;
	width:88px;
}

#field_rear_tire{
	top:564px;
	left:784px;
	width:115px;
}

#field_rear_compound{
	top:615px;
	left:783px;
	width:120px;
}

#field_rear_insert{
	top:667px;
	left:783px;
	width:122px;
}

#field_rear_wheel{
	top:719px;
	left:785px;
	width:120px;
}

#field_rear_treatment{
	top:771px;
	left:784px;
	width:122px;
}

#field_spacer_5{
	top:858px;
	left:98px;
	width:20px;
}
#field_spacer_6{
	top:859px;
	left:154px;
	width:20px;
}



#field_steering_position_1{
	top:877px;
	left:190px;
}

#field_steering_position_2{
	top:894px;
	left:190px;
}

#field_steering_position_3{
	top:910px;
	left:190px;
}

#field_spacer_7{
	top:860px;
	left:234px;
	width:20px;
}

#field_spacer_8{
	top:1128px;
	left:208px;
	width:20px;
}

#field_spacer_9{
	top:858px;
	left:424px;
	width:20px;
}

#field_spacer_10{
	top:858px;
	left:478px;
	width:20px;
}

#field_spacer_11{
	top:1128px;
	left:427px;
	width:20px;
}
#field_spacer_12{
	top:1128px;
	left:477px;
	width:20px;
}

#field_chassis_notes{
    padding-left:40px;
	top:1162px;
	left:12px;
	width:426px;
	font-family: arial,tahoma,sans-serif;
}

#field_front_type{
	top:871px;
	left:636px;
	width:122px;
}

#field_front_note{
	top:919px;
	left:627px;
	width:137px;
}

#field_rear_type{
	top:871px;
	left:780px;
	width:122px;
}
#field_rear_note{
	top:919px;
	left:781px;
	width:122px;
}

#field_motor{
	top:1007px;
	left:626px;
	width:110px;
}

#field_spur{
	top:1007px;
	left:815px;
	width:89px;
}

#field_battery{
	top:1061px;
	left:635px;
	width:100px;
}

#field_pinion{
	top:1059px;
	left:825px;
	width:83px;
}
#field_body{
	top:1111px;
	left:624px;
	width:113px;
}

#field_esc{
	top:1111px;
	left:788px;
	width:115px;
}

#field_wing{
	top:1164px;
	left:624px;
	width:115px;
}

#field_note{
	top:1164px;
	left:790px;
	width:113px;
}
