input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
  
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;

}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}

textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 0 auto;
    width: 920px;
    position: relative;
}
#content {
    height: 1320px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#password, #password-1{
    width:220px;
    background:#fff;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
    padding-left:70px;
    left: 578px;
    top: 7px;
    width: 260px;
}
#field_name {
    padding-left:70px;
    left: 158px;
    top: 7px;
    width: 200px;
}
#field_city {
    padding-left:60px;
    left: 152px;
    top: 40px;
    width: 150px;
}
.countrySelector {
    border: 1px solid #CCCCCC;
    left: 450px;
    top: 40px;
    width: 130px;
}

#field_date {
    left: 486px;
    top: 8px;
    width: 90px;
}

#field_event {
    padding-left:70px;
    left: 581px;
    top: 40px;
    width: 260px;
}
#field_traction_level_1 {
    left: 192px;
    top: 88px;
}
#field_traction_level_2 {
    left: 258px;
    top: 88px;
}
#field_traction_level_3 {
    left: 349px;
    top: 88px;
}
#field_track_type_1 {
    left: 428px;
    top: 88px;
}
#field_track_type_2 {
    left: 492px;
    top: 88px;
}
#field_track_type_3 {
    left: 577px;
    top: 88px;
}
#field_track_size_1 {
    left: 674px;
    top: 88px;
}
#field_track_size_2 {
    left: 747px;
    top: 88px;
}
#field_track_size_3 {
    left: 832px;
    top: 88px;
}
#field_track_condition_1 {
    left: 200px;
    top: 134px;
}
#field_track_condition_2 {
    left: 285px;
    top: 134px;
}
#field_track_condition_3 {
    left: 397px;
    top: 134px;
}
#field_track_condition_4 {
    left: 200px;
    top: 158px;
}
#field_track_condition_5 {
    left: 285px;
    top: 158px;
}
#field_track_condition_6 {
    left: 397px;
    top: 158px;
}
#field_track_surface_1 {
    left: 555px;
    top: 132px;
}
#field_track_surface_2 {
    left: 698px;
    top: 132px;
    position: absolute;
}
#field_track_surface_3 {
    left: 808px;
    top: 132px;
    position: absolute;
}
#field_track_surface_4 {
    left: 555px;
    top: 157px;
    position: absolute;
}
#field_track_surface_5 {
    left: 698px;
    top: 157px;
    position: absolute;
}
#field_track_surface_6 {
    left: 808px;
    top: 157px;
    position: absolute;
}


#field_kickup_1 {
    left: 262px;
    top: 339px;
    position: absolute;
}
#field_kickup_2 {
    left: 262px;
    top: 356px;
    position: absolute;
}
#field_kickup_3 {
    left: 262px;
    top: 373px;
    position: absolute;
}
#field_kickup_4 {
    left: 262px;
    top: 390px;
    position: absolute;
}
#field_kickup_5 {
    left: 262px;
    top: 408px;
    position: absolute;
}
#field_kickup_6 {
    left: 262px;
    top: 425px;
    position: absolute;
}
#field_kickup_7 {
    left: 262px;
    top: 442px;
    position: absolute;
}
#field_kickup_8 {
    left: 262px;
    top: 459px;
    position: absolute;
}
#field_kickup_9 {
    left: 262px;
    top: 476px;
    position: absolute;
}
#field_front_tower_1 {
    left: 411px;
    top: 254px;
    position: absolute;
}
#field_front_tower_2 {
    left: 426px;
    top: 254px;
    position: absolute;
}
#field_front_tower_3 {
    left: 441px;
    top: 254px;
    position: absolute
}
#field_front_link_1 {
    left: 488px;
    top: 254px;
    position: absolute
}
#field_front_link_2 {
    left: 500px;
    top: 254px;
    width: 180px;
    position: absolute
}
#field_front_innermm {
    left: 399px;
    top: 291px;
    width: 40px;
    position: absolute;
}
#field_front_outtermm {
    left: 547px;
    top: 274px;
    width: 40px;
    position: absolute;
}
#field_spindle_top {
    left: 603px;
    top: 274px;
    width: 40px;
}
#field_spindle_bot {
    left: 601px;
    top: 442px;
    width: 60px;
    position: absolute;
}
#field_ff {
    left: 334px;
    top: 443px;
    width: 40px;
    position: absolute;
}
#field_fr {
    left: 383px;
    top: 443px;
    position: absolute;
    width: 40px;
}
#field_front_arm_1 {
    left: 480px;
    top: 437px;
    position: absolute;
}
#field_front_arm_2 {
    left: 493px;
    top: 437px;
    width: 60px;
    position: absolute;
}
#field_arm_plates {
    padding-left: 70px;
    left: 443px;
    top: 486px;
    width: 165px;
    position: absolute;
}
#field_front_height {
    padding-left: 70px;
    left: 733px;
    top: 198px;
    width: 60px;
    position: absolute;
}
#field_front_camber {
    padding-left: 60px;
    left: 739px;
    top: 220px;
    width: 50px;
    position: absolute;
}
#field_front_toe {
    padding-left: 60px;
    left: 739px;
    top: 242px;
    width: 50px;
    position: absolute;
}
#field_front_swaybar {
    padding-left: 20px;
    left: 731px;
    top: 263px;
    width: 120px;
    position: absolute;
}
#field_front_oil {
    left: 738px;
    top: 311px;
    width: 125px;
    position: absolute;
}
#field_front_piston {
    left: 738px;
    top: 333px;
    width: 125px;
    position: absolute;
}
#field_front_color {
    left: 738px;
    top: 354px;
    width: 125px;
    position: absolute;
}
#field_front_length {
    padding-left: 40px;
    left: 730px;
    top: 374px;
    width: 100px;
    position: absolute;
}
#field_front_notes {
    left: 738px;
    top: 394px;
    width: 125px;
    height: 61px;
    position: absolute;
}
#field_antisquat_1 {
    left: 261px;
    top: 664px;
    position: absolute;
}
#field_antisquat_2 {
    left: 261px;
    top: 681px;
    position: absolute;
}
#field_antisquat_3 {
    left: 261px;
    top: 698px;
    position: absolute;
}
#field_antisquat_4 {
    left: 261px;
    top: 715px;
    position: absolute;
}
#field_antisquat_5 {
    left: 261px;
    top: 733px;
    position: absolute;
}
#field_antisquat_6 {
    left: 261px;
    top: 750px;
    position: absolute;
}
#field_rear_tower_1 {
    left: 404px;
    top: 588px;
    position: absolute;
}
#field_rear_tower_2{
    left: 419px;
    top: 588px;
    position: absolute;
}
#field_rear_tower_3 {
    left: 435px;
    top: 588px;
    position: absolute;
}
#field_rear_tower_4 {
    left: 450px;
    top: 588px;
    position: absolute;
}
#field_rear_tower_5 {
    left: 464px;
    top: 588px;
    position: absolute;
}
#field_rear_link_1 {
    left: 506px;
    top: 588px;
    position: absolute;
}
#field_rear_link_2 {
    left: 520px;
    top: 588px;
    position: absolute;
}
#field_rear_link_3 {
    left: 535px;
    top: 588px;
    position: absolute;
}
#field_rear_inner {
    left: 417px;
    top: 635px;
    width: 40px;
    position: absolute;
}
#field_hub_link_1 {
    left: 553px;
    top: 637px;
    position: absolute;
}
#field_hub_link_2 {
    left: 568px;
    top: 637px;
    position: absolute;
}
#field_hub_link_3 {
    left: 583px;
    top: 637px;
    position: absolute;
}
#field_hub_link_4 {
    left: 598px;
    top: 637px;
   	position: absolute;
}
#field_rf {
    left: 342px;
    top: 793px;
    width: 40px;
    position: absolute;
}
#field_rr {
    left: 393px;
    top: 793px;
    width: 40px;
    position: absolute;
}
#field_rear_arm_1 {
    left: 556px;
    top: 782px;
    position: absolute;
}
#field_rear_arm_2 {
    left: 556px;
    top: 767px;
    position: absolute;
}
#field_hub_hole_1 {
    left: 619px;
    top: 748px;
    position: absolute;
}
#field_hub_hole_2 {
    left: 619px;
    top: 763px;
    position: absolute;
}
#field_rear_arm_plates {
    padding-left: 70px;
    left: 448px;
    top: 811px;
    width: 160px;
    position: absolute;
}
#field_rear_height {
    padding-left: 60px;
    left: 739px;
    top: 523px;
    width: 50px;
    position: absolute;
}
#field_rear_camber {
    padding-left: 60px;
    left: 737px;
    top: 545px;
    width: 50px;
    position: absolute;
}
#field_rear_toe {
    padding-left: 70px;
    left: 730px;
    top: 567px;
    width: 50px;
    position: absolute;
}
#field_rear_swaybar {
    padding-left: 20px;
    left: 729px;
    top: 587px;
    width: 125px;
    position: absolute;
}
#field_rear_oil {
    left: 734px;
    top: 636px;
    width: 125px;
    position: absolute;
}
#field_rear_piston {
    left: 733px;
    top: 657px;
    width: 125px;
    position: absolute;
}
#field_rear_color {
    left: 733px;
    top: 679px;
    width: 125px;
    position: absolute;
}
#field_rear_length {
    padding-left: 40px;
    left: 727px;
    top: 698px;
    width: 125px;
    position: absolute;
}
#field_rear_notes {
    left: 733px;
    top: 719px;
    width: 130px;
    position: absolute;
    height: 62px;
}
#field_front_tire {
    left: 78px;
    top: 892px;
    width: 93px;
    position: absolute;
    height: 40px;
}
#field_rear_tire {
    left: 185px;
    top: 891px;
    width: 97px;
    position: absolute;
    height: 40px;
}
#field_front_insert {
    left: 83px;
    top: 935px;
    width: 90px;
    position: absolute;
    height: 40px;
}
#field_rear_insert {
    left: 181px;
    top: 935px;
    width: 102px;
    
    position: absolute;
    height: 40px;
}
#field_battery_1 {
    left: 120px;
    top: 989px;
    position: absolute;
}
#field_battery_2 {
    left: 218px;
    top: 989px;
    position: absolute;
}
#field_position_1 {
    left: 120px;
    top: 1010px;
    position: absolute;
}
#field_position_2 {
    left: 165px;
    top: 1010px;
    position: absolute;
}
#field_position_3 {
    left: 198px;
    top: 1010px;
    position: absolute;
}
#field_motor {
    padding-left: 60px;
    left: 31px;
    top: 1029px;
    width: 185px;
    position: absolute;
}
#field_pinion {
    left: 122px;
    top: 1050px;
    width: 60px;
    position: absolute;
}
#field_spur {
    left: 200px;
    top: 1050px;
    width: 60px;
    position: absolute;
}
#field_body {
    left: 119px;
    top: 1071px;
    width: 70px;
    position: absolute;
}
#field_wing {
    left: 194px;
    top: 1070px;
    width: 90px;
    position: absolute;
}
#field_front_brand {
    left: 109px;
    top: 1137px;
    width: 50px;
    position: absolute;
}
#field_front_wt {
    left: 111px;
    top: 1159px;
    width: 50px;
    position: absolute;
}
#field_center_brand {
    left: 168px;
    top: 1137px;
    width: 45px;
    position: absolute;
}
#field_center_wt {
    left: 169px;
    top: 1159px;
    width: 50px;
    position: absolute;
}
#field_rear_brand {
    left: 227px;
    top: 1137px;
    width: 50px;
    position: absolute;
}
#field_rear_wt {
    left: 228px;
    top: 1159px;
    width: 50px;
    position: absolute;
}
#field_steerarm {
    left: 405px;
    top: 879px;
    width: 45px;
    position: absolute;
}
#field_bumpshim {
    left: 400px;
    top: 907px;
    width: 45px;
    position: absolute;
}
#field_studshim {
    left: 430px;
    top: 1100px;
    width: 55px;
    position: absolute;
}
#field_ackside_1 {
    left: 470px;
    top: 1178px;
    position: absolute;
}

#field_ackside_2 {
    left: 512px;
    top: 1178px;
    position: absolute;
}
#field_ackplus_1{
    left: 545px;
    top: 1156px;
    position: absolute;
}
#field_ackplus_2 {
    left: 545px;
    top: 1123px;
    position: absolute;
}
#field_armshimf {
    left: 612px;
    top: 906px;
    position: absolute;
    width: 45px;
}
#field_armshimr {
    left: 713px;
    top: 905px;
    position: absolute;
    width: 45px;
}
#field_toe_1 {
    left: 861px;
    top: 990px;
    position: absolute;
}
#field_toe_2 {
    left: 861px;
    top: 1008px;
    position: absolute;
}
#field_toe_3 {
    left: 861px;
    top: 1025px;
    position: absolute;
}
#field_toe_4 {
    left: 861px;
    top: 1042px;
    position: absolute;
}
#field_winglevel_1 {
    left: 787px;
    top: 1092px;
    position: absolute;
}
#field_winglevel_2 {
    left: 787px;
    top: 1112px;
    position: absolute;
}
#field_winglevel_3 {
    left: 787px;
    top: 1132px;
    position: absolute;
}
#field_general_notes {
    padding-left: 60px;
    left: 33px;
    top: 1207px;
    position: absolute;
    width: 782px;
    height: 56px;
}
#password {
    background: none repeat scroll 0 0 #FFFFFF;
}
