input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
	text-align: center;
  
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	top: 633px;
	left: 160px;
	width: 19px;
	bottom: 149373996px;
	height: 20px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	top: 633px;
	left: 160px;
	width: 19px;
	bottom: 149373996px;
	height: 20px;
}
select{
	height:26px;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1315px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 598px;
	top: 4px;
	width: 256px;
}
#field_name {
padding-left:70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:60px;
	left: 152px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 83px;
}
#field_traction_level_2 {
	left: 259px;
	top: 82px;
}
#field_traction_level_3 {
	left: 347px;
	top: 82px;
}
#field_track_type_1 {
	left: 428px;
	top: 84px;
}
#field_track_type_2 {
	left: 492px;
	top: 83px;
}
#field_track_type_3 {
	left: 577px;
	top: 83px;
}
#field_track_size_1 {
	left: 674px;
	top: 84px;
}
#field_track_size_2 {
	left: 747px;
	top: 84px;
}
#field_track_size_3 {
	left: 833px;
	top: 85px;
}
#field_track_condition_1 {
	left: 194px;
	top: 133px;
}
#field_track_condition_2 {
	left: 278px;
	top: 133px;
}
#field_track_condition_3 {
	left: 391px;
	top: 131px;
}
#field_track_condition_4 {
	left: 194px;
	top: 161px;
}
#field_track_condition_5 {
	left: 278px;
	top: 161px;
}
#field_track_condition_6 {
	left: 391px;
	top: 160px;
}
#field_track_surface_1 {
	left: 552px;
	top: 130px;
}
#field_track_surface_2 {
	left: 689px;
	top: 130px;
}
#field_track_surface_3 {
	left: 804px;
	top: 130px;
}
#field_track_surface_4 {
	left: 552px;
	top: 152px;
}
#field_track_surface_5 {
	left: 690px;
	top: 153px;
}
#field_track_surface_6 {
	left: 806px;
	top: 152px;
}

#password, #password-1{
	background:#fff; 	
	width:200px; 

}

#field_front_tower_mount_1{
	top: 219px;
	left: 96px;
}
#field_front_tower_mount_2{
	top: 212px;
	left: 106px;
}
#field_front_tower_mount_3{
	top: 204px;
	left: 118px;
}
#field_front_tower_mount_4{
	top: 241px;
	left: 96px;
}
#field_front_tower_mount_5{
	top: 234px;
	left: 106px;
}
#field_front_tower_mount_6{
	top: 224px;
	left: 116px;
}
#field_front_front_ackerman_1{
	top: 273px;
	left: 158px;
}
#field_front_front_ackerman_2{
	top: 288px;
	left: 158px;
}
#field_front_front_ackerman_3{
	top: 305px;
	left: 158px;
}
#field_front_camber_mount_1{
	top: 302px;
	left: 94px;
}
#field_front_camber_mount_2{
	top: 302px;
	left: 105px;
}
#field_front_camber_mount_3{
	top: 302px;
	left: 118px;
}
#field_front_camber_mount_4{
	top: 318px;
	left: 94px;
}
#field_front_camber_mount_5{
	top: 318px;
	left: 105px;
}
#field_front_camber_mount_6{
	top: 318px;
	left: 118px;
}
#field_front_camber_mount_7{
	top: 337px;
	left: 94px;
}
#field_front_camber_mount_8{
	top: 337px;
	left: 105px;
}
#field_front_camber_mount_9{
	top: 337px;
	left: 118px;
}
#field_front_downtravel{
	top: 130px;
	left: 100px;
}
#field_f_turnbuckler{
	top: 336px;
	left: 152px;
	width:56px;
}
#field_front_arm_mount_1{
	top: 485px;
	left: 160px;
}
#field_front_arm_mount_2{
	top: 486px;
	left: 173px;
}
#field_front_downtravel0{
	top: 479px;
	left: 36px;
	width:75px;
}


#field_front_ball_type_1{
	top: 313px;
	left: 248px;
}
#field_front_ball_type_2{
	top: 313px;
	left: 276px;
}
#field_front_hub_mount_1{
	top: 359px;
	left: 252px;
}
#field_front_hub_mount_2{
	top: 361px;
	left: 267px;
}
#field_front_hub_mount_3{
	top: 365px;
	left: 281px;
}
#field_top_kickup_1{
	top: 232px;
	left: 461px;
}
#field_top_kickup_2{
	top: 246px;
	left: 462px;
}
#field_top_kickup_3{
	top: 261px;
	left: 462px;
}
#field_top_kickup_4{
	top: 274px;
	left: 463px;
}
#field_top_kickup_5{
	top: 289px;
	left: 463px;
}
#field_bottom_kickup_1{
	top: 320px;
	left: 463px;
}
#field_bottom_kickup_2{
	top: 335px;
	left: 463px;
}
#field_bottom_kickup_3{
	top: 349px;
	left: 463px;
}
#field_bottom_kickup_4{
	top: 363px;
	left: 463px;
}
#field_bottom_kickup_5{
	top: 378px;
	left: 463px;
}
#field_front_rideheight{
padding-left:30px;
	top: 260px;
	left: 621px;
	width:117px;
}
#field_front_downtravel{
padding-left:30px;
	top: 307px;
	left: 623px;
	width:121px;
}
#field_front_swaybar{
padding-left:30px;
	top: 352px;
	left: 623px;
	width:123px;
}
#field_front_balance{
	top: 395px;
	left: 653px;
	width:105px;
}
#field_front_camberlength{
padding-left:30px;
	top: 422px;
	left: 661px;
	width:68px;
}
#field_front_camber{
padding-left:30px;
	top: 444px;
	left: 662px;
	width:67px;
}
#field_steering_link{
padding-left:30px;
	top: 465px;
	left: 663px;
	width:63px;
}
#field_front_toe{
padding-left:30px;
	top: 486px;
	left: 661px;
	width:63px;
}
#field_rear_rideheight{
	top: 261px;
	left: 790px;
	width:122px;
}
#field_rear_downtravel{
	top: 220px;
	left: 100px;
	width:123px;
}
#field_rear_swaybar{
	top: 351px;
	left: 791px;
	width:120px;
}
#field_rear_balance{
	top: 394px;
	left: 790px;
	width:106px;
}
#field_rear_camberlength{
	top: 422px;
	left: 830px;
	width:66px;
}
#field_rear_camber{
	top: 443px;
	left: 831px;
	width:67px;
}
#field_rear_tower_mount_1{
	top: 564px;
	left: 118px;
}
#field_rear_tower_mount_2{
	top: 555px;
	left: 130px;
}
#field_rear_tower_mount_3{
	top: 548px;
	left: 139px;
}
#field_rear_tower_mount_4{
	top: 541px;
	left: 149px;
}
#field_rear_tower_mount_5{
	top: 583px;
	left: 120px;
}
#field_rear_tower_mount_6{
	top: 577px;
	left: 129px;
}
#field_rear_tower_mount_7{
	top: 570px;
	left: 138px;
}
#field_rear_tower_mount_8{
	top: 563px;
	left: 147px;
}
#field_rear_camber_mount_1{
	top: 648px;
	left: 99px;
}
#field_rear_camber_mount_2{
	top: 648px;
	left: 111px;
}
#field_rear_camber_mount_3{
	top: 647px;
	left: 125px;
}
#field_rear_camber_mount_4{
	top: 662px;
	left: 99px;
}
#field_rear_camber_mount_5{
	top: 661px;
	left: 111px;
}
#field_rear_camber_mount_6{
	top: 661px;
	left: 125px;
}
#field_rear_camber_mount_7{
	top: 677px;
	left: 99px;
}
#field_rear_camber_mount_8{
	top: 677px;
	left: 111px;
}
#field_rear_camber_mount_9{
	top: 676px;
	left: 125px;
}
#field_rear_camber_mount_10{
	top: 692px;
	left: 99px;
}
#field_rear_camber_mount_11{
	top: 693px;
	left: 111px;
}
#field_rear_camber_mount_12{
	top: 692px;
	left: 125px;
}
#field_rear_downtravel{
	top: 307px;
	left: 790px;
}
#field_rear_wing_mount_1{
	top: 569px;
	left: 190px;
}
#field_rear_wing_mount_2{
	top: 586px;
	left: 191px;
}
#field_r_turnbuckler{
	top: 693px;
	left: 151px;
	width:40px;
}
#field_rear_arm_mount_1{
	top: 841px;
	left: 159px;
}
#field_rear_arm_mount_2{
	top: 841px;
	left: 175px;
}
#field_rear_arm_mount_3{
	top: 841px;
	left: 189px;
}

#field_rear_downtravel0{
	top: 869px;
	left: 40px;
	width:107px;
}



#field_rear_hub_mount_1{
	top: 703px;
	left: 278px;
}
#field_rear_hub_mount_2{
	top: 703px;
	left: 286px;
}
#field_rear_hub_mount_3{
	top: 703px;
	left: 297px;
}
#field_rear_hub_mount_4{
	top: 718px;
	left: 278px;
}
#field_rear_hub_mount_5{
	top: 718px;
	left: 289px;
}
#field_rear_hub_mount_6{
	top: 746px;
	left: 306px;
}
#field_hub_pin_position_1{
	top: 834px;
	left: 306px;
}
#field_hub_pin_position_2{
	top: 848px;
	left: 306px;
}
#field_hub_pin_position_3{
	top: 865px;
	left: 306px;
}
#field_antisquat_1{
	top: 544px;
	left: 442px;
}
#field_antisquat_2{
	top: 559px;
	left: 442px;
}
#field_antisquat_3{
	top: 574px;
	left: 442px;
}
#field_antisquat_4{
	top: 588px;
	left: 443px;
}
#field_antisquat_5{
	top: 601px;
	left: 442px;
}
#field_toein_1{
	top: 638px;
	left: 414px;
}
#field_toein_2{
	top: 638px;
	left: 428px;
}
#field_toein_3{
	top: 639px;
	left: 443px;
}
#field_toein_4{
	top: 638px;
	left: 458px;
}
#field_toein_5{
	top: 637px;
	left: 472px;
}
#field_rear_hub_position_1{
	top: 717px;
	left: 368px;
}
#field_rear_hub_position_2{
	top: 733px;
	left: 368px;
}
#field_rear_hub_position_3{
	top: 749px;
	left: 369px;
}
#field_weight_1{
	top: 799px;
	left: 369px;
	-webkit-transform: rotate(-90deg);
 Ê Ê-moz-transform: rotate(-90deg);
	width:40px;
	height:20px;
}
#field_weight_2{
	top: 860px;
	left: 376px;
	width:30px;
}
#field_weight_3{
	top: 860px;
	left: 430px;
	width:30px;
}
#field_weight_4{
	top: 854px;
	left: 486px;
	width:30px;
}
#field_weight_5{
	top: 822px;
	left: 537px;
	-webkit-transform: rotate(-90deg);
 Ê Ê-moz-transform: rotate(-90deg);
	width:40px;
	height:20px;
}
#field_weight_6{
	top: 910px;
	left: 371px;
	-webkit-transform: rotate(-90deg);
 Ê Ê-moz-transform: rotate(-90deg);
	width:38px;
	height:20px;
}
#field_weight_7{
	top: 890px;
	left: 539px;
	-webkit-transform: rotate(-90deg);
 Ê Ê-moz-transform: rotate(-90deg);
	width:40px;
	height:20px;
}
#field_total_weight{
	top: 942px;
	left: 473px;
	width:73px;
}
#field_car_weight{
padding-left:70px;
	top: 988px;
	left: 257px;
	width:203px;
}
#field_alloy_hub_1{
	top: 925px;
	left: 253px;
}
#field_alloy_hub_2{
	top: 941px;
	left: 254px;
}
#field_engine_mountholes_1{
	top: 911px;
	left: 74px;
}
#field_engine_mountholes_2{
	top: 911px;
	left: 91px;
}
#field_engine_mountholes_3{
	top: 910px;
	left: 131px;
}
#field_engine_mountholes_4{
	top: 910px;
	left: 149px;
}
#field_engine_mountholes_5{
	top: 949px;
	left: 75px;
}
#field_engine_mountholes_6{
	top: 949px;
	left: 93px;
}
#field_engine_mountholes_7{
	top: 950px;
	left: 134px;
}
#field_engine_mountholes_8{
	top: 949px;
	left: 150px;
}
#field_engine_front_1{
	top: 930px;
	left: 18px;
}
#field_engine_front_2{
	top: 931px;
	left: 212px;
}
#field_engine_position_1{
	top: 1017px;
	left: 37px;
}
#field_engine_position_2{
	top: 1017px;
	left: 140px;
}
#field_engine_position_3{
	top: 1085px;
	left: 33px;
}
#field_engine_position_4{
	top: 1086px;
	left: 144px;
}
#field_engine_position_5{
	top: 683px;
	left: 246px;
}
#field_front_oil{
	top: 460px;
	left: 100px;
	width:30px;
}
#field_front_piston{
padding-left:30px;
	top: 587px;
	left: 623px;
	width:117px;
}
#field_front_spring{
padding-left:30px;
	top: 631px;
	left: 625px;
	width:118px;
}
#field_front_preload{
padding-left:30px;
	top: 665px;
	left: 675px;
	width:50px;
}
#field_front_total{
padding-left:30px;
	top: 686px;
	left: 676px;
	width:51px;
}
#field_front_rebound{
padding-left:30px;
	top: 722px;
	left: 629px;
	width:110px;
}
#field_rear_oil{
	top: 490px;
	left: 100px;
	width:30px;
}
#field_rear_piston{
	top: 585px;
	left: 789px;
	width:124px;
}
#field_rear_spring{
	top: 633px;
	left: 790px;
	width:114px;
}
#field_rear_preload{
	top: 664px;
	left: 840px;
	width:54px;
}
#field_rear_total{
	top: 687px;
	left: 844px;
	width:48px;
}
#field_rear_rebound{
	top: 722px;
	left: 802px;
	width:98px;
}
#field_front_brand{
padding-left:30px;
	top: 791px;
	left: 628px;
	width:113px;
}
#field_front_compound{
padding-left:30px;
	top: 831px;
	left: 628px;
	width:116px;
}
#field_front_insert{
padding-left:30px;
	top: 875px;
	left: 629px;
	width:118px;
}
#field_front_wheel{
padding-left:30px;
	top: 920px;
	left: 631px;
	width:116px;
}
#field_rear_tire{
	top: 790px;
	left: 793px;
	width:110px;
}
#field_rear_compound{
	top: 833px;
	left: 792px;
	width:123px;
}
#field_rear_insert{
	top: 875px;
	left: 791px;
	width:118px;
}
#field_rear_wheel{
	top: 919px;
	left: 792px;
	width:122px;
}
#field_tire_weight{
padding-left:70px;
	top: 953px;
	left: 591px;
	width:231px;
}
#field_front_oil{
padding-left:30px;
	top: 547px;
	left: 625px;
	width:120px;
}
#field_front_dif_oil{
	top: 1042px;
	left: 657px;
	width:75px;
}



#field_front_gear{
	top: 1086px;
	left: 657px;
	width:77px;
}
#field_center_oil{
	top: 1042px;
	left: 748px;
	width:72px;
}
#field_center_gear{
	top: 1085px;
	left: 753px;
	width:74px;
}
#field_rear_oil{
	top: 548px;
	left: 789px;
	width:123px;
}

#field_rear_diff_gear{
	top: 551px;
	left: 792px;
	width:30px;
}
#field_rear_gear{
	top: 1084px;
	left: 846px;
	width:66px;
}

#field_rear_diff_oil{
	top: 1040px;
	left: 839px;
	width:74px;
}


#field_engine{
	top: 1056px;
	left: 269px;
	width:79px;
}
#field_pipe{
	top: 1093px;
	left: 269px;
	width:79px;
}
#field_plug{
	top: 1057px;
	left: 364px;
	width:89px;
}
#field_clutch{
	top: 1093px;
	left: 364px;
	width:89px;
}
#field_fuel{
	top: 1057px;
	left: 468px;
	width:90px;
}
#field_cspring{
	top: 1093px;
	left: 467px;
	width:89px;
}
#field_lap{
padding-left:80px;
	top: 1141px;
	left: 11px;
	width:143px;
}
#field_runtime{
padding-left:80px;
	top: 1172px;
	left: 12px;
	width:141px;
}
#field_result{
padding-left:80px;
	top: 1203px;
	left: 11px;
	width:144px;
}
#field_qual{
padding-left:80px;
	top: 1233px;
	left: 8px;
	width:146px;
}
#field_finish{
padding-left:70px;
	top: 1267px;
	left: 0px;
	width:162px;
}
#field_notes{
padding-left:10px;
	top: 1171px;
	left: 275px;
	width:640px;
	height:119px;
	background:#fff;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}