input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	height: 18px;
	overflow: visible;
	left: 651px;
	top: 1183px;
	bottom: -165px;
	width: 18px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	height: 17px;
	overflow: visible;
	left: 651px;
	top: 1183px;
	bottom: -165px;
	width: 17px;
}

select{
	height:25px;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1315px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 598px;
	top: 9px;
	width: 233px;
}
#field_name {
padding-left:70px;
	left: 152px;
	top: 9px;
	width: 200px;
}
#field_city {
padding-left:60px;
	left: 150px;
	top: 55px;
	width: 150px;
	height:21px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 451px;
	top: 55px;
	width: 130px;
}

#field_date {
	left: 489px;
	top: 10px;
	width: 95px;
}

#field_event {
padding-left:60px;
	left: 596px;
	top: 55px;
	width: 234px;
}
#field_traction_level_1 {
	left: 186px;
	top: 120px;
}
#field_traction_level_2 {
	left: 259px;
	top: 121px;
}
#field_traction_level_3 {
	left: 340px;
	top: 121px;
}
#field_track_type_1 {
	left: 422px;
	top: 120px;
}
#field_track_type_2 {
	left: 492px;
	top: 121px;
}
#field_track_type_3 {
	left: 577px;
	top: 121px;
}
#field_track_size_1 {
	left: 667px;
	top: 120px;
}
#field_track_size_2 {
	left: 742px;
	top: 120px;
}
#field_track_size_3 {
	left: 693px;
	top: 180px;
}
#field_track_condition_1 {
	left: 198px;
	top: 185px;
}
#field_track_condition_2 {
	left: 284px;
	top: 184px;
}
#field_track_condition_3 {
	left: 395px;
	top: 184px;
}
#field_track_condition_4 {
	left: 198px;
	top: 212px;
}
#field_track_condition_5 {
	left: 282px;
	top: 210px;
}
#field_track_condition_6 {
	left: 395px;
	top: 213px;
}
#field_track_surface_1 {
	left: 552px;
	top: 181px;
}
#field_track_surface_2 {
	left: 828px;
	top: 120px;
}
#field_track_surface_3 {
	left: 806px;
	top: 184px;
}
#field_track_surface_4 {
	left: 551px;
	top: 209px;
}
#field_track_surface_5 {
	left: 692px;
	top: 208px;
}
#field_track_surface_6 {
	left: 807px;
	top: 212px;
}

#spur_t_big1{
	left: 33px;
	top: 278px;
	width: 46px;
	text-align: center;
	font-size: 18px;
	height:26px;
}
#spur_t_big2{
	left: 131px;
	top: 276px;
	width: 35px;
	text-align: center;
	font-size: 18px;
	height:26px;
}

#spur_t{
	left: 202px;
	top: 268px;
	width: 24px;
}

#spur_t2{
	top: 270px;
	left: 260px;
	width: 24px;
}
#spur_t3{
	top: 289px;
	left: 261px;
	width: 24px;
}
#spur_t4{
	top: 287px;
	left: 203px;
	width: 24px;
}
#spur_carbon{
	top: 269px;
	left: 390px;
	width: 35px;
}
#spur_aluminum{
	top: 287px;
	left: 404px;
	width: 35px;
}
#tires{
	top: 270px;
	left: 498px;
	width: 115px;
}

#compounds{
	top: 271px;
	left: 709px;
	width: 80px;
}
#inners{
	top: 289px;
	left: 498px;
	width: 115px;
}
#wheel{
	top: 290px;
	left: 672px;
	width: 115px;
}

#kyosho_template_textfiled{
	top:0px; 
	left:100px;
	width:30px; 	
}
#body_top{
	top: 273px;
	left: 809px;
	width: 84px;
	height: 30px;
	font-size:18px; 
}

#body_top{
	top: 273px;
	left: 809px;
	width: 84px;
	height: 30px;
	font-size:18px; 
}
#front_shock_type{
	top: 366px;
	left: 219px;
	width: 84px;
	height: 18px;
	font-size:18px;
}
#rear_shock_type{
	top: 364px;
	left: 334px;
	width: 84px;
	height: 21px;
	font-size:18px;
}

#front_piston1{
	top: 388px;
	left: 220px;
}
#front_piston2{
	top: 405px;
	left: 220px;
}
#front_piston3{
	top: 420px;
	left: 220px;
}
#front_piston4{
	top: 434px;
	left: 220px;
}
#front_piston5{
	top: 446px;
	left: 220px;
}
#front_piston6{
	top: 460px;
	left: 220px;
}
#front_piston7{
	top: 475px;
	left: 220px;
}
#front_piston8{
	top: 488px;
	left: 220px;
}
#front_piston9{
	top: 501px;
	left: 220px;
}
#rear_piston1{
	top: 387px;
	left: 343px;
}
#rear_piston2{
	top: 401px;
	left: 343px;
}
#rear_piston3{
	top: 416px;
	left: 343px;
}
#rear_piston4{
	top: 431px;
	left: 343px;
}
#rear_piston5{
	top: 443px;
	left: 343px;
}
#rear_piston6{
	top: 456px;
	left: 343px;
}
#rear_piston7{
	top: 469px;
	left: 343px;
}
#rear_piston8{
	top: 483px;
	left: 343px;
}
#rear_piston9{
	top: 498px;
	left: 343px;
}
#shock_setup_oil{
	top: 524px;
	left: 242px;
	width: 73px;
}
#shock_setup_oil_rear{
	top: 521px;
	left: 361px;
	width: 73px;
}

#shock_setup_spring{
	top: 552px;
	left: 214px;
	width: 96px;
}

#shock_setup_spring_rear{
	top: 553px;
	left: 340px;
	width: 95px;
}

#shock_front_pressure_sponge{
	top: 583px;
	left: 218px;
	width: 95px;
}

#shock_rear_pressure_sponge{
	top: 582px;
	left: 340px;
	width: 95px;
}

#shock_rideheight_front{
	top: 654px;
	left: 21px;
	width: 40px;
}
#shock_rideheight_rear{
	top: 654px;
	left: 99px;
	width: 35px;
}

#shock_rebound_front{
	top: 738px;
	left: 23px;
	width: 35px;
}
#shock_rebound_rear{
	top: 738px;
	left: 96px;
	width: 35px;
}

#shock_camberangle_front{
	top: 737px;
	left: 240px;
	width: 35px;
}

#shock_camberangle_rear{
	top: 738px;
	left: 317px;
	width: 35px;
}

#skid_angle_upper_front1{
	top: 902px;
	left: 138px;
}
#skid_angle_upper_front2{
	top: 902px;
	left: 180px;
}

#skid_angle_upper_front3{
	top: 902px;
	left: 222px;
}

#skid_angle_upper_front4{
	top: 902px;
	left: 264px;
}
#skid_angle_upper_rear1{
	top: 936px;
	left: 138px;
}
#skid_angle_upper_rear2{
	top: 935px;
	left: 178px;
}
#skid_angle_under_front1{
	top: 965px;
	left: 139px;
}

#skid_angle_under_front2{
	top: 995px;
	left: 137px;
}

#skid_angle_under_front3{
	top: 996px;
	left: 219px;
}

#upper_arm_position1{
	top: 938px;
	left: 370px;
}

#upper_arm_left_position2{
	top: 937px;
	left: 416px;
}


#upper_arm_left_position1{
	top: 938px;
	left: 370px;
}

#upper_arm_position2{
	top: 937px;
	left: 416px;
}

#skid_angle_under_front4{
	top: 966px;
	left: 222px;
}

#front_tread1{
	top: 1082px;
	left: 36px;
}

#front_tread2{
	top: 1107px;
	left: 36px;
}



#front_hub1{
	top: 1073px;
	left: 196px;
}

#front_hub2{
	top: 1073px;
	left: 247px;
}

#front_hub3{
	top: 1074px;
	left: 291px;
}

#front_hub4{
	top: 1100px;
	left: 197px;
}


#front_hub5{
	top: 1119px;
	left: 195px;
}

#front_hub6{
	top: 1118px;
	left: 295px;
}

#front_hub7{
	top: 1119px;
	left: 342px;
}

#shock_stay_front1{
	top: 1180px;
	left: 23px;
}
#shock_stay_front2{
	top: 1180px;
	left: 53px;
}
#shock_stay_front3{
	top: 1181px;
	left: 82px;
}
#shock_stay_rear1{
	top: 1180px;
	left: 171px;
}


#shock_stay_rear2{
	top: 1180px;
	left: 192px;
}

#shock_stay_rear3{
	top: 1180px;
	left: 212px;
}

#shock_stay_rear4{
	top: 1180px;
	left: 229px;
}

#shock_stay_rear5{
	top: 1181px;
	left: 248px;
}

#sus_arm_front1{
	top: 1219px;
	left: 274px;
}

#sus_arm_front2{
	top: 1218px;
	left: 309px;
}
#sus_arm_rear1{
	top: 1219px;
	left: 363px;
}

#sus_arm_rear2{
	top: 1219px;
	left: 398px;
}

#rear_shock_stay1{
	top: 1274px;
	left: 275px;
}
#rear_shock_stay2{
	top: 1273px;
	left: 363px;
}
#diff_gear_oil_front1{
	top: 354px;
	left: 582px;
}
#diff_gear_oil_front2{
	top: 354px;
	left: 640px;
}

#diff_gear_oil_center1{
	top: 356px;
	left: 690px;
}

#diff_gear_oil_center2{
	top: 356px;
	left: 747px;
}


#diff_gear_oil_rear1{
	top: 354px;
	left: 799px;
}

#diff_gear_oil_rear2{
	top: 356px;
	left: 859px;
}

#field_oil_front{
	top: 371px;
	left: 591px;
	width:83px;
}
#field_oil_center{
	top: 372px;
	left: 691px;
	width:83px;
}
#field_oil_rear{
	top: 373px;
	left: 804px;
	width:83px;
}

#toe_angle1{
	top: 452px;
	left: 548px;
}

#toe_angle2{
	top: 452px;
	left: 584px;
}

#toe_angle3{
	top: 453px;
	left: 631px;
}

#field_toe_angle_front{
	top: 454px;
	left: 498px;
	width:24px;
}


#wheelbase_front_side{
	top: 523px;
	left: 627px;
	width: 38px;
}

#wheelbase_rear_side{
	top: 540px;
	left: 628px;
	width: 37px;
}

#rear_roll_center1{
	top: 615px;
	left: 490px;
}
#rear_roll_center2{
	top: 631px;
	left: 640px;
}

#rear_roll_center3{
	top: 630px;
	left: 696px;
}

#rear_roll_center4{
	top: 630px;
	left: 757px;
}

#rear_roll_center5{
	top: 632px;
	left: 810px;
}

#rear_roll_centerL1{
	top: 685px;
	left: 487px;
}
#rear_roll_centerL2{
	top: 697px;
	left: 640px;
}
#rear_roll_centerL3{
	top: 695px;
	left: 697px;
}
#rear_roll_centerL4{
	top: 697px;
	left: 756px;
}
#rear_roll_centerL5{
	top: 695px;
	left: 813px;
}
#upper_arm_rear_shock1{
	top: 766px;
	left: 553px;
}
#upper_arm_rear_shock2{
	top: 766px;
	left: 576px;
}

#upper_arm_rear_shock3{
	top: 765px;
	left: 599px;
}
#upper_arm_rear_shock4{
	top: 765px;
	left: 624px;
}
#upper_arm_rear_shock5{
	top: 765px;
	left: 648px;
}
#upper_arm_rear_shock6{
	top: 780px;
	left: 553px;
}
#upper_arm_rear_shock7{
	top: 780px;
	left: 576px;
}
#upper_arm_rear_shock8{
	top: 779px;
	left: 599px;
}
#upper_arm_rear_shock9{
	top: 779px;
	left: 624px;
}

#upper_arm_rear_shock10{
	top: 779px;
	left: 648px;
}

#upper_arm_rear_wheelside1{
	top: 799px;
	left: 558px;
}

#upper_arm_rear_wheelside2{
	top: 797px;
	left: 586px;
}

#upper_arm_rear_wheelside3{
	top: 797px;
	left: 613px;
}
#upper_arm_rear_wheelside4{
	top: 797px;
	left: 640px;
}

#upper_arm_position1{
	top: 760px;
	left: 721px;
}
#upper_arm_position2{
	top: 783px;
	left: 722px;
}

#upper_arm_position3{
	top: 759px;
	left: 741px;
}

#upper_arm_position4{
	top: 782px;
	left: 741px;
}


#upper_arm_position_right1{
	top: 752px;
	left: 799px;
}
#upper_arm_position_right2{
	top: 762px;
	left: 799px;
}

#upper_arm_position_right3{
	top: 771px;
	left: 799px;
}
#upper_arm_position_right4{
	top: 779px;
	left: 799px;
}
#upper_arm_position_right5{
	top: 787px;
	left: 799px;
}

#upper_arm_position_right6{
	top: 750px;
	left: 817px;
}
#upper_arm_position_right7{
	top: 759px;
	left: 817px;
}
#upper_arm_position_right8{
	top: 766px;
	left: 817px;
}
#upper_arm_position_right9{
	top: 776px;
	left: 817px;
}
#upper_arm_position_right10{
	top: 785px;
	left: 817px;
}

#rear_hub_carrier1{
	top: 874px;
	left: 482px;
}

#rear_hub_carrier2{
	top: 873px;
	left: 565px;
}

#rear_hub_carrier3{
	top: 892px;
	left: 482px;
}

#rear_hub_carrier4{
	top: 910px;
	left: 482px;
}

#sterring_plate_option1{
	top: 854px;
	left: 659px;
}
#sterring_plate_option2{
	top: 874px;
	left: 659px;
}

#sterring_plate_option3{
	top: 895px;
	left: 659px;
}
#sterring_plate_option4{
	top: 866px;
	left: 815px;
}

#sterring_plate_option5{
	top: 916px;
	left: 815px;
}

#sterring_plate_radio1{
	top: 871px;
	left: 713px;
}

#sterring_plate_radio2{
	top: 884px;
	left: 713px;
}
#sterring_plate_radio3{
	top: 899px;
	left: 713px;
}

#rear_hub_position1{
	top: 979px;
	left: 562px;
}
#rear_hub_position2{
	top: 980px;
	left: 482px;
}

#chassis_brace1{
	top: 984px;
	left: 684px;
}
#chassis_brace2{
	top: 984px;
	left: 785px;
}

#chassis_brace3{
	top: 1002px;
	left: 684px;
}
#chassis_brace4{
	top: 1001px;
	left: 785px;
}

#unti_roll_bar_front_above{
	top: 1079px;
	left: 506px;
	width:40px; 
}

#unti_roll_bar_front_below{
	top: 1104px;
	left: 485px;
	width:40px; 
}

#unti_roll_bar_rear_above{
	top: 1079px;
	left: 594px;
	width:40px; 
}

#unti_roll_bar_rear_below{
	top: 1103px;
	left: 571px;
	width:40px; 
}
#sus_arm_real1{
	top: 1089px;
	left: 764px;
}
#sus_arm_real2{
	top: 1106px;
	left: 764px;
}

#rear_tread_front_side1{
	top: 1184px;
	left: 486px;
}

#rear_tread_front_side2{
	top: 1184px;
	left: 518px;
}


#rear_tread_front_side3{
	top: 1183px;
	left: 551px;
}

#rear_tread_rear_side1{
	top: 1184px;
	left: 590px;
}
#rear_tread_rear_side2{
	top: 1184px;
	left: 619px;
}
#rear_tread_rear_side3{
	top: 1184px;
	left: 652px;
}

#wing_angle_right1{
	top: 1171px;
	left: 722px;
}

#wing_angle_right2{
	top: 1171px;
	left: 806px;
}

#wheel_hub_right1{
	top: 1249px;
	left: 489px;
}

#wheel_hub_right2{
	top: 1265px;
	left: 489px;
}

#wheel_hub_right3{
	top: 1280px;
	left: 489px;
}
#wheel_hub_right4{
	top: 1248px;
	left: 592px;
}
#wheel_hub_right5{
	top: 1263px;
	left: 591px;
}
#wheel_hub_right6{
	top: 1279px;
	left: 591px;
}
#weight_right{
	top: 1228px;
	left: 752px;
	width: 109px;
}
#weight_right_front{
	top: 1275px;
	left: 720px;
	width: 89px;
}

#weight_right_rear{
	top: 1274px;
	left: 821px;
	width: 116px;
}
#password, #password-1{
	width:220px;
	background:#fff;	
}
