input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	top: 1118px;
	left: 191px;
	width: 18px;
	bottom: -3px;
	height: 21px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	top: 1118px;
	left: 191px;
	width: 18px;
	bottom: -3px;
	height: 21px;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1300px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 592px;
	top: 9px;
	width: 256px;
}
#field_name {
padding-left:70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:60px;
	left: 162px;
	top: 49px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 47px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 7px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 48px;
	width: 260px;
}
#field_traction_level_1 {
	left: 189px;
	top: 102px;
}
#field_traction_level_2 {
	left: 255px;
	top: 103px;
}
#field_traction_level_3 {
	left: 344px;
	top: 102px;
}
#field_track_type_1 {
	left: 427px;
	top: 104px;
}
#field_track_type_2 {
	left: 494px;
	top: 105px;
}
#field_track_type_3 {
	left: 578px;
	top: 103px;
}
#field_track_size_1 {
	left: 670px;
	top: 104px;
}
#field_track_size_2 {
	left: 743px;
	top: 103px;
}
#field_track_size_3 {
	left: 830px;
	top: 103px;
}
#field_track_condition_1 {
	left: 201px;
	top: 158px;
}
#field_track_condition_2 {
	left: 278px;
	top: 156px;
}
#field_track_condition_3 {
	left: 391px;
	top: 159px;
}
#field_track_condition_4 {
	left: 200px;
	top: 184px;
}
#field_track_condition_5 {
	left: 278px;
	top: 182px;
}
#field_track_condition_6 {
	left: 391px;
	top: 184px;
}
#field_track_surface_1 {
	left: 556px;
	top: 158px;
}
#field_track_surface_2 {
	left: 691px;
	top: 154px;
}
#field_track_surface_3 {
	left: 808px;
	top: 156px;
}
#field_track_surface_4 {
	left: 557px;
	top: 183px;
}
#field_track_surface_5 {
	left: 691px;
	top: 182px;
}
#field_track_surface_6 {
	left: 808px;
	top: 182px;
}

#password, #password-1{
	background:#fff;
	width:200px;	
}
#field_front_suspension_image_1_1{
	top:269px;
	left:69px;
}

#field_front_suspension_image_1_2{
	top:263px;
	left:82px;
}
#field_front_suspension_toe_1{
	top:380px;
	left:53px;
}
#field_front_suspension_toe_2{
	top:380px;
	left:97px;
}
#field_front_suspension_toe{
	top:379px;
	left:154px;
	width:37px;
}

#field_front_suspension_weight_placement_1{
	top:427px;
	left:22px;
}

#field_front_suspension_weight_placement_2{
	top:444px;
	left:22px;
}
#field_front_suspension_weight_placement_3{
	top:461px;
	left:22px;
}

#field_front_suspension_weight_placement_bulk_inside_1{
	top:443px;
	left:149px;
	width:30px;
}
#field_front_suspension_weight_placement_bulk_inside_2{
	top:443px;
	left:209px;
	width:30px;
}
#field_front_suspension_weight_placement_bulk_inside_3{
	
}

#field_front_suspension_weight_placement_skid_plate_1{
	top:461px;
	left:148px;
	width:30px;
}

#field_front_suspension_weight_placement_skid_plate_2{
	top:461px;
	left:209px;
	width:30px;
}

#field_front_suspension_upper_spacer{
	top:284px;
	left:166px;
	width:30px;
}
#field_front_suspension_image_2_1{
	top:235px;
	left:243px;
}

#field_front_suspension_image_2_2{
	top:234px;
	left:256px;
}
#field_front_suspension_image_2_3{
	top:234px;
	left:268px;
}

#field_front_suspension_ball_stud_1{
	top:264px;
	left:318px;
}
#field_front_suspension_ball_stud_2{
	top:281px;
	left:318px;
}

#field_front_suspension_camber{
	top:231px;
	left:476px;
	width:40px;
}

/* radio button */

#field_front_suspension_shock_mount_1{
	top:342px;
	left:364px;
}
#field_front_suspension_shock_mount_2{
	top:339px;
	left:376px;
}
#field_front_suspension_shock_mount_3{
	top:335px;
	left:388px;
}
#field_front_suspension_shock_mount_checkbox_1{
	top:326px;
	left:411px;
}

#field_front_suspension_shock_mount_checkbox_2{
	top:341px;
	left:411px;
}

#field_front_suspension_shock_mount_1{
	top:343px;
	left:363px;
}
#field_front_suspension_shock_mount_2{
	top:339px;
	left:377px;
}

#field_front_suspension_camber_1{
	top:301px;
	left:464px;
}
#field_front_suspension_camber_2{
	top:300px;
	left:481px;
}

#field_front_suspension_axle_spacer_1{
	top:381px;
	left:542px;
}
#field_front_suspension_axle_spacer_out{
	top:379px;
	left:590px;
	width:31px;
}
#field_front_suspension_axle_spacer_2{
	top:403px;
	left:542px;
}

#field_front_suspension_axle_spacer_in{
	top:400px;
	left:589px;
	width:34px;
}


#field_front_suspension_sus_mount_1{
	
}
#field_front_suspension_sus_mount_2{
	
}


#field_front_suspension_caster_1{
	top:400px;
	left:362px;
}

#field_front_suspension_caster_2{
	top:416px;
	left:362px;
}
#field_front_suspension_spacer_1{
	top:399px;
	left:422px;
}
#field_front_suspension_spacer_2{
	top:416px;
	left:422px;
}
#field_front_suspension_spacer_3{
	top:433px;
	left:423px;
}

#field_front_suspension_ackerman_steer_spacer{
	top:241px;
	left:809px;
	width:40px;
}
#field_front_suspension_ball_stud_1_1{
	top:300px;
	left:741px;
}

#field_front_suspension_ball_stud_1_2{
	top:283px;
	left:741px;
}

#field_front_suspension_bump_steer_spacer{
	top:341px;
	left:836px;
	width:29px;
}

#field_front_suspension_axle_height_spacer_1{
	top:410px;
	left:684px;
}


#field_front_suspension_axle_height_spacer_2{
	top:394px;
	left:684px;
}

#field_front_suspension_wheelbase_1{
	top:453px;
	left:685px;
}
#field_front_suspension_wheelbase_2{
	top:453px;
	left:748px;
}

#field_front_suspension_wheelbase_3{
	top:454px;
	left:817px;
}

#field_front_suspension_comment{
padding-left:90px;
	top:459px;
	left:338px;
	width:156px;
}

#field_rear_suspension_image_1_1{
	top:538px;
	left:173px;
}
#field_rear_suspension_image_1_2{
	top:532px;
	left:188px;
}
#field_rear_suspension_image_1_3{
	top:525px;
	left:202px;
}

#field_rear_suspension_ball_stud_1{
	top:612px;
	left:194px;
}
#field_rear_suspension_ball_stud_2{
	top:630px;
	left:195px;
}

#field_rear_suspension_body_mount_position_1{
	
}

#field_rear_suspension_body_mount_position_2{
	
}
#field_rear_suspension_upper_spacer{
	top:756px;
	left:70px;
	width:36px;
}

#field_rear_suspension_image_2_1{
	top:708px;
	left:212px;
}

#field_rear_suspension_image_2_2{
	top:715px;
	left:223px;
}

#field_rear_suspension_image_2_3{
	top:709px;
	left:236px;
}

#field_rear_suspension_sus_holder_spacer_f_1{
	top:513px;
	left:278px;
}

#field_rear_suspension_sus_holder_spacer_f_2{
	top:529px;
	left:278px;
}
#field_rear_suspension_sus_holder_spacer_f_3{
	top:544px;
	left:278px;
}


#field_rear_suspension_sus_holder_spacer_r_1{
	top:513px;
	left:372px;
}

#field_rear_suspension_sus_holder_spacer_r_2{
	top:529px;
	left:372px;
}
#field_rear_suspension_sus_holder_spacer_r_3{
	top:544px;
	left:372px;
}



#field_rear_suspension_anti_squat{
	top:562px;
	left:353px;
	width:38px;
}

#field_rear_suspension_image_3_1{
	top:542px;
	left:453px;
}
#field_rear_suspension_image_3_2{
	top:541px;
	left:466px;
}
#field_rear_suspension_image_3_3{
	top:554px;
	left:457px;
}

#field_rear_suspension_image_3_4{
	top:553px;
	left:471px;
}

#field_rear_suspension_upper_spacer_2{
	top:513px;
	left:551px;
	width:55px;
}

#field_rear_suspension_wheelbase_f{
	top:509px;
	left:795px;
	width:30px;
}

#field_rear_suspension_wheelbase_r{
	top:524px;
	left:794px;
	width:30px;
}

#field_rear_suspension_sway_bar_1{
	top:596px;
	left:427px;
}

#field_rear_suspension_sway_bar_2{
	top:615px;
	left:427px;
}

#field_rear_suspension_sway_bar{
	top:613px;
	left:452px;
	width:28px;
}

#field_rear_suspension_camber{
	top:600px;
	left:682px;
	width:28px;
}

#field_rear_suspension_image_4_1{
	top:677px;
	left:502px;
}

#field_rear_suspension_image_4_2{
	top:675px;
	left:518px;
}

#field_rear_suspension_axle_spacer_1{
	top:710px;
	left:594px;
}
#field_rear_suspension_axle_spacer_2{
	top:728px;
	left:594px;
}
#field_rear_suspension_axle_spacer_out{
	top:727px;
	left:644px;
	width:28px;
}
#field_rear_suspension_axle_spacer_in{
	top:710px;
	left:646px;
	width:28px;
}

#field_rear_suspension_lower_sus_holder_1{
	top:741px;
	left:355px;
}
#field_rear_suspension_lower_sus_holder_3{
	top:740px;
	left:412px;
}

#field_rear_suspension_lower_sus_holder_4{
	top:756px;
	left:412px;
}

#field_rear_suspension_lower_sus_holder_2{
	top:757px;
	left:354px;
}

#field_rear_suspension_rear_toe_1{
	top:605px;
	left:735px;
}

#field_rear_suspension_rear_toe_2{
	top:621px;
	left:735px;
}

#field_rear_suspension_rear_toe_3{
	top:636px;
	left:735px;
}
#field_rear_suspension_rear_toe_4{
	top:650px;
	left:735px;
}

#field_rear_suspension_rear_toe_5{
	top:665px;
	left:735px;
}

#field_rear_suspension_comment{
padding-left:100px;
	top:788px;
	left:0px;
	width:422px;
}
#field_diff_1{
	top:771px;
	left:734px;
}
#field_diff_gear{
	top:769px;
	left:837px;
	width:54px;
}

#field_diff_2{
	top:788px;
	left:735px;
}

#field_shock_shock_piston_front{
padding-left:85px;
	top:839px;
	left:43px;
	width:67px;
}

#field_shock_shock_piston_rear{
	top:840px;
	left:233px;
	width:68px;
}

#field_shock_shock_oil_front{
padding-left:100px;
	top:861px;
	left:43px;
	width:53px;
}

#field_shock_shock_oil_rear{
	top:860px;
	left:247px;
	width:54px;
}

#field_shock_shock_spring_front{
padding-left:85px;
	top:881px;
	left:43px;
	width:69px;
}

#field_shock_shock_spring_rear{
	top:882px;
	left:232px;
	width:69px;
}
#field_shock_limiter_front_in{
padding-left:100px;
	top:897px;
	left:43px;
	width:29px;
}

#field_shock_limiter_front_out{
padding-left:110px;
	top:909px;
	left:43px;
	width:28px;
}

#field_shock_limiter_rear_in{
	top:895px;
	left:246px;
	width:29px;
}

#field_shock_limiter_rear_out{
	top:909px;
	left:252px;
	width:28px;
}


#field_shock_limiter_rear_in{
	
}

#field_shock_limiter_rear_out{

}

#field_shock_shock_length_a_front{
padding-left:85px;
	top:928px;
	left:43px;
	width:45px;
}

#field_shock_shock_length_a_rear{
	top:929px;
	left:230px;
	width:45px;
}

#field_shock_shock_top_type_front_1{
	top:958px;
	left:117px;
}

#field_shock_shock_top_type_front_2{
	top:957px;
	left:169px;
}

#field_shock_shock_top_type_rear_1{
	top:957px;
	left:225px;
}

#field_shock_shock_top_type_rear_2{
	top:957px;
	left:273px;
}
#field_shock_ball_end_type_front_s{
	top:1012px;
	left:182px;
}

#field_shock_ball_end_type_front_m{
	top:1011px;
	left:261px;
}
#field_shock_ball_end_type_front_l{
	top:1009px;
	left:339px;
}

#field_shock_ball_end_type_rear_s{
	top:1051px;
	left:183px;
}

#field_shock_ball_end_type_rear_m{
	top:1052px;
	left:262px;
}

#field_shock_ball_end_type_rear_l{
	top:1050px;
	left:339px;
}

#field_truck_condition_1{
	top:1106px;
	left:9px;
}

#field_truck_condition_2{
	top:1121px;
	left:9px;
}

#field_truck_condition_3{
	top:1136px;
	left:9px;
}
#field_truck_condition_4{
	top:1152px;
	left:9px;
}

#field_truck_condition_5{
	top:1167px;
	left:9px;
}

#field_truck_condition_6{
	top:1183px;
	left:9px;
}
#field_truck_condition_7{
	top:1197px;
	left:8px;
}
#field_truck_condition_8{
	top:1106px;
	left:136px;
}
#field_truck_condition_9{
	top:1122px;
	left:136px;
}
#field_truck_condition_10{
	top:1137px;
	left:136px;
}
#field_truck_condition_11{
	top:1152px;
	left:136px;
}
#field_truck_condition_12{
	top:1167px;
	left:136px;
}
#field_truck_condition_13{
	top:1181px;
	left:136px;
}
#field_truck_condition_14{
	top:1197px;
	left:136px;
}

#field_kind_spring_1{
	top:1119px;
	left:290px;
}
#field_kind_spring_2{
	top:1153px;
	left:290px;
}
#field_kind_spring_3{
	top:1185px;
	left:291px;
}

#field_body_wing{
	top:842px;
	left:460px;
	width:76px;
}
#field_body_body{
	top:866px;
	left:488px;
	width:51px;
}
#field_body_lip_hight{
	top:840px;
	left:622px;
	width:67px;
}

#field_body_battery_placement_1{
	top:880px;
	left:576px;
}

#field_body_battery_placement_2{
	top:879px;
	left:650px;
}

#field_body_battery_post_1{
	top:916px;
	left:604px;
}

#field_body_battery_post_2{
	top:915px;
	left:653px;
}

#field_body_ride_height_f{
padding-left:10px;
	top:983px;
	left:547px;
	width:28px;
}

#field_body_ride_height_r{
	top:982px;
	left:638px;
	width:29px;
}
#field_tire_front{
padding-left:60px;
	top:1046px;
	left:442px;
	width:84px;
}
#field_tire_rear{
	top:1047px;
	left:607px;
	width:87px;
}

#field_tire_insert_front{
padding-left:60px;
	top:1067px;
	left:442px;
	width:87px;
}

#field_tire_insert_rear{
	top:1070px;
	left:607px;
	width:87px;
}

#field_tire_wheel_front{
padding-left:60px;
	top:1087px;
	left:442px;
	width:89px;
}
#field_tire_wheel_rear{
	top:1091px;
	left:609px;
	width:84px;
}

#field_tire_traction_compound{
padding-left:100px;
	top:1110px;
	left:402px;
	width:199px;
}

#comment{
padding-left:100px;
	top:1147px;
	left:401px;
	width:190px;
	height:80px;
	font-family: arial,tahoma,sans-serif;
}
#field_electronic_motor{
padding-left:30px;
	top:947px;
	left:751px;
	width:113px;
}
#field_electronic_pinion{
padding-left:60px;
	top:969px;
	left:751px;
	width:99px;
}
#field_electronic_battery{
padding-left:30px;
	top:988px;
	left:751px;
	width:104px;
}
#field_electronic_esc{
padding-left:20px;
	top:1009px;
	left:750px;
	width:124px;
}
#field_electronic_radio{
padding-left:20px;
	top:1034px;
	left:752px;
	width:125px;
}

#field_electronic_servo{
padding-left:20px;
	top:1055px;
	left:752px;
	width:125px;
}

#field_electronic_throttle_brake_epa{
	top:1095px;
	left:760px;
	width:48px;
}

#field_electronic_throttle_brake_expo{
	top:1093px;
	left:860px;
	width:48px;
}
#field_electronic_initial_brake{
padding-left:70px;
	top:1111px;
	left:751px;
	width:81px;
}

#field_electronic_drag_brake{
padding-left:70px;
	top:1132px;
	left:751px;
	width:84px;
}

#field_electronic_throttle_profile{
padding-left:90px;
	top:1154px;
	left:751px;
	width:60px;
}

#field_electronic_steering_expo{
padding-left:80px;
	top:1176px;
	left:751px;
	width:64px;
}

#field_electronic_steering_speed{
padding-left:90px;
	top:1198px;
	left:751px;
	width:55px;
}
