input:disabled
{
background-color: none transparent;
opacity: 1;
}


body {
    background_color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	left: 468px;
	width: 16px;
	top: 308px;
	height: 21px;
	bottom: -9px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	left: 468px;
	width: 16px;
	top: 308px;
	height: 21px;
	bottom: -9px;
}
select {
	border: none;
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	padding: 2px 0;
	position: absolute;
	top: 1118px;
	left: 191px;
	width: 18px;
	bottom: -3px;
	height: 26px;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1200px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 592px;
	top: 9px;
	width: 256px;
}
#field_name {
padding-left:70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:60px;
    left: 152px;
	top: 49px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 47px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 7px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 48px;
	width: 260px;
}
#field_traction_level_1 {
	left: 189px;
	top: 102px;
}
#field_traction_level_2 {
	left: 255px;
	top: 103px;
}
#field_traction_level_3 {
	left: 344px;
	top: 102px;
}
#field_track_type_1 {
	left: 427px;
	top: 104px;
}
#field_track_type_2 {
	left: 494px;
	top: 105px;
}
#field_track_type_3 {
	left: 578px;
	top: 103px;
}
#field_track_size_1 {
	left: 670px;
	top: 104px;
}
#field_track_size_2 {
	left: 743px;
	top: 103px;
}
#field_track_size_3 {
	left: 830px;
	top: 103px;
}
#field_track_condition_1 {
	left: 201px;
	top: 158px;
}
#field_track_condition_2 {
	left: 278px;
	top: 156px;
}
#field_track_condition_3 {
	left: 391px;
	top: 159px;
}
#field_track_condition_4 {
	left: 200px;
	top: 184px;
}
#field_track_condition_5 {
	left: 278px;
	top: 182px;
}
#field_track_condition_6 {
	left: 391px;
	top: 184px;
}
#field_track_surface_1 {
	left: 556px;
	top: 158px;
}
#field_track_surface_2 {
	left: 691px;
	top: 154px;
}
#field_track_surface_3 {
	left: 808px;
	top: 156px;
}
#field_track_surface_4 {
	left: 557px;
	top: 183px;
}
#field_track_surface_5 {
	left: 691px;
	top: 182px;
}
#field_track_surface_6 {
	left: 808px;
	top: 182px;
}

#password, #password-1{
	background:#fff;
	width:200px;	
}
#field_front_suspension_image_1_1{
	top:269px;
	left:69px;
}

#field_front_suspension_image_1_2{
	top:263px;
	left:82px;
}
#field_front_suspension_image_1_3{
	top:259px;
	left:96px;
}
#field_front_suspension_toe_1{
	top:364px;
	left:54px;
}
#field_front_suspension_toe_2{
	top:363px;
	left:98px;
}
#field_front_suspension_toe{
	top:359px;
	left:153px;
	width:28px;
}


#field_front_suspension_tie_rod{
	top:377px;
	left:92px;
	width:82px;
}

#field_front_suspension_weight_placement_1{
	top:427px;
	left:22px;
}

#field_front_suspension_weight_placement_2{
	top:444px;
	left:22px;
}
#field_front_suspension_weight_placement_3{
	top:461px;
	left:22px;
}

#field_front_suspension_weight_placement_bulk_inside_1{
	top:440px;
	left:146px;
	width:30px;
}
#field_front_suspension_weight_placement_bulk_inside_2{
	top:442px;
	left:196px;
	width:30px;
}
#field_front_suspension_weight_placement_bulk_inside_3{
	
}

#field_front_suspension_weight_placement_skid_plate_1{
	top:458px;
	left:147px;
	width:30px;
}

#field_front_suspension_weight_placement_skid_plate_2{
	top:457px;
	left:197px;
	width:30px;
}

#field_front_suspension_upper_spacer{
	top:277px;
	left:164px;
	width:30px;
}
#field_front_suspension_image_2_1{
	top:230px;
	left:234px;
}

#field_front_suspension_image_2_2{
	top:229px;
	left:249px;
}
#field_front_suspension_image_2_3{
	top:227px;
	left:263px;
}

#field_front_suspension_ball_stud_1{
	top:245px;
	left:316px;
}
#field_front_suspension_ball_stud_2{
	top:260px;
	left:316px;
}

#field_front_suspension_camber{
	top:245px;
	left:476px;
	width:40px;
}

/* radio button */

#field_front_suspension_shock_mount_1{
	top:342px;
	left:364px;
}
#field_front_suspension_shock_mount_2{
	top:339px;
	left:376px;
}
#field_front_suspension_shock_mount_3{
	top:335px;
	left:388px;
}
#field_front_suspension_shock_mount_checkbox_1{
	top:326px;
	left:411px;
}

#field_front_suspension_shock_mount_checkbox_2{
	top:341px;
	left:411px;
}

#field_front_suspension_shock_mount_1{
	top:343px;
	left:363px;
}
#field_front_suspension_shock_mount_2{
	top:339px;
	left:377px;
}

#field_front_suspension_camber_1{
	top:301px;
	left:464px;
}
#field_front_suspension_camber_2{
	top:300px;
	left:481px;
}

#field_front_suspension_axle_spacer_1{
	top:290px;
	left:567px;
}
#field_front_suspension_axle_spacer_out{
	top:289px;
	left:618px;
	width:31px;
}
#field_front_suspension_axle_spacer_2{
	top:307px;
	left:568px;
}

#field_front_suspension_axle_spacer_in{
	top:305px;
	left:619px;
	width:34px;
}
#field_front_suspension_wheel_hub{
padding-left:40px;
	top:324px;
	left:603px;
	width:41px;
}

#field_front_suspension_ball_stud{
	top:323px;
	left:378px;
	width:40px;
}

#field_front_suspension_image_3_1{
	top:348px;
	left:355px;
}

#field_front_suspension_image_3_2{
	top:348px;
	left:372px;
}

#field_front_suspension_sus_mount_1{
	
}
#field_front_suspension_sus_mount_2{
	
}


#field_front_suspension_caster_1{
	top:385px;
	left:322px;
}

#field_front_suspension_caster_2{
	top:401px;
	left:321px;
}
#field_front_suspension_spacer_1{
	top:395px;
	left:392px;
}
#field_front_suspension_caster_3{
	top:413px;
	left:250px;
}
#field_front_suspension_caster_4{
	top:427px;
	left:251px;
}
#field_front_suspension_caster_5{
	top:444px;
	left:251px;
}
#field_front_suspension_spacer_2{
	top:412px;
	left:393px;
}
#field_front_suspension_spacer_3{
	top:427px;
	left:393px;
}

#field_front_suspension_caster_block_1{
	top:393px;
	left:473px;
}
#field_front_suspension_caster_block_2{
	top:410px;
	left:472px;
}

#field_front_suspension_caster_block_3{
	top:428px;
	left:473px;
}



#field_front_suspension_caster_block_position_1{
	top:410px;
	left:565px;
}
#field_front_suspension_caster_block_position_2{
	top:427px;
	left:564px;
}
#field_front_suspension_ball_stud_la246_1{
	top:232px;
	left:741px;
}

#field_front_suspension_ball_stud_la246_2{
	top:249px;
	left:741px;
}

#field_front_suspension_ackerman_steer_spacer{
	top:284px;
	left:806px;
	width:42px;
}
#field_front_suspension_ball_stud_1_1{
	top:300px;
	left:741px;
}

#field_front_suspension_ball_stud_1_2{
	top:283px;
	left:741px;
}

#field_front_suspension_bump_steer_spacer{
	top:334px;
	left:829px;
	width:37px;
}

#field_front_suspension_wheelbase_f{
padding-left:30px;
	top:452px;
	left:724px;
	width:29px;
}

#field_front_suspension_wheelbase_r{
	top:450px;
	left:835px;
	width:29px;
}

#field_front_suspension_axle_height_spacer_1{
	top:384px;
	left:675px;
}
#field_front_suspension_axle_height_spacer_text_1{
	top:383px;
	left:699px;
    width: 30px;
}


#field_front_suspension_axle_height_spacer_2{
	top:409px;
	left:675px;

}
#field_front_suspension_axle_height_spacer_text_2{
	top:409px;
	left:699px;
    width: 30px;
}

#field_front_suspension_wheelbase_1{
	top:453px;
	left:685px;
}
#field_front_suspension_wheelbase_2{
	top:453px;
	left:748px;
}

#field_front_suspension_wheelbase_3{
	top:454px;
	left:817px;
}

#field_front_suspension_comment{
padding-left:100px;
	top:459px;
	left:328px;
	width:156px;
}

#field_rear_suspension_image_1_1{
	top:535px;
	left:112px;
}
#field_rear_suspension_image_1_2{
	top:532px;
	left:125px;
}
#field_rear_suspension_image_1_3{
	top:527px;
	left:137px;
}
#field_rear_suspension_image_1_4{
	top:523px;
	left:151px;
}


#field_rear_suspension_ball_stud_1{
	top:597px;
	left:149px;
}
#field_rear_suspension_ball_stud_2{
	top:613px;
	left:150px;
}
#field_rear_suspension_ball_stud_3{
	top:637px;
	left:150px;
}
#field_rear_suspension_ball_stud_4{
	top:653px;
	left:150px;
}

#field_rear_suspension_body_mount_position_1{
	
}

#field_rear_suspension_body_mount_position_2{
	
}
#field_rear_suspension_upper_spacer{
	top:686px;
	left:194px;
	width:36px;
}

#field_rear_suspension_rr_1{
	top:692px;
	left:74px;
}
#field_rear_suspension_rr_2{
	top:692px;
	left:91px;
}
#field_rear_suspension_rr_3{
	top:693px;
	left:108px;
}

#field_rear_suspension_mid_1{
	top:710px;
	left:84px;
}
#field_rear_suspension_mid_2{
	top:709px;
	left:101px;
}
#field_rear_suspension_lower_sus_holder_normal_1{
	top:728px;
	left:235px;
}
#field_rear_suspension_lower_sus_holder_normal_2{
	top:743px;
	left:236px;
}
#field_rear_suspension_lower_sus_holder_alumi_1{
	top:728px;
	left:293px;
}

#field_rear_suspension_lower_sus_holder_alumi_2{
	top:745px;
	left:293px;
}

#field_rear_suspension_image_2_1{
	top:701px;
	left:434px;
}

#field_rear_suspension_image_2_2{
	top:703px;
	left:452px;
}

#field_rear_suspension_image_2_3{
	top:714px;
	left:443px;
}

#field_rear_suspension_sus_holder_spacer_f_1{
	top:521px;
	left:225px;
}

#field_rear_suspension_sus_holder_spacer_f_2{
	top:536px;
	left:225px;
}
#field_rear_suspension_sus_holder_spacer_f_3{
	top:551px;
	left:225px;
}


#field_rear_suspension_sus_holder_spacer_r_1{
	top:521px;
	left:319px;
}

#field_rear_suspension_sus_holder_spacer_r_2{
	top:536px;
	left:319px;
}
#field_rear_suspension_sus_holder_spacer_r_3{
	top:550px;
	left:319px;
}



#field_rear_suspension_anti_squat{
	top:567px;
	left:295px;
	width:38px;
}

#field_rear_suspension_image_3_1{
	top:530px;
	left:401px;
}
#field_rear_suspension_image_3_2{
	top:528px;
	left:417px;
}
#field_rear_suspension_image_3_3{
	top:539px;
	left:407px;
}

#field_rear_suspension_image_3_4{
	top:539px;
	left:422px;
}

#field_rear_suspension_upper_spacer_2{
	top:512px;
	left:593px;
	width:55px;
}


#field_rear_suspension_wheelbase_1_f{
	top:525px;
	left:838px;
	width:30px;
}

#field_rear_suspension_wheelbase_1_r{
	top:510px;
	left:837px;
	width:28px;
}

#field_rear_suspension_wheelbase_2_f{
padding-left:30px;
	top:594px;
	left:702px;
	width:28px;
}
#field_rear_suspension_wheelbase_2_r{
	top:595px;
	left:810px;
	width:28px;
}

#field_rear_suspension_wheelbase_f{
	top:509px;
	left:795px;
	width:30px;
}

#field_rear_suspension_wheelbase_r{
	top:524px;
	left:794px;
	width:30px;
}

#field_rear_suspension_sway_bar_1{
	top:586px;
	left:359px;
}

#field_rear_suspension_sway_bar_2{
	top:602px;
	left:359px;
}

#field_rear_suspension_sway_bar{
	top:597px;
	left:384px;
	width:28px;
}

#field_rear_suspension_camber{
	top:589px;
	left:530px;
	width:28px;
}

#field_rear_suspension_universal{
	top:643px;
	left:312px;
	width:51px;
}

#field_rear_suspension_swing_shaft{
	top:643px;
	left:376px;
	width:70px;
}


#field_rear_suspension_image_4_1{
	top:677px;
	left:502px;
}

#field_rear_suspension_image_4_2{
	top:675px;
	left:518px;
}

#field_rear_suspension_axle_spacer_1{
	top:660px;
	left:568px;
}
#field_rear_suspension_axle_spacer_2{
	top:678px;
	left:568px;
}
#field_rear_suspension_axle_spacer_out{
	top:674px;
	left:619px;
	width:28px;
}
#field_rear_suspension_axle_spacer_in{
	top:659px;
	left:618px;
	width:28px;
}

#field_rear_suspension_lower_sus_holder_1{
	top:741px;
	left:355px;
}
#field_rear_suspension_lower_sus_holder_3{
	top:740px;
	left:412px;
}

#field_rear_suspension_lower_sus_holder_4{
	top:756px;
	left:412px;
}

#field_rear_suspension_lower_sus_holder_2{
	top:757px;
	left:354px;
}

#field_rear_suspension_rear_toe_1{
	top:620px;
	left:734px;
}

#field_rear_suspension_rear_toe_2{
	top:634px;
	left:734px;
}

#field_rear_suspension_rear_toe_3{
	top:648px;
	left:734px;
}
#field_rear_suspension_rear_toe_4{
	top:662px;
	left:734px;
}

#field_rear_suspension_rear_toe_5{
	top:676px;
	left:734px;
}
#field_motor_position_1{
	top:746px;
	left:600px;
}

#field_motor_position_2{
	top:762px;
	left:600px;
}



#field_rear_suspension_comment{
padding-left:110px;
	top:765px;
	left:0px;
	width:422px;
}
#field_diff_1{
	top:747px;
	left:742px;
}
#field_diff_gear{
	top:743px;
	left:845px;
	width:54px;
}

#field_diff_2{
	top:765px;
	left:742px;
}

#field_shock_shock_piston_front{
padding-left:80px;
	top:813px;
	left:50px;
	width:67px;
}

#field_shock_shock_piston_rear{
	top:812px;
	left:232px;
	width:68px;
}

#field_shock_shock_oil_front{
padding-left:95px;
	top:836px;
	left:50px;
	width:53px;
}

#field_shock_shock_oil_rear{
	top:835px;
	left:252px;
	width:54px;
}

#field_shock_shock_spring_front{
padding-left:80px;
	top:857px;
	left:50px;
	width:69px;
}

#field_shock_shock_spring_rear{
	top:857px;
	left:232px;
	width:69px;
}
#field_shock_limiter_front_in{
padding-left:90px;
	top:873px;
	left:50px;
	width:41px;
}

#field_shock_limiter_front_out{
padding-left:90px;
	top:887px;
	left:58px;
	width:33px;
}

#field_shock_limiter_rear_in{
	top:874px;
	left:247px;
	width:29px;
}

#field_shock_limiter_rear_out{
	top:887px;
	left:254px;
	width:28px;
}

#field_shock_shock_length_a_front{
padding-left:70px;
	top:914px;
	left:58px;
	width:45px;
}

#field_shock_shock_length_a_rear{
	top:914px;
	left:235px;
	width:45px;
}
#field_shock_shock_length_b_front{
padding-left:70px;
	top:937px;
	left:58px;
	width:45px;
}

#field_wing_1{
	
}



#field_shock_shock_length_b_rear{
	top:937px;
	left:233px;
	width:45px;
}
#field_shock_o_ring_front{
padding-left:80px;
	top:963px;
	left:50px;
	width:72px;
}

#field_shock_o_ring_rear{
	top:963px;
	left:233px;
	width:67px;
}




#field_shock_shock_top_type_front_1{
	top:958px;
	left:117px;
}

#field_shock_shock_top_type_front_2{
	top:957px;
	left:169px;
}

#field_shock_shock_top_type_rear_1{
	top:957px;
	left:225px;
}

#field_shock_shock_top_type_rear_2{
	top:957px;
	left:273px;
}
#field_shock_ball_end_type_front_s{
	top:988px;
	left:186px;
}

#field_shock_ball_end_type_front_m{
	top:989px;
	left:225px;
}
#field_shock_ball_end_type_front_l{
	top:988px;
	left:263px;
}

#field_shock_ball_end_type_rear_s{
	top:1011px;
	left:186px;
}

#field_shock_ball_end_type_rear_m{
	top:1011px;
	left:225px;
}

#field_shock_ball_end_type_rear_l{
	top:1010px;
	left:262px;
}

#field_truck_condition_1{
	top:1066px;
	left:12px;
}

#field_truck_condition_2{
	top:1082px;
	left:12px;
}

#field_truck_condition_3{
	top:1098px;
	left:12px;
}
#field_truck_condition_4{
	top:1113px;
	left:12px;
}

#field_truck_condition_5{
	top:1128px;
	left:12px;
}

#field_truck_condition_6{
	top:1143px;
	left:12px;
}
#field_truck_condition_7{
	top:1158px;
	left:12px;
}
#field_truck_condition_8{
	top:1067px;
	left:118px;
}
#field_truck_condition_9{
	top:1083px;
	left:118px;
}
#field_truck_condition_10{
	top:1098px;
	left:118px;
}
#field_truck_condition_11{
	top:1113px;
	left:118px;
}
#field_truck_condition_12{
	top:1128px;
	left:118px;
}
#field_truck_condition_13{
	top:1143px;
	left:118px;
}
#field_truck_condition_14{
	top:1157px;
	left:118px;
}

#field_wing_1{
	top:1060px;
	left:224px;
}
#field_wing_2{
	top:1075px;
	left:224px;
}

#field_wing_3{
	top:1091px;
	left:224px;
}

#field_wing_4{
	top:1106px;
	left:224px;
}

#field_wing_5{
	top:1122px;
	left:224px;
}

#field_wing_6{
	top:1138px;
	left:224px;
}

#field_wing_mount_1{
	top:1077px;
	left:311px;
}
#field_wing_mount_2{
	top:1094px;
	left:311px;
}

#field_wing_angle_1{
	top:1124px;
	left:335px;
}
#field_wing_angle_2{
	top:1142px;
	left:335px;
}
#field_wing_angle_3{
	top:1157px;
	left:336px;
}

#field_wing_lip{
	top:1160px;
	left:257px;
	width:61px;
}






#field_kind_spring_1{
	top:1119px;
	left:290px;
}
#field_kind_spring_2{
	top:1153px;
	left:290px;
}
#field_kind_spring_3{
	top:1185px;
	left:291px;
}

#field_body_wing{
	top:839px;
	left:460px;
	width:76px;
}
#field_body_body{
	top:864px;
	left:488px;
	width:51px;
}
#field_body_lip_hight{
	top:840px;
	left:622px;
	width:51px;
}

#field_body_battery_placement_1{
	top:880px;
	left:576px;
}

#field_body_battery_placement_2{
	top:879px;
	left:650px;
}

#field_body_battery_post_1{
	top:916px;
	left:604px;
}

#field_body_battery_post_2{
	top:915px;
	left:653px;
}

#field_body_ride_height_f{
	top:979px;
	left:557px;
	width:28px;
}

#field_body_ride_height_r{
	top:979px;
	left:639px;
	width:29px;
}
#field_tire_front{
	top:1037px;
	left:506px;
	width:78px;
}
#field_tire_rear{
	top:1036px;
	left:614px;
	width:78px;
}

#field_tire_insert_front{
	top:1059px;
	left:504px;
	width:84px;
}

#field_tire_insert_rear{
	top:1058px;
	left:612px;
	width:82px;
}

#field_tire_wheel_front{
	top:1080px;
	left:506px;
	width:84px;
}
#field_tire_wheel_rear{
	top:1079px;
	left:613px;
	width:78px;
}

#field_tire_traction_compound{
	top:1108px;
	left:512px;
	width:183px;
}

#comment{
padding-left:150px;
	top:1108px;
	left:398px;
	width:313px;
	height:80px;
	font-family: arial,tahoma,sans-serif;
}
#field_electronic_motor{
	top:944px;
	left:781px;
	width:104px;
}
#field_electronic_pinion{
	top:967px;
	left:804px;
	width:104px;
}
#field_electronic_battery{
	top:987px;
	left:793px;
	width:104px;
}
#field_electronic_esc{
	top:1007px;
	left:773px;
	width:104px;
}
#field_electronic_radio{
	top:1030px;
	left:772px;
	width:104px;
}

#field_electronic_servo{
	top:1053px;
	left:772px;
	width:104px;
}

#field_electronic_throttle_brake_epa{
	top:1091px;
	left:760px;
	width:48px;
}

#field_electronic_throttle_brake_expo{
	top:1091px;
	left:860px;
	width:48px;
}
#field_electronic_initial_brake{
	top:1111px;
	left:814px;
	width:81px;
}

#field_electronic_drag_brake{
	top:1132px;
	left:811px;
	width:84px;
}

#field_electronic_throttle_profile{
	top:1154px;
	left:834px;
	width:60px;
}

#field_electronic_steering_expo{
	top:1174px;
	left:831px;
	width:64px;
}

#field_electronic_steering_speed{
	top:1196px;
	left:841px;
	width:55px;
}

#field_battery_placement_1{
	top:811px;
	left:435px;
}
#field_battery_placement_2{
	top:827px;
	left:435px;
}

#field_battery_placement_foam_1{
	top:817px;
	left:657px;
}
#field_battery_placement_foam_2{
	top:831px;
	left:657px;
}
#field_battery_placement_foam_3{
	top:847px;
	left:657px;
}
#field_chassis_ride_height_f{
	top:985px;
	left:445px;
	width:41px;
}
#field_chassis_ride_height_r{
	top:985px;
	left:657px;
	width:47px;
}

#field_battery_type_1{
	top:812px;
	left:753px;
}
#field_battery_type_2{
	top:830px;
	left:752px;
}
#field_battery_type_3{
	top:845px;
	left:752px;
}
#field_battery_type_type{
	top:866px;
	left:785px;
	width:100px;
}
#field_other_motor{
	top:928px;
	left:800px;
	width:100px;
}

#field_other_esc{
	top:953px;
	left:792px;
	width:100px;
}

#field_other_pinion{
	top:978px;
	left:834px;
	width:71px;
}
#field_tire_wheel_traction{
	top:1040px;
	left:727px;
	width:175px;
	height:59px;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}