input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	top: 957px;
	left: 246px;
	width: 18px;
	bottom: 184731343px;
	height: 20px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	top: 957px;
	left: 246px;
	width: 18px;
	bottom: 184731343px;
	height: 20px;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1315px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 598px;
	top: 4px;
	width: 256px;
}
#field_name {
padding-left:70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:60px;
	left: 152px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 79px;
}
#field_traction_level_2 {
	left: 260px;
	top: 79px;
}
#field_traction_level_3 {
	left: 348px;
	top: 80px;
}
#field_track_type_1 {
	left: 428px;
	top: 79px;
}
#field_track_type_2 {
	left: 492px;
	top: 79px;
}
#field_track_type_3 {
	left: 577px;
	top: 80px;
}
#field_track_size_1 {
	left: 674px;
	top: 80px;
}
#field_track_size_2 {
	left: 747px;
	top: 79px;
}
#field_track_size_3 {
	left: 832px;
	top: 79px;
}
#field_track_condition_1 {
	left: 195px;
	top: 123px;
}
#field_track_condition_2 {
	left: 279px;
	top: 123px;
}
#field_track_condition_3 {
	left: 393px;
	top: 122px;
}
#field_track_condition_4 {
	left: 195px;
	top: 152px;
}
#field_track_condition_5 {
	left: 279px;
	top: 152px;
}
#field_track_condition_6 {
	left: 393px;
	top: 149px;
}
#field_track_surface_1 {
	left: 550px;
	top: 121px;
}
#field_track_surface_2 {
	left: 690px;
	top: 123px;
}
#field_track_surface_3 {
	left: 804px;
	top: 121px;
}
#field_track_surface_4 {
	left: 550px;
	top: 144px;
}
#field_track_surface_5 {
	left: 691px;
	top: 146px;
}
#field_track_surface_6 {
	left: 804px;
	top: 144px;
}


#field_front_suspension_toe{

	left: 52px;
	top: 446px;
	width: 157px;
	
}

#field_front_suspension_camber{
	left: 87px;
	top: 408px;
	width: 124px;
	
}
#field_front_suspension_washer{
	left: 102px;
	top: 370px;
	width: 101px;
	
}
#field_front_suspension_ride_height{
padding-left:100px;
	left: 352px;
	top: 175px;
	width: 179px;
	
}

#field_kingpin_ball_spacer{
padding-left:154px;
	top: 214px;
	left: 352px;

	width: 125px;
}

#field_front_suspension_toe{
padding-left:98px;
	left: 352px;
	top: 195px;
	width: 183px;
	
}

#field_front_rebound_stop{
padding-left:122px;
	left: 352px;
	top: 233px;
	width: 155px;
}
#field_front_wheel_hub{
padding-left:102px;
	left: 352px;
	top: 253px;
	width: 174px;	
}

#field_front_anti_roll_bar{
padding-left:116px;
	left: 352px;
	top: 272px;
	width: 167px;
}

#field_front_upper_arm_spacer{
padding-left:148px;
	left: 352px;
	top: 289px;
	width: 134px;
}


#field_lower_arm_spacer{
padding-left:150px;
	left: 352px;
	top: 308px;
	width: 132px;
	
}

#field_rear_front_tesion{
	left: 111px;
	top: 325px;
	width: 123px;
	
}

#front_tesion_rod1{
	left: 108px;
	top: 367px;
	
}
#front_tesion_rod2{
	left: 109px;
	top: 386px;
	
}

#front_uper_arm_position1{
	top: 485px;
	left: 110px;
}

#front_uper_arm_position2{
	top: 485px;
	left: 167px;
}


#front_uper_arm_position3{
	top: 484px;
	left: 223px;
}

#front_uper_arm_position_below1{
	left: 110px;
	top: 541px;
}
#front_uper_arm_position_below2{
	left: 166px;
	top: 542px;
}

#front_uper_arm_position_below3{
	left: 224px;
	top: 540px;
}

#front_lower_arm_position1{
	top: 503px;
	left: 471px;
}

#front_lower_arm_position2{
	top: 503px;
	left: 526px;
}

#front_lower_arm_position3{
	top: 502px;
	left: 578px;
}


#front_lower_arm_position_below1{
	top: 559px;
	left: 472px;
}

#front_lower_arm_position_below2{
	top: 559px;
	left: 526px;
}

#front_lower_arm_position_below3{
	top: 560px;
	left: 580px;
}



#front_shock_pistion{
	left: 793px;
	top: 195px;
	width: 114px;	
}

#front_shock_oil{
	left: 773px;
	top: 214px;
	width: 114px;
}

#front_shock_spring{
	left: 797px;
	top: 233px;
	width: 114px;
}

#front_shock_spring_adj{
	left: 817px;
	top: 251px;
	width: 92px;	
}

#front_shock_position1{
	left: 744px;
	top: 309px;
}
#front_shock_position2{
	left: 744px;
	top: 328px;
}

#front_shock_position3{
	left: 745px;
	top: 346px;
}

#front_shock_position4{
	left: 745px;
	top: 365px;
}

#front_shock_position5{
	left: 745px;
	top: 385px;
}

#front_shock_position6{
	left: 787px;
	top: 385px;
}

#front_shock_position7{
	left: 819px;
	top: 386px;
}

#front_shock_pivot_ball1{
	left: 775px;
	top: 423px;
}



#front_shock_pivot_ball2{
	left: 842px;
	top: 422px;
}

#front_shock_damper_stay1{
	left: 775px;
	top: 441px;
}

#front_shock_damper_stay2{
	left: 775px;
	top: 460px;
}

#rear_right_height{
padding-left:101px;
	left: 352px;
	top: 584px;
	width: 167px;
}



#rear_camber_angle{
padding-left:116px;
	left: 352px;
	top: 603px;
	width: 167px;
}

#rear_rebound_stop{
padding-left:130px;
	left: 352px;
	top: 620px;
	width: 167px;
}

#rear_antil_roll{
padding-left:112px;
	left: 352px;
	top: 639px;
	width: 167px;	
}

#rear_lower_arm{
padding-left:146px;
	left: 352px;
	top: 659px;
	width: 140px;
}

#rear_upright_spacer{
padding-left:123px;
	left: 352px;
	top: 678px;
	width: 167px;
}





#steering_ackerman1{
	left: 815px;
	top: 501px;
}
#steering_ackerman2{
	left: 815px;
	top: 521px;
}
#steering_ackerman3{
	left: 815px;
	top: 540px;
}

#rear_upper_arm{
	left: 106px;
	top: 721px;
	width: 116px;	
}

#rear_upper_arm_position1{
	left: 88px;
	top: 791px;
}
#rear_upper_arm_position2{
	left: 88px;
	top: 810px;
}
#rear_upper_arm_position3{
	left: 88px;
	top: 828px;
}
#rear_upper_arm_position4{
	left: 167px;
	top: 771px;
}
#rear_upper_arm_position5{
	left: 208px;
	top: 771px;
}
#rear_upper_arm_position6{
	left: 242px;
	top: 771px;
}


#rear_lower_arm_position1{
	left: 110px;
	top: 947px;
}
#rear_lower_arm_position2{
	left: 166px;
	top: 946px;
}

#rear_lower_arm_position3{
	left: 224px;
	top: 948px;
}


#rear_lower_arm_position_toe1{
	left: 471px;
	top: 910px;
}
#rear_lower_arm_position_toe2{
	left: 526px;
	top: 910px;
}

#rear_lower_arm_position_toe3{
	left: 578px;
	top: 910px;
}


#rear_lower_arm_position_below1{
	left: 471px;
	top: 966px;
}
#rear_lower_arm_position_below2{
	left: 526px;
	top: 966px;
}
#rear_lower_arm_position_below3{
	left: 579px;
	top: 966px;
}


#rear_shock_pistion{
	left: 790px;
	top: 604px;
	width: 117px;
}

#rear_shock_oil{
	left: 769px;
	top: 621px;
	width: 132px;	
}

#rear_shock_spring{
	left: 788px;
	top: 639px;
	width: 117px;
	
}

#rear_shock_spring_adj{
	left: 814px;
	top: 659px;
	width: 97px;
}




#rear_shock_position1{
	left: 744px;
	top: 713px;
}
#rear_shock_position2{
	left: 744px;
	top: 733px;
}

#rear_shock_position3{
	left: 745px;
	top: 752px;
}

#rear_shock_position4{
	left: 745px;
	top: 771px;
}

#rear_shock_position5{
	left: 746px;
	top: 791px;
}

#rear_shock_position6{
	left: 787px;
	top: 790px;
}

#rear_shock_position7{
	left: 818px;
	top: 790px;
}

#rear_shock_pivot_ball1{
	left: 775px;
	top: 828px;
}

#rear_shock_pivot_ball2{
	left: 842px;
	top: 829px;
}

#rear_shock_damper_stay1{
	left: 776px;
	top: 848px;
}
#rear_shock_damper_stay2{
	left: 776px;
	top: 868px;
}
#engine_type{
padding-left:58px;
	left: 0px;
	top: 1004px;
	width: 183px;
}

#engine_plug{
padding-left:50px;
	left: 230px;
	top: 1004px;
	width: 264px;
}


#engine_gasket{
padding-left:61px;
	left: 0px;
	top: 1023px;
	width: 175px;
}


#engine_reducer{
padding-left:85px;
	left: 230px;
	top: 1021px;
	width: 232px;	
}

#engine_muffler{
padding-left:60px;
	left: 0px;
	top: 1040px;
	width: 175px;	
}

#engine_fuel{
padding-left:60px;
	left: 230px;
	top: 1040px;
	width: 255px;	
}
#engine_mount1{
	left: 296px;
	top: 1061px;
}
#engine_mount2{
	left: 160px;
	top: 1060px;
}

#diff_oil_front{

	left: 603px;
	top: 1003px;
	width: 129px;
}


#diff_oil_center{
padding-left:10px;
	left: 602px;
	top: 1022px;
	width: 129px;
	
}


#diff_oil_rear{
	left: 600px;
	top: 1040px;
	width: 129px;
}

#diff_oil_oring1{
	left: 805px;
	top: 1005px;
	width: 44px;
}

#diff_oil_oring2{
	left: 805px;
	top: 1022px;
	width: 33px;
}

#diff_oil_oring3{
	left: 805px;
	top: 1042px;
	width: 38px;
}


#tires_front_type{
padding-left:87px;
	left: 0px;
	top: 1103px;
	width: 218px;
}
#tires_front_compound{
padding-left:88px;
	left: 0px;
	top: 1123px;
	width: 216px;
}

#tires_front_insert{
padding-left:90px;
	left: 0px;
	top: 1141px;
	width: 217px;
}

#tires_front_wheel{
padding-left:90px;
	left: 0px;
	top: 1160px;
	width: 215px;
}


#tires_rear_type{
padding-left:97px;
	left: 230px;
	top: 1103px;
	width: 218px;
}
#tires_rear_compound{
padding-left:96px;
	left: 230px;
	top: 1121px;
	width: 216px;
}

#tires_rear_insert{
padding-left:99px;
	left: 230px;
	top: 1140px;
	width: 217px;	
}

#tires_rear_wheel{
padding-left:99px;
	left: 230px;
	top: 1158px;
	width: 215px;
	
}


#clutch_beel{
padding-left:90px;
	left: 552px;
	top: 1102px;
	width: 86px;
}
#clutch_spur_gear{
	left: 816px;
	top: 1102px;
	width: 86px;	
}
#clutch_shoes{
padding-left:110px;
	left: 552px;
	top: 1121px;
	width: 238px;
}
#clutch_spring{
padding-left:106px;
	left: 552px;
	top: 1141px;
	width: 244px;
}



#body_w{
	left: 49px;
	top: 1201px;
	width: 132px;	
}

#wing_w{
	left: 47px;
	top: 1221px;
	width: 132px;	
}

#wing_position1{
	left: 245px;
	top: 1202px;
}
#wing_position2{
	left: 268px;
	top: 1201px;
}

#wing_position3{
	left: 295px;
	top: 1202px;
}

#wing_position4{
	left: 207px;
	top: 1258px;
}

#wing_position5{
	left: 207px;
	top: 1278px;
}

#wing_position6{
	left: 210px;
	top: 1241px;
}

#field_comment{
	left: 332px;
    padding-left:130px;
	top: 1184px;
	font-family: arial,tahoma,sans-serif;
	height: 103px;
	width:457px;
}



#password-1,#password{
	width:200px; 
	background:#fff; 	
}
