input:disabled
{
background-color: none transparent;
opacity: 1;
}


body {
    background_color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	left: 468px;
	width: 16px;
	top: 308px;
	height: 21px;
	bottom: -9px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	left: 468px;
	width: 16px;
	top: 308px;
	height: 21px;
	bottom: -9px;
}
select{
	height:26px;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 0 auto;
    width: 920px;
    position: relative;
}
#content {
    height: 1456px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}


#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 597px;
	top: 16px;
	width: 256px;
}
#field_name {
padding-left:70px;
	left: 151px;
	top: 13px;
	width: 200px;
}
#field_city {
padding-left:60px;
	left: 151px;
	top: 52px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 54px;
	width: 130px;
}

#field_date {
	left: 487px;
	top: 14px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 595px;
	top: 53px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 108px;
}
#field_traction_level_2 {
	left: 258px;
	top: 108px;
}
#field_traction_level_3 {
	left: 347px;
	top: 108px;
}
#field_track_type_1 {
	left: 426px;
	top: 109px;
}
#field_track_type_2 {
	left: 493px;
	top: 109px;
}
#field_track_type_3 {
	left: 578px;
	top: 110px;
}
#field_track_size_1 {
	left: 670px;
	top: 110px;
}
#field_track_size_2 {
	left: 745px;
	top: 110px;
}
#field_track_size_3 {
	left: 829px;
	top: 108px;
}
#field_track_condition_1 {
	left: 195px;
	top: 167px;
}
#field_track_condition_2 {
	left: 279px;
	top: 168px;
}
#field_track_condition_3 {
	left: 398px;
	top: 161px;
}
#field_track_condition_4 {
	left: 196px;
	top: 191px;
}
#field_track_condition_5 {
	left: 279px;
	top: 191px;
}
#field_track_condition_6 {
	left: 397px;
	top: 190px;
}
#field_track_surface_1 {
	left: 557px;
	top: 160px;
}
#field_track_surface_2 {
	left: 696px;
	top: 159px;
}
#field_track_surface_3 {
	left: 809px;
	top: 161px;
}
#field_track_surface_4 {
	left: 556px;
	top: 189px;
}
#field_track_surface_5 {
	left: 696px;
	top: 188px;
}
#field_track_surface_6 {
	left: 809px;
	top: 187px;
}

#password, #password-1{
	background:#fff; 	
	width:200px; 

}
#field_front_anti_rollbar_1{
	top:254px;
	left:147px;
}

#field_front_anti_rollbar_2{
	top:255px;
	left:212px;
}



#field_front_anti_rollbar_3{
	top:253px;
	left:276px;
}
#field_front_anti_rollbar_4{
	top:253px;
	left:337px;
}

#field_front_anti_rollbar_5{
	top:253px;
	left:404px;
}



#field_front_camber{
padding-left:20px;
	top:232px;
	left:594px;
	width:37px;
}
#field_front_ride_height{
padding-left:50px;
	top:256px;
	left:506px;
	width:37px;
}

#field_front_toe{
padding-left:70px;
	top:233px;
	left:771px;
	width:44px;
}
#front_inner_link_washers{
padding-left:30px;
	top:289px;
	left:637px;
	width:35px;
}
#front_outter_link_washers{
	top:261px;
	left:848px;
	width:40px;
}
#field_front_track_washers{
padding-left:20px;
	top:367px;
	left:139px;
	width:36px;
}

/*checkbox */

#field_front_arm_mount_1{
	top:290px;
	left:95px;
}

#field_front_arm_mount_2{
	top:290px;
	left:119px;
}
#field_front_arm_mount_3{
	top:290px;
	left:142px;
}

/*checkbox */
#field_front_tower_mount_1{
	top:363px;
	left:304px;
}
#field_front_tower_mount_2{
	top:363px;
	left:324px;
}
#field_front_tower_mount_3{
	top:362px;
	left:344px;
}
#field_front_tower_mount_4{
	top:363px;
	left:363px;
}

#field_front_tower_mount_5{
	top:362px;
	left:382px;
}

#field_front_dink_mount_1{
	top:444px;
	left:494px;
}
#field_front_dink_mount_2{
	top:461px;
	left:495px;
}

#field_front_dink_mount_3{
	top:479px;
	left:496px;
}




#field_front_blocks_1{
	top:504px;
	left:133px;
}
#field_front_blocks_2{
	top:504px;
	left:197px;
}

#field_front_rake_1{
	top:503px;
	left:631px;
}
#field_front_rake_2{
	top:503px;
	left:708px;
}



#field_front_shock_oil{
	
}
#field_front_rake_2{
	
}



#field_front_yoke_1{
	top:501px;
	left:784px;
}
#field_front_yoke_2{
	top:502px;
	left:846px;
}

#field_front_yoke_3{
	top:502px;
	left:892px;
}



#field_front_oil{
	top:571px;
	left:43px;
	width:52px;
	
}

#field_front_spring{
	top:570px;
	left:170px;
	width:52px;
}

#field_front_piston{
padding-left:80px;
	top:594px;
	left:0px;
	width:271px;
}



#field_front_hole_size{
padding-left:20px;
	top:617px;
	left:202px;
	width:37px;
}

#field_front_shock_length{
padding-top:20px;
	top:658px;
	left:364px;
	width:35px;
}

#field_front_shock_cap_1{
	top:570px;
	left:303px;
}


#field_front_shock_cap_2{
	top:545px;
	left:426px;
}

#field_front_shock_cap_3{
	top:569px;
	left:426px;
}

#field_front_drilled_1{
	top:616px;
	left:84px;
}


#field_rear_oil{
	top:570px;
	left:506px;
	width:47px;
}


#field_rear_spring{
	top:570px;
	left:640px;
	width:50px;
}

#field_rear_piston{
padding-left:80px;
	top:594px;
	left:462px;
	width:191px;
}

#field_rear_hole_size{
padding-left:20px;
	top:616px;
	left:668px;
	width:36px;
}

#field_rear_shock_length{
padding-top:20px;
	top:660px;
	left:827px;
	width:38px;
}

#field_rear_shock_cap_1{
	top:569px;
	left:766px;
}

#field_rear_shock_cap_2{
	top:544px;
	left:888px;
}
#field_rear_shock_cap_3{
	top:568px;
	left:888px;
}

#field_rear_drilled_1{
	top:616px;
	left:549px;
}



#field_rear_anti_rollbar_1{
	top:747px;
	left:145px;
}
#field_rear_anti_rollbar_2{
	top:746px;
	left:212px;
}
#field_rear_anti_rollbar_3{
	top:746px;
	left:274px;
}
#field_rear_anti_rollbar_4{
	top:746px;
	left:339px;
}
#field_rear_anti_rollbar_5{
	top:746px;
	left:405px;
}



#field_rear_wheelbase_1{
	top:773px;
	left:197px;
}
#field_rear_wheelbase_2{
	top:772px;
	left:276px;
}
#field_rear_wheelbase_3{
	top:773px;
	left:354px;
}


#field_rear_toe_1{
	top:813px;
	left:178px;
}
#field_rear_toe_2{
	top:829px;
	left:178px;
}
#field_rear_toe_3{
	top:844px;
	left:178px;
}
#field_rear_toe_4{
	top:859px;
	left:178px;
}
#field_rear_toe_5{
	top:871px;
	left:178px;
}

#field_rear_toe_6{
	top:884px;
	left:178px;
}
#field_rear_toe_7{
	top:895px;
	left:178px;
}


#field_rear_track_washers_1{
	top:917px;
	left:61px;
	width:30px;
}
#field_rear_track_washers_2{
	top:916px;
	left:170px;
	width:30px;
}


#field_rear_blocks_1{
	top:1058px;
	left:139px;
}
#field_rear_blocks_2{
	top:1058px;
	left:211px;
}


#field_rear_camber{
padding-left:30px;
	top:725px;
	left:598px;
	width:36px;
}


#field_rear_ride_height{
padding-left:30px;
	top:750px;
	left:595px;
	width:35px;
}


#field_rear_tower_mount_1{
	top:812px;
	left:416px;
}
#field_rear_tower_mount_2{
	top:811px;
	left:436px;
}
#field_rear_tower_mount_3{
	top:811px;
	left:456px;
}
#field_rear_tower_mount_4{
	top:811px;
	left:476px;
}
#field_rear_tower_mount_5{
	top:811px;
	left:494px;
}



#field_rear_hub_mount_1{
	top:838px;
	left:317px;
}
#field_rear_hub_mount_2{
	top:887px;
	left:315px;
}
#field_rear_hub_mount_3{
	top:839px;
	left:296px;
}
#field_rear_hub_mount_4{
	top:839px;
	left:274px;
}
#field_rear_hub_mount_5{
	top:838px;
	left:257px;
}
#field_rear_hub_mount_6{
	top:838px;
	left:234px;
}


#field_rear_arm_mount_1{
	top:940px;
	left:330px;
}
#field_rear_arm_mount_2{
	top:940px;
	left:357px;
}


#field_rear_dink_mount_1{
	top:895px;
	left:647px;
}
#field_rear_dink_mount_2{
	top:912px;
	left:647px;
}
#field_rear_dink_mount_3{
	top:931px;
	left:647px;
}



#field_rear_hub_1{
	top:1021px;
	left:476px;
}
#field_rear_hub_2{
	top:1021px;
	left:546px;
}

#field_rear_alloy_hub_1{
	top:1047px;
	left:465px;
}
#field_rear_alloy_hub_2{
	top:1048px;
	left:534px;
}




#field_rear_anti_squat_1{
	top:741px;
	left:869px;
}
#field_rear_anti_squat_2{
	top:755px;
	left:870px;
}
#field_rear_anti_squat_3{
	top:768px;
	left:870px;
}
#field_rear_anti_squat_4{
	top:782px;
	left:870px;
}#field_rear_anti_squat_5{
	top:795px;
	left:870px;
}
#field_rear_anti_squat_6{
	top:807px;
	left:870px;
}
#field_rear_anti_squat_7{
	top:820px;
	left:870px;
}


#field_rear_antisquat_washers_1{
	top:843px;
	left:747px;
	width:30px;
}

#field_rear_antisquat_washers_2{
	top:842px;
	left:855px;
	width:30px;
}

#field_rear_pin_high_1{
	top:984px;
	left:647px;
}

#field_rear_pin_high_2{
	top:984px;
	left:665px;
}

#field_rear_pin_low_1{
	top:1002px;
	left:647px;
}
#field_rear_pin_low_2{
	top:1002px;
	left:665px;
}

#field_rear_link_washers_1{
padding-left:60px;
	top:1041px;
	left:778px;
	width:35px;
}

#field_esc{
padding-left:80px;
	top:1180px;
	left:0px;
	width:178px;
}

#field_servo{
padding-left:80px;
	top:1204px;
	left:0px;
	width:178px;
}

#field_reciever{
	padding-left:96px;
    top:1226px;
	left:0px;
	width:178px;
}
#field_battery{
padding-left:97px;
	top:1250px;
	left:0px;
	width:178px;
}

#field_motor{
padding-left:80px;
	top:1274px;
	left:0px;
	width:178px;
}

#field_spur_1{
	top:1294px;
	left:174px;
}

#field_spur_2{
	top:1293px;
	left:241px;
}

#field_pinion{
padding-left:85px;
	top:1315px;
	left:0px;
	width:178px;
}

#field_cell_position_1{
	top:1357px;
	left:91px;
}

#field_cell_position_2{
	top:1357px;
	left:229px;
}

#field_rear_wheels{
padding-left:140px;
	top:1128px;
	left:272px;
	width:178px;
}

#field_rear_tyre{
padding-left:131px;
	top:1151px;
	left:272px;
	width:189px;
}

#field_rear_insert{
padding-left:128px;
	top:1176px;
	left:272px;
	width:189px;
}

#field_front_wheels{
padding-left:141px;
	top:1198px;
	left:272px;
	width:178px;
}
#field_front_tire{
padding-left:128px;
	top:1224px;
	left:272px;
	width:192px;
}


#field_front_insert{
padding-left:130px;
	top:1245px;
	left:272px;
	width:191px;
}

#field_front_diff_type_1{
	top:1329px;
	left:394px;
}
#field_front_diff_type_2{
	top:1329px;
	left:479px;
}


#field_front_diff_oil{
	top:1331px;
	left:525px;
	width:58px;
}

#field_rear_diff_type_1{
	top:1357px;
	left:394px;
}


#field_rear_diff_type_2{
	top:1358px;
	left:479px;
}

#field_rear_diff_oil{
	top:1358px;
	left:524px;
	width:58px;
}

#field_car_weight{
padding-left:130px;
	top:1124px;
	left:610px;
	width:175px;
}

#field_weight_added{
padding-left:149px;
	top:1147px;
	left:610px;
	width:147px;
}


#field_chassis_type_1{
	top:1170px;
	left:754px;
}

#field_chassis_type_2{
	top:1170px;
	left:875px;
}

#field_notes{
padding-left:5px;
padding-top:40px;
	top:1189px;
	left:610px;
	width:292px;
	height:142px;
	font-family: arial,tahoma,sans-serif;
}
