input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background_color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}

input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
    padding: 2px 0;
	left: 468px;
	width: 16px;
	top: 308px;
	height: 21px;
	bottom: -9px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	left: 468px;
	width: 16px;
	top: 308px;
	height: 21px;
	bottom: -9px;
}
select{
	height:26px;0
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 0 auto;
    width: 920px;
    position: relative;
}
#content {
    height: 1435px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}


#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 591px;
	top: 5px;
	width: 265px;
}
#field_name {
padding-left:70px;
    left: 158px;
	top: 3px;
	width: 200px;
}
#field_city {
padding-left:60px;
    left: 158px;
	top: 39px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 453px;
	top: 37px;
	width: 130px;
}

#field_date {
	left: 485px;
	top: 4px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 38px;
	width: 260px;
}
#field_traction_level_1 {
	left: 191px;
	top: 84px;
}
#field_traction_level_2 {
	left: 259px;
	top: 82px;
}
#field_traction_level_3 {
	left: 346px;
	top: 82px;
}
#field_track_type_1 {
	left: 426px;
	top: 82px;
}
#field_track_type_2 {
	left: 492px;
	top: 82px;
}
#field_track_type_3 {
	left: 576px;
	top: 82px;
}
#field_track_size_1 {
	left: 674px;
	top: 83px;
}
#field_track_size_2 {
	left: 747px;
	top: 82px;
}
#field_track_size_3 {
	left: 832px;
	top: 84px;
}
#field_track_condition_1 {
	left: 193px;
	top: 131px;
}
#field_track_condition_2 {
	left: 277px;
	top: 128px;
}
#field_track_condition_3 {
	left: 390px;
	top: 128px;
}
#field_track_condition_4 {
	left: 192px;
	top: 156px;
}
#field_track_condition_5 {
	left: 277px;
	top: 157px;
}
#field_track_condition_6 {
	left: 390px;
	top: 156px;
}
#field_track_surface_1 {
	left: 552px;
	top: 128px;
}
#field_track_surface_2 {
	left: 688px;
	top: 129px;
}
#field_track_surface_3 {
	left: 805px;
	top: 128px;
}
#field_track_surface_4 {
	left: 551px;
	top: 152px;
}
#field_track_surface_5 {
	left: 689px;
	top: 152px;
}
#field_track_surface_6 {
	left: 806px;
	top: 153px;
}

#password, #password-1{
	background:#fff; 	
	width:200px; 

}
#field_rear_oil{
	top:225px;
	left:45px;
	width:52px;
}
#field_rear_spring{
	top:224px;
	left:184px;
	width:65px;
}
#field_ball_socket_1{
	top:198px;
	left:417px;
}
#field_ball_socket_2{
	top:224px;
	left:416px;
}
#field_rear_piston_holes_1{
	top:250px;
	left:172px;
}
#field_rear_piston_holes_2{
	top:250px;
	left:228px;
}
#field_rear_piston_holes_3{
	top:251px;
	left:287px;
}
#field_rear_piston_holes_4{
	top:250px;
	left:355px;
}
#field_rear_piston_holes_5{
	top:251px;
	left:416px;
}
#field_rear_shock_length{
padding-left:130px;
	top:286px;
	left:77px;
	width:130px;
}
#field_front_oil{
padding-left:20px;
	top:225px;
	left:497px;
	width:147px;
}
#field_front_spring{
padding-left:80px;
	top:223px;
	left:671px;
	width:156px;
}
#field_front_piston_holes_1{
	top:249px;
	left:641px;
}
#field_front_piston_holes_2{
	top:249px;
	left:698px;
}
#field_front_piston_holes_3{
	top:249px;
	left:757px;
}
#field_front_piston_holes_4{
	top:249px;
	left:824px;
}
#field_front_piston_holes_5{
	top:249px;
	left:887px;
}
#field_front_drilled_1{
	top:130px;
	left:100px;
}
#field_front_shock_length{
padding-left:140px;
	top:285px;
	left:532px;
	width:135px;
}
#field_rear_rollbar_1{
	top:411px;
	left:170px;
}
#field_rear_rollbar_2{
	top:410px;
	left:246px;
}
#field_rear_rollbar_3{
	top:409px;
	left:326px;
}
#field_rear_rollbar_4{
	top:410px;
	left:405px;
}
#field_rear_strap_1{
	top:444px;
	left:292px;
}
#field_rear_strap_2{
	top:444px;
	left:351px;
}
#field_rear_strap_3{
	top:445px;
	left:407px;
}
#field_rear_antisquat{
padding-left:200px;
	top:607px;
	left:0px;
	width:44px;
}
#field_rear_shock_position_1{
	top:648px;
	left:266px;
}
#field_rear_shock_position_2{
	top:647px;
	left:366px;
}
#field_rear_wheelbase_1{
	top:678px;
	left:208px;
}
#field_rear_wheelbase_2{
	top:679px;
	left:287px;
}
#field_rear_wheelbase_3{
	top:678px;
	left:365px;
}
#field_rear_camber{
padding-left:110px;
	top:713px;
	left:167px;
	width:111px;
}
#field_rear_linkwasher1{
padding-left:80px;
	top:477px;
	left:357px;
	width:36px;
}
#field_rear_linkwasher2{
padding-left:90px;
	top:607px;
	left:355px;
	width:36px;
}
#field_rear_tower_mount_1{
	top:383px;
	left:448px;
}
#field_rear_tower_mount_2{
	top:383px;
	left:471px;
}
#field_rear_tower_mount_3{
	top:383px;
	left:493px;
}
#field_rear_tower_mount_4{
	top:383px;
	left:514px;
}
#field_rear_tower_mount_5{
	top:383px;
	left:536px;
}
#field_rear_hub_mount_1{
	top:429px;
	left:808px;
}
#field_rear_hub_mount_2{
	top:429px;
	left:834px;
}
#field_rear_hub_mount_3{
	top:430px;
	left:860px;
}
#field_rear_arm_mount_1{
	top:551px;
	left:761px;
}
#field_rear_arm_mount_2{
	top:551px;
	left:785px;
}
#field_rear_arm_mount_3{
	top:551px;
	left:811px;
}
#field_rear_hub_1{
	top:629px;
	left:816px;
}
#field_rear_hub_2{
	top:629px;
	left:887px;
}
#field_rear_alloy_hub_1{
	top:660px;
	left:816px;
}
#field_rear_alloy_hub_2{
	top:659px;
	left:887px;
}
#field_rear_mount_1{
	top:704px;
	left:609px;
}
#field_rear_mount_2{
	top:705px;
	left:675px;
}
#field_rear_mount_3{
	top:704px;
	left:735px;
}
#field_rear_mount_4{
	top:704px;
	left:796px;
}
#field_front_linkwasher1{
padding-left:85px;
	top:798px;
	left:190px;
	width:30px;
}
#field_front_tower_mount_1{
	top:837px;
	left:238px;
}
#field_front_tower_mount_2{
	top:837px;
	left:259px;
}
#field_front_tower_mount_3{
	top:837px;
	left:283px;
}
#field_front_tower_mount_4{
	top:837px;
	left:305px;
}
#field_front_tower_mount_5{
	top:838px;
	left:327px;
}
#field_front_camber{
padding-left:100px;
	top:1032px;
	left:175px;
	width:110px;
}
#field_front_toe{
padding-left:130px;
	top:1064px;
	left:0px;
	width:255px;
}
#field_front_steering_mount_1{
	top:781px;
	left:538px;
}
#field_front_steering_mount_2{
	top:800px;
	left:538px;
}
#field_front_hub_mount_1{
	top:769px;
	left:612px;
}
#field_front_hub_mount_2{
	top:769px;
	left:637px;
}
#field_front_yoke_1{
	top:793px;
	left:780px;
}
#field_front_yoke_2{
	top:792px;
	left:835px;
}
#field_front_arm_mount_1{
	top:849px;
	left:738px;
}
#field_front_arm_mount_2{
	top:851px;
	left:764px;
}
#field_front_hub_1{
	top:937px;
	left:780px;
}
#field_front_hub_2{
	top:938px;
	left:864px;
}
#field_front_mount_1{
	top:1049px;
	left:645px;
}
#field_front_mount_2{
	top:1049px;
	left:726px;
}
#field_front_mount_3{
	top:1049px;
	left:803px;
}
#field_front_mount_4{
	top:1050px;
	left:879px;
}
#field_esc{
padding-left:80px;
	top:1141px;
	left:0px;
	width:176px;
}
#field_servo{
padding-left:80px;
	top:1167px;
	left:0px;
	width:182px;
}
#field_reciever{
padding-left:110px;
	top:1192px;
	left:0px;
	width:161px;
}
#field_battery{
padding-left:100px;
	top:1217px;
	left:0px;
	width:158px;
}
#field_motor{
padding-left:80px;
	top:1240px;
	left:0px;
	width:181px;
}
#field_spur{
	top:1266px;
	left:62px;
	width:48px;
}
#field_pinion{
	top:1266px;
	left:197px;
	width:71px;
}
#field_ext_gears_1{
	top:1287px;
	left:210px;
}
#field_ext_gears_2{
	top:1311px;
	left:210px;
}
#field_ext_gears_3{
	top:1335px;
	left:210px;
}
#field_rear_wheels{
padding-left:130px;
	top:1143px;
	left:290px;
	width:175px;
}
#field_rear_tyre{
padding-left:110px;
	top:1167px;
	left:290px;
	width:200px;
}
#field_rear_insert{
padding-left:120px;
	top:1194px;
	left:290px;
	width:184px;
}
#field_front_wheels{
padding-left:140px;
	top:1217px;
	left:290px;
	width:180px;
}
#field_front_tire{
padding-left:110px;
	top:1242px;
	left:295px;
	width:188px;
}
#field_front_insert{
padding-left:120px;
	top:1266px;
	left:290px;
	width:189px;
}
#field_diff_height_1{
	top:1333px;
	left:346px;
}
#field_diff_height_2{
	top:1333px;
	left:519px;
}
#field_weight_added{
padding-left:140px;
	top:1138px;
	left:625px;
	width:141px;
}
#field_cell_layout{
padding-left:110px;
	top:1160px;
	left:625px;
	width:168px;
}
#field_front_ride_height{
	top:1185px;
	left:813px;
	width:57px;
}
#field_rear_ride_height{
	top:1206px;
	left:814px;
	width:56px;
}
#field_additional_washers{
padding-left:80px;
	top:1250px;
	left:750px;
	width:51px;
}
#field_notes{
padding-left:90px;
	top:1279px;
	left:617px;
	width:197px;
	height:76px;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}
#field_topdeck_link_1{
	top:1406px;
	left:732px;
}
#field_topdeck_link_2{
	top:1406px;
	left:853px;
}
