input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	left: 468px;
	width: 16px;
	top: 308px;
	height: 21px;
	bottom: -10px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	left: 468px;
	width: 16px;
	top: 308px;
	height: 21px;
	bottom: -10px;
}
select{
	height:26px; 
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1315px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 598px;
	top: 4px;
	width: 265px;
}
#field_name {
padding-left:70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:60px;
    left: 152px;
    top: 40px;
    width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 38px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 193px;
	top: 82px;
}
#field_traction_level_2 {
	left: 260px;
	top: 83px;
}
#field_traction_level_3 {
	left: 348px;
	top: 82px;
}
#field_track_type_1 {
	left: 428px;
	top: 84px;
}
#field_track_type_2 {
	left: 492px;
	top: 82px;
}
#field_track_type_3 {
	left: 577px;
	top: 83px;
}
#field_track_size_1 {
	left: 673px;
	top: 81px;
}
#field_track_size_2 {
	left: 743px;
	top: 83px;
}
#field_track_size_3 {
	left: 825px;
	top: 82px;
}
#field_track_condition_1 {
	left: 202px;
	top: 128px;
}
#field_track_condition_2 {
	left: 286px;
	top: 126px;
}
#field_track_condition_3 {
	left: 399px;
	top: 125px;
}
#field_track_condition_4 {
	left: 202px;
	top: 150px;
}
#field_track_condition_5 {
	left: 286px;
	top: 151px;
}
#field_track_condition_6 {
	left: 398px;
	top: 151px;
}
#field_track_surface_1 {
	left: 557px;
	top: 125px;
}
#field_track_surface_2 {
	left: 698px;
	top: 125px;
}
#field_track_surface_3 {
	left: 809px;
	top: 125px;
}
#field_track_surface_4 {
	left: 557px;
	top: 148px;
}
#field_track_surface_5 {
	left: 699px;
	top: 149px;
}
#field_track_surface_6 {
	left: 811px;
	top: 149px;
}
#password, #password-1{
	background:#fff;
	width:200px;
}





#field_rear_diff_type_1{
	top:221px;
	left:111px;
}
#field_rear_diff_type_2{
	top:236px;
	left:111px;
}
#field_rear_diff_oil{
	top:284px;
	left:150px;
	width:34px;
}
#field_rear_groove_1{
	top:317px;
	left:121px;
}
#field_rear_groove_2{
	top:333px;
	left:121px;
}
#field_rear_pip_1{
	top:439px;
	left:9px;
}
#field_rear_pip_2{
	top:454px;
	left:9px;
}
#field_rear_pip_3{
	top:469px;
	left:9px;
}
#field_rear_shaft_2{
	top:527px;
	left:142px;
}
#field_rear_shaft_1{
	top:526px;
	left:93px;
}
#field_rear_rollbar_1{
	top:277px;
	left:389px;
}
#field_rear_rollbar_2{
	top:291px;
	left:389px;
}
#field_rear_rollbar_3{
	top:305px;
	left:389px;
}
#field_rear_rollbar_4{
	top:316px;
	left:389px;
}
#field_rear_rollbar_5{
	top:329px;
	left:389px;
}
#field_rear_rollbar_6{
	top:341px;
	left:389px;
}
#field_rear_hubwasher{
	top:389px;
	left:359px;
	width:39px;
}
#field_rear_tower_mount_1{
	top:498px;
	left:294px;
}
#field_rear_tower_mount_2{
	top:498px;
	left:308px;
}
#field_rear_tower_mount_3{
	top:498px;
	left:322px;
}
#field_rear_tower_mount_4{
	top:498px;
	left:335px;
}
#field_rear_tower_mount_5{
	top:498px;
	left:348px;
}
#field_rear_hubgroove_1{
	top:399px;
	left:455px;
}
#field_rear_hubgroove_2{
	top:413px;
	left:455px;
}
#field_rear_hubgroove_3{
	top:427px;
	left:455px;
}
#field_rear_studwasher{
	top:480px;
	left:474px;
	width:30px;
}
#field_rear_wheelbase_1{
	top:527px;
	left:454px;
}
#field_rear_wheelbase_2{
	top:541px;
	left:454px;
}
#field_rear_wheelbase_3{
	top:555px;
	left:454px;
}
#field_rear_droop{
	top:220px;
	left:552px;
	width:45px;
}
#field_rear_block_1{
	top:239px;
	left:586px;
}
#field_rear_ride_height{
	top:272px;
	left:576px;
	width:46px;
}
#field_rear_camber{
	top:287px;
	left:559px;
	width:38px;
}
#field_rear_washer2{
	top:323px;
	left:645px;
	width:35px;
}
#field_rear_underball_1{
	top:231px;
	left:764px;
}
#field_rear_underbracket_1{
	top:249px;
	left:765px;
}
#field_front_suspension_washer{
	top:265px;
	left:797px;
	width:30px;
}
#field_rear_washer3{
	top:320px;
	left:825px;
	width:40px;
}
#field_rear_shock_cap_1{
	top:445px;
	left:734px;
}
#field_rear_shock_cap_2{
	top:445px;
	left:794px;
}
#field_rear_shock_cap_3{
	top:445px;
	left:864px;
}
#field_rear_oil{
	top:461px;
	left:724px;
	width:43px;
}
#field_rear_spring{
	top:476px;
	left:694px;
	width:105px;
}
#field_rear_piston{
padding-left:20px;
	top:492px;
	left:674px;
	width:116px;
}
#field_rear_drilled_1{
	top:510px;
	left:715px;
}
#field_rear_drilled_2{
	top:511px;
	left:750px;
}
#field_rear_hole_size{
	top:525px;
	left:810px;
	width:43px;
}
#field_rear_shock_length{
	top:543px;
	left:813px;
	width:40px;
}
#field_rear_rebound{
paddding-left:30px;
	top:561px;
	left:700px;
	width:114px;
}
#field_front_diff_type_1{
	top:633px;
	left:111px;
}
#field_front_diff_type_2{
	top:648px;
	left:111px;
}
#field_front_diff_oil{
	top:697px;
	left:147px;
	width:40px;
}
#field_front_groove_1{
	top:730px;
	left:121px;
}
#field_front_groove_2{
	top:744px;
	left:121px;
}
#field_front_yoke_1{
	top:827px;
	left:79px;
}
#field_front_yoke_2{
	top:842px;
	left:79px;
}
#field_servo_saver_1{
	top:879px;
	left:200px;
}
#field_servo_saver_2{
	top:892px;
	left:200px;
}
#field_front_shaft_1{
	top:937px;
	left:56px;
}
#field_front_shaft_2{
	top:936px;
	left:105px;
}
#field_front_shaft_3{
	top:937px;
	left:187px;
}
#field_front_anti_rollbar_1{
	top:689px;
	left:387px;
}
#field_front_anti_rollbar_2{
	top:703px;
	left:387px;
}
#field_front_anti_rollbar_3{
	top:716px;
	left:387px;
}
#field_front_anti_rollbar_4{
	top:728px;
	left:387px;
}
#field_front_anti_rollbar_5{
	top:739px;
	left:387px;
}
#field_front_anti_rollbar_6{
	top:753px;
	left:387px;
}
#field_front_hubwasher{
	top:803px;
	left:378px;
	width:28px;
}
#field_front_washer1{
	top:891px;
	left:295px;
	width:34px;
}
#field_steering_mount_1{
	top:973px;
	left:260px;
}
#field_steering_mount_2{
	top:973px;
	left:274px;
}
#field_front_tower_mount_1{
	top:918px;
	left:338px;
}
#field_front_tower_mount_2{
	top:918px;
	left:351px;
}
#field_front_tower_mount_3{
	top:918px;
	left:364px;
}
#field_front_tower_mount_4{
	top:918px;
	left:378px;
}
#field_front_hubmount_1{
	top:816px;
	left:544px;
}
#field_front_hubmount_2{
	top:815px;
	left:559px;
}
#field_front_washer2{
	top:878px;
	left:473px;
	width:30px;
}
#field_front_washer3{
	top:912px;
	left:535px;
	width:30px;
}
#field_front_underball_1{
	top:647px;
	left:503px;
}
#field_front_underbracket_1{
	top:666px;
	left:503px;
}
#field_rear_washer4{
	top:680px;
	left:527px;
	width:38px;
}
#field_rear_washer5{
	top:733px;
	left:528px;
	width:35px;
}
#field_rear_washer6{
	top:733px;
	left:707px;
	width:37px;
}
#field_front_droop{
	top:634px;
	left:821px;
	width:38px;
}
#field_front_block_1{
	top:652px;
	left:850px;
}
#field_front_ride_height{
	top:684px;
	left:846px;
	width:38px;
}
#field_front_camber{
	top:698px;
	left:825px;
	width:38px;
}
#field_front_toein{
	top:716px;
	left:820px;
	width:47px;
}
#field_front_toeout{
	top:732px;
	left:824px;
	width:41px;
}
#field_front_shock_cap_1{
	top:859px;
	left:731px;
}
#field_front_shock_cap_2{
	top:859px;
	left:793px;
}
#field_front_shock_cap_3{
	top:858px;
	left:862px;
}
#field_front_oil{
	top:872px;
	left:724px;
	width:43px;
}
#field_front_spring{
padding-left:40px;
	top:889px;
	left:652px;
	width:140px;
}
#field_front_piston{
padding-left:40px;
	top:907px;
	left:658px;
	width:135px;
}
#field_front_drilled_1{
	top:925px;
	left:716px;
}
#field_front_drilled_2{
	top:924px;
	left:751px;
}
#field_front_hole_size{
	top:938px;
	left:810px;
	width:41px;
}
#field_front_shock_length{
	top:956px;
	left:813px;
	width:37px;
}
#field_front_rebound{
padding-left:70px;
	top:973px;
	left:640px;
	width:136px;
}
#field_chassis{
padding-left:85px;
	top:1034px;
	left:0px;
	width:148px;
}
#field_chassis_type_1{
	top:1033px;
	left:327px;
}
#field_chassis_type_2{
	top:1034px;
	left:417px;
}
#field_topdeck{
padding-left:90px;
	top:1054px;
	left:0px;
	width:344px;
}
#field_body{
padding-left:107px;
	top:1073px;
	left:0px;
	width:327px;
}
#field_wing{
padding-left:70px;
	top:1094px;
	left:0px;
	width:359px;
}
#field_esc{
padding-left:70px;
	top:1115px;
	left:0px;
	width:361px;
}
#field_servo{
padding-left:70px;
	top:1133px;
	left:0px;
	width:356px;
}
#field_reciever{
padding-left:90px;
	top:1154px;
	left:0px;
	width:347px;
}
#field_cells{
padding-left:70px;
	top:1175px;
	left:0px;
	width:367px;
}
#field_cell_position_1{
	top:1196px;
	left:181px;
}
#field_cell_position_2{
	top:1195px;
	left:274px;
}
#field_cell_position_3{
	top:1195px;
	left:386px;
}
#field_motor{
padding-left:80px;
	top:1031px;
	left:459px;
	width:351px;
}
#field_rotor{
padding-left:153px;
	top:1052px;
	left:459px;
	width:278px;
}
#field_timing{
padding-left:81px;
	top:1071px;
	left:459px;
	width:341px;
}
#field_gear_pitch_1{
	top:1088px;
	left:611px;∂ç
}
#field_gear_pitch_2{
	top:1090px;
	left:690px;
}
#field_spur{
padding-left:103px;
	top:1110px;
	left:459px;
	width:329px;
}
#field_pinion{
padding-left:100px;
	top:1129px;
	left:459px;
	width:331px;
}
#field_wheels{
padding-left:80px;
	top:1181px;
	left:459px;
	width:324px;
}
#field_tyre{
padding-left:93px;
	top:1201px;
	left:459px;
	width:325px;
}
#field_insert{
padding-left:97px;
	top:1220px;
	left:459px;
	width:309px;
}
#field_tyre_additive{
padding-left:120px;
	top:1240px;
	left:459px;
	width:280px;
}
#field_front_time{
	top:1259px;
	left:616px;
	width:42px;
}
#field_rear_time{
	top:1259px;
	left:805px;
	width:38px;
}
#field_warmers_1{
	top:1278px;
	left:622px;
}
#field_warmers_2{
	top:1279px;
	left:672px;
}
#field_tempature{
	top:1279px;
	left:736px;
	width:37px;
}
#field_time{
	top:1279px;
	left:821px;
	width:32px;
}
#field_notes{
padding-left:70px;
	top:1243px;
	left:0px;
	width:375px;
	height:50px;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}
