input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	top: 1133px;
	left: 296px;
	width: 19px;
	bottom: 149373996px;
	height: 20px;
}
input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	top: 1133px;
	left: 296px;
	width: 19px;
	bottom: 149373996px;
	height: 20px;
}
input[type="radio"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	top: 1133px;
	left: 296px;
	width: 17px;
	bottom: 149373996px;
	height: 17px;
}

textarea {
    line-height: 20px;
}
select {
    border: medium none;
	height:26px; 
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1315px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 598px;
	top: 4px;
	width: 256px;
}
#field_name {
padding-left:70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:60px;
	left: 152px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 38px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 87px;
}
#field_traction_level_2 {
	left: 258px;
	top: 88px;
}
#field_traction_level_3 {
	left: 347px;
	top: 88px;
}
#field_track_type_1 {
	left: 428px;
	top: 90px;
}
#field_track_type_2 {
	left: 492px;
	top: 89px;
}
#field_track_type_3 {
	left: 577px;
	top: 86px;
}
#field_track_size_1 {
	left: 674px;
	top: 88px;
}
#field_track_size_2 {
	left: 747px;
	top: 89px;
}
#field_track_size_3 {
	left: 832px;
	top: 86px;
}
#field_track_condition_1 {
	left: 194px;
	top: 133px;
}
#field_track_condition_2 {
	left: 278px;
	top: 133px;
}
#field_track_condition_3 {
	left: 391px;
	top: 131px;
}
#field_track_condition_4 {
	left: 194px;
	top: 161px;
}
#field_track_condition_5 {
	left: 278px;
	top: 161px;
}
#field_track_condition_6 {
	left: 391px;
	top: 160px;
}
#field_track_surface_1 {
	left: 557px;
	top: 131px;
}
#field_track_surface_2 {
	left: 697px;
	top: 130px;
}
#field_track_surface_3 {
	left: 806px;
	top: 130px;
}
#field_track_surface_4 {
	left: 557px;
	top: 156px;
}
#field_track_surface_5 {
	left: 697px;
	top: 155px;
}
#field_track_surface_6 {
	left: 807px;
	top: 155px;
}

#password, #password-1{
	background:#fff; 	
	width:200px; 

}

#field_front_diff_oil{
	top:231px;
	left:23px;
	width:49px;
}
#field_center_diff_oil{
	top:232px;
	left:113px;
	width:51px;
}
#field_rear_diff_oil{
	top:232px;
	left:202px;
	width:48px;
}
/*checkbox */
#field_clutch_type_1{
	top:278px;
	left:86px;
}

#field_aluminum_clutch{
	top:296px;
	left:78px;
	width:19px;
}

#field_optinal_clutch{
	top:276px;
	left:156px;
	width:114px;
}

#field_aluminum_spring{
	top:298px;
	left:186px;
	width:40px;
}

#field_carbon_clutch{
	top:321px;
	left:79px;
	width:17px;
}

#field_carbon_spring{
	top:323px;
	left:184px;
	width:41px;
}

#field_clutch_bell{
	top:370px;
	left:72px;
	width:19px;
}
#field_spur{
	top:370px;
	left:160px;
	width:24px;
}

/*checkbox */

#field_brake_balancer_1{
	top:421px;
	left:76px;
}

#field_brake_balancer_2{
	top:442px;
	left:76px;
}



#field_balancer_1{
	top:417px;
	left:233px;
	width:23px;
}

#field_balancer_2{
	top:439px;
	left:232px;
	width:24px;
}

#field_balancer_3{
	top:460px;
	left:232px;
	width:26px;
}

#field_balancer_4{
	top:480px;
	left:233px;
	width:25px;
}

#field_balancer_5{
	top:501px;
	left:232px;
	width:25px;
}

/*checkbox */

#field_front_orange_1{
	top:565px;
	left:50px;
}

/*checkbox */
#field_front_red_1{
	top:587px;
	left:50px;
}
#field_front_pink_1{
	top:608px;
	left:50px;
}
#field_front_blue_1{
	top:631px;
	left:50px;
}

#field_front_purple_1{
	top:653px;
	left:50px;
}
#field_front_green_1{
	top:675px;
	left:50px;
}

#field_front_other_1{
	top:697px;
	left:50px;
	
}

#field_rear_orange_1{
	top:564px;
	left:221px;
}

#field_rear_red_1{
	top:587px;
	left:221px;
}
#field_rear_pink_1{
	top:609px;
	left:221px;
}

#field_rear_blue_1{
	top:631px;
	left:221px;
}

#field_rear_purple_1{
	top:653px;
	left:222px;
}

#field_rear_green_1{
	top:674px;
	left:222px;
}

#field_rear_other_1{
	top:697px;
	left:222px;
	
}
#field_front_shock_oil{
	top:722px;
	left:57px;
	width:30px;
}

#field_rear_shock_oil{
	top:724px;
	left:197px;
	width:30px;
}

#field_front_rebound{
	top:747px;
	left:57px;
	width:30px;
}

#field_rear_rebound{
	top:747px;
	left:198px;
	width:30px;
}

/*checkbox*/

#field_front_piston_holes_1{
	top:747px;
	left:196px;
}

#field_front_piston_holes_2{
	top:867px;
	left:235px;
}


#field_front_piston_holes_3{
	top:825px;
	left:225px;
}

#field_front_piston_holes_4{
	top:802px;
	left:238px;
}

#field_front_piston_holes_5{
	top:787px;
	left:216px;
}

#field_front_piston_holes_6{
	top:781px;
	left:242px;
}
#field_holes_size_left_1{
	top:833px;
	left:30px;
}
#field_holes_size_left_2{
	top:832px;
	left:41px;
}
#field_holes_size_left_3{
	top:842px;
	left:50px;
}
#field_holes_size_left_4{
	top:855px;
	left:44px;
}
#field_holes_size_left_5{
	top:854px;
	left:29px;
}
#field_holes_size_left_6{
	top:841px;
	left:24px;
}

/*checkbox */
#field_front_hole_size_1{
	top:813px;
	left:97px;
}

#field_front_hole_size_2{
	top:837px;
	left:97px;
}
#field_front_hole_size_3{
	top:861px;
	left:97px;
}
#field_front_hole_size_4{
	top:884px;
	left:97px;
}

#field_front_other{
	top:913px;
	left:26px;
	width:77px;
	height:32px;
}
/*checkbox */
#field_rear_hole_size_1{
	top:813px;
	left:174px;
}

#field_rear_hole_size_2{
	top:838px;
	left:175px;
}
#field_rear_hole_size_3{
	top:861px;
	left:175px;
}
#field_rear_hole_size_4{
	top:884px;
	left:175px;
	
}

#field_holes_size_right_1{
	top:832px;
	left:228px;
}
#field_holes_size_right_2{
	top:845px;
	left:220px;
}
#field_holes_size_right_3{
	top:832px;
	left:240px;
}
#field_holes_size_right_4{
	top:842px;
	left:249px;
}
#field_holes_size_right_5{
	top:854px;
	left:244px;
}
#field_holes_size_right_6{
	top:857px;
	left:230px;
}

#field_rear_other{
	top:914px;
	left:182px;
	width:81px;
	height:32px;
}

#field_tire_brand{
	top:970px;
	left:54px;
	width:77px;
}

#field_tire_type{
	top:989px;
	left:54px;
	width:78px;
}

#field_tire_insert{
	top:1008px;
	left:53px;
	width:78px;
}

#field_wheel{
	top:1025px;
	left:53px;
	width:77px;
}
#field_body_brand{
	top:971px;
	left:176px;
	width:89px;
}

#field_body_type{
	top:989px;
	left:176px;
	width:92px;
}

/*checkbox */

#field_stock_wing_1{
	top:1026px;
	left:169px;
}

#field_wing_brand{
	top:1025px;
	left:219px;
	width:56px;
}

#field_wing_type{
	top:1044px;
	left:211px;
	width:56px;
}

#field_engine_type{
padding-left:42px;
	top:1084px;
	left:0px;
	width:208px;
}

#field_manifold{
padding-left:62px;
	top:1102px;
	left:0px;
	width:208px;
}

#field_muffler{
padding-left:60px;
	top:1120px;
	left:0px;
	width:208px;
}
#field_plug{
padding-left:50px;
	top:1136px;
	left:0px;
	width:208px;
}

#field_fuel{
padding-left:50px;
	top:1157px;
	left:0px;
	width:208px;
}

/*textare */
#field_comments{
padding-left:20px;
	top:1208px;
	left:0px;
	width:255px;
	height:94px;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}

#field_front_steering_material_1{
	top:217px;
	left:296px;
}

#field_front_steering_material_2{
	top:241px;
	left:297px;
}
/*(checkbox */
#field_front_hub_material_1{
	top:216px;
	left:374px;
}


#field_front_hub_material_2{
	top:240px;
	left:374px;
}


/*checkbox */

#field_front_hex_adapter_1{
	top:437px;
	left:390px;
}
#field_front_hex_adapter_2{
	top:437px;
	left:459px;
}
#field_front_hex_adapter_3{
	top:436px;
	left:527px;
}


/*radio */

#field_front_tower_mount_1{
	top:245px;
	left:544px;
}
#field_front_tower_mount_2{
	top:240px;
	left:539px;
}
#field_front_tower_mount_3{
	top:236px;
	left:534px;
}
#field_front_tower_mount_4{
	top:231px;
	left:525px;
}
#field_front_tower_mount_5{
	top:226px;
	left:518px;
}
#field_front_tower_mount_6{
	top:220px;
	left:511px;
}

/*radio */
#field_front_hub_mount_1{
	top:299px;
	left:373px;
}
#field_front_hub_mount_2{
	top:296px;
	left:360px;
}

#field_front_inner_mount_1{
	top:325px;
	left:527px;
}
#field_front_inner_mount_2{
	top:311px;
	left:527px;
}
#field_front_inner_mount_3{
	top:299px;
	left:527px;
}
#field_front_inner_mount_4{
	top:298px;
	left:513px;
}
#field_front_inner_mount_5{
	top:311px;
	left:513px;
}
#field_front_inner_mount_6{
	top:323px;
	left:513px;
}



#field_front_arm_mount_1{
	top:366px;
	left:436px;
}
#field_front_arm_mount_2{
	top:357px;
	left:424px;
}

#field_rear_tower_mount_1{
	top:232px;
	left:650px;
}
#field_rear_tower_mount_2{
	top:226px;
	left:656px;
}
#field_rear_tower_mount_3{
	top:221px;
	left:663px;
}
#field_rear_tower_mount_4{
	top:216px;
	left:669px;
}
#field_rear_tower_mount_5{
	top:212px;
	left:675px;
}
#field_rear_tower_mount_6{
	top:206px;
	left:682px;
}
#field_rear_tower_mount_7{
	top:206px;
	left:682px;
}
#field_rear_tower_upright_1{
	top:217px;
	left:847px;
}

#field_rear_tower_upright_2{
	top:242px;
	left:848px;
}

#field_rear_inner_mount_1{
	top:292px;
	left:649px;
}
#field_rear_inner_mount_2{
	top:307px;
	left:649px;
}
#field_rear_inner_mount_3{
	top:321px;
	left:648px;
}
#field_rear_inner_mount_4{
	top:320px;
	left:663px;
}
#field_rear_inner_mount_5{
	top:306px;
	left:663px;
}
#field_rear_inner_mount_6{
	top:291px;
	left:663px;
}


#field_rear_hub_mount_1{
	top:294px;
	left:777px;
}
#field_rear_hub_mount_2{
	top:294px;
	left:786px;
}
#field_rear_hub_mount_3{
	top:291px;
	left:797px;
}


#field_rear_arm_mount_1{
	top:354px;
	left:751px;
}

#field_rear_arm_mount_2{
	top:351px;
	left:761px;
}

#field_rear_hex_adapter_1{
	top:436px;
	left:724px;
}
#field_rear_hex_adapter_2{
	top:437px;
	left:787px;
}
#field_rear_hex_adapter_3{
	top:435px;
	left:850px;
}




#field_front_caster_1{
	top:489px;
	left:294px;
}

#field_front_caster_2{
	top:511px;
	left:293px;
}


#field_front_spindle_1{
	top:489px;
	left:546px;
}
#field_front_spindle_2{
	top:512px;
	left:546px;
}


#field_front_frontinsert_1{
	top:698px;
	left:367px;
}
#field_front_frontinsert_2{
	top:719px;
	left:368px;
}
#field_front_frontinsert_3{
	top:739px;
	left:368px;
}

#field_front_rearinsert_1{
	top:697px;
	left:487px;
}
#field_front_rearinsert_2{
	top:718px;
	left:487px;
}
#field_front_rearinsert_3{
	top:741px;
	left:487px;
}

/*checkbox */

#field_front_brace_1{
	top:724px;
	left:546px;
}
#field_front_brace_2{
	top:746px;
	left:546px;
}

#field_rear_brace_1{
	top:490px;
	left:626px;
}
#field_rear_brace_2{
	top:512px;
	left:626px;
}

#field_rear_wing_mount_1{
	top:519px;
	left:821px;
}
#field_rear_wing_mount_2{
	top:514px;
	left:811px;
}


#field_rear_frontinsert_1{
	top:635px;
	left:679px;
}
#field_rear_frontinsert_2{
	top:657px;
	left:679px;
}
#field_rear_frontinsert_3{
	top:678px;
	left:679px;
}

#field_rear_rearinsert_1{
	top:636px;
	left:860px;
}
#field_rear_rearinsert_2{
	top:656px;
	left:861px;
}
#field_rear_rearinsert_3{
	top:677px;
	left:861px;
}


#field_front_caster_1{
}
#field_front_caster_2{
}


#field_front_spindle_1{
	
}
#field_front_spindle_2{
	
}


#field_front_frontinsert_1{
	
}
#field_front_frontinsert_2{
	
}

#field_front_frontinsert_3{
	
}

#field_front_rearinsert_1{
}

#field_front_rearinsert_2{
	
}

#field_front_rearinsert_3{
	
}



#field_front_brace_1{
	
}
#field_front_brace_2{
}

#field_rear_brace_1{
	
}

#field_rear_brace_2{
	
}


#field_rear_wing_mount_1{
	
}
#field_rear_wing_mount_2{
	
}

#field_rear_frontinsert_1{
	
}
#field_rear_frontinsert_2{
	
}
#field_rear_frontinsert_3{
	
}

#field_rear_frontbracket_1{
	top:720px;
	left:630px;
}

#field_rear_frontbracket_2{
	top:742px;
	left:630px;
}


#field_frontbracket_type{
	top:740px;
	left:720px;
	width:30px;
}

#field_rear_rearbracket_1{
	top:743px;
	left:774px;
}

#field_rear_rearbracket_2{
	top:721px;
	left:773px;
}

#field_rearbracket_type{
	top:741px;
	left:867px;
	width:30px;
}

/*checkbox */

#field_front_swaybar_1{
	top:799px;
	left:293px;
}
#field_front_swaybar_2{
	top:822px;
	left:293px;
}

#field_front_swaybar_3{
	top:847px;
	left:293px;
}

#field_front_swaybar_4{
	top:871px;
	left:293px;
}

#field_front_swaybar_5{
	top:896px;
	left:293px;
}

#field_front_toe_out{
	top:782px;
	left:553px;
	width:33px;
}

#field_front_toe_in{
	top:808px;
	left:554px;
	width:30px;
}


#field_servo_saver_1{
	top:883px;
	left:516px;
}
#field_servo_saver_2{
	top:905px;
	left:517px;
}

/*checkbox */
#field_steering_bar_1{
	top:962px;
	left:293px;
}
#field_steering_bar_2{
	top:987px;
	left:293px;
}
#field_steering_bar_3{
	top:1012px;
	left:293px;
}


#field_wheelbase_shims_1{
	top:803px;
	left:675px;
}
#field_wheelbase_shims_2{
	top:802px;
	left:607px;
}
#field_wheelbase_shims_3{
	top:802px;
	left:631px;
}

#field_wheelbase_shims_4{
	top:803px;
	left:652px;
}

#field_wing_location_rear{
	top:797px;
	left:876px;
	width:28px;
}


#field_rear_swaybar_1{
	top:913px;
	left:608px;
}
#field_rear_swaybar_2{
	top:938px;
	left:608px;
}

#field_rear_swaybar_3{
	top:963px;
	left:608px;
}

#field_rear_swaybar_4{
	top:986px;
	left:608px;
}

#field_rear_swaybar_5{
	top:1012px;
	left:608px;
}



#field_front_camber_negative{
	top:1057px;
	left:340px;
	width:18px;
}

#field_front_camber_positive{
	top:1058px;
	left:374px;
	width:18px;
}

#field_front_shock_length{
	top:1192px;
	left:297px;
	width:28px;
}

#field_front_ride_height{
	top:1278px;
	left:520px;
	width:26px;
}

#field_rear_camber_negative{
	top:1058px;
	left:804px;
}

#field_rear_camber_positive{
	top:1057px;
	left:840px;
}

#field_rear_shock_length{
	top:1192px;
	left:860px;
	width:23px;
}

#field_rear_ride_height{
	top:1279px;
	left:684px;
	width:23px;
}
