input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	top: 1118px;
	left: 191px;
	width: 21px;
	bottom: -3px;
	height: 20px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	top: 1118px;
	left: 191px;
	width: 19px;
	bottom: -3px;
	height: 19px;
}

textarea {
    line-height: 20px;
}
select {
    border: medium none;
	height:26px;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1200px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {

    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 598px;
	top: 4px;
	width: 256px;
}
#field_name {
padding-left:70px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:60px;
	left: 152px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 82px;
}
#field_traction_level_2 {
	left: 258px;
	top: 84px;
}
#field_traction_level_3 {
	left: 347px;
	top: 83px;
}
#field_track_type_1 {
	left: 428px;
	top: 84px;
}
#field_track_type_2 {
	left: 492px;
	top: 85px;
}
#field_track_type_3 {
	left: 577px;
	top: 84px;
}
#field_track_size_1 {
	left: 674px;
	top: 83px;
}
#field_track_size_2 {
	left: 747px;
	top: 84px;
}
#field_track_size_3 {
	left: 832px;
	top: 84px;
}
#field_track_condition_1 {
	left: 195px;
	top: 130px;
}
#field_track_condition_2 {
	left: 279px;
	top: 132px;
}
#field_track_condition_3 {
	left: 391px;
	top: 129px;
}
#field_track_condition_4 {
	left: 195px;
	top: 158px;
}
#field_track_condition_5 {
	left: 279px;
	top: 159px;
}
#field_track_condition_6 {
	left: 391px;
	top: 159px;
}
#field_track_surface_1 {
	left: 550px;
	top: 128px;
}
#field_track_surface_2 {
	left: 690px;
	top: 128px;
}
#field_track_surface_3 {
	left: 804px;
	top: 129px;
}
#field_track_surface_4 {
	left: 551px;
	top: 155px;
}
#field_track_surface_5 {
	left: 691px;
	top: 153px;
}
#field_track_surface_6 {
	left: 804px;
	top: 154px;
}

#password, #password-1{
	background:#fff; 	
	width:200px; 

}



#field_front_diff_type_1{
	left:6px;
	top:235px;
}
#field_front_diff_oil{
	left:37px;
	top:235px;
	width :65px;
}
#field_front_diff_type_2{
	left:6px;
	top:255px;
}

#field_front_diff_type_3{
	left:5px;
	top:277px;
}

#field_rear_diff_type_1{
	left:196px;
	top :235px;
}

#field_rear_diff_oil{
	left:225px;
	top :234px;
	width:83px;
}
#field_rear_diff_type_2{
	left:195px;
	top :276px;
}

#field_rear_diff_type_3{
	
}
/* checkbox */
#field_front_ball_diff_1{
	left:7px;
	top :331px;
}
#field_front_ball_diff_2{
	left:38px;
	top :331px;
}

#field_front_ball_diff_3{
	left:71px;
	top :330px;
}

#field_front_ball_diff_4{
	left:104px;
	top :330px;
}

#field_front_ball_diff_5{
	left:137px;
	top :330px;
}

/* checkbox */

#field_rear_ball_diff_1{
	left:183px;
	top :330px;
}

#field_rear_ball_diff_2{
	left:216px;
	top :332px;
}
#field_rear_ball_diff_3{
	left:249px;
	top :330px;
}

#field_rear_ball_diff_4{
	left:282px;
	top :330px;
}

#field_rear_ball_diff_5{
	left:315px;
	top :330px;
}

/* checkbox */
#field_middle_shaft_1{
	left:216px;
	top :368px;
}
#field_middle_shaft_2{
	left:316px;
	top :369px;
}

#field_pinion{
	left:104px;
	top :395px;
	width:42px;
}

#field_spur{
	left:244px;
	top :394px;
	width:72px;
}
#field_final_drive{
	left:109px;
	top :415px;
	width:52px;
}

#field_rollout{
	left:247px;
	top :414px;
	width:68px;
}

#field_motor{
	left:45px;
	top :438px;
	width:113px;
}
#field_timing{
	left:227px;
	top :439px;
	width:99px;
}

#field_rotor{
	left:46px;
	top :461px;
	width:112px;
}

#field_armature{
	left:228px;
	top :457px;
	width:100px;
}

#field_esc{
	left:105px;
	top :482px;
	width:52px;
}

#field_battery{
	left:227px;
	top :483px;
	width:85px;
}
#field_program{
	left:60px;
	top :511px;
	width:47px;
}

#field_punch{
	left:125px;
	top :510px;
	width:45px;
}

#field_initial_brake{
	left:189px;
	top :510px;
	width:47px;
}

#field_auto_brake{
	left:275px;
	top :511px;
	width:47px;
}

#field_body{
	left:44px;
	top :535px;
	width:114px;
}

#field_wing{
	left:210px;
	top :532px;
	width:119px;
}

#field_shock_brand{
	left:139px;
	top :579px;
	width:60px;
}

/* checkbox */

#field_front_piston_holes_1{
	left:90px;
	top :589px;
}
#field_front_piston_holes_2{
	left:108px;
	top :608px;
}
#field_front_piston_holes_3{
	left:89px;
	top :625px;
}
#field_front_piston_holes_4{
	left:72px;
	top :609px;
}




#field_front_shock_oil{
	left:10px;
	top :595px;
	width:30px;
}
#field_front_spring{
	left:11px;
	top :631px;
	width:45px;
}


/* Checkbox */

#field_rear_piston_holes_1{
	left:231px;
	top :589px;
}
#field_rear_piston_holes_2{
	left:249px;
	top :607px;
}
#field_rear_piston_holes_3{
	left:231px;
	top :625px;
}
#field_rear_piston_holes_4{
	left:213px;
	top :608px;
}



#field_rear_shock_oil{
	left:277px;
	top :595px;
	width:39px;
}

#field_rear_spring{
	left:281px;
	top :630px;
	width:45px;
}

#field_front_swaybar{
	left:54px;
	top :665px;
	width:23px;
}

#field_rear_swaybar{
	left:295px;
	top :665px;
	width:22px;
}

#field_front_tire{
	left:11px;
	top :694px;
	width:105px;
}
#field_rear_tire{
	left:214px;
	top :697px;
	width:119px;
}

#field_front_diameter{
	left:213px;
	top :714px;
	width:102px;
}


#field_rear_diameter{
	left:11px;
	top :717px;
	width:102px;
}

#field_front_insert{
	left:10px;
	top :737px;
	width:102px;
}


#field_rear_insert{
	left:213px;
	top :734px;
	width:102px;
}

#field_front_treatment{
	left:11px;
	top :757px;
	width:102px;
}

#field_rear_treatment{
	left:213px;
	top :755px;
	width:103px;
}

#field_body_position{
	left:267px;
	top :894px;
	width:39px;
}

/* textarea */

#field_notes{
padding-left:20px;
padding-top:40px;
	left:0px;
	top :926px;
	width:320px;
	height:204px;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
	font-size:14px; 
}

#field_front_toe_out{
	left:382px;
	top :212px;
	width:20px;
}


#field_front_toe_in{
	left:382px;
	top :236px;
	width:20px;
}

#field_front_bracket_1{
	left:594px;
	top :271px;
	width:20px;
}
/* radio button */

#field_front_steering_position_1{
	left:542px;
	top :274px;
}

#field_front_steering_position_2{
	left:539px;
	top :287px;
}

/* radio button */

#field_front_ballstud_position_1{
	left:498px;
	top :334px;
}

#field_front_ballstud_position_2{
	left:498px;
	top :347px;
}

/* checkbox */

#field_front_hubs_1{
	left:381px;
	top :267px;
}

#field_front_hubs_2{
	left:381px;
	top :287px;
}

#field_front_hubs_3{
	left:381px;
	top :306px;
}




#field_front_bracket_2{
	left:390px;
	top :419px;
	width:29px;
}

#field_front_wheelbase{
	left:495px;
	top :414px;
	width:39px;
}

/* radio button */

#field_rear_hub_position_1{
	left:818px;
	top :233px;
}

#field_rear_hub_position_2{
	left:818px;
	top :247px;
}

/* radio button */

#field_rear_swaybar_position_1{
	left:796px;
	top :260px;
}

#field_rear_swaybar_position_2{
	left:805px;
	top :280px;
}

/* radio button  */

#field_rear_ballstud_position_1{
	left:823px;
	top :319px;
}

#field_rear_ballstud_position_2{
	left:822px;
	top :333px;
}

#field_rear_wheelbase_1{
	left:733px;
	top :413px;
	width:36px;
}

#field_rear_bracket_1{
	left:741px;
	top :270px;
	width:22px;
}

#field_rear_bracket_1{
	
}

#field_rear_bracket_2{
	left:860px;
	top :413px;
	width:22px;
}


#field_front_shim_1{
	left:406px;
	top :488px;
	width:24px;
}

#field_front_shim_2{
	left:581px;
	top :488px;
	width:20px;
}

/* checkbox  */

#field_front_hub_material_1{
	left:394px;
	top :528px;
}

#field_front_hub_material_2{
	left:394px;
	top :548px;
}

/*checkbox */

#field_front_steering_material_1{
	left:394px;
	top :606px;
}

#field_front_steering_material_2{
	left:394px;
	top :626px;
}
/* radio  */
#field_front_tower_mount_1{
	left:584px;
	top :562px;
}
#field_front_tower_mount_2{
	left:575px;
	top :557px;
}
#field_front_tower_mount_3{
	left:565px;
	top :552px;
}
#field_front_tower_mount_4{
	left:556px;
	top :547px;
}
#field_front_tower_mount_5{
	left:546px;
	top :544px;
}
#field_front_tower_mount_6{
	left:536px;
	top :539px;
}

/* radio */

#field_front_arm_mount_1{
	left:511px;
	top :668px;
}

#field_front_arm_mount_2{
	left:496px;
	top :667px;
}


/* checkbox */

#field_front_offset_1{
	left:893px;
	top :736px;
}

#field_front_offset_2{
	left:368px;
	top :753px;
	width:36px;
}




#field_rear_shim_1{
	left:653px;
	top :487px;
	width:20px;
}
#field_rear_shim_2{
	left:781px;
	top :490px;
	width:20px;
}


/*checkbox */

#field_rear_offset_1{
	left:411px;
	top :734px;
}



/* text */
#field_rear_offset_2{
	left:851px;
	top :752px;
	width:36px;
}


/* checkboxk */

#field_rear_tower_mount_1{
	left:683px;
	top :569px;
	width:20px;
}
#field_rear_tower_mount_2{
	left:693px;
	top :563px;
	width:20px;
}
#field_rear_tower_mount_3{
	left:701px;
	top :558px;
	width:20px;
}
#field_rear_tower_mount_4{
	left:708px;
	top :554px;
	width:20px;
}
#field_rear_tower_mount_5{
	left:717px;
	top :547px;
	width:20px;
}
#field_rear_tower_mount_6{
	left:726px;
	top :541px;
	width:20px;
}
#field_rear_tower_mount_7{
	left:734px;
	top :536px;
	width:20px;
}

#field_rear_tower_mount_8{
	left:741px;
	top :531px;
	width:20px;
}

/* radio */

#field_front_arm_mount_1{
	left:510px;
	top :669px;
}

#field_front_arm_mount_2{
	left:496px;
	top :669px;
}

/*checkbox */
#field_front_offset_1{
	
}
#field_front_offset_2{
	
}


#field_rear_shim_1{
	
}
#field_rear_shim_2{
	
}



/* checkbox */

#field_rear_offset_1{
	
}
#field_rear_offset_2{
	
}





/* radio */


#field_rear_arm_mount_1{
	left:766px;
	top :668px;
}

#field_rear_arm_mount_2{
	left:780px;
	top :668px;
}




#field_front_downstop{
	left:472px;
	top :742px;
	width:40px;
}

#field_rear_downstop{
	left:741px;
	top :741px;
	width:40px;
}




#field_front_camber_negative{
	left:369px;
	top :789px;
	width:27px;	
}

#field_front_camber_positive{
	left:414px;
	top :790px;
	width:25px;
}


#field_front_ride_height{
	left:462px;
	top :811px;
	width:40px;
}

#field_rear_camber_negative{
	left:819px;
	top :790px;
	width:28px;
}

#field_rear_camber_positive{
	left:865px;
	top :790px;
	width:25px;
}

#field_rear_ride_height{
	left:741px;
	top :811px;
	width:42px;
}

/* checkbox */

#field_chassis_type_1{
	left:414px;
	top :872px;
}

#field_chassis_type_2{
	left:414px;
	top :893px;
}

#field_shim_1{
	left:511px;
	top :890px;
	width:23px;
}

#field_battery_weight{
	left:617px;
	top :877px;
	width:41px;
}

/* checkbox */

#field_battery_position_1{
	left:604px;
	top :918px;
}

#field_battery_position_2{
	left:711px;
	top :918px;
}


/* checkbox */

#field_top_deck_1{
	left:810px;
	top :872px;
}

#field_top_deck_2{
	left:810px;
	top :891px;
}

#field_weight_1{
	left:576px;
	top :1114px;
	width:30px;
}

#field_weight_2{
	left:647px;
	top :1113px;
	width:30px;
}

#field_weight_3{
	left:735px;
	top :1114px;
	width:30px;
}

#field_rollcenter_1{
	left:452px;
	top :1146px;
	width:21px;
}

#field_rollcenter_2{
	left:516px;
	top :1146px;
	width:22px;
}

#field_rollcenter_3{
	left:794px;
	top :1146px;
	width:22px;
}

#field_rollcenter_4{
	left:858px;
	top :1145px;
	width:21px;
}
