input:disabled
{
background-color: none transparent;
opacity: 1;
}

body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 0 auto;
    width: 920px;
    position: relative;
}
#content {
    height: 1326px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#password, #password-1{
	width:220px;
	background:#fff;	
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 591px;
	top: 4px;
	width: 260px;
}
#field_name {
padding-left:90px;
    left: 138px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:90px;
	left: 122px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 86px;
}
#field_traction_level_2 {
	left: 258px;
	top: 86px;
}
#field_traction_level_3 {
	left: 349px;
	top: 86px;
}
#field_track_type_1 {
	left: 428px;
	top: 86px;
}
#field_track_type_2 {
	left: 492px;
	top: 86px;
}
#field_track_type_3 {
	left: 577px;
	top: 86px;
}
#field_track_size_1 {
	left: 674px;
	top: 86px;
}
#field_track_size_2 {
	left: 747px;
	top: 86px;
}
#field_track_size_3 {
	left: 832px;
	top: 86px;
}
#field_track_condition_1 {
	left: 200px;
	top: 132px;
}
#field_track_condition_2 {
	left: 285px;
	top: 132px;
}
#field_track_condition_3 {
	left: 397px;
	top: 132px;
}
#field_track_condition_4 {
	left: 200px;
	top: 156px;
}
#field_track_condition_5 {
	left: 285px;
	top: 156px;
}
#field_track_condition_6 {
	left: 397px;
	top: 156px;
}
#field_track_surface_1 {
	left: 555px;
	top: 130px;
}
#field_track_surface_2 {
	left: 698px;
	top: 130px;
	position: absolute;
}
#field_track_surface_3 {
	left: 808px;
	top: 130px;
	position: absolute;
}
#field_track_surface_4 {
	left: 555px;
	top: 155px;
	position: absolute;
}
#field_track_surface_5 {
	left: 698px;
	top: 155px;
	position: absolute;
}
#field_track_surface_6 {
	left: 808px;
	top: 155px;
	position: absolute;
}
#field_front_swaybar_1 {
    left: 148px;
    top: 195px;
   position: absolute;
}
#field_front_swaybar_2 {
    left: 148px;
    top: 211px;
   position: absolute;
}
#field_front_barsize {
    left: 233px;
    top: 195px;
    width: 40px;
}
#field_front_ride {
padding-left:170px;
    left: 0px;
    top: 236px;
    width: 56px;
}
#field_front_camber {
    left: 134px;
    top: 266px;
    width: 45px;
}
#field_front_toe_1 {
    left: 92px;
    top: 291px;
    position: absolute;
}
#field_front_toe_2 {
    left: 92px;
    top: 310px;
    position: absolute;
}
#field_front_toedegrees {
    left: 150px;
    top: 302px;
    width: 40px;
}
#field_bulkhead_1 {
    left: 58px;
    top: 415px;
    position: absolute;
}
#field_bulkhead_2 {
    left: 58px;
    top: 435px;
    position: absolute;
}
#field_bulkhead_3 {
    left: 137px;
    top: 415px;
    position: absolute;
}
#field_bulkhead_in_1 {
    left: 203px;
    top: 350px;
    position: absolute;
}
#field_bulkhead_in_2 {
    left: 203px;
    top: 367px;
    position: absolute;
}
#field_bulkhead_in_3 {
    left: 203px;
    top: 384px;
    position: absolute;
}
#field_caster_shims {
    left: 277px;
    top: 303px;
    width: 40px;
}
#field_caster_stud_1{
    left: 339px;
    top: 363px;
    position: absolute;
}
#field_caster_stud_2{
    left: 326px;
    top: 359px;
    position: absolute;
}
#field_caster_stud_3{
    left: 329px;
    top: 369px;
    position: absolute;
}
#field_cbinserts_1{
    left: 370px;
    top: 217px;
    position: absolute;
}
#field_cbinserts_2{
    left: 370px;
    top: 235px;
    position: absolute;
}
#field_cbinserts_deg_1{
    left: 400px;
    top: 208px;
    position: absolute;
}
#field_cbinserts_deg_2{
    left: 400px;
    top: 226px;
    position: absolute;
}
#field_cbinserts_deg_3{
    left: 400px;
    top: 244px;
    position: absolute;
}
#field_bump_shims {
    left: 614px;
    top: 227px;
    width: 50px;
}
#field_spindles_1{
    left: 495px;
    top: 330px;
    position: absolute;
}
#field_spindles_2{
    left: 495px;
    top: 347px;
    position: absolute;
}
#field_spindles_3{
    left: 495px;
    top: 410px;
    position: absolute;
}
#field_spindles_4{
    left: 495px;
    top: 427px;
    position: absolute;
}
#field_ackerman_1{
    left: 697px;
    top: 234px;
    position: absolute;
}
#field_ackerman_2{
    left: 697px;
    top: 253px;
    position: absolute;
}
#field_ackerman_3{
    left: 697px;
    top: 271px;
    position: absolute;
}
#field_tower_mount_1{
    left: 835px;
    top: 218px;
    position: absolute;
}
#field_tower_mount_2{
    left: 823px;
    top: 213px;
    position: absolute;
}
#field_tower_mount_3{
    left: 813px;
    top: 209px;
    position: absolute;
}
#field_tower_mount_4{
    left: 801px;
    top: 205px;
    position: absolute;
}
#field_out_link_1{
    left: 654px;
    top: 335px;
    position: absolute;
}
#field_out_link_2{
    left: 642px;
    top: 335px;
    position: absolute;
}
#field_arm_mount_1{
    left: 724px;
    top: 393px;
    position: absolute;
}
#field_arm_mount_2{
    left: 713px;
    top: 391px;
    position: absolute;
}
#field_inner_shims{
    left: 741px;
    top: 321px;
    width: 40px;
}
#field_in_link_1{
    left: 863px;
    top: 359px;
    position: absolute;
}
#field_in_link_2{
    left: 850px;
    top: 359px;
    position: absolute;
}
#field_in_link_3{
    left: 837px;
    top: 359px;
    position: absolute;
}
#field_rear_swaybar_1{
    left: 147px;
    top: 463px;
    position: absolute;
}
#field_rear_swaybar_2{
    left: 147px;
    top: 480px;
    position: absolute;
}
#field_rear_barsize{
    left: 235px;
    top: 461px;
   width: 40px;
}
#field_rear_ride{
padding-left:180px;
    left: 0px;
    top: 504px;
   width: 40px;
}
#field_rear_camber{
    left: 134px;
    top: 534px;
   width: 40px;
}
#field_toe_block_1{
    left: 194px;
    top: 565px;
	position: absolute;
}
#field_toe_block_2{
    left: 260px;
    top: 565px;
	position: absolute;
}
#field_fl_block_1{
    left: 44px;
    top: 626px;
   position: absolute;
}
#field_fl_block_2{
    left: 44px;
    top: 645px;
   	position: absolute;
}
#field_fl_block_3{
    left: 44px;
    top: 663px;
  	position: absolute;
}
#field_fl_block_4{
    left: 79px;
    top: 626px;
  	position: absolute;
}
#field_fl_block_5{
    left: 79px;
    top: 645px;
   position: absolute;
}
#field_fl_block_6{
    left: 79px;
    top: 663px;
   position: absolute;
}
#field_fl_block_7{
    left: 113px;
    top: 626px;
   position: absolute;
}
#field_fl_block_8{
    left: 113px;
    top: 645px;
   position: absolute;
}
#field_fl_block_9{
    left: 113px;
    top: 663px;
   position: absolute;
}
#field_fl_block_10{
    left: 153px;
    top: 636px;
   position: absolute;;
}
#field_fl_block_11{
    left: 153px;
    top: 654px;
   position: absolute;
}
#field_fr_block_1{
    left: 206px;
    top: 636px;
   position: absolute;
}
#field_fr_block_2{
    left: 206px;
    top: 654px;
   position: absolute;
}
#field_fr_block_3{
    left: 245px;
    top: 626px;
  position: absolute;
}
#field_fr_block_4{
    left: 245px;
    top: 645px;
   position: absolute;
}
#field_fr_block_5{
    left: 245px;
    top: 663px;
   position: absolute;
}
#field_fr_block_6{
    left: 278px;
    top: 626px;
   position: absolute;
}
#field_fr_block_7{
    left: 278px;
    top: 645px;
  position: absolute;
}
#field_fr_block_8{
    left: 278px;
    top: 663px;
   position: absolute;
}
#field_fr_block_9{
    left: 314px;
    top: 626px;
   position: absolute;
}
#field_fr_block_10{
    left: 314px;
    top: 645px;
   position: absolute;
}
#field_fr_block_11{
    left: 314px;
    top: 663px;
   position: absolute;
}
#field_rl_block_1{
    left: 44px;
    top: 744px;
   position: absolute;
}
#field_rl_block_2{
    left: 44px;
    top: 762px;
   position: absolute;
}
#field_rl_block_3{
    left: 44px;
    top: 780px;
   position: absolute;
}
#field_rl_block_4{
    left: 80px;
    top: 744px;
   position: absolute;
}
#field_rl_block_5{
    left: 80px;
    top: 762px;
   position: absolute;
}
#field_rl_block_6{
    left: 80px;
    top: 780px;
   position: absolute;
}
#field_rl_block_7{
    left: 113px;
    top: 744px;
   position: absolute;
}
#field_rl_block_8{
    left: 113px;
    top: 762px;
   position: absolute;
}
#field_rl_block_9{
    left: 113px;
    top: 780px;
   position: absolute;
}
#field_rl_block_10{
    left: 152px;
    top: 753px;
   position: absolute;
}
#field_rl_block_11{
    left: 152px;
    top: 771px;
   position: absolute;
}
#field_rr_block_1{
    left: 206px;
    top: 753px;
   position: absolute;
}
#field_rr_block_2{
    left: 206px;
    top: 771px;
   position: absolute;
}
#field_rr_block_3{
    left: 245px;
    top: 744px;
   position: absolute;
}
#field_rr_block_4{
    left: 245px;
    top: 762px;
   position: absolute;
}
#field_rr_block_5{
    left: 245px;
    top: 780px;
   position: absolute;
}
#field_rr_block_6{
    left: 278px;
    top: 744px;
   position: absolute;
}
#field_rr_block_7{
    left: 278px;
    top: 762px;
   position: absolute;
}
#field_rr_block_8{
    left: 278px;
    top: 780px;
   position: absolute;
}
#field_rr_block_9{
    left: 314px;
    top: 744px;
   position: absolute;
}
#field_rr_block_10{
    left: 314px;
    top: 762px;
   position: absolute;
}
#field_rr_block_11{
    left: 314px;
    top: 780px;
   position: absolute;
}
#field_hub_shims{
    left: 339px;
    top: 514px;
   width: 40px;
}
#field_hub_mount_1{
    left: 422px;
    top: 562px;
   position: absolute;
}
#field_hub_mount_2{
    left: 410px;
    top: 558px;
   position: absolute;
}
#field_hub_mount_3{
    left: 398px;
    top: 554px;
   position: absolute;
}
#field_hub_mount_4{
    left: 411px;
    top: 569px;
   position: absolute;
}
#field_hub_mount_5{
    left: 399px;
    top: 565px;
   position: absolute;
}
#field_bulk_weight_1{
    left: 463px;
    top: 626px;
   position: absolute;
}
#field_bulk_weight_2{
    left: 508px;
    top: 626px;
   position: absolute;
}
#field_rear_toedegrees{
    left: 422px;
    top: 743px;
   width: 50px;
}
#field_rear_squat{
    left: 451px;
    top: 776px;
   width: 50px;
}
#field_hex_1{
    left: 517px;
    top: 731px;
   position: absolute;
}
#field_hex_2{
    left: 517px;
    top: 750px;
   position: absolute;
}
#field_hex_3{
    left: 517px;
    top: 768px;
   position: absolute;
}
#field_toe_type_1{
    left: 493px;
    top: 506px;
   position: absolute;
}
#field_toe_type_2{
    left: 493px;
    top: 524px;
   position: absolute;
}
#field_rear_toe_1{
    left: 530px;
    top: 479px;
   position: absolute;
}
#field_rear_toe_2{
    left: 530px;
    top: 497px;
   position: absolute;
}
#field_rear_toe_3{
    left: 530px;
    top: 515px;
   position: absolute;
}
#field_rear_toe_4{
    left: 530px;
    top: 533px;
   position: absolute;
}
#field_rear_toe_5{
    left: 530px;
    top: 551px;
   position: absolute;
}
#field_wheelbase_1{
    left: 575px;
    top: 578px;
   position: absolute;
}
#field_wheelbase_2{
    left: 592px;
    top: 578px;
   position: absolute;
}
#field_wheelbase_3{
    left: 673px;
    top: 578px;
   position: absolute;
}
#field_wheelbase_4{
    left: 690px;
    top: 578px;
   position: absolute;
}
#field_rear_tower_1{
    left: 822px;
    top: 487px;
   position: absolute;
}
#field_rear_tower_2{
    left: 811px;
    top: 483px;
   position: absolute;
}
#field_rear_tower_3{
    left: 800px;
    top: 479px;
   position: absolute;
}
#field_rear_tower_4{
    left: 789px;
    top: 475px;
   position: absolute;
}
#field_rear_shims{
    left: 727px;
    top: 593px;
   	width: 45px;
}
#field_rear_inner_1{
    left: 854px;
    top: 640px;
   position: absolute;
}
#field_rear_inner_2{
    left: 841px;
    top: 640px;
   position: absolute;
}
#field_swaybar_mount_1{
    left: 794px;
    top: 689px;
   position: absolute;
}
#field_swaybar_mount_2{
    left: 782px;
    top: 689px;
   position: absolute;
}
#field_shock_mount_1{
    left: 705px;
    top: 709px;
   position: absolute;
}
#field_shock_mount_2{
    left: 694px;
    top: 706px;
   position: absolute;
}
#field_out_hub_1{
    left: 664px;
    top: 645px;
   position: absolute;
}
#field_out_hub_2{
    left: 652px;
    top: 645px;
   position: absolute;
}
#field_out_hub_3{
    left: 640px;
    top: 645px;
   position: absolute;
}
#field_pistonf{
padding-left:166px;
    left: 0px;
    top: 828px;
   width: 40px;
}
#field_pistonf_holes{
    left: 234px;
    top: 828px;
   width: 40px;
}
#field_pistonr{
    left: 271px;
    top: 828px;
   width: 40px;
}
#field_pistonr_holes{
    left: 337px;
    top: 828px;
   width: 40px;
}
#field_oilf{
padding-left:166px;
    left: 0px;
    top: 849px;
   width: 75px;
}
#field_oilr{
    left: 268px;
    top: 849px;
   width: 75px;
}
#field_springf{
padding-left:166px;
    left: 0px;
    top: 870px;
   width: 75px;
}
#field_springr{
    left: 268px;
    top: 870px;
   width: 75px;
}
#field_limitersf{
padding-left:166px;
    left: 0px;
    top: 891px;
   width: 75px;
}
#field_limitersr{
    left: 268px;
    top: 891px;
   width: 75px;
}
#field_lengthf{
padding-left:166px;
    left: 0px;
    top: 911px;
   width: 75px;
}
#field_lengthr{
    left: 268px;
    top: 911px;
   width: 75px;
}
#field_reboundf{
padding-left:166px;
    left: 0px;
    top: 932px;
   width: 75px;
}
#field_reboundr{
    left: 268px;
    top: 932px;
   width: 75px;
}
#field_bladderf{
padding-left:0px;
    left: 166px;
    top: 953px;
   width: 75px;
}
#field_bladderr{
    left: 268px;
    top: 953px;
   width: 75px;
}
#field_bucketf{
    left: 166px;
    top: 974px;
   width: 75px;
}
#field_bucketr{
    left: 268px;
    top: 974px;
   width: 75px;
}
#field_weight{
    left: 495px;
    top: 951px;
   width: 40px;
}
#field_front_bias{
    left: 602px;
    top: 972px;
   width: 40px;
}
#field_rear_bias{
    left: 691px;
    top: 972px;
   width: 40px;
}
#field_distance{
    left: 837px;
    top: 857px;
   width: 40px;
}
#field_battery_type_1{
    left: 769px;
    top: 952px;
   position: absolute;
}
#field_battery_type_2{
    left: 769px;
    top: 973px;
   position: absolute;
}
#field_spur{
padding-left:159px;
    left: 0px;
    top: 1016px;
   width: 40px;
}
#field_pinion{
padding-left:160px;
    left: 0px;
    top: 1042px;
   width: 40px;
}
#field_ratio{
padding-left:190px;
    left: 0px;
    top: 1065px;
   width: 40px;
}
#field_finaldrive{
padding-left:192px;
    left: 0px;
    top: 1090px;
   width: 40px;
}
#field_diff_height_1{
    left: 284px;
    top: 1036px;
   position: absolute;
}
#field_diff_height_2{
    left: 336px;
    top: 1036px;
  position: absolute;
}
#field_diff_height_3{
    left: 387px;
    top: 1036px;
   position: absolute;
}
#field_diff_type_1{
    left: 284px;
    top: 1057px;
   position: absolute;
}
#field_diff_type_2{
    left: 284px;
    top: 1078px;
   position: absolute;
}
#field_diffoil{
    left: 369px;
    top: 1098px;
   width: 45px;
}
#field_radio{
padding-left:30px;
    left: 514px;
    top: 1010px;
   width: 125px;
}
#field_esc{
padding-left:30px;
    left: 516px;
    top: 1032px;
   width: 125px;
}
#field_motor{
padding-left:30px;
    left: 516px;
    top: 1054px;
   width: 125px;
}
#field_servo{
padding-left:30px;
    left: 516px;
    top: 1074px;
   width: 125px;
}
#field_battery{
padding-left:30px;
    left: 516px;
    top: 1096px;
   width: 125px;
}
#field_body{
padding-left:20px;
    left: 793px;
    top: 1006px;
   width: 100px;
}
#field_wing_rear{
padding-left:20px;
    left: 793px;
    top: 1023px;
   width: 100px;
}
#field_wing_width{
padding-left:20px;
    left: 793px;
    top: 1042px;
   width: 100px;
}
#field_wing_lip{
padding-left:20px;
    left: 793px;
    top: 1060px;
   width: 100px;
}
#field_wing_angle{
padding-left:20px;
    left: 793px;
    top: 1077px;
   width: 100px;
}
#field_wing_front{
padding-left:20px;
    left: 793px;
    top: 1096px;
   width: 100px;
}
#field_front_tire{
padding-left:137px;
    left: 0px;
    top: 1150px;
    width: 100px;
}
#field_front_tread{
padding-left:137px;
    left: 0px;
    top: 1171px;
    width: 100px;
}
#field_front_comp{
padding-left:137px;
    left: 0px;
    top: 1192px;
    width: 100px;
}
#field_front_insert{
padding-left:137px;
    left: 0px;
    top: 1213px;
    width: 100px;
}
#field_front_wheel{
padding-left:137px;
    left: 0px;
    top: 1234px;
    width: 100px;
}
#field_front_add{
padding-left:138px;
    left: 0px;
    top: 1256px;
    width: 100px;
}
#field_rear_tire{
    left: 243px;
    top: 1150px;
    width: 100px;
}
#field_rear_tread{
    left: 243px;
    top: 1171px;
    width: 100px;
}
#field_rear_comp{
    left: 243px;
    top: 1192px;
    width: 100px;
}
#field_rear_insert{
    left: 243px;
    top: 1213px;
    width: 100px;
}
#field_rear_wheel{
    left: 243px;
    top: 1234px;
    width: 100px;
}
#field_rear_add{
    left: 243px;
    top: 1256px;
    width: 100px;
}
#field_comments{
padding-left:40px;
    left: 353px;
    top: 1131px;
    width: 520px;
    height: 142px;
}

#password {
    background: none repeat scroll 0 0 #FFFFFF;
}
