input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 0 auto;
    width: 920px;
    position: relative;
}
#content {
    height: 1300px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#password, #password-1{
	width:220px;
	background:#fff;	
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 591px;
	top: 7px;
	width: 260px;
}
#field_name {
padding-left:90px;
    left: 138px;
    top: 7px;
    width: 200px;
}
#field_city {
padding-left:90px;
	left: 122px;
	top: 40px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 40px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 8px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 40px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 88px;
}
#field_traction_level_2 {
	left: 258px;
	top: 88px;
}
#field_traction_level_3 {
	left: 349px;
	top: 88px;
}
#field_track_type_1 {
	left: 428px;
	top: 88px;
}
#field_track_type_2 {
	left: 492px;
	top: 88px;
}
#field_track_type_3 {
	left: 577px;
	top: 88px;
}
#field_track_size_1 {
	left: 674px;
	top: 88px;
}
#field_track_size_2 {
	left: 747px;
	top: 88px;
}
#field_track_size_3 {
	left: 832px;
	top: 88px;
}
#field_track_condition_1 {
	left: 200px;
	top: 134px;
}
#field_track_condition_2 {
	left: 285px;
	top: 134px;
}
#field_track_condition_3 {
	left: 397px;
	top: 134px;
}
#field_track_condition_4 {
	left: 200px;
	top: 158px;
}
#field_track_condition_5 {
	left: 285px;
	top: 158px;
}
#field_track_condition_6 {
	left: 397px;
	top: 158px;
}
#field_track_surface_1 {
	left: 555px;
	top: 132px;
}
#field_track_surface_2 {
	left: 698px;
	top: 132px;
	position: absolute;
}
#field_track_surface_3 {
	left: 808px;
	top: 132px;
	position: absolute;
}
#field_track_surface_4 {
	left: 555px;
	top: 157px;
	position: absolute;
}
#field_track_surface_5 {
	left: 698px;
	top: 157px;
	position: absolute;
}
#field_track_surface_6 {
	left: 808px;
	top: 157px;
	position: absolute;
}
#field_ack_top {
    left: 92px;
    top: 218px;
    width: 41px;
   position: absolute;
}
#field_ack_bot {
    left: 92px;
    top: 247px;
    width: 40px;
   position: absolute;
}
#field_bump_top {
    left: 242px;
    top: 198px;
    width: 40px;
    position: absolute
}
#field_bump_bot {
    left: 242px;
    top: 228px;
    width: 40px;
    position: absolute
}
#field_ack_hole_1 {
    left: 428px;
    top: 210px;
    position: absolute;}
#field_ack_hole_2 {
    left: 428px;
    top: 232px;
    position: absolute;
}
#field_ack_hole_3 {
    left: 428px;
    top: 252px;
    position: absolute;
}
#field_saver {
    left: 574px;
    top: 258px;
    width: 40px;
    position: absolute;
}
#field_front_tower_1 {
    left: 139px;
    top: 345px;
    position: absolute;
}
#field_front_tower_2 {
    left: 139px;
    top: 359px;
    position: absolute;
}
#field_front_tower_3 {
    left: 139px;
    top: 372px;
    position: absolute;
}
#field_front_tower_4 {
    left: 139px;
    top: 385px;
    position: absolute;
}
#field_front_instud_1 {
    left: 87px;
    top: 395px;
    position: absolute;
}
#field_front_instud_2 {
    left: 87px;
    top: 409px;
    position: absolute;
}
#field_front_instud_3 {
    left: 87px;
    top: 421px;
   position: absolute;
}
#field_front_instud_4 {
    left: 108px;
    top: 437px;
    position: absolute;
}
#field_front_instud_5 {
    left: 108px;
    top: 451px;
    position: absolute;
}
#field_front_instud_6 { 
    left: 108px;
    top: 464px;
    position: absolute;
}
#field_front_outstud_1 {
    left: 265px;
    top: 399px;
    width: 60px;
    position: absolute;
}
#field_front_outstud_2 {
    left: 282px;
    top: 399px;
    position: absolute;
}
#field_front_armmount_1 {
    left: 186px;
    top: 593px;
    position: absolute;
}
#field_front_armmount_2 {
    left: 200px;
    top: 593px;
    position: absolute;
}
#field_front_armmount_3 {
    left: 213px;
    top: 593px;
    position: absolute;
}
#field_sweep_1 {
    left: 159px;
    top: 649px;
   position: absolute;
}
#field_sweep_2 {
    left: 159px;
    top: 682px;
    position: absolute;
}
#field_sweep_3 {
    left: 159px;
    top: 715px;
    position: absolute;
}
#field_kickup_1 {
    left: 340px;
    top: 644px;
    position: absolute;
}
#field_kickup_2 {
    left: 340px;
    top: 682px;
    position: absolute;
}
#field_kickup_3 {
    left: 340px;
    top: 720px;
    position: absolute;
}
#field_front_height {
    left: 370px;
    padding-left:90px;
    top: 352px;
    width: 90px;
    position: absolute;
}
#field_rear_height {
    left: 553px;
    top: 352px;
   
    width: 90px;
   position: absolute;
}
#field_front_camber {
    left: 370px;
    padding-left:90px;
    top: 385px;
position: absolute;
    width: 90px;
}
#field_rear_camber {
    left: 553px;
    top: 385px;
   position: absolute;
    width: 90px;
}
#field_front_toe {
    left: 370px;
    padding-left:90px;
    top: 418px;
	position: absolute;
	
    width: 90px;
}
#field_rear_toe {
    left: 553px;
    top: 418px;
    width: 90px;
    position: absolute;
}
#field_front_swaybar {
    left: 370px;
    padding-left:90px;
    top: 451px;
	position: absolute;
    width: 90px;
}
#field_rear_swaybar {
    left: 553px;
    top: 451px;
	position: absolute;
    width: 90px;
}
#field_front_length {
    left: 370px;
    padding-left:90px;
    top: 483px;
	position: absolute;
    width: 90px;
}
#field_rear_length {
    left: 553px;
    top: 483px;
	position: absolute;
    width: 90px;
}
#field_body {
    left: 370px;
    padding-left:90px;
    top: 542px;
    width: 180px;
	position: absolute;
}
#field_front_posttype_1 {
    left: 421px;
    top: 727px;
   position: absolute;
}
#field_front_posttype_2 {
    left: 526px;
    top: 726px;
   	position: absolute;
}
#field_front_posthieght_1 {
    left: 573px;
    top: 626px;
  	position: absolute;
}
#field_front_posthieght_2 {
    left: 573px;
    top: 641px;
  	position: absolute;
}
#field_front_posthieght_3 { 
    left: 573px;
    top: 655px;
   position: absolute;
}
#field_front_posthieght_4 {
    left: 573px;
    top: 670px;
   position: absolute;
}
#field_front_posthieght_5 {
    left: 573px;
    top: 684px;
   position: absolute;
}
#field_front_posthieght_6 {
    left: 573px;
    top: 699px;
   position: absolute;
}
#field_rear_posttype_1 {
    left: 411px;
    top: 913px;
   position: absolute;;
}
#field_rear_posttype_2 {
    left: 504px;
    top: 913px;
   position: absolute;
}
#field_rear_posthieght_1 {
    left: 573px;
    top: 814px;
   position: absolute;
}
#field_rear_posthieght_2 {
    left: 573px;
    top: 828px;
   position: absolute;
}
#field_rear_posthieght_3 {
    left: 573px;
    top: 842px;
  position: absolute;
}
#field_rear_posthieght_4 {
    left: 573px;
    top: 857px;
   position: absolute;
}
#field_rear_posthieght_5 {
    left: 573px;
    top: 871px;
   position: absolute;
}
#field_rear_posthieght_6 {
    left: 573px;
    top: 885px;
   position: absolute;
}
#field_rear_tower_1 {
    left: 146px;
    top: 820px;
    position: absolute;
}
#field_rear_tower_2 {
    left: 146px;
    top: 833px;
   position: absolute;
}
#field_rear_tower_3 {
    left: 146px;
    top: 847px;
   position: absolute;
}
#field_rear_tower_4 {
    left: 146px;
    top: 860px;
   position: absolute;
}
#field_rear_instud_1 {
    left: 94px;
    top: 881px;
    position: absolute;
}
#field_rear_instud_2{
    left: 94px;
    top: 895px;
    position: absolute;
}
#field_rear_instud_3 {
    left: 94px;
    top: 908px;
    position: absolute;
}
#field_rear_instud_4 {
    left: 107px;
    top: 932px;
   position: absolute;
}
#field_rear_instud_5 {
    left: 107px;
    top: 947px;
    position: absolute;
}
#field_rear_instud_6 {
    left: 107px;
    top: 960px;
    position: absolute;
}
#field_hub_top_1 {
    left: 281px;
    top: 886px;
    position: absolute;
}
#field_hub_top_2 {
    left: 295px;
    top: 886px;
    position: absolute;
}
#field_hub_top_3 {
    left: 308px;
    top: 886px;
    position: absolute;
}
#field_hub_bot_1 {
    left: 307px;
    top: 1087px;
    position: absolute;
}
#field_hub_bot_2 {
    left: 321px;
    top: 1087px;
    position: absolute;
}
#field_rear_armmount_1 {
    left: 227px;
    top: 1086px;
    position: absolute;
}
#field_rear_armmount_2 {
    left: 240px;
    top: 1086px;
    position: absolute;
}
#field_rear_armmount_3 {
    left: 254px;
    top: 1086px;
    position: absolute;
}
#field_toein_1 {
    left: 159px;
    top: 1145px;
   position: absolute;
}
#field_toein_2 {
    left: 159px;
    top: 1179px;  
    position: absolute;
}
#field_toein_3 {
    left: 159px;
    top: 1212px;
   position: absolute;
}
#field_squat_1 {
    left: 340px;
    top: 1141px;
    position: absolute;
}
#field_squat_2 {
    left: 340px;
    top: 1178px;
    position: absolute;
}
#field_squat_3 {
    left: 340px;
    top: 1217px;
    position: absolute;
}
#field_front_wheelbase {
    left: 537px;
    top: 988px;
    width: 35px;
   position: absolute;
}

#field_rear_wheelbase {
    left: 543px;
    top: 1029px;
    width: 35px;
    position: absolute;
}
#field_front_oil {
    left: 728px;
    top: 880px;
    width: 83px;
    position: absolute;
}
#field_rear_oil {
    left: 728px;
    top: 880px;
    width: 83px;
    position: absolute;
}
#field_front_piston {
    padding-left:100px;
    left: 640px;
    top: 276px;
    width: 85px;
    position: absolute;
}
#field_rear_piston {
    left: 828px;
    top: 275px;
    width: 85px;
    position: absolute;
}
#field_front_oil {
padding-left:100px;
    left: 640px;
    top: 243px;
   position: absolute;
    width: 85px;
}
#field_rear_oil {
    left: 829px;
    top: 242px;
   position: absolute;
    width: 85px;
}
#field_front_spring {
    padding-left:100px;
    left: 640px;
    top: 309px;
   position: absolute;
    width: 85px;
}
#field_rear_spring {
    left: 828px;
    top: 309px;
    width: 85px;
    position: absolute;
}
#field_front_rebound {
padding-left:100px;
    left: 670px;
    top: 343px;
    position: absolute;
    width: 35px;
}
#field_rear_rebound {
    left: 864px;
    top: 343px;
   position: absolute;
    width: 35px;
}
#field_front_shocktype {
    padding-left:100px;
    left: 640px;
    top: 374px;
   position: absolute;
    width: 85px;
}
#field_rear_shocktype {
    left: 828px;
    top: 373px;
   position: absolute;
    width: 85px;
}
#field_tires_front {
    padding-left:100px;
    left: 640px;
    top: 456px;
   position: absolute;
    width: 85px;
}
#field_tires_rear{
    left: 827px;
    top: 456px;
   position: absolute;
    width: 85px;
}
#field_compound_front {
    padding-left:100px;
    left: 640px;
    top: 489px;
   position: absolute;
    width: 85px;
}
#field_compound_rear {
    left: 828px;
    top: 488px;
   position: absolute;
    width: 85px;
}
#field_insert_front {
	padding-left:100px;
    left: 640px;
	top: 522px;
	width: 85px;
	position: absolute;
}
#field_insert_rear {
	left: 827px;
	top: 522px;
	position: absolute;
	width: 85px;
}
#field_wheel_front {
    padding-left:100px;
    left: 640px;
    top: 555px;
   position: absolute;
    width: 85px;
}
#field_wheel_rear {
    left: 828px;
    top: 554px;
   position: absolute;
    width: 85px;
}
#field_tire_note {
    padding-left:100px;
    left: 620px;
    top: 588px;
   position: absolute;
    width: 200px;
}
#field_front_diff {
    left: 652px;
    top: 670px;
   position: absolute;
    width: 85px;
}
#field_center_diff {
    padding-left:100px;
    left: 640px;
    top: 670px;
    position: absolute;
    width: 83px;
}
#field_rear_diff {
    left: 829px;
    top: 670px;
   position: absolute;
    width: 85px;
}
#field_esc {
padding-left: 80px;
    left: 634px;
    top: 731px;
    width: 200px;
    position: absolute;
}
#field_battery {
    padding-left: 80px;
    left: 634px;
    top: 765px;
    width: 200px;
    position: absolute;
}
#field_motor {
    padding-left: 80px;
    left: 634px;
    top: 800px;
   position: absolute;
    width: 200px;
}
#field_radio {
    padding-left: 80px;
    left: 634px;
    top: 835px;
   position: absolute;
    width: 200px;
}
#field_servo {
    padding-left: 80px;
    left: 634px;
    top: 869px;
   position: absolute;
    width: 200px;
}
#field_spur_1 {
    left: 780px;
    top: 930px;
   position: absolute;
}
#field_spur_2 {
    left: 874px;
    top: 930px;
   position: absolute;
}
#field_clutch_1 {
    left: 730px;
    top: 961px;
   position: absolute;
}
#field_clutch_2 {
    left: 825px;
    top: 961px;
   position: absolute;
}
#field_clutch_3 {
    left: 886px;
    top: 962px;
   position: absolute;
}
#field_pinion {
    left: 811px;
    top: 993px;
   position: absolute;
    width: 50px;
}
#field_brakes_1 {
    left: 760px;
    top: 1025px;
   position: absolute;
}
#field_brakes_2 {
    left: 873px;
    top: 1025px;
   position: absolute;
}
#field_chassis_brace_1 {
    left: 704px;
    top: 1086px;
   position: absolute;
}
#field_chassis_brace_2 {
    left: 792px;
    top: 1086px;
   position: absolute;
}
#field_chassis_brace_3 {
    left: 882px;
    top: 1086px;
   position: absolute;
}
#field_notes {
    left: 371px;
    padding-top:80px;
    top: 1100px;
   position: absolute;
    width: 540px;
    height: 76px;
}
#password {
    background: none repeat scroll 0 0 #FFFFFF;
}
