input:disabled
{
    background-color: none transparent;
    opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
}

textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 0 auto;
    width: 920px;
    position: relative;
}
#content {
    height: 1300px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#password, #password-1{
    width:220px;
    background:#fff;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
    padding-left:70px;
    left: 578px;
    top: 7px;
    width: 260px;
}
#field_name {
    padding-left:70px;
    left: 158px;
    top: 7px;
    width: 200px;
}
#field_city {
    padding-left:60px;
    left: 152px;
    top: 40px;
    width: 150px;
}
.countrySelector {
    border: 1px solid #CCCCCC;
    left: 450px;
    top: 40px;
    width: 130px;
}

#field_date {
    left: 486px;
    top: 8px;
    width: 90px;
}

#field_event {
    padding-left:70px;
    left: 581px;
    top: 40px;
    width: 260px;
}
#field_traction_level_1 {
    left: 192px;
    top: 88px;
}
#field_traction_level_2 {
    left: 258px;
    top: 88px;
}
#field_traction_level_3 {
    left: 349px;
    top: 88px;
}
#field_track_type_1 {
    left: 428px;
    top: 88px;
}
#field_track_type_2 {
    left: 492px;
    top: 88px;
}
#field_track_type_3 {
    left: 577px;
    top: 88px;
}
#field_track_size_1 {
    left: 674px;
    top: 88px;
}
#field_track_size_2 {
    left: 747px;
    top: 88px;
}
#field_track_size_3 {
    left: 832px;
    top: 88px;
}
#field_track_condition_1 {
    left: 200px;
    top: 134px;
}
#field_track_condition_2 {
    left: 285px;
    top: 134px;
}
#field_track_condition_3 {
    left: 397px;
    top: 134px;
}
#field_track_condition_4 {
    left: 200px;
    top: 158px;
}
#field_track_condition_5 {
    left: 285px;
    top: 158px;
}
#field_track_condition_6 {
    left: 397px;
    top: 158px;
}
#field_track_surface_1 {
    left: 555px;
    top: 132px;
}
#field_track_surface_2 {
    left: 698px;
    top: 132px;
    position: absolute;
}
#field_track_surface_3 {
    left: 808px;
    top: 132px;
    position: absolute;
}
#field_track_surface_4 {
    left: 555px;
    top: 157px;
    position: absolute;
}
#field_track_surface_5 {
    left: 698px;
    top: 157px;
    position: absolute;
}
#field_track_surface_6 {
    left: 808px;
    top: 157px;
    position: absolute;
}

#field_ack_top {
    left: 128px;
    top: 245px;
    width: 41px;
    position: absolute;
}
#field_ack_bot {
    left: 128px;
    top: 266px;
    width: 40px;
    position: absolute;
}
#field_ack_ball_1 {
    left: 142px;
    top: 307px;
    position: absolute;
}
#field_ack_ball_2 {
    left: 193px;
    top: 307px;
    position: absolute;
}
#field_bump_top {
    left: 367px;
    top: 245px;
    width: 40px;
    position: absolute
}
#field_bump_bot {
    left: 367px;
    top: 266px;
    width: 40px;
    position: absolute
}
#field_bump_ball_1 {
    left: 363px;
    top: 307px;
    width: 40px;
    position: absolute
}
#field_bump_ball_2 {
    left: 413px;
    top: 307px;
    width: 40px;
    position: absolute
}
#field_ack_hole_1 {
    left: 562px;
    top: 250px;
    position: absolute;}
#field_ack_hole_2 {
    left: 562px;
    top: 271px;
    position: absolute;
}
#field_ack_hole_3 {
    left: 562px;
    top: 292px;
    position: absolute;
}
#field_saver {
    left: 445px;
    top: 402px;
    width: 60px;
    position: absolute;
}
#field_stop_washers {
    left: 532px;
    top: 359px;
    width: 40px;
    position: absolute;
}
#field_front_tower_1 {
    left: 146px;
    top: 401px;
    position: absolute;
}
#field_front_tower_2 {
    left: 146px;
    top: 414px;
    position: absolute;
}
#field_front_tower_3 {
    left: 146px;
    top: 427px;
    position: absolute;
}
#field_front_tower_4 {
    left: 146px;
    top: 440px;
    position: absolute;
}
#field_front_instud_1 {
    left: 82px;
    top: 448px;
    position: absolute;
}
#field_front_instud_2 {
    left: 82px;
    top: 461px;
    position: absolute;
}
#field_front_instud_3 {
    left: 82px;
    top: 474px;
    position: absolute;
}
#field_front_instud_4 {
    left: 103px;
    top: 490px;
    position: absolute;
}
#field_front_instud_5 {
    left: 103px;
    top: 503px;
    position: absolute;
}
#field_front_instud_6 {
    left: 103px;
    top: 516px;
    position: absolute;
}
#field_front_outstud_1 {
    left: 252px;
    top: 444px;
    position: absolute;
}
#field_front_outstud_2 {
    left: 266px;
    top: 444px;
    position: absolute;
}
#field_front_armmount_1 {
    left: 186px;
    top: 642px;
    position: absolute;
}
#field_front_armmount_2 {
    left: 200px;
    top: 642px;
    position: absolute;
}
#field_front_armmount_3 {
    left: 213px;
    top: 642px;
    position: absolute;
}
#field_sweep_1 {
    left: 32px;
    top: 783px;
    position: absolute;
}
#field_sweep_2 {
    left: 58px;
    top: 782px;
    position: absolute;
}
#field_sweep_3 {
    left: 84px;
    top: 782px;
    position: absolute;
}
#field_sweep_4 {
    left: 110px;
    top: 782px;
    position: absolute;
}
#field_sweep_5 {
    left: 136px;
    top: 783px;
    position: absolute;
}
#field_kickup_1 {
    left: 311px;
    top: 691px;
    position: absolute;
}
#field_kickup_2 {
    left: 327px;
    top: 711px;
    position: absolute;
}
#field_kickup_3 {
    left: 343px;
    top: 731px;
    position: absolute;
}
#field_kickup_4 {
    left: 327px;
    top: 752px;
    position: absolute;
}
#field_kickup_5 {
    left: 311px;
    top: 773px;
    position: absolute;
}
#field_front_height {
    padding-left: 60px;
    left: 403px;
    top: 502px;
    width: 90px;
    position: absolute;
}
#field_rear_height {
    left: 554px;
    top: 502px;
    
    width: 90px;
    position: absolute;
}
#field_front_toe {
    padding-left: 60px;
    left: 401px;
    top: 536px;
    position: absolute;
    width: 90px;
}
#field_rear_toe {
    left: 555px;
    top: 536px;
    width: 90px;
    position: absolute;
}
#field_front_camber {
    padding-left: 60px;
    left: 402px;
    top: 569px;
    position: absolute;
    width: 90px;
}
#field_rear_camber {
    left: 554px;
    top: 569px;
    position: absolute;
    width: 90px;
}
#field_caster {
    padding-left: 60px;
    left: 409px;
    top: 602px;
    position: absolute;
    width: 90px;
}
#field_front_length {
    padding-left: 60px;
    left: 402px;
    top: 635px;
    position: absolute;
    width: 90px;
}
#field_rear_length {
    left: 555px;
    top: 634px;
    position: absolute;
    width: 90px;
}
#field_front_swaybar {
    padding-left: 60px;
    left: 402px;
    top: 668px;
    position: absolute;
    width: 90px;
}
#field_rear_swaybar {
    left: 555px;
    top: 667px;
    position: absolute;
    width: 90px;
}
#field_suspension_notes {
    padding-left: 70px;
    left: 353px;
    top: 700px;
    position: absolute;
    width: 219px;
}
#field_body {
    padding-left: 90px;
    left: 371px;
    top: 760px;
    width: 180px;
    position: absolute;
}
#field_wing {
    padding-left: 90px;
    left: 371px;
    top: 792px;
    width: 180px;
    position: absolute;
}
#field_wing_pos_1 {
    left: 417px;
    top: 872px;
    position: absolute;
}
#field_wing_pos_2 {
    left: 513px;
    top: 872px;
   	position: absolute;
}
#field_wing_pos_3 {
    left: 609px;
    top: 872px;
    position: absolute;
}

#field_rear_tower_1 {
    left: 149px;
    top: 868px;
    position: absolute;
}
#field_rear_tower_2 {
    left: 148px;
    top: 881px;
    position: absolute;
}
#field_rear_tower_3 {
    left: 149px;
    top: 895px;
    position: absolute;
}
#field_rear_tower_4 {
    left: 149px;
    top: 908px;
    position: absolute;
}
#field_rear_instud_1 {
    left: 91px;
    top: 922px;
    position: absolute;
}
#field_rear_instud_2{
    left: 91px;
    top: 935px;
    position: absolute;
}
#field_rear_instud_3 {
    left: 91px;
    top: 949px;
    position: absolute;
}
#field_rear_instud_4 {
    left: 104px;
    top: 973px;
    position: absolute;
}
#field_rear_instud_5 {
    left: 104px;
    top: 987px;
    position: absolute;
}
#field_rear_instud_6 {
    left: 104px;
    top: 1000px;
    position: absolute;
}
#field_hub_top_1 {
    left: 267px;
    top: 928px;
    position: absolute;
}
#field_hub_top_2 {
    left: 281px;
    top: 928px;
    position: absolute;
}
#field_hub_top_3 {
    left: 294px;
    top: 928px;
    position: absolute;
}
#field_hub_top_4 {
    left: 307px;
    top: 928px;
    position: absolute;
}
#field_hub_bot_1 {
    left: 296px;
    top: 1126px;
    position: absolute;
}
#field_hub_bot_2 {
    left: 320px;
    top: 1126px;
    position: absolute;
}
#field_rear_armmount_1 {
    left: 223px;
    top: 1126px;
    position: absolute;
}
#field_rear_armmount_2 {
    left: 236px;
    top: 1126px;
    position: absolute;
}
#field_rear_armmount_3 {
    left: 249px;
    top: 1126px;
    position: absolute;
}
#field_toein_1 {
    left: 33px;
    top: 1267px;
    position: absolute;
}
#field_toein_2 {
    left: 59px;
    top: 1267px;
    position: absolute;
}
#field_toein_3 {
    left: 85px;
    top: 1267px;
    position: absolute;
}
#field_toein_4 {
    left: 111px;
    top: 1267px;
    position: absolute;
}
#field_toein_5 {
    left: 137px;
    top: 1267px;
    position: absolute;
}
#field_squat_1 {
    left: 312px;
    top: 1174px;
    position: absolute;
}
#field_squat_2 {
    left: 327px;
    top: 1194px;
    position: absolute;
}
#field_squat_3 {
    left: 342px;
    top: 1215px;
    position: absolute;
}
#field_squat_4 {
    left: 328px;
    top: 1235px;
    position: absolute;
}
#field_squat_5 {
    left: 312px;
    top: 1256px;
    position: absolute;
}
#field_front_wheelbase {
    left: 537px;
    top: 1020px;
    width: 35px;
    position: absolute;
}

#field_rear_wheelbase {
    left: 541px;
    top: 1063px;
    width: 35px;
    position: absolute;
}
#field_front_shocktype {
    padding-left:60px;
    left: 681px;
    top: 220px;
    position: absolute;
    width: 85px;
}
#field_rear_shocktype {
    left: 829px;
    top: 219px;
    position: absolute;
    width: 85px;
}
#field_front_piston {
    padding-left:60px;
    left: 679px;
    top: 254px;
    width: 85px;
    position: absolute;
}
#field_rear_piston {
    left: 828px;
    top: 254px;
    width: 85px;
    position: absolute;
}
#field_front_oil {
    padding-left:70px;
    left: 672px;
    top: 286px;
    width: 83px;
    position: absolute;
}
#field_rear_oil {
    left: 830px;
    top: 286px;
    width: 83px;
    position: absolute;
}
#field_front_bladder {
    padding-left:60px;
    left: 679px;
    top: 319px;
    position: absolute;
    width: 85px;
}
#field_rear_bladder {
    left: 829px;
    top: 319px;
    position: absolute;
    width: 85px;
}
#field_front_rebound {
    padding-left:90px;
    left: 680px;
    top: 352px;
    position: absolute;
    width: 35px;
}
#field_rear_rebound {
    left: 862px;
    top: 353px;
    position: absolute;
    width: 35px;
}
#field_front_spring {
    padding-left:60px;
    left: 680px;
    top: 386px;
    position: absolute;
    width: 85px;
}
#field_rear_spring {
    left: 830px;
    top: 387px;
    width: 85px;
    position: absolute;
}
#field_shock_notes {
    padding-left:60px;
    left: 642px;
    top: 418px;
    width: 208px;
    position: absolute;
}
#field_tires_front {
    padding-left:60px;
    left: 680px;
    top: 499px;
    position: absolute;
    width: 85px;
}
#field_tires_rear{
    left: 829px;
    top: 498px;
    position: absolute;
    width: 85px;
}
#field_tread_front {
    padding-left:60px;
    left: 680px;
    top: 533px;
    position: absolute;
    width: 85px;
}
#field_tread_rear{
    left: 829px;
    top: 533px;
    position: absolute;
    width: 85px;
}
#field_compound_front {
    padding-left:60px;
    left: 680px;
    top: 566px;
    position: absolute;
    width: 85px;
}
#field_compound_rear {
    left: 829px;
    top: 566px;
    position: absolute;
    width: 85px;
}
#field_insert_front {
    padding-left:60px;
    left: 680px;
    top: 600px;
    width: 85px;
    position: absolute;
}
#field_insert_rear {
    left: 829px;
    top: 601px;
    position: absolute;
    width: 85px;
}
#field_wheel_front {
    padding-left:60px;
    left: 680px;
    top: 633px;
    position: absolute;
    width: 85px;
}
#field_wheel_rear {
    left: 830px;
    top: 634px;
    position: absolute;
    width: 85px;
}
#field_tire_note {
    padding-left:60px;
    left: 641px;
    top: 665px;
    position: absolute;
    width: 212px;
}
#field_front_diff {
    left: 652px;
    top: 747px;
    position: absolute;
    width: 85px;
}
#field_center_diff {
    left: 742px;
    top: 746px;
    position: absolute;
    width: 83px;
}
#field_rear_diff {
    left: 832px;
    top: 746px;
    position: absolute;
    width: 85px;
}
#field_diff_note {
    padding-left:60px;
    left: 641px;
    top: 780px;
    position: absolute;
    width: 211px;
}
#field_engine {
    padding-left:80px;
    left: 636px;
    top: 838px;
    width: 200px;
    position: absolute;
}
#field_pipe {
    padding-left:60px;
    left: 656px;
    top: 873px;
    width: 200px;
    position: absolute;
}
#field_plug {
    padding-left:60px;
    left: 656px;
    top: 908px;
    position: absolute;
    width: 200px;
}
#field_fuel {
    padding-left:60px;
    left: 657px;
    top: 944px;
    position: absolute;
    width: 200px;
}
#field_battery {
    padding-left:80px;
    left: 636px;
    top: 978px;
    position: absolute;
    width: 200px;
}
#field_servo_steer {
    padding-left:60px;
    left: 656px;
    top: 1012px;
    width: 87px;
    position: absolute;
}
#field_servo_gas {
    left: 816px;
    top: 1011px;
    width: 97px;
    position: absolute;
}
#field_clutch {
    padding-left:60px;
    left: 688px;
    top: 1072px;
    width: 53px;
    position: absolute;
}
#field_spur {
    left: 827px;
    top: 1072px;
    width: 40px;
    position: absolute;
}
#field_shoes {
    padding-left:110px;
    left: 641px;
    top: 1104px;
    width: 162px;
    position: absolute;
}
#field_springs {
    padding-left:110px;
    left: 641px;
    top: 1136px;
    position: absolute;
    width: 160px;
}
#field_eng_pos_1 {
    left: 796px;
    top: 1169px;
    position: absolute;
}
#field_eng_pos_2 {
    left: 878px;
    top: 1170px;
    position: absolute;
}
#field_chassis_brace_1 {
    left: 700px;
    top: 1263px;
    position: absolute;
}
#field_fbias {
    padding-left:80px;
    left: 683px;
    top: 1201px;
    position: absolute;
    width: 55px;
}
#field_rbias {
    left: 841px;
    top: 1201px;
    position: absolute;
    width: 60px;
}
#field_chassis_brace_2 {
    left: 787px;
    top: 1263px;
    position: absolute;
}
#field_chassis_brace_3 {
    left: 881px;
    top: 1263px;
    position: absolute;
}
#field_notes {
    padding-top:60px;
    left: 371px;
    top: 1141px;
    position: absolute;
    width: 271px;
    height: 92px;
}#password {
    background: none repeat scroll 0 0 #FFFFFF;
}

