input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 0 auto;
    width: 920px;
    position: relative;
}
#content {
    height: 1356px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#password, #password-1{
	width:220px;
	background:#fff;	
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 591px;
	top: 4px;
	width: 260px;
}
#field_name {
padding-left:90px;
    left: 148px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:90px;
	left: 122px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
    padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 86px;
}
#field_traction_level_2 {
	left: 258px;
	top: 86px;
}
#field_traction_level_3 {
	left: 349px;
	top: 86px;
}
#field_track_type_1 {
	left: 428px;
	top: 86px;
}
#field_track_type_2 {
	left: 492px;
	top: 86px;
}
#field_track_type_3 {
	left: 577px;
	top: 86px;
}
#field_track_size_1 {
	left: 674px;
	top: 86px;
}
#field_track_size_2 {
	left: 747px;
	top: 86px;
}
#field_track_size_3 {
	left: 832px;
	top: 86px;
}
#field_track_condition_1 {
	left: 200px;
	top: 132px;
}
#field_track_condition_2 {
	left: 285px;
	top: 132px;
}
#field_track_condition_3 {
	left: 397px;
	top: 132px;
}
#field_track_condition_4 {
	left: 200px;
	top: 156px;
}
#field_track_condition_5 {
	left: 285px;
	top: 156px;
}
#field_track_condition_6 {
	left: 397px;
	top: 156px;
}
#field_track_surface_1 {
	left: 555px;
	top: 130px;
}
#field_track_surface_2 {
	left: 698px;
	top: 130px;
	position: absolute;
}
#field_track_surface_3 {
	left: 808px;
	top: 130px;
	position: absolute;
}
#field_track_surface_4 {
	left: 555px;
	top: 155px;
	position: absolute;
}
#field_track_surface_5 {
	left: 698px;
	top: 155px;
	position: absolute;
}
#field_track_surface_6 {
	left: 808px;
	top: 155px;
	position: absolute;
}
#field_front_toe {
padding-left:65px;
    left: 0px;
    top: 217px;
    width: 430px;
}
#field_front_height {
padding-left:137px;
    left: 0px;
    top: 245px;
    width: 358px;
}
#field_front_camber {
padding-left:104px;
    left: 0px;
    top: 272px;
    width: 392px;
}
#field_front_caster_1 {
    left: 91px;
    top: 301px;
    position: absolute;
}
#field_front_caster_2 {
    left: 138px;
    top: 300px;
    position: absolute;
}
#field_front_caster_3 {
    left: 190px;
    top: 300px;
    position: absolute;
}
#field_front_swaybar {
padding-left:123px;
    left: 0px;
    top: 327px;
    width: 370px;
}
#field_front_oil {
padding-left:62px;
    left: 0px;
    top: 354px;
    width: 430px;
}
#field_front_piston {
padding-left:91px;
    left: 0px;
    top: 383px;
    width: 400px;
}
#field_front_spring_1 {
    left: 84px;
    top: 411px;
    position: absolute;
}
#field_front_spring_2 {
    left: 197px;
    top: 411px;
    position: absolute;
}
#field_front_color {
padding-left:30px;
    left: 348px;
    top: 410px;
    width: 120px;
}
#field_front_limiters {
padding-left:163px;
    left: 0px;
    top: 435px;
    width: 333px;
}
#field_front_location {
padding-left:169px;
    left: 0px;
    top: 463px;
    width: 326px;
}
#field_front_bump_stud_1 {
    left: 215px;
    top: 492px;
    position: absolute;
}
#field_front_bump_stud_2 {
    left: 328px;
    top: 492px;
    position: absolute;
}
#field_front_bump {
padding-left:227px;
    left: 0px;
    top: 520px;
    width: 270px;
}
#field_front_camlink {
padding-left:153px;
    left: 0px;
    top: 545px;
    width: 341px;
}
#field_front_ack {
padding-left:153px;
    left: 0px;
    top: 570px;
    width: 284px;
}
#field_front_notes {
    padding-left:60px;
    font-family: arial,tahoma,sans-serif;
    height: 95px;
    left: 528px;
    top: 492px;
    width: 320px;
}
#field_spacer1 { 
    left: 639px;
    top: 322px;
    width: 45px;
}
#field_rear_toe {
    padding-left:68px;
    left: 0px;
    top: 689px;
    width: 428px;
}
#field_antisquat {
padding-left:128px;
    left: 0px;
    top: 719px;
    width: 364px;
}
#field_rollcenter_1 {
    left: 125px;
    top: 747px;
    position: absolute;
}
#field_rollcenter_2 {
    left: 318px;
    top: 747px;
    position: absolute;
}
#field_rear_height {
padding-left:137px;
    left: 0px;
    top: 773px;
    width: 360px;
}
#field_rear_camber {
padding-left:100px;
    left: 0px;
    top: 798px;
    width: 395px;
}
#field_rear_hub {
padding-left:188px;
    left: 0px;
    top: 825px;
    width: 305px;
}
#field_hub_width {
padding-left:125px;
    left: 0px;
    top: 852px;
    width: 372px;
}
#field_rear_swaybar {
padding-left:109px;
    left: 0px;
    top: 879px;
    width: 385px;
}
#field_rear_oil {
padding-left:59px;
    left: 0px;
    top: 907px;
    width: 435px;
}
#field_rear_piston {
padding-left:86px;
    left: 0px;
    top: 934px;
    width: 407px;
}
#field_rear_spring_1 {
    left: 81px;
    top: 962px;
    position: absolute;
}
#field_rear_spring_2 {
    left: 195px;
    top: 962px;
    position: absolute;
}
#field_rear_color {
padding-left:30px;
    left: 345px;
    top: 961px;
    width: 120px;
}
#field_rear_limiters {
padding-left:156px;
    left: 0px;
    top: 985px;
    width: 332px;
}
#field_rear_camlink {
padding-left:143px;
    left: 0px;
    top: 1012px;
    width: 349px;
}
#field_rear_location {
padding-left:173px;
    left: 0px;
    top: 1037px;
    width: 320px;
}
#field_wing {
padding-left:174px;
    left: 0px;
    top: 1066px;
    width: 319px;
}
#field_batt_position {
padding-left:174px;
    left: 0px;
    top: 1093px;
    width: 319px;
}
#field_rear_notes {
padding-left:86px;
    font-family: arial,tahoma,sans-serif;
    height: 85px;
    left: 0px;
    top: 1120px;
    width: 400px;
}
#field_radio {    
    left: 556px;
    top: 1080px;
    width: 105px;
}
#field_servo {  
    left: 555px;
    top: 1097px;
    width: 105px;
}
#field_esc {
    left: 542px;
    top: 1118px;
    width: 120px;
}
#field_brake {
    left: 605px;
    top: 1138px;
    width: 60px;
}
#field_drag_brake {
    left: 600px;
    top: 1155px;
    width: 62px;
}
#field_throttle_profile {
    left: 625px;
    top: 1174px;
    width: 40px;
}
#field_timing {
padding-left:150px;
    left: 655px;
    top: 1062px;
    width: 100px;
}
#field_throttle_brake {
padding-left:100px;
    left: 730px;
    top: 1080px;
    width: 73px;
}
#field_servo_expo {
padding-left:100px;
    left: 665px;
    top: 1098px;
    width: 140px;
}
#field_brake_epa { 
    left: 823px;
    top: 1117px;
    width: 80px;
}
#field_motor {
padding-left:70px;
    left: 661px;
    top: 1137px;
    width: 173px;
}
#field_pinion {
    left: 731px;
    top: 1154px;
    width: 56px;
}
#field_spur {
    left: 835px;
    top: 1154px;
    width: 67px;
}
#field_battery {
padding-left:70px;
    left: 668px;
    top: 1174px;
    width: 165px;
}
#field_tires_front {
padding-left:80px;
    left: 0px;
    top: 1240px;
    width: 128px;
}
#field_tires_rear {
padding-left:80px;
    left: 0px;
    top: 1275px;
    width: 128px;
}
#field_compound_front {
    left: 211px;
    top: 1240px;
    width: 140px;
}
#field_compound_rear {
    left: 211px;
    top: 1275px;
    width: 140px;
}
#field_insert_front {
    left: 370px;
    top: 1240px;
    width: 110px;
}
#field_insert_rear {
    left: 370px;
    top: 1275px;
    width: 110px;
}
#field_add_front {
    left: 497px;
    top: 1240px;
    width: 124px;
}
#field_add_rear {
    left: 497px;
    top: 1275px;
    width: 124px;
}
#field_tires_notes {
padding-left:80px;
    font-family: arial,tahoma,sans-serif;
    height: 45px;
    left: 0px;
    top: 1306px;
    width: 800px;
}
#password {
    background: none repeat scroll 0 0 #FFFFFF;
}


