input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 0 auto;
    width: 920px;
    position: relative;
}
#content {
    height: 1356px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#password, #password-1{
	width:220px;
	background:#fff;	
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 590px;
	top: 4px;
	width: 260px;
}
#field_name {
padding-left:90px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:90px;
	left: 152px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
    padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 86px;
}
#field_traction_level_2 {
	left: 258px;
	top: 86px;
}
#field_traction_level_3 {
	left: 349px;
	top: 86px;
}
#field_track_type_1 {
	left: 428px;
	top: 86px;
}
#field_track_type_2 {
	left: 492px;
	top: 86px;
}
#field_track_type_3 {
	left: 577px;
	top: 86px;
}
#field_track_size_1 {
	left: 674px;
	top: 86px;
}
#field_track_size_2 {
	left: 747px;
	top: 86px;
}
#field_track_size_3 {
	left: 832px;
	top: 86px;
}
#field_track_condition_1 {
	left: 200px;
	top: 132px;
}
#field_track_condition_2 {
	left: 285px;
	top: 132px;
}
#field_track_condition_3 {
	left: 397px;
	top: 132px;
}
#field_track_condition_4 {
	left: 200px;
	top: 156px;
}
#field_track_condition_5 {
	left: 285px;
	top: 156px;
}
#field_track_condition_6 {
	left: 397px;
	top: 156px;
}
#field_track_surface_1 {
	left: 555px;
	top: 130px;
}
#field_track_surface_2 {
	left: 698px;
	top: 130px;
	position: absolute;
}
#field_track_surface_3 {
	left: 808px;
	top: 130px;
	position: absolute;
}
#field_track_surface_4 {
	left: 555px;
	top: 155px;
	position: absolute;
}
#field_track_surface_5 {
	left: 698px;
	top: 155px;
	position: absolute;
}
#field_track_surface_6 {
	left: 808px;
	top: 155px;
	position: absolute;
}
#field_front_toe {
padding-left:65px;
    left: 0px;
    top: 212px;
    width: 430px;
}
#field_front_height {
padding-left:137px;
    left: 0px;
    top: 240px;
    width: 358px;
}
#field_front_camber {
padding-left:104px;
    left: 0px;
    top: 267px;
    width: 392px;
}
#field_front_caster_1 {
    left: 88px;
    top: 296px;
    position: absolute;
}
#field_front_caster_2 {
    left: 130px;
    top: 296px;
    position: absolute;
}
#field_front_trail_1	{
	left: 269px;
	top: 296px;
	position: absolute;
}
#field_front_trail_2	{
	left: 346px;
	top: 296px;
	position: absolute;
}
#field_front_kick_1 {
    left: 130px;
    top: 322px;
    position: absolute;
}
#field_front_kick_2 {
    left: 192px;
    top: 322px;
    position: absolute;
}
#field_front_kick_3 {
    left: 252px;
    top: 322px;
    position: absolute;
}
#field_front_swaybar {
padding-left:123px;
    left: 0px;
    top: 347px;
    width: 370px;
}
#field_front_oil {
padding-left:62px;
    left: 0px;
    top: 373px;
    width: 430px;
}
#field_front_piston {
padding-left:91px;
    left: 0px;
    top: 401px;
    width: 400px;
}
#field_front_spring_1 {
    left: 84px;
    top: 428px;
    position: absolute;
}
#field_front_spring_2 {
    left: 197px;
    top: 428px;
    position: absolute;
}
#field_front_color {
padding-left:30px;
    left: 348px;
    top: 427px;
    width: 120px;
}
#field_front_pivot_1 {
    left: 127px;
    top: 456px;
    position: absolute;
}
#field_front_pivot_2 {
    left: 256px;
    top: 456px;
    position: absolute;
}
#field_front_pivot_3 {
    left: 360px;
    top: 456px;
    position: absolute;
}
#field_front_kick_shim_1 {
    left: 115px;
    top: 480px;
    position: absolute;
}
#field_front_kick_shim_2 {
    left: 192px;
    top: 480px;
    position: absolute;
}
#field_front_limiters {
padding-left:163px;
    left: 0px;
    top: 504px;
    width: 333px;
}
#field_front_location {
padding-left:169px;
    left: 0px;
    top: 531px;
    width: 326px;
}
#field_front_bump_stud_1 {
    left: 213px;
    top: 560px;
    position: absolute;
}
#field_front_bump_stud_2 {
    left: 328px;
    top: 560px;
    position: absolute;
}
#field_front_bump {
padding-left:227px;
    left: 0px;
    top: 584px;
    width: 270px;
}
#field_front_ack_stud_1 {
    left: 213px;
    top: 613px;
    position: absolute;
}
#field_front_ack_stud_2 {
    left: 328px;
    top: 613px;
    position: absolute;
}
#field_front_ack {
padding-left:210px;
    left: 0px;
    top: 637px;
    width: 284px;
}
#field_front_camlink {
padding-left:153px;
    left: 0px;
    top: 665px;
    width: 341px;
}
#field_front_notes {
    font-family: arial,tahoma,sans-serif;
    height: 95px;
    padding-left:60px;
    left: 522px;
    top: 611px;
    width: 325px;
}
#field_spacer1 { 
    left: 525px;
    top: 352px;
    width: 45px;
}
#field_spacer2 {
    left: 605px;
    top: 352px;
    width: 45px;
}
#field_spacer3 {
    left: 625px;
    top: 521px;
    width: 45px;
}
#field_spacer4 {
    left: 723px;
    top: 352px;
    width: 45px;
}
#field_chassis_1 {
    left: 219px;
    top: 758px;
    position: absolute;
}
#field_chassis_2 {
    left: 339px;
    top: 758px;
    position: absolute;
}
#field_rear_toe {
padding-left:66px;
    left: 0px;
    top: 780px;
    width: 428px;
}
#field_antisquat {
padding-left:128px;
    left: 0px;
    top: 810px;
    width: 364px;
}
#field_rollcenter_1 {
    left: 123px;
    top: 838px;
    position: absolute;
}
#field_rollcenter_2 {
    left: 318px;
    top: 838px;
    position: absolute;
}
#field_rear_height {
padding-left:137px;
    left: 0px;
    top: 861px;
    width: 360px;
}
#field_rear_camber {
padding-left:100px;
    left: 0px;
    top: 888px;
    width: 395px;
}
#field_rear_hub {
padding-left:188px;
    left: 0px;
    top: 913px;
    width: 305px;
}
#field_hub_width {
padding-left:125px;
    left: 0px;
    top: 941px;
    width: 372px;
}
#field_rear_swaybar {
padding-left:109px;
    left: 0px;
    top: 968px;
    width: 385px;
}
#field_rear_oil {
padding-left:59px;
    left: 0px;
    top: 994px;
    width: 435px;
}
#field_rear_piston {
padding-left:86px;
    left: 0px;
    top: 1020px;
    width: 407px;
}
#field_rear_spring_1 {
    left: 81px;
    top: 1048px;
    position: absolute;
}
#field_rear_spring_2 {
    left: 195px;
    top: 1048px;
    position: absolute;
}
#field_rear_color {
padding-left:30px;
    left: 345px;
    top: 1050px;
    width: 120px;
}
#field_rear_limiters {
padding-left:156px;
    left: 0px;
    top: 1072px;
    width: 332px;
}
#field_rear_camlink {
padding-left:143px;
    left: 0px;
    top: 1099px;
    width: 349px;
}
#field_rear_location {
padding-left:173px;
    left: 0px;
    top: 1125px;
    width: 320px;
}
#field_wing {
padding-left:175px;
    left: 0px;
    top: 1153px;
    width: 319px;
}
#field_batt_position {
padding-left:174px;
    left: 0px;
    top: 1179px;
    width: 319px;
}
#field_spacer5 {
    left: 520px;
    top: 813px;
    width: 45px;
}
#field_spacer6 {
    left: 748px;
    top: 855px;
    width: 45px;
}
#field_radio {    
    left: 556px;
    top: 1071px;
    width: 105px;
}
#field_servo {  
    left: 555px;
    top: 1088px;
    width: 105px;
}
#field_esc {
    left: 542px;
    top: 1109px;
    width: 120px;
}
#field_brake {
    left: 605px;
    top: 1129px;
    width: 60px;
}
#field_drag_brake {
    left: 600px;
    top: 1146px;
    width: 62px;
}
#field_throttle_profile {
    left: 625px;
    top: 1165px;
    width: 40px;
}
#field_timing {
padding-left:150px;
    left: 655px;
    top: 1053px;
    width: 100px;
}
#field_throttle_brake {
padding-left:100px;
    left: 730px;
    top: 1071px;
    width: 73px;
}
#field_servo_expo {
padding-left:100px;
    left: 665px;
    top: 1089px;
    width: 140px;
}
#field_brake_epa { 
    left: 823px;
    top: 1108px;
    width: 80px;
}
#field_motor {
padding-left:70px;
    left: 661px;
    top: 1128px;
    width: 173px;
}
#field_pinion {
    left: 731px;
    top: 1145px;
    width: 56px;
}
#field_spur {
    left: 835px;
    top: 1145px;
    width: 67px;
}
#field_battery {
padding-left:70px;
    left: 668px;
    top: 1165px;
    width: 165px;
}
#field_weight {
    left: 76px;
    top: 1311px;
    width: 30px;
}
#field_tires_front {
padding-left:35px;
    left: 300px;
    top: 1224px;
    width: 128px;
}
#field_tires_rear {
padding-left:35px;
    left: 300px;
    top: 1259px;
    width: 128px;
}
#field_compound_front {
    left: 475px;
    top: 1224px;
    width: 140px;
}
#field_compound_rear {
    left: 475px;
    top: 1259px;
    width: 140px;
}
#field_insert_front {
    left: 636px;
    top: 1224px;
    width: 110px;
}
#field_insert_rear {
    left: 636px;
    top: 1259px;
    width: 110px;
}
#field_add_front {
    left: 762px;
    top: 1224px;
    width: 124px;
}
#field_add_rear {
    left: 762px;
    top: 1257px;
    width: 124px;
}
#field_tires_notes {
padding-left:60px;
    font-family: arial,tahoma,sans-serif;
    height: 45px;
    left: 271px;
    top: 1286px;
    width: 575px;
}
#password {
    background: none repeat scroll 0 0 #FFFFFF;
}


