input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 0;
    position: absolute;
    padding: 2px 0;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}
select {
    border: medium none;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1255px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#password, #password-1{
	width:220px;
	background:#fff;	
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
padding-left:60px;
	left: 591px;
	top: 4px;
	width: 260px;
}
#field_name {
padding-left:90px;
    left: 138px;
    top: 6px;
    width: 200px;
}
#field_city {
padding-left:90px;
	left: 122px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 86px;
}
#field_traction_level_2 {
	left: 258px;
	top: 86px;
}
#field_traction_level_3 {
	left: 349px;
	top: 86px;
}
#field_track_type_1 {
	left: 428px;
	top: 86px;
}
#field_track_type_2 {
	left: 492px;
	top: 86px;
}
#field_track_type_3 {
	left: 577px;
	top: 86px;
}
#field_track_size_1 {
	left: 674px;
	top: 86px;
}
#field_track_size_2 {
	left: 747px;
	top: 86px;
}
#field_track_size_3 {
	left: 832px;
	top: 86px;
}
#field_track_condition_1 {
	left: 200px;
	top: 132px;
}
#field_track_condition_2 {
	left: 285px;
	top: 132px;
}
#field_track_condition_3 {
	left: 397px;
	top: 132px;
}
#field_track_condition_4 {
	left: 200px;
	top: 156px;
}
#field_track_condition_5 {
	left: 285px;
	top: 156px;
}
#field_track_condition_6 {
	left: 397px;
	top: 156px;
}
#field_track_surface_1 {
	left: 555px;
	top: 130px;
}
#field_track_surface_2 {
	left: 698px;
	top: 130px;
	position: absolute;
}
#field_track_surface_3 {
	left: 808px;
	top: 130px;
	position: absolute;
}
#field_track_surface_4 {
	left: 555px;
	top: 155px;
	position: absolute;
}
#field_track_surface_5 {
	left: 698px;
	top: 155px;
	position: absolute;
}
#field_track_surface_6 {
	left: 808px;
	top: 155px;
	position: absolute;
}
#password, #password-1{
	background:#fff;
	width:200px;	
}
#field_front_suspension_toe{
	top:211px;
	padding-left:40px;
left:10px;
	width:224px;
}
#field_front_suspension_ride_height{
	top:233px;
	padding-left:95px;
left:10px;
	width:173px;
}

#field_front_suspension_camber{
	top:256px;
	padding-left:70px;
left:10px;
	width:202px;
}

#field_front_suspension_caster{
	top:279px;
	padding-left:70px;
left:10px;
	width:204px;
}

#field_front_suspension_wheel_hex{
	top:302px;
	padding-left:95px;
left:10px;
	width:172px;
}

#field_front_suspension_sway_bar{
	top:327px;
	padding-left:80px;
left:10px;
	width:185px;
}

#field_front_suspension_piston_oil{
	top:350px;
	left:94px;
	width:184px;
}
#field_front_suspension_spring{
	top:372px;
	padding-left:80px;
left:10px;
	width:206px;
}
#field_front_suspension_limiter_droop{
	top:395px;
	padding-left:110px;
left:10px;
	width:157px;
}

#field_front_suspension_shock_length{
	top:420px;
	padding-left:170px;
left:10px;
	width:102px;
}

#field_front_suspension_steering{
	top:444px;
	padding-left:150px;
left:10px;
	width:124px;
}

#field_front_suspension_bump_steer{
	top:466px;
	padding-left:100px;
left:10px;
	width:162px;
}
#field_front_suspension_camber_link{
	top:489px;
	padding-left:105px;
left:10px;
	width:161px;
}

#field_front_suspension_shock_location{
	top:512px;
	padding-left:120px;
left:10px;
	width:146px;
}

#field_front_suspension_battery_type{
	top:535px;
	padding-left:170px;
left:10px;
	width:97px;
}

#field_differential_front_1{
	top:217px;
	left:345px;
}

#field_differential_front_2{
	top:217px;
	left:415px;
}

#field_differential_wire_dia_1{
	top:233px;
	padding-left:110px;
left:310px;
	width:68px;
}

#field_differential_qty_spring{
	top:256px;
	padding-left:80px;
left:330px;
	width:81px;
}

#field_differential_ramp_plate{
	top:279px;
	padding-left:90px;
left:309px;
	width:101px;
}

#field_differential_grease{
	top:302px;
	padding-left:60px;
left:302px;
	width:128px;
}

#field_differential_diff_fluid{
	top:325px;
	padding-left:80px;
left:300px;
	width:120px;
}

#field_differential_center_1{
	top:377px;
	left:354px;
}

#field_differential_center_2{
	top:377px;
	left:420px;
}

#field_differential_wire_dia_2{
	top:395px;
	padding-left:110px;
left:308px;
	width:70px;
}
#field_differential_qty_spring_2{
	top:418px;
	padding-left:110px;
left:300px;
	width:81px;
}
#field_differential_ramp_plate_2{
	top:443px;
	padding-left:90px;
left:301px;
	width:98px;
}

#field_differential_grease_2{
	top:466px;
	padding-left:80px;
left:280px;
	width:129px;
}

#field_differential_diff_fluid_2{
	top:487px;
	padding-left:80px;
left:287px;
	width:113px;
}
#field_front_bump_steer_1{
	top:240px;
	left:696px;
}

#field_front_bump_steer_2{
	top:240px;
	left:727px;
}

#field_front_ackerman_1{
	top:227px;
	left:859px;
}

#field_front_ackerman_2{
	top:219px;
	left:846px;
}

#field_front_ackerman_3{
	top:212px;
	left:833px;
}

#field_front_ackerman_bottom_1{
	top:349px;
	left:846px;
}
#field_front_ackerman_bottom_2{
	top:345px;
	left:834px;
}

#field_front_ackerman_bottom_3{
	top:338px;
	left:846px;
}

#field_differential_notes{
	top:540px;
	padding-left:70px;
left:500px;
	height:87px;
	width:341px;
    font-family: arial,tahoma,sans-serif;
}

#field_rear_suspension_roll_center_1{
	top:628px;
	left:108px;
}

#field_rear_suspension_roll_center_2{
	top:628px;
	left:166px;
}

#field_rear_suspension_toe{
	top:642px;
	padding-left:60px;
left:10px;
	width:379px;
}
#field_rear_suspension_anti_squat{
	top:664px;
	padding-left:100px;
left:10px;
	width:379px;
}

#field_rear_suspension_ride_height{
	top:687px;
	padding-left:100px;
left:10px;
	width:379px;
}
#field_rear_suspension_roll_camber{
	top:710px;
	padding-left:80px;
left:10px;
	width:379px;
}

#field_rear_suspension_rear_hub{
	top:733px;
		padding-left:150px;
left:10px;
	width:338px;
}

#field_rear_suspension_wheel_hex{
	top:753px;
	padding-left:150px;
left:10px;
	width:379px;
}

#field_rear_suspension_sway_bar{
	top:777px;
	padding-left:85px;
left:10px;
	width:379px;
}
#field_rear_suspension_piston_oil{
	top:802px;
	padding-left:85px;
left:10px;
	width:379px;
}

#field_rear_suspension_spring{
	top:824px;
	padding-left:60px;
left:10px;
	width:379px;
}

#field_rear_suspension_limiter_droop{
	top:847px;
	padding-left:110px;
left:10px;
	width:367px;
}
#field_rear_suspension_shock_length{
	top:869px;
	padding-left:170px;
left:10px;
	width:317px;
}

#field_rear_suspension_camber_link{
	top:892px;
	padding-left:110px;
left:10px;
	width:353px;
}

#field_rear_suspension_shock_location{
	top:915px;
	padding-left:120px;
left:10px;
	width:353px;
}

#field_rear_suspension_diff_fluid{
	top:939px;
	padding-left:120px;
left:10px;
	width:361px;
}
#field_radio {    
    	padding-left:60px;
left:10px;
    top: 1014px;
    width: 170px;
}
#field_servo {  
    	padding-left:60px;
left:10px;
    top: 1039px;
    width: 170px;
}
#field_esc {
    	padding-left:60px;
left:10px;
    top: 1064px;
    width: 180px;
}
#field_brake {
    	padding-left:110px;
left:10px;
    top: 1089px;
    width:120px;
}
#field_drag_brake {
        	padding-left:105px;
left:10px;
    top: 1114px;
    width: 130px;
}
#field_throttle_profile {
    padding-left:120px;
    left:10px;
    top: 1139px;
    width: 110px;
}
#field_timing {
    padding-left:130px;
    left:10px;
    top: 1164px;
    width: 110px;
}
#field_throttle_brake {
    padding-left:160px;
    left:10px;
    top: 1189px;
    width: 210px;
}
#field_brake_epa { 
    padding-left:160px;
    left:10px;
    top: 1214px;
    width:210px;
}
#field_servo_expo {
    padding-left:100px;
    left: 255px;
    top: 1014px;
    width: 125px;
}

#field_motor {
    padding-left:60px;
    left: 255px;
    top: 1039px;
    width: 160px;
}
#field_pinion {
    padding-left:60px;
    left: 255px;
    top: 1064px;
    width: 150px;
}
#field_spur {
    padding-left:55px;
    left: 255px;
    top: 1089px;
    width: 155px;
}
#field_battery {
    padding-left:65px;
    left: 255px;
    top: 1114px;
    width: 120px;
}
#field_wing_setup_wing_type_1{
	top:676px;
	left:600px;
}

#field_wing_setup_wing_type_2{
	top:676px;
	left:660px;
}

#field_wing_setup_wing_spacer_1{
	top:695px;
	left:620px;
}

#field_wing_setup_wing_spacer_2{
	top:695px;
	left:678px;
}
#field_wing_setup_wicker_bill_1{
	top:715px;
	left:600px;
}

#field_wing_setup_wicker_bill_2{
	top:715px;
	left:659px;
}

#wing_setup_1{
	top:843px;
	left:634px;
}
#wing_setup_2{
	top:842px;
	left:622px;
}
#wing_setup_3{
	top:842px;
	left:611px;
}

#wing_setup_4{
	top:841px;
	left:598px;
}

#wing_setup_top_1{
	top:743px;
	left:820px;
}
#wing_setup_top_2{
	top:735px;
	left:807px;
}
#wing_setup_top_3{
	top:727px;
	left:794px;
}


#wing_setup_bottom_1{
	top:864px;
	left:836px;
}

#wing_setup_bottom_2{
	top:855px;
	left:822px;
}

#wing_setup_bottom_3{
	top:845px;
	left:822px;
}

#wing_setup_bottom_4{
	top:855px;
	left:836px;
}

#wing_setup_bottom_5{
	top:845px;
	left:836px;
}


#field_wing_setup_notes{
    padding-left:60px;
	top:1003px;
	left:512px;
	width:340px;
	height:97px;
	font-family: arial,tahoma,sans-serif;
}

#field_tire_front_type{
	top:1137px;
	left:521px;
	width:100px;
}
#field_tire_front_compound{
	top:1137px;
	left:660px;
	width:100px;
}

#field_tire_front_insert{
	top:1137px;
	left:796px;
	width:100px;
}

#field_tire_rear_type{
	top:1164px;
	left:522px;
	width:100px;
}

#field_tire_rear_compound{
	top:1164px;
	left:659px;
	width:100px;
}

#field_tire_rear_insert{
	top:1164px;
	left:798px;
	width:100px;
}

#field_tire_notes{
padding-left:70px;
	top:1195px;
	left:446px;
	width:391px;
	height:39px;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}