input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 0;
    position: absolute;
    padding: 2px 0;
	top: 963px;
	left: 570px;
	width: 18px;
	bottom: -3px;
	height: 21px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}
select {
	border: none;
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	padding: 2px 0;
	position: absolute;
	top: 1118px;
	left: 191px;
	width: 18px;
	bottom: -3px;
	height: 26px;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1200px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
    padding-left:60px;
	left: 592px;
	top: 9px;
	width: 256px;
}
#field_name {
    padding-left:80px;
    left: 158px;
    top: 6px;
    width: 200px;
}
#field_city {
	padding-left:80px;
    left: 158px;
	top: 49px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 47px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 7px;
	width: 90px;
}

#field_event {
    padding-left:60px;
	left: 591px;
	top: 48px;
	width: 260px;
}
#field_traction_level_1 {
	left: 189px;
	top: 102px;
}
#field_traction_level_2 {
	left: 255px;
	top: 103px;
}
#field_traction_level_3 {
	left: 344px;
	top: 102px;
}
#field_track_type_1 {
	left: 427px;
	top: 104px;
}
#field_track_type_2 {
	left: 494px;
	top: 105px;
}
#field_track_type_3 {
	left: 578px;
	top: 103px;
}
#field_track_size_1 {
	left: 670px;
	top: 104px;
}
#field_track_size_2 {
	left: 743px;
	top: 103px;
}
#field_track_size_3 {
	left: 830px;
	top: 103px;
}
#field_track_condition_1 {
	left: 201px;
	top: 158px;
}
#field_track_condition_2 {
	left: 278px;
	top: 156px;
}
#field_track_condition_3 {
	left: 391px;
	top: 159px;
}
#field_track_condition_4 {
	left: 200px;
	top: 184px;
}
#field_track_condition_5 {
	left: 278px;
	top: 182px;
}
#field_track_condition_6 {
	left: 391px;
	top: 184px;
}
#field_track_surface_1 {
	left: 556px;
	top: 158px;
}
#field_track_surface_2 {
	left: 691px;
	top: 154px;
}
#field_track_surface_3 {
	left: 808px;
	top: 156px;
}
#field_track_surface_4 {
	left: 557px;
	top: 183px;
}
#field_track_surface_5 {
	left: 691px;
	top: 182px;
}
#field_track_surface_6 {
	left: 808px;
	top: 182px;
}

#password, #password-1{
	background:#fff;
	width:200px;	
}
#field_front_suspension_toe{
    padding-left:40px;
	top:238px;
	left:10px;
	width:224px;
}
#field_front_suspension_ride_height{
    padding-left:95px;
	top:259px;
	left:10px;
	width:173px;
}

#field_front_suspension_camber{
    padding-left:70px;
	top:279px;
	left:10px;
	width:202px;
}

#field_front_suspension_caster{
    padding-left:70px;
	top:300px;
	left:10px;
	width:204px;
}

#field_front_suspension_wheel_hex{
    padding-left:95px;
	top:322px;
	left:10px;
	width:172px;
}

#field_front_suspension_sway_bar{
    padding-left:80px;
	top:343px;
	left:10px;
	width:185px;
}

#field_front_suspension_piston_oil{
    padding-left:80px;
	top:364px;
	left:10px;
	width:184px;
}
#field_front_suspension_spring{
    padding-left:60px;
	top:387px;
	left:10px;
	width:206px;
}
#field_front_suspension_limiter_droop{
    padding-left:110px;
	top:407px;
	left:10px;
	width:157px;
}

#field_front_suspension_shock_length{
    padding-left:170px;
	top:430px;
	left:10px;
	width:102px;
}

#field_front_suspension_steering{
    padding-left:150px;
	top:454px;
	left:10px;
	width:124px;
}

#field_front_suspension_bump_steer{
    padding-left:100px;
	top:474px;
	left:10px;
	width:162px;
}
#field_front_suspension_camber_link{
    padding-left:105px;
	top:497px;
	left:10px;
	width:161px;
}

#field_front_suspension_shock_location{
	top:517px;
	padding-left:120px;
    left: 10px;
	width:146px;
}

#field_front_suspension_battery_type{
    padding-left:170px;
	top:539px;
	left:10px;
	width:97px;
}

#field_differential_front_1{
	top:242px;
	left:345px;
}

#field_differential_front_2{
	top:242px;
	left:428px;
}

#field_differential_wire_dia_1{
    padding-left:100px;
	top:259px;
	left:319px;
	width:68px;
}

#field_differential_qty_spring{
    padding-left:90px;
	top:280px;
	left:320px;
	width:81px;
}

#field_differential_ramp_plate{
    padding-left:90px;
	top:302px;
	left:309px;
	width:101px;
}

#field_differential_grease{
    padding-left:60px;
	top:322px;
	left:302px;
	width:128px;
}

#field_differential_diff_fluid{
    padding-left:80px;
	top:345px;
	left:300px;
	width:120px;
}

#field_differential_center_1{
	top:393px;
	left:351px;
}

#field_differential_center_2{
	top:392px;
	left:432px;
}

#field_differential_wire_dia_2{
    padding-left:110px;
	top:409px;
	left:308px;
	width:70px;
}
#field_differential_qty_spring_2{
    padding-left:110px;
	top:430px;
	left:300px;
	width:81px;
}
#field_differential_ramp_plate_2{
   padding-left:90px;
	top:452px;
	left:301px;
	width:98px;
}

#field_differential_grease_2{
    padding-left:80px;
	top:474px;
	left:280px;
	width:129px;
}

#field_differential_diff_fluid_2{
    padding-left:80px;
	top:496px;
	left:287px;
	width:113px;
}
#field_front_bump_steer_1{
	top:231px;
	left:696px;
}

#field_front_bump_steer_2{
	top:233px;
	left:727px;
}

#field_front_ackerman_1{
	top:271px;
	left:846px;
}

#field_front_ackermanr_2{
	top:262px;
	left:832px;
}

#field_front_ackerman_bottom_1{
	top:389px;
	left:846px;
}
#field_front_ackerman_bottom_2{
	top:385px;
	left:834px;
}

#field_front_ackerman_bottom_3{
	top:375px;
	left:846px;
}



#field_differential_notes{
    padding-left:70px;
	top:545px;
	left:500px;
	height:87px;
	width:341px;
    font-family: arial,tahoma,sans-serif;
}

#field_rear_suspension_roll_center_1{
	top:620px;
	left:108px;
}

#field_rear_suspension_roll_center_2{
	top:621px;
	left:164px;
}

#field_rear_suspension_toe{
    padding-left:50px;
	top:637px;
	left:10px;
	width:379px;
}
#field_rear_suspension_anti_squat{
    padding-left:90px;
	top:657px;
	left:10px;
	width:379px;
}

#field_rear_suspension_ride_height{
    padding-left:100px;
	top:679px;
	left:10px;
	width:379px;
}
#field_rear_suspension_roll_camber{
    padding-left:80px;
	top:700px;
	left:10px;
	width:379px;
}

#field_rear_suspension_rear_hub{
    padding-left:150px;
	top:722px;
	left:10px;
	width:338px;
}

#field_rear_suspension_wheel_hex{
    padding-left:100px;
	top:742px;
	left:10px;
	width:379px;
}

#field_rear_suspension_sway_bar{
    padding-left:85px;
	top:763px;
	left:10px;
	width:379px;
}
#field_rear_suspension_piston_oil{
    padding-left:85px;
	top:784px;
	left:10px;
	width:379px;
}

#field_rear_suspension_spring{
    padding-left:60px;
	top:804px;
	left:10px;
	width:379px;
}

#field_rear_suspension_limiter_droop{
    padding-left:110px;
	top:827px;
	left:10px;
	width:367px;
}
#field_rear_suspension_shock_length{
    padding-left:170px;
	top:850px;
	left:10px;
	width:317px;
}

#field_rear_suspension_camber_link{
    padding-left:110px;
	top:869px;
	left:10px;
	width:353px;
}

#field_rear_suspension_shock_location{
    padding-left:120px;
	top:889px;
	left:10px;
	width:353px;
}

#field_rear_suspension_diff_fluid{
    padding-left:120px;
	top:913px;
	left:10px;
	width:361px;
}
#field_engine_engine{
    padding-left:70px;
	top:982px;
	left:10px;
	width:193px;
}

#field_grow_plug{
    padding-left:90px;
	top:1004px;
	left:10px;
	width:170px;
}
#field_engine_pipe_header{
    padding-left:110px;
	top:1027px;
	left:10px;
	width:151px;
}

#field_engine_fuel{
    padding-left:40px;
	top:981px;
	left:285px;
	width:158px;
}

#field_engine_head_clearance{
    padding-left:130px;
	top:1003px;
	left:285px;
	width:71px;
}
#field_engine_gearing{
    padding-left:60px;
	top:1028px;
	left:292px;
	width:131px;
}



#field_wing_setup_wing_type_1{
	top:666px;
	left:591px;
}

#field_wing_setup_wing_type_2{
	top:666px;
	left:634px;
}

#field_wing_setup_wing_spacer_1{
	top:685px;
	left:610px;
}

#field_wing_setup_wing_spacer_2{
	top:683px;
	left:653px;
}
#field_wing_setup_wicker_bill_1{
	top:705px;
	left:592px;
}

#field_wing_setup_wicker_bill_2{
	top:704px;
	left:640px;
}

#wing_setup_1{
	top:828px;
	left:630px;
}
#wing_setup_2{
	top:829px;
	left:618px;
}
#wing_setup_3{
	top:829px;
	left:605px;
}

#wing_setup_4{
	top:829px;
	left:592px;
}

#wing_setup_top_1{
	top:737px;
	left:820px;
}
#wing_setup_top_2{
	top:730px;
	left:807px;
}
#wing_setup_top_3{
	top:723px;
	left:792px;
}


#wing_setup_bottom_1{
	top:832px;
	left:837px;
}

#wing_setup_bottom_2{
	top:832px;
	left:822px;
}

#wing_setup_bottom_3{
	top:833px;
	left:808px;
}


#field_wing_setup_notes{
    padding-left:70px;
	top:974px;
	left:497px;
	width:340px;
	height:100px;
	font-family: arial,tahoma,sans-serif;
}

#field_clutch_shoes_spring{
    padding-left:80px;
	top:1112px;
	left:69px;
	width:292px;
	height:76px;
	font-family: arial,tahoma,sans-serif;
}
#field_tire_front_type{
	top:1098px;
	left:521px;
	width:100px;
}
#field_tire_front_compound{
	top:1097px;
	left:660px;
	width:100px;
}

#field_tire_front_insert{
	top:1098px;
	left:796px;
	width:100px;
}

#field_tire_rear_type{
	top:1123px;
	left:522px;
	width:100px;
}

#field_tire_rear_compound{
	top:1123px;
	left:659px;
	width:100px;
}

#field_tire_rear_insert{
	top:1123px;
	left:798px;
	width:100px;
}

#field_tire_notes{
    padding-left:70px;
	top:1152px;
	left:446px;
	width:391px;
	height:39px;
	 font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}