input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 0 auto;
    width: 920px;
    position: relative;
}
#content {
    height: 1200px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
    padding-left:60px;
    right: 5px;
    top: 10px;
    width: 265px;
}
#field_name {
    padding-left:90px;
    left: 158px;
    top: 10px;
    width: 170px;
}
#field_city {
    padding-left:90px;
    left: 158px;
    top: 50px;
    width: 117px;
}
.countrySelector {
    border: 1px solid #CCCCCC;
    left: 450px;
    top: 50px;
    width: 130px;
}
#field_date {
    right: 340px;
    top: 10px;
    width: 90px;
}
#field_traction_level_1 {
    left: 191px;
    top: 107px;
}
#field_traction_level_2 {
    left: 258px;
    top: 107px;
}
#field_traction_level_3 {
    left: 346px;
    top: 107px;
}
#field_track_type_1 {
    left: 426px;
    top: 108px;
}
#field_track_type_2 {
    left: 490px;
    top: 108px;
}
#field_track_type_3 {
    left: 575px;
    top: 108px;
}
#field_track_size_1 {
    right: 226px;
    top: 108px;
}
#field_track_size_2 {
    right: 153px;
    top: 108px;
}
#field_track_size_3 {
    right: 68px;
    top: 108px;
}
#field_track_condition_1 {
    left: 193px;
    top: 163px;
}
#field_track_condition_2 {
    left: 277px;
    top: 163px;
}
#field_track_condition_3 {
    left: 390px;
    top: 163px;
}
#field_track_condition_4 {
    left: 193px;
    top: 192px;
}
#field_track_condition_5 {
    left: 278px;
    top: 192px;
}
#field_track_condition_6 {
    left: 391px;
    top: 192px;
}
#field_track_surface_1 {
    right: 349px;
    top: 164px;
}
#field_track_surface_2 {
    right: 212px;
    top: 164px;
}
#field_track_surface_3 {
    right: 97px;
    top: 164px;
}
#field_track_surface_4 {
    right: 349px;
    top: 187px;
}
#field_track_surface_5 {
    right: 210px;
    top: 187px;
}
#field_track_surface_6 {
    right: 96px;
    top: 187px;
}
#field_front_suspension_toe {
    padding-left:50px;
    left: 15px;
    top: 242px;
    width: 435px;
}
#field_front_suspension_ride_height {
    padding-left:120px;
    left: 15px;
    top: 266px;
    width: 360px;
}
#field_front_suspension_camber {
    padding-left:90px;
    left: 15px;
    top: 291px;
    width: 390px;
}
#field_front_suspension_caster_1 {
    left: 120px;
    top: 320px;
}
#field_front_suspension_caster_2 {
    left: 170px;
    top: 320px;
}
#field_front_suspension_caster_3 {
    left: 228px;
    top: 320px;
}
#field_front_suspension_caster_4 {
    left: 286px;
    top: 320px;
}
#field_front_suspension_kick_angle_1 {
    left: 121px;
    top: 345px;
}
#field_front_suspension_kick_angle_2 {
    left: 184px;
    top: 345px;
}
#field_front_suspension_kick_angle_3 {
    left: 246px;
    top: 345px;
}
#field_front_suspension_kick_angle_4 {
}
#field_front_suspension_sway_bar {
    padding-left:107px;
    left: 15px;
    top: 365px;
    width: 373px;
}
#field_front_suspension_oil {
    left: 355px;
    top: 388px;
    width: 130px;
}
#field_front_suspension_piston {
    padding-left:80px;
    left: 15px;
    top: 416px;
    width: 400px;
}
#field_front_suspension_spring {
    padding-left:80px;
    left: 15px;
    top: 436px;
    width: 400px;
}
#field_front_suspension_spindle_type_1 {
    left: 138px;
    top: 457px;
}
#field_front_suspension_spindle_type_2 {
    left: 222px;
    top: 457px;
}
#field_front_suspension_shock_limiters {
    padding-left:150px;
    left: 15px;
    top: 463px;
    width: 331px;
}
#field_front_suspension_shock_location {
    padding-left:150px;
    left: 15px;
    top: 490px;
    width: 330px;
}
#field_front_suspension_bump_steer {
    padding-left:121px;
    left: 15px;
    top: 515px;
    width: 360px;
}
#field_front_suspension_camber_link {
    font-family: arial,tahoma,sans-serif;
    padding-left:125px;
    height: 60px;
    left: 15px;
    top: 540px;
    width: 355px;
}
#field_front_suspension_note {
    font-family: arial,tahoma,sans-serif;
    padding-left:80px;
    height: 85px;
    right: 15px;
    top: 538px;
    width: 320px;
}
#field_rear_suspension_chassis_configuration_1 {
    left: 220px;
    top: 638px;
}
#field_rear_suspension_chassis_configuration_2 {
    left: 334px;
    top: 638px;
}
#field_rear_suspension_differential_1{
	left: 125px;
    top: 664px;
}

#field_rear_suspension_differential_2{
	left: 205px;
    top: 664px;
}

#field_rear_suspension_gear_diff{
	top:656px;
	left:430px;
	width:80px; 
}

#field_rear_suspension_toe {
    padding-left:50px;
    left: 15px;
    top: 680px;
    width: 388px;
}

#field_rear_suspension_anti_squat {
    padding-left:115px;
    left: 15px;
    top: 708px;
    width: 364px;
}
#field_rear_suspension_roll_center_1 {
    left: 120px;
    top: 738px;
}
#field_rear_suspension_roll_center_2 {
    left: 303px;
    top: 738px;
}
#field_rear_suspension_ride_height {
    padding-left:120px;
    left: 15px;
    top: 755px;
    width: 360px;
}
#field_rear_suspension_camber {
    padding-left:85px;
    left: 15px;
    top: 782px;
    width: 395px;
}
#field_rear_suspension_rear_hub_spacing {
    padding-left:175px;
    left: 15px;
    top: 803px;
    width: 305px;
}
#field_rear_suspension_hex_width {
    padding-left:108px;
    left: 15px;
    top: 829px;
    width: 372px;
}
#field_rear_suspension_sway_bar {
    padding-left:95px;
    left: 15px;
    top: 853px;
    width: 385px;
}
#field_rear_suspension_oil {
    left: 360px;
    top: 879px;
    width: 135px;
}

#field_rear_suspension_shock_type_1 {
    left:126px;
    top: 884px;
    
}

#field_rear_suspension_shock_type_2 {
    left:225px;
    top: 884px;
    
}


#field_rear_suspension_piston {
    padding-left:70px;
    left: 15px;
    top: 902px;
    width: 410px;
}
#field_rear_suspension_spring {
    padding-left:70px;
    left: 15px;
    top: 925px;
    width: 407px;
}
#field_rear_suspension_shock_limiters {
    padding-left:145px;
    left: 15px;
    top: 950px;
    width: 332px;
}
#field_rear_suspension_shock_location {
    left: 168px;
    top: 1000px;
    width: 330px;
}
#field_rear_suspension_camber_link {
    padding-left:120px;
    left: 15px;
    top: 975px;
    width: 316px;
}
#field_rear_suspension_wing_wickerbill {
    padding-left:160px;
    left: 15px;
    top: 989px;
    width: 315px;
}

#field_rear_suspension_batterry_position {
    padding-left:159px;
    left: 15px;
    top: 1022px;
    width: 316px;
}
#field_electronics_radio {
    
    right: 262px;
    top: 951px;
    width: 100px;
}
#field_electronics_servo {
    
    right: 261px;
    top: 968px;
    width: 100px;
}
#field_electronics_esc {
    
    right: 259px;
    top: 985px;
    width: 120px;
}
#field_electronics_initial_brake {
    
    right: 258px;
    top: 1006px;
    width: 60px;
}
#field_electronics_drag_brake {
    
    right: 270px;
    top: 1020px;
    width: 58px;
}
#field_electronics_throttle_profile {
    
    right: 255px;
    top: 1040px;
    width: 40px;
}
#field_electronics_timing_advance {
    
    right: 15px;
    top: 930px;
    width: 100px;
}
#field_electronics_throttle_brake_expo {
    
    right: 15px;
    top: 950px;
    width: 70px;
}
#field_electronics_servo_expo {
    
    right: 15px;
    top: 970px;
    width: 135px;
}
#field_electronics_throttle_brake_epa {
    
    right: 15px;
    top: 985px;
    width: 80px;
}
#field_electronics_motor {
    
    right: 15px;
    top: 1002px;
    width: 173px;
}
#field_electronics_pinion {
    
    right: 131px;
    top: 1018px;
    width: 56px;
}
#field_electronics_spur {
    
    right: 15px;
    top: 1018px;
    width: 67px;
}
#field_electronics_battery {
    
    right: 10px;
    top: 1038px;
    width:175px;
}
#field_weight_of_each_piece {
    height: 12px;
    left: 76px;
    top: 1177px;
    width: 30px;
   
}
#field_tires_front {
    left: 330px;
    top: 1090px;
    width: 128px;
   
}
#field_tires_rear {
    left: 330px;
    top: 1125px;
    width: 128px;
     
}
#field_tires_notes {
    font-family: arial,tahoma,sans-serif;
    padding-left:60px;
    height: 35px;
    left: 271px;
    top: 1150px;
    width: 575px;
    
  
}
#field_compound_front {
    left: 475px;
     top: 1090px;
    width: 137px;
   
}
#field_compound_rear {
    left: 475px;
    top: 1125px;
    width: 139px;
}
#field_compound_notes {
}
#field_additive_front {
    right: 35px;
      top: 1090px;
    width: 120px;
}
#field_additive_rear {
    right: 35px;
    top: 1125px;
    width: 120px;
}
#field_additive_notes {
}
#field_event {
    padding-left:60px;
    right: 5px;
    top: 50px;
    width: 265px;
}
#field_insert_front {
    right: 175px;
    top: 1090px;
    width: 110px;
}
#field_insert_rear {
    right: 175px;
    top: 1125px;
    width: 110px;
}
#password {
    background: none repeat scroll 0 0 #FFFFFF;
}
#spacer_1 {
    
    right: 375px;
    top: 352px;
    width: 45px;
}
#spacer_2 {
    
    right: 246px;
    top: 335px;
    width: 45px;
}
#spacer_3 {    
    right: 125px;
    top: 368px;
    width: 45px;
}
#spacer_4 {
    
    right: 367px;
    top: 488px;
    width: 45px;
}
#spacer_5 {
    
    right: 366px;
    top: 700px;
    width: 45px;
}
#spacer_6 {
    
    right: 207px;
    top: 707px;
    width: 45px;
}

#front_shock_type_1{
	left: 125px;
	top: 395px;
	
}

#front_shock_type_2{
	left: 206px;
	top: 395px;
	
}