input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 0;
    position: absolute;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
}

select{
	height:30px;	
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1235px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
    padding-left:60px;
	left: 588px;
	top: 7px;
	width: 256px;
}
#field_name {
    padding-left:60px;
    left: 168px;
    top: 6px;
    width: 200px;
}
#field_city {
    padding-left:20px;
	left: 188px;
	top: 45px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 448px;
	top: 45px;
	width: 130px;
}

#field_date {
	left: 485px;
	top: 5px;
	width: 90px;
}

#field_event {
    padding-left:60px;
	left: 590px;
	top: 47px;
	width: 260px;
}
#field_traction_level_1 {
	left: 185px;
	top: 102px;
}
#field_traction_level_2 {
	left: 249px;
	top: 102px;
}
#field_traction_level_3 {
	left: 340px;
	top: 103px;
}
#field_track_type_1 {
	left: 423px;
	top: 103px;
}
#field_track_type_2 {
	left: 493px;
	top: 103px;
}
#field_track_type_3 {
	left: 577px;
	top: 103px;
}
#field_track_size_1 {
	left: 664px;
	top: 102px;
}
#field_track_size_2 {
	left: 741px;
	top: 104px;
}
#field_track_size_3 {
	left: 826px;
	top: 105px;
}
#field_track_condition_1 {
	left: 199px;
	top: 157px;
}
#field_track_condition_2 {
	left: 278px;
	top: 157px;
}
#field_track_condition_3 {
	left: 394px;
	top: 157px;
}
#field_track_condition_4 {
	left: 198px;
	top: 184px;
}
#field_track_condition_5 {
	left: 279px;
	top: 183px;
}
#field_track_condition_6 {
	left: 395px;
	top: 184px;
}
#field_track_surface_1 {
	left: 548px;
	top: 159px;
}
#field_track_surface_2 {
	left: 691px;
	top: 156px;
}
#field_track_surface_3 {
	left: 802px;
	top: 156px;
}
#field_track_surface_4 {
	left: 547px;
	top: 185px;
}
#field_track_surface_5 {
	left: 692px;
	top: 184px;
}
#field_track_surface_6 {
	left: 805px;
	top: 183px;
}



#password-1,#password{
	width:200px; 	
	background:#fff;
}

#field_front_suspension_toe{
    padding-left:60px;
	top:238px;
	left:0px;
	width:433px;
}
#field_front_suspension_ride_height{
    padding-left:128px;
	top:261px;
	left:0px;
	width:320px;
}
#field_front_suspension_camber{
    padding-left:92px;
	top:286px;
	left:0px;
	width:358px;
}
#field_front_suspension_ackermanr{
    padding-left:190px;
	top:311px;
	left:0px;
	width:259px;
}

#field_front_suspension_sway_bar{
    padding-left:105px;
	top:336px;
	left:0px;
	width:259px;
}
#field_front_suspension_shock_type_1{
	top:362px;
	left:120px;
}
#field_front_suspension_shock_type_2{
	top:361px;
	left:215px;
}

#field_front_suspension_oil{
	top:360px;
	left:361px;
	width:128px;
}

#field_front_suspension_piston{
    padding-left:80px;
	top:384px;
	left:0px;
	width:259px;
}

#field_front_suspension_spring{
    padding-left:80px;
	top:408px;
	left:0px;
	width:259px;
}

#field_front_suspension_shock_limiters{
    padding-left:191px;
	top:311px;
	left:0px;
	width:259px;
}

#field_front_suspension_shock_length{
    padding-left:208px;
	top:458px;
	left:0px;
	width:259px;
}

#field_front_suspension_shock_location{
    padding-left:159px;
	top:481px;
	left:0px;
	width:259px;
}

#field_rear_suspension_shock_bump_steer{
    padding-left:191px;
	top:311px;
	left:0px;
	width:259px;
}

#field_front_suspension_shock_camber_link{
    padding-left:191px;
	top:309px;
	left:0px;
	width:259px;
}

#field_front_suspension_shock_camber_link{
    padding-left:142px;
	top:531px;
	left:0px;
	width:259px;
}

#field_front_suspension_front_diff_fluid{
    padding-left:170px;
	top:553px;
	left:0px;
	width:259px;
}

#field_front_suspension_center_diff_fluid{
    padding-left:169px;
	top:578px;
	left:0px;
	width:259px;
}



#field_rear_suspension_oil{
	top:359px;
	left:362px;
	width:121px;
}

#field_rear_suspension_piston{
    padding-left:84px;
	top:384px;
	left:0px;
	width:364px;
}

#field_rear_suspension_spring{
    padding-left:81px;
	top:409px;
	left:0px;
	width:367px;
}
#field_front_suspension_shock_limiters{
    padding-left:143px;
	top:433px;
	left:0px;
	width:306px;
}

#field_rear_suspension_shock_length{
    padding-left:211px;
	top:457px;
	left:0px;
	width:238px;
}

#field_rear_suspension_shock_location{
    padding-left:154px;
	top:481px;
	left:0px;
	width:297px;
}
#field_rear_suspension_shock_bump_steer{
    padding-left:129px;
	top:507px;
	left:0px;
	width:320px;
}

#field_rear_suspension_shock_camber_link{
    padding-left:59px;
	top:238px;
	left:0px;
	width:100px;
}

#field_rear_suspension_shock_camber_link{
    padding-left:138px;
	top:530px;
	left:0px;
	width:311px;
}
#field_rear_suspension_front_diff_fluid{
    padding-left:158px;
	top:554px;
	left:0px;
	width:292px;
}

#field_rear_suspension_center_diff_fluid{
    padding-left:167px;
	top:578px;
	left:0px;
	width:292px;
}

#front_suspension_top_1{
	top:283px;
	left:878px;
}
#front_suspension_top_2{
	top:275px;
	left:867px;
}
#front_suspension_top_3{
	top:268px;
	left:856px;
}
#front_suspension_top_4{
	top:260px;
	left:845px;
}


#front_suspension_middle_1{
	top:372px;
	left:869px;
}

#front_suspension_middle_2{
	top:373px;
	left:855px;
}

#front_suspension_middle_3{
	top:359px;
	left:854px;
}

#front_suspension_middle_4{
	top:357px;
	left:868px;
}


#front_suspension_bottom_1{
	top:457px;
	left:732px;
}
#front_suspension_bottom_2{
	top:455px;
	left:747px;
}

#front_suspension_bottom_3{
	top:453px;
	left:760px;
}


#field_front_suspension_notes{
    padding-left:70px;
	top:538px;
	left:516px;
	width:324px;
	height:67px;
	font-family: arial,tahoma,sans-serif;
}


#field_rear_suspension_toe{
    padding-left:58px;
	top:634px;
	left:0px;
	width:292px;
}

#field_rear_suspension_anti_squat{
    padding-left:124px;
	top:662px;
	left:0px;
	width:292px;
}

#field_rear_suspension_ride_height{
    padding-left:126px;
	top:690px;
	left:0px;
	width:292px;
}

#field_rear_suspension_camber{
    padding-left:97px;
	top:718px;
	left:0px;
	width:292px;
}

#field_rear_suspension_hub_spacing{
    padding-left:177px;
	top:746px;
	left:0px;
	width:292px;
}

#field_rear_suspension_sway_bar{
    padding-left:104px;
	top:773px;
	left:0px;
	width:292px;
}


#field_rear_suspension_shock_type_1{
	top:805px;
	left:122px;
}

#field_rear_suspension_shock_type_2{
	top:804px;
	left:223px;
}

#field_rear_suspension_oil{
	top:800px;
	left:366px;
	width:125px;
}
#field_rear_suspension_piston{
    padding-left:83px;
	top:829px;
	left:0px;
	width:292px;
}
#field_rear_suspension_spring{
    padding-left:82px;
	top:856px;
	left:0px;
	width:292px;
}

#field_rear_suspension_shock_limiters{
    padding-left:163px;
	top:884px;
	left:0px;
	width:292px;
}

#field_rear_suspension_camber_link{
    padding-left:163px;
	top:912px;
	left:0px;
	width:292px;
}

#field_rear_suspension_shock_location{
    padding-left:163px;
	top:939px;
	left:0px;
	width:292px;
}

#field_rear_suspension_shock_length{
    padding-left:209px;
	top:967px;
	left:0px;
	width:292px;
}

#field_rear_suspension_diff_fluid{
    padding-left:163px;
	top:995px;
	left:0px;
	width:292px;
}

#field_rear_suspension_battery_position_diff_fluid{
    padding-left:162px;
	top:1023px;
	left:0px;
	width:292px;
}


#rear_suspension_ab_1{
	top:736px;
	left:672px;
}

#rear_suspension_ab_2{
	top:737px;
	left:654px;
}


#rear_suspension_top_1{
	top:692px;
	left:797px;
}
#rear_suspension_top_2{
	top:676px;
	left:796px;
}
#rear_suspension_top_3{
	top:661px;
	left:796px;
}

#rear_suspension_middle_1{
	top:789px;
	left:819px;
}
#rear_suspension_middle_2{
	top:774px;
	left:819px;
}

#rear_suspension_middle_3{
	top:759px;
	left:819px;
}

#rear_suspension_middle_4{
	top:744px;
	left:819px;
}



#rear_suspension_bottom_1{
	top:867px;
	left:798px;
}

#rear_suspension_bottom_2{
	top:881px;
	left:806px;
}

#rear_suspension_bottom_3{
	top:894px;
	left:809px;
}


#field_electronics_radio {
	left: 553px;
	top: 952px;
	width: 100px;
}
#field_electronics_servo {
	left: 549px;
	top: 971px;
	width: 100px;
}
#field_electronics_esc {
	left: 536px;
	top: 988px;
	width: 120px;
}
#field_electronics_initial_brake {
    padding-left:30px;
	left: 566px;
	top: 1006px;
	width: 60px;
}
#field_electronics_drag_brake {
    padding-left:30px;
	left: 568px;
	top: 1024px;
	width: 58px;
}
#field_electronics_throttle_profile {
    padding-left:64px;
	left: 566px;
	top: 1042px;
	width: 40px;
}
#field_electronics_timing_advance {
    padding-left:130px;
	left: 673px;
	top: 934px;
	width: 100px;
}
#field_electronics_throttle_brake_expo {
    padding-left:150px;
	left: 677px;
	top: 952px;
	width: 70px;
}
#field_electronics_servo_expo {
    padding-left:90px;
	left: 668px;
	top: 970px;
	width: 135px;
}
#field_electronics_throttle_brake_epa {
    padding-left:150px;
	left: 670px;
	top: 988px;
	width: 80px;
}
#field_electronics_motor {
    padding-left:60px;
	left: 670px;
	top: 1006px;
	width: 173px;
}
#field_electronics_pinion {
	left: 839px;
	top: 1024px;
	width: 56px;
}
#field_electronics_spur {
	left: 728px;
	top: 1024px;
	width: 67px;
}
#field_electronics_battery {
padding-left:62px;
	left: 670px;
	top: 1042px;
	width:171px;
}
#field_weight_of_each_piece {
	height: 20px;
	left: 70px;
	top: 1175px;
	width: 36px;
}
#field_tires_front {
    padding-left:20px;
	left: 309px;
	top: 1095px;
	width: 128px;
}
#field_tires_rear {
    padding-left:20px;
	left: 309px;
	top: 1129px;
	width: 128px;
}
#field_tires_notes {
    
	font-family: arial,tahoma,sans-serif;
	height: 39px;
    padding-left:60px;
	left: 270px;
	top: 1157px;
	width: 575px;
}
#field_compound_front {
	left: 473px;
	top: 1097px;
	width: 137px;
}
#field_compound_rear {
	left: 472px;
	top: 1129px;
	width: 139px;
}
#field_insert_front{
	left: 631px;
	top: 1098px;
	width: 106px;
}

#field_insert_rear{
	left: 630px;
	top: 1129px;
	width: 109px;
}

#field_additive_front{
	left: 762px;
	top: 1097px;
	width: 121px;
}

#field_additive_rear{
	left: 761px;
	top: 1128px;
	width: 119px;
}