input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
	top: 1160px;
	left: 398px;
	width: 18px;
	bottom: -3px;
	height: 18px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	top: 1160px;
	left: 398px;
	width: 18px;
	bottom: -3px;
	height: 18px;
}
select{
	height:26px;
}
#password-1,#password{
	width:200px; 	
	background:#fff;
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1360px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    padding-left:65px;
    display: none;
    left: 0px;
    top: 37px;
    width: 259px;
}
#field_track {
    padding-left:65px;
	left: 580px;
	top: 4px;
	width: 256px;
}
#field_name {
    padding-left:70px;
    left: 159px;
    top: 6px;
    width: 200px;
}
#field_city {
    padding-left:35px;
	left: 177px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
    padding-left:65px;
	left: 581px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 86px;
}
#field_traction_level_2 {
	left: 258px;
	top: 86px;
}
#field_traction_level_3 {
	left: 347px;
	top: 87px;
}
#field_track_type_1 {
	left: 428px;
	top: 87px;
}
#field_track_type_2 {
	left: 492px;
	top: 87px;
}
#field_track_type_3 {
	left: 577px;
	top: 87px;
}
#field_track_size_1 {
	left: 674px;
	top: 87px;
}
#field_track_size_2 {
	left: 747px;
	top: 88px;
}
#field_track_size_3 {
	left: 832px;
	top: 87px;
}
#field_track_condition_1 {
	left: 195px;
	top: 130px;
}
#field_track_condition_2 {
	left: 279px;
	top: 128px;
}
#field_track_condition_3 {
	left: 393px;
	top: 127px;
}
#field_track_condition_4 {
	left: 195px;
	top: 158px;
}
#field_track_condition_5 {
	left: 279px;
	top: 157px;
}
#field_track_condition_6 {
	left: 393px;
	top: 157px;
}
#field_track_surface_1 {
	left: 550px;
	top: 128px;
}
#field_track_surface_2 {
	left: 690px;
	top: 128px;
}
#field_track_surface_3 {
	left: 804px;
	top: 129px;
}
#field_track_surface_4 {
	left: 551px;
	top: 155px;
}
#field_track_surface_5 {
	left: 691px;
	top: 153px;
}
#field_track_surface_6 {
	left: 804px;
	top: 154px;
}


#field_front_diff_type_1{
	top:194px;
	left:49px;
}
#field_front_diff_type_2{
	top:211px;
	left:49px;
}
#field_front_diff_type_3{
	top:226px;
	left:49px;
}



#field_front_tower_mount_1{
	top:268px;
	left:58px;
}

#field_front_tower_mount_2{
	top:267px;
	left:77px;
}

#field_front_tower_mount_3{
	top:267px;
	left:93px;
}
#field_front_tower_mount_4{
	top:267px;
	left:107px;
}
#field_front_tower_mount_5{
	top:267px;
	left:122px;
}
#field_front_tower_mount_6{
	top:267px;
	left:140px;
}

#field_top_ballstud_washers{
	top:377px;
	left:128px;
	width:36px;
}






















#field_front_toe{
	top:554px;
	left:682px;
	width:67px;
}


#field_front_swaybar_link{
	top:403px;
	left:21px;
	width:127px;
}

#field_front_droop{
	top:448px;
	left:22px;
	width:127px;
}

#field_front_notes{
	top:498px;
	left:23px;
	width:145px;
	font-family: arial,tahoma,sans-serif;
	height: 50px;
}


#field_front_ride_height{
	top:225px;
	left:689px;
	width:49px;
}

#field_front_camber{
	top:259px;
	left:709px;
	width:54px;
}
#field_front_swaybar{
	top:388px;
	left:616px;
	width:107px;
}
#field_front_shock_rebound{
	top:491px;
	left:778px;
	width:107px;
}
#field_front_shock_preload{
	top:362px;
	left:778px;
	width:96px;
}

#field_front_oil{
	top:241px;
	left:777px;
	width:107px;
	
}

#field_front_piston{
	top:307px;
	left:775px;
	width:120px;
}


#field_front_spring{
	top:350px;
	left:821px;
	width:87px;
}

#field_front_bladder{
	top:393px;
	left:826px;
	width:84px;
}

#field_front_oring{
	top:437px;
	left:817px;
	width:95px;
}










#field_esc_settings{
	top:1117px;
	left:21px;
	width:145px;
}





#field_tyre_notes{
	top:1223px;
	left:672px;
	width:218px;
	font-family: arial,tahoma,sans-serif;
	height: 31px;
}


#field_front_wjsj_1{
	top:463px;
	left:187px;
}
#field_front_wjsj_2{
	top:462px;
	left:224px;
}
#field_front_spacer_ff{
	top:536px;
	left:73px;
	width:46px;
}
#field_front_spacer_fr{
	top:555px;
	left:73px;
	width:46px;
}

#field_front_sus_block_ff{
	top:521px;
	left:174px;
	width:46px;
}
#field_front_sus_block_fr{
	top:541px;
	left:176px;
	width:46px;
}
#field_front_piece_serparate_1{
	top:538px;
	left:241px;
}

#field_front_piece_serparate_2{
	top:555px;
	left:241px;
}

#field_front_diff_position_1{
	top:227px;
	left:343px;
}

#field_front_diff_position_2{
	top:244px;
	left:343px;
}

#field_front_camber_position_1{
	top:283px;
	left:307px;
	width:45px;
}
#field_front_camber_position_2{
	top:305px;
	left:307px;
	width:45px;
}
#field_front_camber_position_checkbox_1{
	top:282px;
	left:284px;
}
#field_front_camber_position_checkbox_2{
	top:303px;
	left:283px;
}

#field_front_hub_material_1{
	top:337px;
	left:276px;
}

#field_front_hub_material_2{
	top:357px;
	left:276px;
}
#field_front_wheel_hub_1{
	top:466px;
	left:290px;
}

#field_front_wheel_hub_2{
	top:488px;
	left:289px;
}

#field_front_wheel_hub_3{
	top:507px;
	left:290px;
}
#field_steering_block_material_1{
	top:193px;
	left:437px;
}
#field_steering_block_material_2{
	top:211px;
	left:437px;
}

#field_steering_block_1{
	top:262px;
	left:497px;
}
#field_steering_block_2{
	top:261px;
	left:514px;
}

#field_bump_steer_washers{
	top:329px;
	left:441px;
	width:51px;
}

#field_centerlink_washers{
	top:398px;
	left:482px;
	width:93px;
}

#field_centerlink_block_1{
	top:425px;
	left:512px;
}
#field_centerlink_block_2{
	top:441px;
	left:513px;
}
#field_wheelbase_front_f_1{
	top:499px;
	left:423px;
	width:46px;
}
#field_wheelbase_front_r_2{
	top:623px;
	left:322px;
	width:46px;
}
#field_arm_material_1{
	top:620px;
	left:453px;
}
#field_arm_material_2{
	top:638px;
	left:454px;
}

#field_caster_angle_text{
	top:300px;
	left:705px;
	width:56px;
}
#field_front_droop_pin{
	top:461px;
	left:628px;
	width:102px;
}
#field_front_droop_arm{
	top:512px;
	left:624px;
	width:104px;
}
#field_front_shock_notes{
	top:536px;
	left:781px;
	width:130px;
	font-family: arial,tahoma,sans-serif;
	height: 30px;
}


#field_rear_diff_type_1{
	top:588px;
	left:38px;
}

#field_rear_diff_type_2{
	top:608px;
	left:38px;
}
#field_rear_tower_mount_1{
	top:646px;
	left:71px;
}
#field_rear_tower_mount_2{
	top:646px;
	left:89px;
}
#field_rear_tower_mount_3{
	top:646px;
	left:105px;
}
#field_rear_tower_mount_4{
	top:646px;
	left:119px;
}
#field_rear_tower_mount_5{
	top:645px;
	left:134px;
}
#field_rear_tower_mount_6{
	top:645px;
	left:150px;
}

#field_rear_wjsj_1{
	top:757px;
	left:137px;
}
#field_rear_wjsj_2{
	top:756px;
	left:175px;
}
#field_rear_spacer_rf{
	top:931px;
	left:73px;
	width:44px;
}

#field_rear_spacer_rr{
	top:951px;
	left:73px;
	width:44px;
}

#field_rear_sus_block_rf{
	top:934px;
	left:175px;
	width:44px;
}

#field_rear_sus_block_rr{
	top:954px;
	left:175px;
	width:44px;
}
#field_rear_piece_serparate_1{
	top:913px;
	left:247px;
}
#field_rear_piece_serparate_2{
	top:931px;
	left:246px;
}
#field_rear_camber_position_1{
	top:664px;
	left:281px;
}
#field_rear_camber_position_2{
	top:686px;
	left:281px;
}
#field_rear_camber_position_text_1{
	top:666px;
	left:303px;
	width:39px;
}

#field_rear_camber_position_text_2{
	top:688px;
	left:303px;
	width:40px;
}

#field_rear_hub_position_text_1{
	top:718px;
	left:300px;
	width:50px;
}

#field_rear_hub_position_1{
	top:716px;
	left:280px;
}
#field_rear_hub_position_2{
	top:736px;
	left:280px;
}

#field_rear_hub_position_text_2{
	top:740px;
	left:299px;
	width:50px;
}

#field_rear_wheel_hub_1{
	top:814px;
	left:299px;
}
#field_rear_wheel_hub_2{
	top:830px;
	left:298px;
}
#field_rear_wheel_hub_3{
	top:846px;
	left:298px;
}
#field_rear_wheel_hub_4{
	top:814px;
	left:299px;
}
#field_rear_hub_material_1{
	top:863px;
	left:215px;
}
#field_rear_hub_material_2{
	top:880px;
	left:215px;
}
#field_rear_diff_position_1{
	top:689px;
	left:504px;
}

#field_rear_diff_position_2{
	top:671px;
	left:503px;
}

#field_wheelbase_rear_f_1{
	top:768px;
	left:448px;
	width:51px;
}
#field_wheelbase_rear_r_2{
	top:902px;
	left:449px;
	width:39px;
}
#field_rear_arm_material_1{
	top:936px;
	left:395px;
}


#field_rear_arm_material_2{
	top:954px;
	left:397px;
}
#field_rear_arm_material_1{
	top:934px;
	left:396px;
}

#field_rear_arm_length_1{
	top:886px;
	left:531px;
}

#field_rear_arm_length_2{
	top:903px;
	left:532px;
}

#field_rear_arm_length_3{
	top:919px;
	left:533px;
}


#field_rear_ride_height{
	top:620px;
	left:695px;
	width:40px;
}


#field_rear_camber{
	top:655px;
	left:707px;
	width:48px;
}


#rear_caster_angle_text{
	top:701px;
	left:704px;
	width:48px;
}
#field_rear_swaybar{
	top:782px;
	left:622px;
	width:107px;
}

#field_rear_droop_pin{
	top:858px;
	left:629px;
	width:100px;
}
#field_rear_droop_arm{
	top:907px;
	left:624px;
	width:100px;
}

#field_rear_toe{
	top:946px;
	left:682px;
	width:72px;
}

#field_rear_oil{
	top:638px;
	left:780px;
	width:131px;
}
#field_rear_spring{
	top:745px;
	left:820px;
	width:91px;
}

#field_rear_piston{
	top:701px;
	left:783px;
	width:109px;
}

#field_rear_bladder{
	top:794px;
	left:823px;
	width:91px;
}

#field_rear_oring{
	top:839px;
	left:814px;
	width:96px;
}
#field_rear_shock_rebound{
	top:885px;
	left:839px;
	width:58px;
}
#field_rear_shock_notes{
	top:927px;
	left:779px;
	width:131px;
	height:40px;
	font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}


#field_front_oil{
	top:242px;
	left:778px;
	width:131px;
}
#field_front_piston{
	top:304px;
	left:777px;
	width:115px;
}

#field_front_spring{
	top:350px;
	left:819px;
	width:97px;
}

#field_front_bladder{
	top:389px;
	left:828px;
	width:87px;
}

#field_front_oring{
	top:442px;
	left:827px;
	width:87px;
}

#field_front_shock_rebound{
	top:488px;
	left:831px;
	width:72px;
}
#field_front_shock_notes{
	top:539px;
	left:780px;
	width:131px;
}

#field_motor{
    padding-left:60px;
	top:1016px;
	left:32px;
	width:261px;
}
#field_spur{
    padding-left:59px;
	top:1065px;
	left:58px;
	width:111px;
}

#field_spur_pitch{
	top:1066px;
	left:251px;
	width:42px;
}
#field_pinion{
    padding-left:95px;
	top:1110px;
	left:32px;
	width:236px;
}

#field_gear_ratio{
    padding-left:77px;
	top:1156px;
	left:32px;
	width:236px;
}

#field_body{
    padding-left:45px;
	top:1203px;
	left:32px;
	width:276px;
}

#field_wing{
    padding-left:47px;
	top:1249px;
	left:32px;
	width:276px;
}


#field_battery{
    padding-left:69px;
	top:1296px;
	left:35px;
	width:145px;
}
#field_esc{
    padding-left:63px;
	top:1329px;
	left:32px;
	width:265px;
}



#field_front_tire{
	top:1040px;
	left:621px;
	width:114px;
}

#field_front_compound{
	top:1093px;
	left:623px;
	width:114px;
}

#field_front_insert{
	top:1144px;
	left:626px;
	width:114px;
}
#field_front_wheel{
	top:1198px;
	left:628px;
	width:114px;
}

#field_front_treatment{
	top:1242px;
	left:626px;
	width:114px;
}
#field_front_tire_notes{
	top:1288px;
	left:625px;
	width:130px;
	font-family: arial,tahoma,sans-serif;
	height: 61px;
}
#field_rear_tire{
	top:1041px;
	left:783px;
	width:114px;
}

#field_rear_compound{
	top:1092px;
	left:787px;
	width:114px;
}

#field_rear_insert{
	top:1141px;
	left:783px;
	width:114px;
}
#field_rear_wheel{
	top:1195px;
	left:789px;
	width:114px;
}

#field_rear_treatment{
	top:1243px;
	left:791px;
	width:114px;
}
#field_rear_tire_notes{
	top:1290px;
	left:779px;
	width:130px;
	font-family: arial,tahoma,sans-serif;
	height: 61px;
}
