input:disabled
{
background-color: none transparent;
opacity: 1;
}
body {
    background-color: white;
    font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    border: medium none;
    vertical-align: middle;
}
.image-bg {
    position: absolute;
    top: 0;
    left: 0;
}
input[type="text"], input[type="password"], select, textarea {
    background: none transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
    	top: 1183px;
	left: 408px;
	width: 15px;
	bottom: 17px;
	height: 22px;
}
input[type="radio"], input[type="checkbox"]{
    background-color: none transparent;
border: none;
color: #000000;
cursor: pointer;
    font-weight: bold;
padding: 2px 0;
position: absolute;
	top: 1183px;
	left: 408px;
	width: 15px;
	bottom: 17px;
	height: 22px;
}
select{
	background: none transparent;
	border: none;
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	padding: 2px 0;
	position: absolute;
	top: 1183px;
	left: 408px;
	width: 15px;
	bottom: 17px;
	height:26px; 
}
#password-1,#password{
	width:200px; 	
}
textarea {
    line-height: 20px;
}
select {
    border: medium none;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}
#warning {
    background-color: #FDF0B5;
    border: 1px solid #CFB955;
    color: #840000;
    margin: 0 auto 10px;
    text-align: center;
    width: 920px;
}
#container {
    margin: 10px  auto;
    width: 920px;
    position: relative;
}
#content {
	
    height: 1380px;
    position: relative;
}
#actions {
    background: none repeat scroll 0 0 #E5E5E5;
    border: medium none;
    line-height: 30px;
    padding: 5px;
    text-align: left;
}
#actions input {
    border: medium none;
    padding: 4px;
    position: static;
}
#actions input.button {
    background-color: #898989;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-left: 5px;
    padding: 3px 20px;
    text-transform: uppercase;
}
#field_race {
    display: none;
    left: 96px;
    top: 37px;
    width: 259px;
}
#field_track {
    padding-left:80px;
	left: 578px;
	top: 4px;
	width: 256px;
}
#field_name {
    padding-left:80px;
    left: 148px;
    top: 6px;
    width: 200px;
}
#field_city {
    padding-left:20px;
	left: 192px;
	top: 37px;
	width: 150px;
}
.countrySelector {
	border: 1px solid #CCCCCC;
	left: 450px;
	top: 35px;
	width: 130px;
}

#field_date {
	left: 486px;
	top: 4px;
	width: 90px;
}

#field_event {
    padding-left:60px;
	left: 591px;
	top: 37px;
	width: 260px;
}
#field_traction_level_1 {
	left: 192px;
	top: 82px;
}
#field_traction_level_2 {
	left: 258px;
	top: 82px;
}
#field_traction_level_3 {
	left: 347px;
	top: 83px;
}
#field_track_type_1 {
	left: 428px;
	top: 81px;
}
#field_track_type_2 {
	left: 492px;
	top: 83px;
}
#field_track_type_3 {
	left: 577px;
	top: 83px;
}
#field_track_size_1 {
	left: 674px;
	top: 83px;
}
#field_track_size_2 {
	left: 747px;
	top: 84px;
}
#field_track_size_3 {
	left: 832px;
	top: 84px;
}
#field_track_condition_1 {
	left: 195px;
	top: 130px;
}
#field_track_condition_2 {
	left: 279px;
	top: 128px;
}
#field_track_condition_3 {
	left: 393px;
	top: 127px;
}
#field_track_condition_4 {
	left: 195px;
	top: 158px;
}
#field_track_condition_5 {
	left: 279px;
	top: 157px;
}
#field_track_condition_6 {
	left: 393px;
	top: 157px;
}
#field_track_surface_1 {
	left: 550px;
	top: 128px;
}
#field_track_surface_2 {
	left: 690px;
	top: 128px;
}
#field_track_surface_3 {
	left: 804px;
	top: 129px;
}
#field_track_surface_4 {
	left: 551px;
	top: 155px;
}
#field_track_surface_5 {
	left: 691px;
	top: 153px;
}
#field_track_surface_6 {
	left: 804px;
	top: 154px;
}

#password, #password-1{
	width:200px;
	background:#fff;	
}
#field_front_tower_mount_1{
	top:208px;
	left:73px;
}
#field_front_tower_mount_2{
	top:201px;
	left:84px;
}

#field_front_tower_mount_3{
	top:194px;
	left:94px;
}

#field_front_ballstud_spacers{
	top:247px;
	left:120px;
	width:24px;
}

#field_front_camber_mount_1{
	top:290px;
	left:101px;
	
}
#field_front_camber_mount_2{
	top:291px;
	left:115px;
}

#field_front_camber_mount_3{
	top:291px;
	left:129px;
}


#field_camber_sn_1{
	top:281px;
	left:143px;
}
#field_camber_sn_2{
	top:300px;
	left:144px;
}


#field_steering_rack_1{
	top:316px;
	left:87px;
}
#field_steering_rack_2{
	top:316px;
	left:102px;
}

#field_front_arm_mount_1{
	top:349px;
	left:197px;
}

#field_front_arm_mount_2{
	top:352px;
	left:213px;
}

#field_front_arm_mount_3{
	top:350px;
	left:228px;
}

#field_bulkhead_sn_1{
	top:346px;
	left:84px;
}

#field_bulkhead_sn_2{
	top:363px;
	left:87px;
}

#field_front_ride_height{
	top:441px;
	left:126px;
	width:37px;
}

#field_camber_radio_1{
	top:197px;
	left:300px;
}

#field_camber_radio_2{
	top:196px;
	left:338px;
}


#field_front_camber{
	top:198px;
	left:361px;
	width:38px;
}

#field_toe_radio_1{
	top:227px;
	left:253px;
}

#field_toe_radio_2{
	top:226px;
	left:287px;
}

#field_front_toe{
	top:228px;
	left:362px;
	width:35px;
}

#field_caster_block_mount_1{
	top:287px;
	left:286px;
}

#field_caster_block_mount_2{
	top:286px;
	left:301px;
}

#field_caster_spacer_1{
	top:360px;
	left:339px;
}
#field_caster_spacer_2{
	top:359px;
	left:392px;
}

#field_spindle_spacer_1{
	top:300px;
	left:431px;
}

#field_spindle_spacer_2{
	top:351px;
	left:430px;
}


#field_bump_steer_washers{
	top:264px;
	left:510px;
	width:27px;
}

#field_bump_front_weight{
	top:439px;
	left:498px;
	width:38px;
}

#field_front_shock_length{
	top:326px;
	left:594px;
	height:47px;
	line-height:40px;
	padding:0 5px;
	width:26px;
	-webkit-transform: rotate(-90deg);
 Ê Ê-moz-transform: rotate(-90deg)
}

#field_front_shock_rebound{
	top:309px;
	left:638px;
	height:54px;
	line-height:40px;
	padding:0 5px;
	width:26px;
	-webkit-transform: rotate(-90deg);
 Ê Ê-moz-transform: rotate(-90deg)
}
#field_spring_1{
	top:231px;
	left:746px;
}
#field_spring_2{
	top:247px;
	left:747px;
}

#field_front_spring{
	top:249px;
	left:772px;
	width:87px;
}

#field_front_oil{
	top:293px;
	left:768px;
	width:87px;
}

#field_front_piston_1{
	top:318px;
	left:749px;
}
#field_front_piston_2{
	top:318px;
	left:781px;
}

#field_front_piston_3{
	top:319px;
	left:809px;
}
#field_front_piston_4{
	top:337px;
	left:752px;
}

#field_front_piston{
	top:334px;
	left:782px;
	width:80px;
}

#field_shock_bladder_1{
	top:355px;
	left:750px;
}
#field_shock_bladder_2{
	top:355px;
	left:814px;
}


#field_front_shock_limiters{
	top:398px;
	left:756px;
	width:22px;
}

#field_rear_tower_mount_1{
	top:506px;
	left:78px;
}

#field_rear_tower_mount_2{
	top:499px;
	left:89px;
}

#field_rear_tower_mount_3{
	top:493px;
	left:100px;
}

#field_rear_ballstud_spacers{
	top:551px;
	left:90px;
	width:27px;
}

#field_rear_camber_mount_1{
	top:598px;
	left:76px;
}
#field_rear_camber_mount_2{
	top:597px;
	left:89px;
}

#field_rear_camber_mount_3{
	top:597px;
	left:101px;
}

#field_rear_arm_mount_1{
	top:672px;
	left:161px;
}

#field_rear_arm_mount_2{
	top:672px;
	left:174px;
}

#field_rear_arm_mount_3{
	top:671px;
	left:187px;
}

#field_rear_ride_height{
	top:764px;
	left:178px;
	width:36px;
}

#field_hub_toe_1{
	top:525px;
	left:160px;
}

#field_hub_toe_2{
	top:546px;
	left:160px;
}

#field_hub_toe_3{
	top:565px;
	left:160px;
}

#field_rear_vertical_ballstud_spacers{
	top:500px;
	left:238px;
	width:27px;
}

#field_vertical_hub_mount_1{
	top:527px;
	left:201px;
}

#field_vertical_hub_mount_2{
	top:527px;
	left:216px;
}


#field_rear_hub_mount_1{
	top:600px;
	left:200px;
}
#field_rear_hub_mount_2{
	top:601px;
	left:212px;
}
#field_rear_hub_mount_3{
	top:600px;
	left:225px;
}

#field_hub_position_1{
	top:688px;
	left:262px;
}
#field_hub_position_2{
	top:687px;
	left:283px;
}
#field_hub_position_3{
	top:686px;
	left:304px;
}


#field_rear_camber_sn_1{
	top:493px;
	left:383px;
}

#field_rear_camber_sn_2{
	top:494px;
	left:424px;
}

#field_rear_camber_text{
	top:497px;
	left:450px;
	width:35px;
}

#field_antisquat_block_1{
	top:621px;
	left:440px;
}

#field_antisquat_block_2{
	top:621px;
	left:477px;
}
#field_antisquat_block_3{
	top:621px;
	left:518px;
}


#field_antisquat_spacer_1{
	top:667px;
	left:447px;
}

#field_antisquat_spacer_2{
	top:665px;
	left:481px;
}
#field_antisquat_spacer_3{
	top:666px;
	left:514px;
}


#field_rear_weight_block{
	top:770px;
	left:495px;
	width:42px;
}

#field_rear_sway_bar{
	top:725px;
	left:496px;
	width:39px;
}


#field_rear_shock_length{
	top:643px;
	left:593px;
	height:46px;
	line-height:40px;
	padding:0 5px;
	width:26px;
	-webkit-transform: rotate(-90deg);
 Ê Ê-moz-transform: rotate(-90deg)
}

#field_rear_shock_rebound{
	top:622px;
	left:640px;
	height:51px;
	line-height:40px;
	padding:0 5px;
	width:26px;
	-webkit-transform: rotate(-90deg);
 Ê Ê-moz-transform: rotate(-90deg)
}

#field_rear_spring_1{
	top:547px;
	left:738px;
}

#field_rear_spring_2{
	top:566px;
	left:749px;
}

#field_rear_spring{
	top:565px;
	left:779px;
	width:100px;
}
#field_rear_oil{
	top:609px;
	left:768px;
	width:100px;
}


#field_rear_piston_1{
	top:635px;
	left:749px;
}

#field_rear_piston_2{
	top:636px;
	left:778px;
}

#field_rear_piston_3{
	top:635px;
	left:808px;
}

#field_rear_piston_4{
	top:653px;
	left:751px;
}

#field_rear_piston{
	top:651px;
	left:781px;
	width:100px;
}

#field_rear_shock_bladder_1{
	top:670px;
	left:750px;
}

#field_rear_shock_bladder_2{
	top:671px;
	left:811px;
}


#field_rear_shock_limiters{
	top:714px;
	left:756px;
	width:23px;
}

#field_motor_position_1{
	top:826px;
	left:60px;
}

#field_motor_position_2{
	top:824px;
	left:171px;
}

#field_diff_type_1{
	top:835px;
	left:298px;
}
#field_diff_type_2{
	top:836px;
	left:383px;
}

#field_diff_oil{
	top:867px;
	left:464px;
	width:60px;
}

#field_motor{
    padding-left:110px;
	top:912px;
	left:46px;
	width:224px;
}

#field_rotor_type_1{
	top:895px;
	left:380px;
}

#field_rotor_type_2{
	top:914px;
	left:381px;
}

#field_rotor_type_text{
	top:912px;
	left:447px;
	width:42px;
}
#field_spur{
padding-left:130px;
	top:937px;
	left:57px;
	width:33px;
}

#field_pinion{
	top:937px;
	left:305px;
	width:35px;
}

#field_battery{
padding-left:110px;
	top:962px;
	left:49px;
	width:307px;
}

#field_esc_1{
	top:985px;
	left:130px;
}
#field_esc_2{
	top:1010px;
	left:132px;
}
#field_esc_3{
	top:1010px;
	left:187px;
}
#field_esc_type{
padding-left:200px;
	top:988px;
	left:20px;
	width:230px;
}

#field_battery_placement_1{
	top:857px;
	left:543px;
}

#field_battery_placement_2{
	top:841px;
	left:609px;
}

#field_battery_placement_3{
	top:867px;
	left:621px;
}

#field_battery_placement_4{
	top:856px;
	left:688px;
}

#field_chassis_position_1{
	top:932px;
	left:574px;
}

#field_chassis_position_2{
	top:932px;
	left:589px;
}

#field_chassis_position_3{
	top:931px;
	left:604px;
}
#field_chassis_position_4{
	top:931px;
	left:616px;
}

#field_chassis_position_5{
	top:932px;
	left:629px;
}

#field_chassis_position_6{
	top:931px;
	left:652px;
}

#field_front_tire{
    padding-left:110px;
	top:1071px;
	left:42px;
	width:309px;	
}

#field_front_insert{
    padding-left:110px;
	top:1096px;
	left:43px;
	width:308px;
}
#field_front_wheels{
padding-left:110px;
	top:1121px;
	left:42px;
	width:309px;
}
#field_rear_tyre{
padding-left:110px;
	top:1071px;
	left:476px;
	width:303px;
}

#field_rear_insert{
padding-left:110px;
	top:1096px;
	left:475px;
	width:305px;
}

#field_rear_wheels{
padding-left:110px;
	top:1120px;
	left:474px;
	width:307px;
}


#field_front_diff_type_1{
	top:1206px;
	left:52px;
}

#field_front_diff_type_2{
	top:1306px;
	left:52px;
}

#field_front_diff_oil{
	
}
#field_rear_diff_type_1{
	
}

#field_rear_diff_type_2{
	
}
#field_rear_diff_oil{
	top:1311px;
	left:285px;
	width:141px;
}
#field_wing_1{
	top:1207px;
	left:52px;
}

#field_wing_2{
	top:1305px;
	left:52px;
}

#field_wing_3{
	top:1164px;
	left:327px;
}
#field_wing_4{
	top:1305px;
	left:251px;
}

#field_wing_cut_1{
	top:1218px;
	left:402px;
}

#field_wing_cut_2{
	top:1207px;
	left:388px;
}
#field_wing_cut_3{
	top:1194px;
	left:374px;
}
#field_wing_cut_4{
	top:1182px;
	left:361px;
}

#field_comment{
    padding-left:20px;
    padding-top:70px;
	top:1128px;
	left:438px;
	height:162px;
	width:447px;
	 font-family: arial,tahoma,sans-arial,tahoma,sans-serif;
}

	
	
